.slideMenu-mobile {
  --width: 3.18rem;
  .menu-user-icon {
    display: block;
    height: 0.59rem;
    width: 0.56rem;
    margin-top: 0.28rem;
    margin-bottom: 0.07rem;
  }
  
  .toolbar-items {
    padding-left: 0.16rem;
    --background: #333333;
    color: #FFFFFF;
  }
  
  .toolbar-item {
    line-height: 0.2rem;
    font-size: 0.14rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-top: 0.04rem;
    &:last-child {
      margin-bottom: 0.1rem;
    }
  }

  ion-item {
    --padding-start: 0.19rem;
    --padding-end: 0.19rem;
  }

  .menu-items {
    padding-top: 0.19rem;
    padding-bottom: 0.19rem;
  }

  .menu-item {
    font-size: var(--label-font-size-18-mobile);
    line-height: 0.56rem;
    color: #000000;
    margin: 0 0 0 0.32rem;
  }

  img {
    width: 24px;
    height: 24px;
    display: block;
  }
}

