.slideMenu-winapp {
  --width: 507px;
  .menu-user-icon {
    display: block;
    height: 59px;
    width: 56px;
    margin-top: 38px;
    margin-bottom: 18px;
  }

  .toolbar-items {
    padding-left: 16px;
    --background: #333333;
    color: #FFFFFF;
  }

  .toolbar-item {
    line-height: 20px;
    font-size: 20px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-top: 5px;
    &:last-child {
      margin-bottom: 18px;
    }
  }

  ion-item {
    --padding-start: 16px;
    --padding-end: 16px;
  }

  .menu-items {
    padding-top: 22px;
    padding-bottom: 22px;
  }

  .menu-item {
    font-size: var(--label-font-size-24-web);
    height: 72px;
    line-height: 72px;
    color: #000000;
    margin: 0 0 0 35px;
  }

  img {
    width: 24px;
    height: 24px;
    display: block;
  }
}
