.slideMenu-web {
  --width: 318px;
  .menu-user-icon {
    display: block;
    height: 59px;
    width: 56px;
    margin-top: 28px;
    margin-bottom: 7px;
  }

  .toolbar-items {
    padding-left: 16px;
    --background: #333333;
    color: #FFFFFF;
  }

  .toolbar-item {
    line-height: 20px;
    font-size: 14px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-top: 4px;
    &:last-child {
      margin-bottom: 10px;
    }
  }

  ion-item {
    --padding-start: 19px;
    --padding-end: 19px;
  }

  .menu-items {
    padding-top: 16px;
    padding-bottom: 16px;
  }

  .menu-item {
    font-size: var(--label-font-size-18-web);
    line-height: 56px;
    margin: 0;
    color: #000000;
    margin: 0 0 0 35px;
  }

  img {
    width: 24px;
    height: 24px;
    display: block;
  }
}
