<ion-menu [contentId]="contentId" [ngClass]="platformtype" menuId="slideMenu" type="overlay" swipeGesture="false">
  <ion-header>
    <ion-toolbar class="toolbar-items"  no-border>
      <img class="menu-user-icon" src="./assets/icon/userNew.svg">
          <div class="toolbar-item whitespace_pre">{{commonStore.userName}}</div>
          <div class="toolbar-item whitespace_pre" (press)="onPressBuilding($event)">{{commonStore.buildingName}}</div>
          <div class="toolbar-item whitespace_pre" (press)="onPressProject($event)">{{commonStore.projectName}}</div>
    </ion-toolbar>
  </ion-header>
  <ion-content class="list-container">
    <ion-list class="menu-items">
      <ion-menu-toggle auto-hide="false" *ngFor="let menu of menuState.slideMenu">
        <ng-container *ngIf="hasRole(menu) && (menu.title !== S0801TITLE || disblayProcess)">
          <ion-item button detail="false" (click)="clickItem(menu)" lines="none">
            <img [src]="menu.iconpath" />
            <ion-label class="menu-item">{{menu.title}}</ion-label>
          </ion-item>
        </ng-container>
      </ion-menu-toggle>
    </ion-list>
  </ion-content>
  <app-footer class="menu"></app-footer>
</ion-menu>

