.chatroom-create-user-select-winapp {
  font-size: 15px;

  .list-container {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    width: 100%;
    height: 100%;
    padding: 0;

    .title {
      padding: 29px 0 70px 0;
      color: #59595C;
      font-size: 24px;
      height: 33px;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .list-content {
      flex: 1;
      overflow: auto;
      margin: 0 510px;

      .grid {
        padding: 0;

        .row {
          padding: 0;
          height: 77px;

          .pic {
            flex: 0 0 5px;
            align-items: center;
            display: flex;
            padding: 0;

            img {
              width: 48px;
              max-width: none;
            }
          }

          .content {
            flex: 1;
            min-width: 0;
            padding: 0;
            display: flex;
            flex-direction: column;
            justify-content: center;

            .name-comp {
              color: #000000;
              font-size: var(--label-font-size-24-web);
              overflow: hidden;
              text-overflow: ellipsis;
              white-space: nowrap;
              display: block;
              padding-left: 26.74px;
            }

            .company-name {
              font-size: var(--label-font-size-20-web);
              color: rgba(0, 0, 0, 0.5);
              overflow: hidden;
              text-overflow: ellipsis;
              white-space: nowrap;
              display: block;
              margin-top: 4px;
              padding-left: 26.76px;
            }
          }

          .checkbox {
            flex: 0 0 5px;
            align-items: center;
            display: flex;
            justify-content: center;
            padding-right: 28px;

            ion-checkbox {
              margin: 0;
              padding: 0;
              --background-checked: #09f;
              --border-color-checked: #09f;
              --border-color: #757575;
              --color-checked: #09f;
              --border-width: 1.5px;
              --size: 18px;
              width: 18px;
              height: 18px;
            }
          }
        }
      }
    }

    .btn {
      height: 88px;
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 0 510px;
      padding-top: 18px;
      padding-bottom: 17px;

      .cancle-ok {
        font-size: var(--button-font-size-24-web);
        width: 214px;
        height: 53px;
        --border-radius: 5px;
        // box-shadow: 0 2px 2px #0000003D;
      }
    }
  }
}
