.chatroom-create-user-select-mobile {
  font-size: 15px;

  .list-container {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    width: 100%;
    height: 100%;

    .title {
      padding: 0 .11rem;
      color: #59595C;
      font-size: .14rem;
      height: .56rem;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .list-content {
      flex: 1;
      overflow: auto;

      .grid {
        padding: 0 .11rem 0 .16rem;

        .row {
          padding: 0;
          height: .64rem;

          .pic {
            flex: 0 0 .5rem;
            align-items: center;
            display: flex;
            padding: 0;
            min-width: 56px;

            img {
              width: .4rem;
            }
          }

          .content {
            flex: 1;
            min-width: 0;
            padding: 0;
            display: flex;
            flex-direction: column;
            justify-content: center;

            .name-comp {
              color: #000000;
              font-size: var(--label-font-size-16-mobile);
              overflow: hidden;
              text-overflow: ellipsis;
              white-space: nowrap;
              display: block;
            }

            .company-name {
              font-size: var(--label-font-size-14-mobile);
              color: rgba(0, 0, 0, 0.5);
              overflow: hidden;
              text-overflow: ellipsis;
              white-space: nowrap;
              display: block;
              margin-top: .04rem;
            }
          }

          .checkbox {
            flex: 0 0 .5rem;
            align-items: center;
            display: flex;
            justify-content: center;

            ion-checkbox {
              margin: 0;
              padding: 0;
              --background-checked: #09f;
              --border-color-checked: #09f;
              --border-color: #757575;
              --color-checked: #09f;
              --border-width: 0.015rem;
              --size: .18rem;
              width: .18rem;
              height: .18rem;
            }
          }
        }
      }
    }

    .btn {
      height: .88rem;
      display: flex;
      align-items: center;
      justify-content: center;

      .cancle-ok {
        width: 1.24rem;
        height: 0.36rem;
        --border-radius: .05rem;
        // box-shadow: 0 0.02rem 0.02rem #0000003D;
        margin: 0;
      }
    }
  }
}