<app-head></app-head>

<ion-content [ngClass]="platformtype">
  <div class="list-container padding-center">
    <div class="title">チャットルームに参加するユーザを選択してください</div>
    <div class="list-content">
      <ion-grid class="grid">
        <ion-row *ngFor="let user of userList" class="row">
          <ion-col class="pic">
            <img class="profile-pic" src="./assets/icon/user-new-gray.png">
          </ion-col>
          <ion-col class="content">
            <ion-label class="name-comp whitespace_pre" (press)="onPress($event,user)">{{ user.userName }}</ion-label>
            <ion-label class="company-name whitespace_pre">{{ user.companyName }}</ion-label>
          </ion-col>
          <ion-col class="checkbox">
            <ion-checkbox mode="md" color="primary" [(ngModel)]="user.isChecked"
              disabled={{user.disabled}}></ion-checkbox>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>
    <div class="btn">
      <ion-button class="cancle-ok" (click)="nextButtonClick()">次へ</ion-button>
    </div>
  </div>
</ion-content>

<!-- <app-footer></app-footer> -->
