<app-head></app-head>
<ion-content class="padding-center">
  <div class="list-container">
    <ion-list class="list-header">
      <ion-button (click)="openSearchDialog()">{{search}}</ion-button>
      <ion-button (click)="updateClick()">{{unLock}}</ion-button>
    </ion-list>
    <!-- <div class="list-content"> -->
      <ion-list class="list-content">
        <ion-item>
          <ion-col size="1"></ion-col>
          <ion-col size="2">{{userId}}</ion-col>
          <ion-col size="6">{{lockTime}}</ion-col>
        </ion-item>
        <ng-container *ngFor="let account of gamenDto.accountList">
          <ion-radio-group>
            <ion-item>
              <ion-col size="1" class="ion-align-self-center">
                <ion-checkbox [(ngModel)]="account.accountLocked" class="common-item item-checkbox-right">
                </ion-checkbox>
              </ion-col>
              <ion-col size="2">{{account.userId}}</ion-col>
              <ion-col size="6">{{account.lockDatetime}}</ion-col>
            </ion-item>
          </ion-radio-group>
        </ng-container>
      </ion-list>
    <!-- </div> -->
    <div *ngIf="gamenDto.outnumber" class="list-footer">{{outnumber}}</div>
  </div>
</ion-content>
<!-- <app-footer></app-footer> -->
