<ion-header>
  <ion-toolbar>
    <ion-title class = "ion-title">零点决算</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-item  class = "fontsize">
 
  <label>代理简称:</label><input type = "text"  maxlength="10" min="1" [(ngModel)]="agencyname"/>&nbsp;
  <!--<select  name = "zero" id ="zero" [(ngModel)] = "zeroInfo.zero" >
    <option [value] ="item" *ngFor = "let item of zeroInfo.zeroninfoList">{{item}}</option>
  </select>&nbsp;-->

  <!--<ion-label> 时间范围:</ion-label>&nbsp;
  <ion-input class="inputName">
    <ion-datetime class="datetime" mode="md" displayFormat="YY/MM" done-text="OK" cancel-text="キャンセル"
      placeholder="ocrManufacturingDate" [(ngModel)]="ocrManufacturingDate"></ion-datetime>
  </ion-input>-->

  <ion-item>
    <ion-button class="toroku-button" color="primary" (click)="onSearch()">查询</ion-button>
    <ion-button class="toroku-button" color="primary"  routerLink ='/homepage'>返回</ion-button>
  </ion-item>
  
  </ion-item>


<ion-item class="head-title minW2300">
  <ion-col size="2.0">代理简称</ion-col>
  <ion-col size="2.0">零点余额</ion-col>
  <ion-col size="2.0">余额类型</ion-col>
  <ion-col size="2.0">创建时间</ion-col>
  
</ion-item>
<ion-item class="minW2300" *ngFor="let sysUser of sysZeroInfoList">
  <ion-col size="2.0">{{sysUser.agencyname}}</ion-col>
  <ion-col size="2.0">{{sysUser.capital}}</ion-col>
  <ion-col size="2.0">{{sysUser.capitalStatus}}</ion-col>
  <ion-col size="2.0">{{sysUser.createdDatetime}}</ion-col>
</ion-item>

</ion-content>
