<ion-header>
  <ion-toolbar>
    <ion-title class = "ion-title">代理商开户</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-item>
    <label>代理Id:</label> <input type = "text "  maxlength="10" min="1" [(ngModel)]="AgencyId" />&nbsp;
    <label>代理全称:</label> <input type = "text "  maxlength="10" min="1" [(ngModel)]="AgencyName" />&nbsp;
    <label>代理简称:</label> <input type = "text "  maxlength="10" min="1" [(ngModel)]="AgencyAbbreviation"/>&nbsp;
    <label>联系电话:</label> <input type = "text "  maxlength="10" min="1" [(ngModel)]="AgencyTelephone"/>&nbsp;
    
  </ion-item>

 <ion-item>
  <label>电子邮件:</label> <input type = "text "  maxlength="10" min="1" [(ngModel)]="AgencyMail"/>&nbsp;
  <label>账户名:</label> <input type = "text " maxlength="10" min="1" [(ngModel)]="AgentAccount"/>&nbsp;
 </ion-item>
 
  <ion-item>
    <label>省份:</label>
    <select  name = "province" id ="province" [(ngModel)] = "agencyInfoList.province" >
    <option [value] ="item" *ngFor = "let item of agencyInfoList.provinceList">{{item}}</option>
    </select>&nbsp;

   <label>代理类型:</label>
    <select  name = "agency" id ="agency" [(ngModel)] = "agencyInfoList.agency" >
      <option [value] ="item" *ngFor = "let item of agencyInfoList.agencyList">{{item}}</option>
    </select>&nbsp;
  
    <label>账户状态:</label> 
    <select  name = "status" id ="status" [(ngModel)] = "agencyInfoList.status" >
      <option [value] ="item" *ngFor = "let item of agencyInfoList.statusList">{{item}}</option>
    </select>&nbsp;

    <label>业务模式:</label> 
    <select  name = "mode" id ="mode" [(ngModel)] = "agencyInfoList.mode" >
      <option [value] ="item" *ngFor = "let item of agencyInfoList.ModeList">{{item}}</option>
    </select>
  </ion-item>


  <ion-item>
   <ion-button class="toroku-button" color="primary" (click)="onSearch()">重置</ion-button>
   <ion-button class="toroku-button" color="primary" (click)="onSearch()">确认</ion-button>
   <ion-button class="toroku-button" color="primary"  routerLink ='/homepage'>返回</ion-button>
  </ion-item>

</ion-content>
