<ion-header>
  <ion-toolbar>
    <ion-title>增加商品(上架）</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div class = "fontsize">
    <label>订单来源：</label> 
    <select  name = "original" id ="original" [(ngModel)] = "addProductInfo.original" >
      <option [value] ="item" *ngFor = "let item of addProductInfo.originalProductList">{{item}}</option>
    </select>

    <label>商品类型：</label>
    <select  name = "costType" id ="costType" [(ngModel)] = "addProductInfo.costType" >
      <option [value] ="item1" *ngFor = "let item1 of addProductInfo.costtypeList">{{item1}}</option>
    </select>

    <label>运营商：</label>
    <select  name = "provideSevice" id ="provideSevice" [(ngModel)] = "addProductInfo.provideSevice" >
      <option [value] ="item2" *ngFor = "let item2 of addProductInfo.provideSerivceList">{{item2}}</option>
    </select>

    <label>号码类型：</label>
    <select  name = "teletype" id ="teletype" [(ngModel)] = "addProductInfo.teletype" >
      <option [value] ="item3" *ngFor = "let item3 of addProductInfo.teletypeList">{{item3}}</option>
    </select>

 </div>

 <div class = "fontsize">

  <label>号码类型：</label>
  <select  name = "teletype" id ="teletype" [(ngModel)] = "addProductInfo.teletype" >
    <option [value] ="item3" *ngFor = "let item3 of addProductInfo.teletypeList">{{item3}}</option>
  </select>

  <label>省份：</label>
  <select  name = "province" id ="province" [(ngModel)] = "addProductInfo.province" >
    <option [value] ="item4" *ngFor = "let item4 of addProductInfo.provinceList">{{item4}}</option>
  </select>

 </div>

 <div class = "fontsize">
  <label>面值:</label> <input type = "text "  maxlength="10" min="1"/>
  <label>流量:</label> <input type = "text "  maxlength="10" min="1"/>
  <label>折扣%:</label> <input type = "text "  maxlength="10" min="1"/>
 </div>

 <div class = "fontsize">

  <label>状态：</label>
  <select  name = "productStatus" id ="productStatus" [(ngModel)] = "addProductInfo.productStatus" >
    <option [value] ="item5" *ngFor = "let item5 of addProductInfo.productStatusList">{{item5}}</option>
  </select>

  <span *ngFor =  "let item6 of addProductInfo.priceCostList; let key-index;">
    <label class = "fontsize">{{item6.title}}</label> 
    <input type ="checkbox"  [id] = "'check' + key"/>
  </span>
 </div>

 <ion-item>
  <ion-button class="toroku-button" color="primary" (click)="onSearch()">确认</ion-button>
 </ion-item>

</ion-content>
