<ion-header>
  <ion-toolbar>
    <ion-title class = "ion-title">历史订单</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
 <ion-item>
  <label>代理流水:</label> <input type = "text "  maxlength="10" min="1" [(ngModel)]="aggencyLimited"/>&nbsp;
  <label>本地流水:</label> <input type = "text "  maxlength="10" min="1" [(ngModel)]="localLimited"/>&nbsp;
  <label>渠道流水:</label> <input type = "text "  maxlength="10" min="1" [(ngModel)]="channelLimited"/>&nbsp;
  <label>电话号码:</label> <input type = "text "  maxlength="10" min="1" [(ngModel)]="telNumber"/>&nbsp;
  <ion-label>
    时间范围:
   </ion-label>
   <ion-input class="inputName">
   <ion-datetime class="datetime" mode="md" displayFormat="YY/MM" done-text="OK" cancel-text="キャンセル"
     placeholder="ocrManufacturingDate" [(ngModel)]="ocrManufacturingDate"></ion-datetime>
   </ion-input>
 </ion-item>

 <ion-item>
  <ion-button class="toroku-button" color="primary" (click)="onSearch()">检索</ion-button>
  <ion-button class="toroku-button" color="primary" (click)="onSussess()">置成功</ion-button>
  <ion-button class="toroku-button" color="primary" (click)="onFailure()">置失败</ion-button>
  <ion-button class="toroku-button" color="primary"  routerLink ='/homepage'>返回</ion-button>
</ion-item>

<ion-item class="head-title minW2300">
  <ion-col size="1.0">代理名字</ion-col>
  <ion-col size="1.0">渠道名字</ion-col>
  <ion-col size="1.0">代理流水</ion-col>
  <ion-col size="1.0">本地流水</ion-col>
  <ion-col size="1.0">渠道流水</ion-col>
  <ion-col size="1.0">电话号码</ion-col>
  <ion-col size="1.0">面值</ion-col>
  <ion-col size="1.0">状态</ion-col>
  <ion-col size="1.0">时间</ion-col>
</ion-item>

<ion-item class="minW2300" *ngFor="let sysUser of sysUserList">
  <ion-col size="1.0">{{sysUser.AgentReduceName}}</ion-col>
  <ion-col size="1.0">{{sysUser.abbreviation}}</ion-col>
  <ion-col size="1.0">{{sysUser.reqId}}</ion-col>
  <ion-col size="1.0">{{sysUser.orderId}}</ion-col>
  <ion-col size="1.0">{{sysUser.billId}}</ion-col>
  <ion-col size="1.0">{{sysUser.number}}</ion-col>
  <ion-col size="1.0">{{sysUser.money}}</ion-col>
  <ion-col size="1.0">{{sysUser.status}}</ion-col>
  <ion-col size="1.0">{{sysUser.ts}}</ion-col>
</ion-item>

</ion-content>
