.sortset-web {
  position: relative;
  width: 100%;
  height: 100%;
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2), 0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12);

  .title {
    width: 100%;
    text-align: center;
    font-size: 18px;
    padding-top: 13px;
    padding-bottom: 12.5px;
    border-bottom: solid 1px #EAEBEC;
  }

  .options {
    display: flex;
    flex-direction: row;
    flex: 1;
  }

  .con {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .opt-title {
    width: 100%;
    font-size: 14px;
    text-align: center;
    margin-top: 17px;
    margin-bottom: 26px;
  }

  ion-radio {
    margin: 0px;
  }

  ion-item {
    --padding-start: 0px;
    --inner-padding-end: 0px;
    --min-height: 20px;
    padding-bottom: 18px;
  }

  .item-t {
    margin-left: 20px;
    font-size: 16px;
  }





  .buttons {
    position: absolute;
    z-index: 99;
    left: 0px;
    bottom: 0px;

    display: flex;
    flex-direction: row;
    width: 100%;
    height: 60px;
    justify-content: flex-end;
    font-size: var(--button-font-size-14-web);
    border-top: solid 1px #EAEBEC;
  }

  .btn {
    height: 100%;
    line-height: 60px;
    padding-right: 25px;
    padding-left: 13px;
    color: #0097E0;
  }
}
