<div [class]="platformtype">
  <div class="title">{{title}}</div>



  <div class="options">

    <div class="con">
      <div class="opt-title">{{target}}</div>
      <div class="sort-con">


        <ion-radio-group value="{{sortby}}" (ionChange)="selectsort($event)">
          <ion-item mode="md" slot="start" detail="false" lines="none" *ngFor="let sort of sorttypes">
            <ion-radio mode="md" name="sort" value="{{sort.id}}"></ion-radio>
            <div class="item-t">{{sort.value}}</div>
          </ion-item>

        </ion-radio-group>

      </div>
    </div>

    <div class="con">
      <div class="opt-title">{{asc}}</div>
      <div class="sort-con">


        <ion-radio-group value="{{sortdes}}" (ionChange)="selectsortdes($event)">
          <ion-item mode="md" detail="false" slot="start" lines="none" *ngFor="let sort of sortdestypes">
            <ion-radio mode="md" name="sort" value="{{sort.id}}"></ion-radio>
            <div class="item-t">{{sort.value}}</div>
          </ion-item>

        </ion-radio-group>
      </div>
    </div>

  </div>

  <div class="buttons">

    <div class="btn" (click)="cancle()">{{cancleTitle}}</div>
    <div class="btn" (click)="commit()">{{ok}}</div>
  </div>
</div>
