.changePwd-winapp{
  --background: #0097E0;

  .background-white {
    position: absolute;
    top: 0;
    height: 247px;
    width: 100%;
    z-index: 1;
    background-color: #FFFFFF;

    &.confirm {
      height: 247px;
    }
  }

  .main {
    flex: 1;
    width: 100%;
    height: 100%;
    flex-direction: column;
    align-items: center;
    display: flex;

    .form-layout {
      position: absolute;
      z-index: 2;
      top: 196px;
      width: 644px;
      background-color: #FFFFFF;
      box-shadow: 0px 2px 2px rgba(0,0,0,0.4);
      padding: 30px 30px 65px;
      flex-direction: column;
      align-items: center;
      display: flex;
    }
  
    .image {
      position: absolute;
      z-index: 2;
      width: 361px;
      height: 100px;
      margin-top: 74px;
    }
  
    .title {
      font-size: 28px;
      line-height: 40px;
      color: black;
      margin-bottom: 28px;
      text-align: center;
      width: 198px;
      opacity: 0.87;
      height: 40px;

    }

    .has-focus {
      border-bottom: solid 2px #0097E0 !important;
    }
  
    .input-user {
      width: 356px;
      border-width: 0;
      border-style: none;
      border-bottom: solid 1px #999999;
      height: 40px;
      font-size: 24px;
      outline: none;
      caret-color:#0097E0;
      ime-mode: inactive;
      --placeholder-color:#999999;
      --padding-start: 0;
      margin-top: 2px;
    }
  
    .label-title {
      width: 356px;
      margin-top: 18px;
      height: 25px;
      line-height: 25px;
      font-size: var(--label-font-size-18-web);
      outline: none;
    }
  
    .input-pwd {
      width: 356px;
      border-width: 0;
      border-bottom: solid 1px #999999;
      height: 40px;
      font-size: 24px;
      outline: none;
      caret-color:#0097E0;
      --placeholder-color:#999999;
      --padding-start: 0;
      color: black;
      margin-top: 2px;
    }
  
    .input-sc {
      width: 415px;
      border-width: 0;
      border-bottom: solid 1px #999999;
      height: 40px;
      font-size: 24px;
      outline: none;
      caret-color: #0097E0;
      --placeholder-color:#999999;
      --padding-start: 0;
      color: black;
      margin-top: 2px;
    }
  
    .forget-pwd {
      width: 433px;
      font-size: 20px;
      margin-top: 46.72px;
      line-height: 28px;
      color: black;
      text-align: left;
      height: 28px;
      opacity: 0.87;
    }
  
    .big-btn {
      width: 237px;
      margin-top: 73.49px;
      --border-radius: 5px;
      height: 36px;
      font-size: 16px;
    }
  
    .small-btn {
      width: 195px;
      margin-top: 42px;
      margin-right:10px;
      height: 58px;
      font-size: 24px;
      --border-radius: 5px;
      --border-width: 1px;
      opacity: 1;
      letter-spacing: 0.28px;

      &:not(:first-child) {
        margin-left: 24px;
      }
    }
  
    .small-btn.select {
      background: blue;
      color: white;
    }

    
    &.confirm {

      .form-layout {
        padding: 30px 32px 81px !important;
      }

      .account-circle {
        display: none;
      }

      .title {
        font-size: 28px;
        line-height: 40px;
        margin-top: 0;
        margin-bottom: 83px;
        text-align: center;
        opacity: 0.87;
        letter-spacing: 0.49px;
        height: 40px;
        width: 314px;
      }
      
      .big-btn {
        margin-top: 70px;
        height: 62px;
        font-size: 24px;
      }
    }

    .notice {
      display: block;
      font-size: 24px;
      color: #000000;
      width: 416px;
      line-height: 32px;
      margin-bottom: 36px;
      text-align: center;
      opacity: 0.87;
    }
  }
}
