<ion-content [ngClass]="platformtype">
  <div class="background-white" [class.confirm]="isConfirmLogin"></div>
  <div *ngIf="!isConfirmLogin" class="main">
    <img class="image" src="./assets/images/DaikinLogo_FullColor_RGB@2x.png">
    <div class="form-layout">
      <span class="title">{{gamenLable.passwordChangeMessege}}</span>
      <ion-label class="label-title" id="user">{{gamenLable.userIdMessege}}</ion-label>
      <ion-input class="input-user" (ionFocus)="userfocus()" (ionBlur)="userblur()" type="email" inputmode="email" maxlength="128" placeholder="user name"
        [(ngModel)]="userName"></ion-input>
      <ion-label class="label-title" id="pwd">{{gamenLable.currentPassword}}</ion-label>
      <ion-input class="input-pwd" (ionFocus)="pwdfocus()" (ionBlur)="pwdblur()" type="password" maxlength="20" placeholder="password" [(ngModel)]="userPwd"></ion-input>
      <ion-label class="label-title" id="newpwd">{{gamenLable.newPassword}}</ion-label>
      <ion-input class="input-pwd" (ionFocus)="newpwdfocus()" (ionBlur)="newpwdblur()" type="password" maxlength="20" placeholder="new password" [(ngModel)]="newPwd"></ion-input>
      <ion-label class="label-title" id="conpwd">{{gamenLable.confirmationPassword}}</ion-label>
      <ion-input class="input-pwd" type="password" (ionFocus)="conpwdfocus()" (ionBlur)="conpwdblur()" maxlength="20" placeholder="new password"
        [(ngModel)]="confirmPwd"></ion-input>
      <div class="forget-pwd">
        <span>{{ !isMobile ? gamenLable.passwordDescription : '※6～20文字まで、半角英数字で作成してください。'}}</span>
      </div>
      <div style="display: flex;">
        <ion-button class="small-btn" expand="block" fill="outline" mat-raised-button (click)="toLogin()">{{gamenLable.cancel}}</ion-button>
        <ion-button class="small-btn" color="primary" mat-raised-button (click)="chgPwd()">{{gamenLable.passwordChange}}</ion-button>
      </div>
    </div>
  </div>
  <div *ngIf="isConfirmLogin" class="main confirm">
    <img class="image" src="./assets/images/DaikinLogo_FullColor_RGB@2x.png">
    <div class="form-layout">
      <img class="account-circle" src="./assets/images/account_circle.svg">
      <span class="title">{{gamenLable.passcodeInput}}</span>
      <span class="notice">ご登録のメールアドレスに送付された 6桁のコードを入力してください</span>
      <ion-input class="input-sc" type="text" placeholder="コードを入力" [(ngModel)]="secretCode"></ion-input>
      <ion-button class="big-btn" mat-raised-button [disabled]="!secretCode" (click)="confirmChgPwd()">
        {{gamenLable.confirmSignIn}}</ion-button>
    </div>
  </div>
</ion-content>
<app-footer class="login"></app-footer>