.changePwd-web{
  --background: #0097E0;

  .background-white {
    position: absolute;
    top: 0;
    height: 173px;
    width: 100%;
    z-index: 1;
    background-color: #FFFFFF;

    &.confirm {
      height: 174.6px;
    }
  }

  .main {
    flex: 1;
    width: 100%;
    height: 100%;
    flex-direction: column;
    align-items: center;
    display: flex;

    .form-layout {
      position: absolute;
      z-index: 2;
      top: 124px;
      width: 644px;
      background-color: #FFFFFF;
      box-shadow: 0px 2px 2px rgba(0,0,0,0.4);
      padding: 32px 30px 65px;
      flex-direction: column;
      align-items: center;
      display: flex;
    }
  
    .image {
      position: absolute;
      z-index: 2;
      width: 181.5px;
      height: 50px;
      margin-top: 56px;
    }
  
    .title {
      font-size: 20px;
      line-height: 28px;
      color: black;
      margin-bottom: 16px;
      text-align: center;
      width: 142px;
      opacity: 0.87;

    }

    .has-focus {
      border-bottom: solid 2px #0097E0 !important;
    }
  
    .input-user {
      width: 289px;
      border-width: 0;
      border-style: none;
      border-bottom: solid 1px #999999;
      height: 34px;
      font-size: 16px;
      outline: none;
      caret-color:#0097E0;
      ime-mode: inactive;
      --placeholder-color:#999999;
      --padding-start: 0;
    }
  
    .label-title {
      width: 289px;
      margin-top: 18px;
      line-height: 16px;
      font-size: var(--label-font-size-13-web);
      outline: none;
    }
  
    .input-pwd {
      width: 289px;
      border-width: 0;
      border-bottom: solid 1px #999999;
      height: 34px;
      font-size: 16px;
      outline: none;
      caret-color:#0097E0;
      --placeholder-color:#999999;
      --padding-start: 0;
      color: black;
    }
  
    .input-sc {
      width: 277px;
      border-width: 0;
      border-bottom: solid 1px #999999;
      height: 28.5px;
      font-size: 14px;
      outline: none;
      caret-color: #0097E0;
      --placeholder-color:#999999;
      --padding-start: 0;
      color: black;
    }
  
    .forget-pwd {
      width: 303px;
      font-size: 14px;
      margin-top: 15px;
      line-height: 19px;
      color: black;
      text-align: left;
      height: 20px;
      opacity: 0.87;
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
    }
  
    .big-btn {
      width: 237px;
      margin-top: 73.49px;
      --border-radius: 5px;
      height: 36px;
      font-size: var(--button-font-size-16-web);
    }
  
    .small-btn {
      width: 124px;
      margin-top: 22px;
      height: 36px;
      font-size: var(--button-font-size-16-web);
      --border-radius: 5px;
      --border-width: 1px;
      opacity: 1;
      letter-spacing: 0.28px;

      &:not(:first-child) {
        margin-left: 24px;
      }
    }
  
    &.confirm {
      
      .form-layout {
        padding: 34px 30px 76px !important;
      }
      
      .account-circle {
        display: none;
      }
      
      .title {
        font-size: 20px;
        line-height: 28px;
        margin-top: 0;
        margin-bottom: 109px;
        text-align: center;
        letter-spacing: 0.24px;
        opacity: 0.87;
        width: 224px;
      }
      
      .big-btn {
        margin-top: 116px;
      }
    }

    .notice {
      display: block;
      font-size: 16px;
      color: #000000;
      width: 276px;
      line-height: 20px;
      margin-bottom: 36px;
      text-align: center;
      height: 40px;
    }
  }
}
