.changePwd-mobile {
  --background: #0097E0;

  .background-white {
    position: absolute;
    top: 0;
    height: 1.76rem;
    width: 100%;
    z-index: 1;
    background-color: #FFFFFF;
  }

  .main {
    flex: 1;
    width: 100%;
    height: 100%;
    flex-direction: column;
    align-items: center;
    display: flex;

    .form-layout {
      position: absolute;
      z-index: 2;
      top: 1.14rem;
      width: 2.8569rem;
      background-color: #FFFFFF;
      box-shadow: 0 0.01rem 0.03rem rgba(0,0,0,0.4);
      padding: 0.24rem 0.24rem 0.27rem;
      flex-direction: column;
      align-items: center;
      display: flex;
    }

    .image {
      position: absolute;
      z-index: 2;
      width: 1.815rem;
      height: 0.5rem;
      margin-top: 0.48rem;
    }

    .title {
      font-size: 0.14rem;
      line-height: 0.19rem;
      color: black;
      text-align: center;
      opacity: 0.87;
    }

    .has-focus {
      border-bottom: solid 0.02rem #0097E0 !important;
    }

    .input-user {
      width: 2.37rem;
      border-width: 0;
      border-style: none;
      border-bottom: solid 0.01rem #999999;
      height: 0.34rem;
      font-size: 0.16rem;
      outline: none;
      caret-color:#0097E0;
      ime-mode: inactive;
      --placeholder-color:#999999;
      --placeholder-opacity: 1;
      --padding-start: 0;
      color: black;
    }

    .account-circle {
      width: 0.56rem;
      height: 0.56rem;
    }

    .label-title {
      width: 2.37rem;
      margin-top: 0.18rem;
      line-height: 0.16rem;
      font-size: var(--label-font-size-12-mobile);
      outline: none;
    }

    .input-pwd {
      width: 2.37rem;
      border-width: 0;
      border-bottom: solid 0.01rem #999999;
      height: 0.34rem;
      font-size: 0.16rem;
      outline: none;
      caret-color:#0097E0;
      --placeholder-color:#999999;
      --placeholder-opacity: 1;
      --padding-start: 0;
      color: black;
    }

    .input-sc {
      width: 2.37rem;
      margin-top: 0.08rem;
      border-width: 0;
      border-bottom: solid 0.01rem #999999;
      height: 0.285rem;
      font-size: 0.16rem;
      outline: none;
      caret-color: #0097E0;
      --placeholder-color:#999999;
      --placeholder-opacity: 1;
      --padding-start: 0;
    }

    .forget-pwd {
      width: 2.37rem;
      font-size: 0.12rem;
      margin-top: 0.16rem;
      line-height: 0.19rem;
      color: black;
      text-align: left;
      opacity: 0.87;

      .forget-pwd-link {
        color: #0097E0;
        text-decoration: underline;
        cursor: pointer;
      }
    }

    .big-btn {
      width: 2.37rem;
      margin-top: 0.24rem;
      --border-radius: 0.05rem;
      height: 0.36rem;
      font-size: var(--button-font-size-14-mobile);
    }

    .small-btn {
      width: 1.12rem;
      margin-top: 0.16rem;
      height: 0.36rem;
      font-size: var(--button-font-size-14-mobile);
      --border-radius: 0.05rem;
      --border-width: 0.01rem;

      &:not(:first-child) {
        margin-left: 0.08rem;
      }
    }

    .notice {
      display: block;
      font-size: 0.14rem;
      color: #000000;
      width: 2.4rem;
      line-height: 0.2rem;
      margin-bottom: 0.07rem;
      text-align: center;
    }

    &.confirm {

      .form-layout {
        padding: 0.24rem 0.24rem 0.27rem !important;
      }

      .title {
        margin-top: 0.08rem;
        margin-bottom: 0.12rem;
      }
    }
  }
}
