<ion-header>
  <ion-toolbar>
    <ion-title  class="title">和硕充值平台</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content  class="title">
    <div class="dropdown">
      <button class="dropbtn">代理管理</button>
      <div class="dropdown-content">
        <h4 routerLink ='/agency'>代理商</h4>
        <h4 routerLink ='/fundrecorder'>资金记录</h4>
        <h4 routerLink ='/cush'>加款减额</h4>
        <h4 routerLink ='/blacklist'>黑名单</h4>
        <h4 routerLink ='/newagency'>新建代理</h4>
      </div> 
    </div>

    <div class="dropdown"> 
      <button class="dropbtn">运营管理</button>
      <div class="dropdown-content">
        <h4 routerLink ='/suppliedmanagement'>供货商</h4>
        <h4 routerLink ='/onshelf'>销售货架</h4>
        <h4 routerLink ='/newproductonshelf'>添加商品</h4>
        <h4 routerLink ='/productstock'>进货管理</h4>
        <h4 routerLink ='/mutex'>互斥管理</h4>
        <h4 routerLink ='/createstock'>添加商品</h4>

      </div>   
    </div>

    <div class="dropdown"> 
      <button class="dropbtn">订单处理</button>
      <div class="dropdown-content">
        <h4 routerLink ='/ordersmanagement'>订单管理</h4>
        <h4 routerLink ='/orderhistory'  >订单历史</h4>
        <h4 routerLink ='/agency'  >操作日志</h4>
      </div>   
    </div>

    <div class="dropdown"> 
      <button class="dropbtn">数据分析</button>
      <div class="dropdown-content">
        <h4 routerLink ='/agent-summary'>代理汇总</h4>
        <h4 routerLink ='/authory-summary'>渠道汇总</h4>
        <h4 routerLink ='/zeroaccount'>零点余额</h4>
      </div>   
    </div>

    <div class="dropdown"> 
      <button class="dropbtn">我的账号</button>
      <div class="dropdown-content">
        <h4 routerLink ='/agency'  >修改密码</h4>
      </div>   
    </div>

    <div class="dropdown"> 
      <button class="dropbtn">系统设置</button>
      <div class="dropdown-content">
        <h4 routerLink ='/agency'  >角色权限</h4>
        <h4 routerLink ='/regularinfo'>员工查询</h4>
        <h4 routerLink ='/agency'  >增加员工</h4>
      </div>   
    </div>
</ion-content>
