ion-content {
  --overflow: hidden;

  .list-container {
    width: 1204px;
    height: 100%;
    margin: auto;

    .list-content {
      flex-grow: 1;
    }

    .title {
      padding-top: 15.4px;
      color: #59595C;
      font-size: 14px;
    }

    .input-name {
      padding-top: 8px;
      font-size: 12.5px;
    }

    .input-item {
      --padding-start: 0;
      --inner-padding-end: 0;
      --min-height: 20px;
      font-size: 16px;
      width: 327px;
      --highlight-height: 0;

      .input {
        height: 20px;
        font-size: 16px;
        caret-color: #0097E0;
        border-bottom: 1px solid #999999;
      }
    }

    .padding-item {
      color: #59595C;
      margin-top: 47px;
      font-size: 24px;
      text-align: center;
    }
  }
}

.button.customBtn {
  width: 73px;
  height: 36px;
}

.button.addBtn {
  width: 73px;
  height: 36px;
  --border-color: black;
  --color: black;
}

.padding-title {
  margin-top: 37px !important;
  font-size: 14px;
  height: 20px;

  .padding-title-left {
    color: #59595C;
  }
  .padding-title-right {
    color: #59595C;
  }
}

.aligner {
  display: flex;
  align-items: center;
  justify-content: center;
}

.profile-pic {
  width: 40px;
  height: 40px;
  position: relative;
}

.profile-pic.left {
  float: left;
}

.fontSize16 {
  font-size: 16px;
  width: 100%;
  padding-top: 7px !important;
}

.left-list {
  padding-right: 16px !important;
  padding-left: 16px !important;
  padding-top: 10px !important;
  border-color: #EAEBEC;
  border-width: 1px;
  border-style: solid;
  width: 590px;
  height: 641px;
  overflow-y: auto;
}

.right-list {
  padding-right: 16px !important;
  padding-left: 16px !important;
  padding-top: 10px !important;
  border-color: #EAEBEC;
  border-width: 1px;
  border-top-style: solid;
  border-bottom-style: solid;
  border-left-style: solid;
  border-right-style: solid;
  width: 590px;
  height: 641px;
  overflow-y: auto;
}

.paddingLeft12 {
  padding-left: 12px !important;
}

.has-focus {
  border-bottom: solid 2px #0097E0 !important;
}

.md.hydrated {
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  padding-bottom: 0;
  margin: 0;
}

.cell-class {
  padding: 0;
  max-width: 56px;
}

.cell-class2 {
  height: 36px;
  max-width: 73px;
  line-height: 36px;
}

.cell-class3 {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  flex: 1;
  min-width: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 443px;

  .user-name {
    color: #000000;
    font-size: var(--label-font-size-16-web);
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: block;
    padding-left: 16px;
    padding-right: 16px;
  }

  .company-name {
    font-size: var(--label-font-size-14-web);
    color: rgba(0, 0, 0, 0.5);
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: block;
    padding-top: 4px;
    height: 32px;
    padding-left: 16px;
    padding-right: 16px;
  }
}

.cell-class4 {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  flex: 1;
  min-width: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 466.5px;

  .user-name {
    color: #000000;
    font-size: 16px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: block;
    padding-left: 16px;
    padding-right: 16px;
  }

  .company-name {
    font-size: 14px;
    color: rgba(0, 0, 0, 0.5);
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: block;
    padding-top: 4px;
    height: 32px;
    padding-left: 16px;
    padding-right: 16px;
  }
}

.footercontent {
  height: 86px;
  bottom: 0;
  font-size: 24px;
  color: #000000;
  flex-direction: row;
  justify-content: space-between;
  max-width: fit-content;

  .finishBtn {
    width: 112px !important;
    height: 36px;
    box-shadow: 0 2px 2px #0000003D;
    border-radius: 5px;
    font-size: var(--button-font-size-16-web);
    margin: 18px 0 0 8px;
  }
  
  .cancelBtn {
    width: 112px !important;
    height: 36px;
    border-radius: 5px;
    font-size: var(--button-font-size-16-web);
    margin: 18px 0 0 487px;
    border: 1px solid #0097E0;
    --box-shadow: none;
  }
}
