.modalDiv {
  display: flex;
  flex-direction: column;
}

.rightClose {
  margin-left: auto;
}

.fundrecorderform {
  margin: 0 10px;
}

.sortLabel {
  padding: 10px 0 10px 40px;
}

.modalTitle {
  text-align: center;
}

.inputBorder {
  border: 1px solid;
  height: 30px;
}

.displayOrder {
  width: 50px;
}

.flexDiv {
  display: flex;
}

.flexDiv .leftButton {
  display: inline-block;
  margin-left: auto;
  margin-right: 10px;
}
.flexDiv .rightButton {
  display: inline-block;
  margin-left: 10px;
  margin-right: auto;
}

.flexDiv .buttonWidth {
  width: 120px;
}
