<div class="modalDiv">
  <ion-buttons class="rightClose" (click)="closeClick()">
  </ion-buttons>
  <ion-label class="modalTitle">{{fundrecorderEditLable.title}}</ion-label>
  <ion-item>
    &nbsp;
  </ion-item>
  <ion-item>
    <label>{{fundrecorderEditLable.agentName}}</label>
    <ion-input class="inputBorder" maxlength="60" [(ngModel)]="sysFundRecorder.agentName" required="true"></ion-input>
    &nbsp;
  </ion-item>
  <ion-item>
    <label>{{fundrecorderEditLable.reqId}}</label>
    <ion-input class="inputBorder" maxlength="60" [(ngModel)]="sysFundRecorder.reqId" required="true"></ion-input>
    &nbsp;
  </ion-item>
  <ion-item>
    <label>{{fundrecorderEditLable.orderId}}</label>
    <ion-input class="inputBorder" maxlength="60" [(ngModel)]="sysFundRecorder.orderId" required="true"></ion-input>
    &nbsp;
  </ion-item>
  <ion-item>
    <label>{{fundrecorderEditLable.billId}}</label>
    <ion-input class="inputBorder" maxlength="60" [(ngModel)]="sysFundRecorder.billId" required="true"></ion-input>
    &nbsp;
  </ion-item>
  <ion-item>
    <label>{{fundrecorderEditLable.agentReduceName}}</label>
    <ion-input class="inputBorder" maxlength="60" [(ngModel)]="sysFundRecorder.agentReduceName" required="true"></ion-input>
    &nbsp;
  </ion-item>
  <ion-item>
    <label>{{fundrecorderEditLable.orderForm}}</label>
    <ion-input class="inputBorder" maxlength="60" [(ngModel)]="sysFundRecorder.orderForm" required="true"></ion-input>
    &nbsp;
  </ion-item>
  <ion-item>
    <label>{{fundrecorderEditLable.orderType}}</label>
    <ion-input class="inputBorder" maxlength="60" [(ngModel)]="sysFundRecorder.orderType" required="true"></ion-input>
    &nbsp;
  </ion-item>
  <ion-item>
    <label>{{fundrecorderEditLable.capital}}</label>
    <ion-input class="inputBorder" maxlength="60" [(ngModel)]="sysFundRecorder.capital" required="true"></ion-input>
    &nbsp;
  </ion-item>
  <ion-item>
    <label>{{fundrecorderEditLable.price}}</label>
    <ion-input class="inputBorder" maxlength="60" [(ngModel)]="sysFundRecorder.price" required="true"></ion-input>
    &nbsp;
  </ion-item>
  <ion-item>
    <label>{{fundrecorderEditLable.status}}</label>
    <ion-input class="inputBorder" maxlength="60" [(ngModel)]="sysFundRecorder.status" required="true"></ion-input>
    &nbsp;
  </ion-item>
  <ion-item>
    <label>{{fundrecorderEditLable.ts}}</label>
    <ion-input class="inputBorder" maxlength="60" [(ngModel)]="sysFundRecorder.ts" required="true"></ion-input>
    &nbsp;
  </ion-item>

  <!-- <ion-grid class="fundrecorderform">
    <ion-row>
      <ion-col> </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="3">
        {{fundrecorderEditLable.agentName}}
        <ion-input class="inputBorder" maxlength="60" [(ngModel)]="sysFundRecorder.agentName" required="true"></ion-input>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="9">
        {{fundrecorderEditLable.reqId}}
        <ion-input class="inputBorder" maxlength="60" [(ngModel)]="sysFundRecorder.reqId" required="true"></ion-input>
      </ion-col>
    </ion-row>
  </ion-grid> -->

  <div class="flexDiv">
    <div class="leftButton">
      <ion-button class="buttonWidth" (click)=updateClick()>{{fundrecorderEditLable.change}}</ion-button>
    </div>
    <div class="rightButton">
      <ion-button class="buttonWidth" (click)=cancelClick()>{{fundrecorderEditLable.cancel}}</ion-button>
    </div>
  </div>
</div>
