<div [ngClass]="platformtype">
  <div class="item">
    <ion-img [src]="photoPath" (click)="onPreview($event)"></ion-img>
    <ion-checkbox class="checkbox" [(ngModel)]="photo.isChecked" (ngModelChange)="imageclick($event)"></ion-checkbox>
  </div>
</div>