.photo-grid-item-web,
.photo-grid-item-winapp {
  .item {
    box-sizing: border-box;
    position: relative;
  }

  .item ion-img {
    width: 292px;
    height: 291.6px;
    display: block;
    object-fit: cover;
  }

  .checkbox {
    position: absolute;
    width: 32px;
    height: 32px;
    top: 8px;
    left: 8px;
    z-index: 999;
    // background-color: rgba(0,0,0,0);
    // --background: rgba(0,0,0,0);
    border: 2px solid #fff;
    border-radius: 50%;
    // --border-width: 0;
    // --background-checked: none;
  }

  .checkbox.checkbox-checked {
    --ion-color-primary-contrast: #0097E0;
    border: 2px solid #0097E0;
  }
}
