.photo-grid-item-mobile {
  .item {
    box-sizing: border-box;
    position: relative;
  }

  .item ion-img {
    width: 1.1872rem;
    height: 1.1485rem;
    display: block;
    object-fit: fill;
  }

  .checkbox {
    position: absolute;
    width: 0.24rem;
    height: 0.24rem;
    top: 0.08rem;
    left: 0.08rem;
    z-index: 999;
    // background-color: rgba(0,0,0,0);
    // --background: rgba(0,0,0,0);
    border: 0.02rem solid #fff;
    border-radius: 50%;
    // --border-width: 0;
    // --background-checked: none;
  }

  .checkbox.checkbox-checked{
    // --ion-color-primary-contrast: #0097E0;
    // border: 0.02rem solid #0097E0;
  }
}
