<div style="align-items: center;
            background-color: #ffffff;
            box-sizing: border-box;
            display: flex;
            flex-direction: column;
            font-family: 'Helvetica Neue', Arial, 'Hiragino Kaku Gothic ProN', 'Hiragino Sans', Meiryo, sans-serif;
            font-size: 10px;
            justify-content: flex-start;
            min-width: 150px;
            text-align: left;" [style.width.px]="blackBoardWidth" [style.font-size.px]="isTablet ? 14 : 10">
  <div style="align-items: stretch;
              border-bottom: solid 1px grey;
              box-sizing: border-box;
              display: flex;
              flex-direction: row;
              justify-content: flex-start;
              width: 100%;"
    *ngIf="cameraStore.blackboardDisplay && cameraStore.blackboardDisplay.isProjectDisplay === '1'">
    <div style="background-color: #cccccc;
                box-sizing: border-box;
                padding-left: 5px;
                padding-right: 5px;
                width: 30%;">{{BdProjectTitle}}</div>
    <div style="border-left: solid 1px grey;
                box-sizing: border-box;
                flex: 1;
                overflow-wrap: break-word;
                padding-left: 5px;
                padding-right: 5px;
                white-space: pre-wrap !important;
                word-break: break-all;">{{commonStore.projectName || defaultProject}}</div>
  </div>
  <div style="align-items: stretch;
              border-bottom: solid 1px grey;
              box-sizing: border-box;
              display: flex;
              flex-direction: row;
              justify-content: flex-start;
              width: 100%;"
    *ngIf="cameraStore.blackboardDisplay && (cameraStore.blackboardDisplay.isFloorDisplay === '1' || cameraStore.blackboardDisplay.isRoomDisplay === '1' || cameraStore.blackboardDisplay.isPlaceDisplay === '1')">
    <div style="background-color: #cccccc;
                box-sizing: border-box;
                padding-left: 5px;
                padding-right: 5px;
                width: 30%;">{{BdPlaceTitle}}</div>
    <div style="border-left: solid 1px grey;
                box-sizing: border-box;
                flex: 1;
                overflow-wrap: break-word;
                padding-left: 5px;
                padding-right: 5px;
                white-space: pre-wrap !important;
                word-break: break-all;">{{floorRoomPlace || defaultFloorRoomPlace}}</div>
  </div>
  <div style="align-items: stretch;
              border-bottom: solid 1px grey;
              box-sizing: border-box;
              display: flex;
              flex-direction: row;
              justify-content: flex-start;
              width: 100%;"
    *ngIf="cameraStore.blackboardDisplay && cameraStore.blackboardDisplay.isLineDisplay === '1'">
    <div style="background-color: #cccccc;
                box-sizing: border-box;
                padding-left: 5px;
                padding-right: 5px;
                width: 30%;">{{BdLineTitle}}</div>
    <div style="border-left: solid 1px grey;
                box-sizing: border-box;
                flex: 1;
                overflow-wrap: break-word;
                padding-left: 5px;
                padding-right: 5px;
                white-space: pre-wrap !important;
                word-break: break-all;">{{(cameraStore.currentMachine && cameraStore.currentMachine.lineName) || defaultLine}}</div>
  </div>
  <div style="align-items: stretch;
              border-bottom: solid 1px grey;
              box-sizing: border-box;
              display: flex;
              flex-direction: row;
              justify-content: flex-start;
              width: 100%;"
    *ngIf="cameraStore.blackboardDisplay && cameraStore.blackboardDisplay.isUnitDisplay === '1'">
    <div style="background-color: #cccccc;
                box-sizing: border-box;
                padding-left: 5px;
                padding-right: 5px;
                width: 30%;">{{BdMachineTitle}}</div>
    <div style="border-left: solid 1px grey;
                box-sizing: border-box;
                flex: 1;
                overflow-wrap: break-word;
                padding-left: 5px;
                padding-right: 5px;
                white-space: pre-wrap !important;
                word-break: break-all;">{{(cameraStore.currentMachine && (cameraStore.currentMachine.unitMark + "(" + cameraStore.currentMachine.machineModel + ")")) || defaultMachine}}</div>
  </div>
  <div style="align-items: stretch;
              border-bottom: solid 1px grey;
              box-sizing: border-box;
              display: flex;
              flex-direction: row;
              justify-content: flex-start;
              width: 100%;"
    *ngIf="cameraStore.blackboardDisplay && cameraStore.blackboardDisplay.isProcessDisplay === '1'">
    <div style="background-color: #cccccc;
                box-sizing: border-box;
                padding-left: 5px;
                padding-right: 5px;
                width: 30%;">{{BdProcessTitle}}</div>
    <div style="border-left: solid 1px grey;
                box-sizing: border-box;
                flex: 1;
                overflow-wrap: break-word;
                padding-left: 5px;
                padding-right: 5px;
                white-space: pre-wrap !important;
                word-break: break-all;">{{(cameraStore.currentProcess && cameraStore.currentProcess.processName) || defaultProcess}}</div>
  </div>
  <div style="align-items: stretch;
              border-bottom: solid 1px grey;
              box-sizing: border-box;
              display: flex;
              flex-direction: row;
              justify-content: flex-start;
              width: 100%;"
    *ngIf="cameraStore.blackboardDisplay && cameraStore.blackboardDisplay.isWorkDisplay === '1'">
    <div style="background-color: #cccccc;
                box-sizing: border-box;
                padding-left: 5px;
                padding-right: 5px;
                width: 30%;">{{BdWorkTitle}}</div>
    <div style="border-left: solid 1px grey;
                box-sizing: border-box;
                flex: 1;
                overflow-wrap: break-word;
                padding-left: 5px;
                padding-right: 5px;
                white-space: pre-wrap !important;
                word-break: break-all;">{{(cameraStore.currentWork && cameraStore.currentWork.workName) || defaultWork}}</div>
  </div>
  <div style="align-items: stretch;
              border-bottom: solid 1px grey;
              box-sizing: border-box;
              display: flex;
              flex-direction: row;
              justify-content: flex-start;
              overflow-wrap: break-word;
              padding-left: 5px;
              padding-right: 5px;
              white-space: pre-wrap !important;
              width: 100%;
              word-break: break-all;"
    *ngIf="cameraStore.blackboardDisplay && cameraStore.blackboardDisplay.isFreeDisplay === '1'">{{cameraStore.free || defaultFree}}</div>
  <div style="align-items: stretch;
              border-bottom: solid 1px grey;
              box-sizing: border-box;
              display: flex;
              flex-direction: row;
              justify-content: flex-start;
              overflow-wrap: break-word;
              padding-left: 5px;
              padding-right: 5px;
              white-space: pre-wrap !important;
              width: 100%;"
    *ngIf="cameraStore.blackboardDisplay && (cameraStore.blackboardDisplay.isConstructionCompanyDisplay === '1' || cameraStore.blackboardDisplay.isWitnessDisplay === '1' || cameraStore.blackboardDisplay.isDateDisplay === '1' || cameraStore.blackboardDisplay.isTimeDisplay === '1')">{{witnessInfo || defaultWitnessInfo}}</div>
</div>
