.container {
  color: #000000;
  background: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-width: 150px;
  font-size: 10px;

  .row {
    display: inline-flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: stretch;
    text-align: left;
    width: 100%;
    border-bottom: solid 1px grey;

    .col-1 {
      background: #cccccc;
      width: 30%;
      text-align: left;
      padding-left: 5px;
      padding-right: 5px;
    }

    .col-2 {
      border-left: solid 1px grey;
      flex: 1;
      padding-left: 5px;
      padding-right: 5px;
    }
  }

  .row-last {
    display: inline-flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: stretch;
    text-align: left;
    width: 100%;
    border-bottom: solid 1px grey;
    padding-left: 5px;
    padding-right: 5px;
  }

  .breakAll {
    word-break: break-all;
  }
}

.tablet {
  font-size: 14px;
}