<ion-header>
  <ion-toolbar>
    <ion-title  class = "title">代理商情报</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

   <ion-item>
    <label>代理账户:</label> <input type = "text "  maxlength="10" min="1" [(ngModel)]="accountagency"/>&nbsp;
    <label>代理公司名称:</label> <input type = "text "  maxlength="10" min="1" [(ngModel)]="agencyname"/>&nbsp;
    <label>简称:</label> <input type = "text "  maxlength="10" min="1" [(ngModel)]="agecnyabbreviate"/>&nbsp;
    <label>代理状态:</label>
    <select name = "agency" id ="agency" [(ngModel)] = "agencyList.agency">
      <option [value] ="item" *ngFor = "let item of agencyList.agencyStatusList">{{item}}</option>
    </select>
  </ion-item>

   <ion-item>
   <ion-button class="toroku-button" color="primary" (click)="onSearch()">查询</ion-button>
   <ion-button class="toroku-button" color="primary" routerLink ='/homepage'>返回</ion-button>
  </ion-item>

   <div class="uploadForm">
    <ion-item class="head-title minW2300">

    <ion-col size="1.5">账户名</ion-col>
    <ion-col size="1.5">简称</ion-col>
    <ion-col size="1.5">省市</ion-col>
    <ion-col size="1.5">类型</ion-col>
    <ion-col size="1.5">模式</ion-col>
    <ion-col size="1.5">可用资金</ion-col>
    <ion-col size="1.5">授信额度</ion-col>
    <ion-col size="1.5">状态</ion-col>
    </ion-item>

    <ion-item class="minW2300" *ngFor="let sysUser of sysAgencyList">
      <ion-col size="2.0">{{sysUser.accountagency}}</ion-col>
      <ion-col size="2.0">{{sysUser.agecnyAbbreviate}}</ion-col>
      <ion-col size="2.0">{{sysUser.province}}</ion-col>
      <ion-col size="2.0">{{sysUser.type}}</ion-col>
      <ion-col size="2.0">{{sysUser.mode}}</ion-col>
      <ion-col size="2.0">{{sysUser.balance}}</ion-col>
      <ion-col size="2.0">{{sysUser.use}}</ion-col>
      <ion-col size="2.0">{{sysUser.status}}</ion-col>
  </ion-item>

  </div>
</ion-content>
