.workRename-web,
.workRename-winapp {
  &.modalDiv {
    display: flex;
    flex-direction: column;
  }

  .modalTitle {
    text-align: center;
    color: #000000;
    font-size: 18px;
    line-height: 50px;
    border-bottom: 1px solid #DEDEDE;
  }
  
  .workform {
    margin: 25.5px 16px 0 17px;
    --ion-grid-column-padding: 0;
    padding: 0;

    .workform-label {
      color: #000000;
      font-size: 12px;
      line-height: 17px;
    }
  }
  
  .has-focus {
    border-bottom: solid 2px #0097E0 !important;
  }

  .inputBorder {
    border-bottom: solid 1px #999999;
    color: #000000;
    font-size: 16px;
    line-height: 34px;
    height: 34px;
    --padding-start: 0;
    caret-color: #0097E0;
  }

  .div-button {
    width: 100%;
    margin-top: 47px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    height: 60px;
    border-top: 1px solid #DEDEDE;
    align-items: center;

    .button-ok {
      font-size: var(--button-font-size-14-web);
      cursor: pointer;
      margin-right: 25px;
      border: none;
      --box-shadow: none;
      --background-hover: none;
      --padding-start: 0;
      --padding-end: 0;
      --padding-top: 0;
      --padding-bottom: 0;
    }

    .button-cancel {
      font-size: var(--button-font-size-14-web);
      cursor: pointer;
      margin-right: 29.8px;
      border: none;
      --box-shadow: none;
      --background-hover: none;
      --padding-start: 0;
      --padding-end: 0;
      --padding-top: 0;
      --padding-bottom: 0;
    }
  }
}
