<div class="modalDiv" [ngClass]="platformtype">
  <div class="modalTitle">{{gamenLable.workChangeTitle}}</div>
  <ion-grid class="workform">
    <ion-row class="workform-label" align-items-start>
      <ion-col id="workName" class="whitespace_pre">{{gamenLable.changeName}}</ion-col>
    </ion-row>
    <ion-row align-items-start>
      <ion-col>
        <ion-input (ionFocus)="focusInWorkName()" (ionBlur)="focusOutWorkName()" class="inputBorder" maxlength="60" [(ngModel)]="gamenDto.workName" required="true"></ion-input>
      </ion-col>
    </ion-row>
  </ion-grid>
  <div class="div-button">
    <ion-button class="button-cancel" color="whitebtn" (click)="cancelClick()">{{gamenLable.cancel}}</ion-button>
    <ion-button class="button-ok" color="whitebtn" (click)=updateClick() [disabled]="isUpdated()">{{gamenLable.change}}
    </ion-button>
  </div>
</div>
