<ion-list class="menu-list">
  <ng-container *ngFor="let menu of menuState.moreMenu">
    <ion-item button detail="false" *ngIf="hasRole(menu)" (click)="clickMenu(menu)">
      <ion-label>{{menu.title}}</ion-label>
      <ion-toggle *ngIf="menu.switchFlg" (ionChange)="autoUploadChange($event)" [(ngModel)]="autoUpload"></ion-toggle>
    </ion-item>
  </ng-container>
</ion-list>
