
.modalDiv {
    display: flex;
    flex-direction: column;
}
.title{
    text-align: center;
}
.rightClose {
    margin-left: auto;

}
.processform {
    margin: 10px auto;
}
.inputBorder {
    border: 1px solid;
    height: 30px;
}
.search{
    margin: 0 auto;
    width: 120px;
    display: inline-block;
}

