.photobook-view-set-mobile {
  display: flex;
  flex-direction: column;
  .w-full {
    width: 100%;
  }

  .container{
    width: 100%;
  }

  .table-container {
    width: 100%;
    background-color: #ccc;
    padding: 0.17rem 0.15rem 0.17rem 0.15rem;
    .header-div{
         background-color: #ffffff;
         border-left: #707070 1px solid;
         border-top: #707070 1px solid;
         border-right: #707070 1px solid;
         
    }
       .headertitle{
         padding:0.05rem;
        white:100%;
        color: #59595C;
        font-size: 0.12rem;
        font-weight: 400;
        text-align:center;
    }
    table {
      width: 100%;
      border-color: #707070;
      background-color: #ffffff;
      font-size: 0.14rem;
      box-shadow: 0 0.03rem 0.06rem #00000029;
      td, th {
        height: 0.23rem;
        color: #59595C;
        font-size: 0.12rem;
        font-weight: 400;
      }
      .table-photo {
        width: 1.63rem;
        padding: 0.1rem;
        .photo {
          border: 0.01rem dashed #707070;
          height: 100%;
          border-radius: 0.08rem;
          display: flex;
          justify-content: center;
          align-items: center;
        }
      }
      .table-value {
        font-size: 0.12rem;
        padding: 0 0.05rem;
        position: relative;
        span {
          position: absolute;
          right: 0.1rem;
          left: 0.5rem;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
        }
      }
    }
  }
  .select-container {
    padding-bottom: 0.08rem;
    overflow-y: auto;
    flex: 1;
    .body-title {
      font-size: 0.14rem;
      color: #59595c;
      padding-top: 0.13rem;
      ion-label {
        margin: 0;
      }
    }
    .select {
      padding: 0 0.05rem 0 0.2rem;
      margin-top: 0.07rem;
    }
    .grid {
      padding-top: 0;
      margin-top: 0.16rem;
      padding-bottom: 0;
      .row3MarginB {
        margin-top: 0.01rem;
      }
      .row-content {
        .body-item {
          font-size: 0.16rem;
          color: #000000;
          --padding-start: 0.1rem;
          display: flex;
          align-items: center;
          justify-content: center;
          height: 0.24rem;
          --min-height: auto;
          padding: 0;
          margin: 0;
          .edit-icon {
            background-color: rgba(0, 0, 0, 0.26);
            width: 0.24rem;
            height: 0.24rem;
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
            img {
              width: 0.16rem;
              height: 0.16rem;
            }
          }
          .small-title {
            margin-top: 0;
            font-weight: 600;
            margin-bottom: 0;
            margin-left: 0.12rem;
          }
        }
        .select-item-ph {
          --padding-start: 0.16rem;
          position: relative;
          --inner-padding-end: 0;
          --min-height: 0.3rem;
          --inner-padding-top: 0;
          width: 0.88rem;
          padding-bottom: 0;
          padding-right: 0;
          padding-top: 0.07rem;
          .select-title-ph {
            text-overflow: inherit;
            overflow: visible;
            position: absolute;
            background: #fff;
            z-index: 100;
            top: -0.03rem;
            display: inline-block;
            width: auto;
            left: 0.12rem;
            padding: 0 0.05rem;
            font-size: var(--label-font-size-12-mobile);
            transform: translate3d(0,0,0) scale(1);
            color: #59595C;
          }
          .select-style-ph {
            border: 0.01rem solid #707070;
            border-radius: 0.03rem;
            height: var(--selectBox-height-48-mobile);
            text-align: left;
            --padding-start: 0.12rem;
            font-size: 0.14rem;
            color: #59595C;
            display: flex;
            align-items: center;
          }
          .select-style-ph.long {
            --padding-start: 0.05rem;
          }
        }
      }
    }
  }
  ion-item {
    --min-height: auto;
  }
}
.photobook-view-set-mobile.photo-footer {
  height: 0.48rem;
  position: relative;
  font-size: 0.14rem;
  background: #000;
  border: none;
  .container-footer {
    position: relative;
    height: 0.48rem;
    .pageing {
      position: absolute;
      width: 1rem;
      text-align: center;
      top: 0.11rem;
      left: 50%;
      margin-left: -0.5rem;
      .photo-footer-label {
        background-color: rgba(255, 255, 255, .54);
        height: 0.06rem;
        width: 0.06rem;
        border-radius: 50%;
        display: inline-block;
        margin-left: 0.05rem;
      }
      .active {
        background-color: #0097E0;
      }
    }
    .prev-btn {
      color: #fff;
      cursor: pointer;
      width: 0.5rem;
      height: 0.48rem;
      line-height: 0.48rem;
      text-align: center;
      margin-left:0.24rem;
      .arrow-left {
        border-top: 0.02rem solid #fff;
        display: inline-block;
        width: 0.1rem;
        border-right: 0.02rem solid #fff;
        height: 0.1rem;
        transform: rotate(-135deg);
      }
    }
    .next-btn {
      position: absolute;
      right: 0;
      color: #fff;
      cursor: pointer;
      width: 0.5rem;
      height: 0.48rem;
      line-height: 0.48rem;
      text-align: center;
      top: 0;
      margin-right: 0.24rem;
      .arrow-right {
        border-top: 0.02rem solid #fff;
        display: inline-block;
        width: 0.1rem;
        border-right: 0.02rem solid #fff;
        height: 0.1rem;
        transform: rotate(45deg);
      }
    }
  }
}
