<app-head></app-head>
<ion-content [ngClass]="platformtype">
  <div class="container">
    <div class="table-container">
    <div class="header-div">
    <div class="whitespace_pre_wrap headertitle">{{buildingName}}{{projectName}}</div>
    </div>
      
      <table border="1">
        <!-- <tr>
          <th class="whitespace_pre_wrap" colspan="2">
            <div class="whitespace_pre_wrap" style="width: 100%;">{{buildingName}}{{projectName}}</div>
          </th>
        </tr> -->
        <tr>
          <td rowspan="8" class="table-photo">
            <div class="photo">{{gamenLable.photoTaken}}</div>
          </td>
          <td #itemValueTd1 class="table-value">
            {{gamenLable.arrangement1}}
            <span>{{itemValue1}}</span>
          </td>
        </tr>
        <tr>
          <td #itemValueTd2 class="table-value">
            {{gamenLable.arrangement2}}
            <span>{{itemValue2}}</span>
          </td>
        </tr>
        <tr>
          <td #itemValueTd3 class="table-value">
            {{gamenLable.arrangement3}}
            <span>{{itemValue3}}</span>
          </td>
        </tr>
        <tr>
          <td #itemValueTd4 class="table-value">
            {{gamenLable.arrangement4}}
            <span>{{itemValue4}}</span>
          </td>
        </tr>
        <tr>
          <td #itemValueTd5 class="table-value">
            {{gamenLable.arrangement5}}
            <span>{{itemValue5}}</span>
          </td>
        </tr>
        <tr>
          <td #itemValueTd6 class="table-value">
            {{gamenLable.arrangement6}}
            <span>{{itemValue6}}</span>
          </td>
        </tr>
        <tr>
          <td #itemValueTd7 class="table-value">
            {{gamenLable.arrangement7}}
            <span>{{itemValue7}}</span>
          </td>
        </tr>
        <tr>
          <td #itemValueTd8 class="table-value">
            {{gamenLable.arrangement8}}
            <span>{{itemValue8}}</span>
          </td>
        </tr>
      </table>
    </div>
    <div class="select-container">
      <ion-item lines="none" class="body-title w-full">
        <ion-label>{{gamenLable.photoBookOrderGuide}}</ion-label>
      </ion-item>
      <!-- grid 1 start -->
      <ion-grid class="grid grid1">
        <ion-row class="row-content">
          <ion-item lines="none" class="body-item w-full">
            <div class="edit-icon"><img src="./assets/icon/edit.svg"></div>
            <ion-label class="small-title">{{gamenLable.buildingInformation}}</ion-label>
          </ion-item>
        </ion-row>
        <!-- row 1 start -->
        <ion-row class="row-content select">
          <ion-col class="select-item-ph">
            <!-- <ion-item mode="md" lines="none" class="select-item-ph"> -->
            <ion-label mode="md" class="select-title-ph">{{gamenLable.building}}</ion-label>
            <ion-select
              [interfaceOptions]="platformtype==='photobook-view-set-mobile'?{cssClass: 'dkj-alert', header: gamenLable.building}:{cssClass: 'dkj-alert'}"
              [interface]="platformtype==='photobook-view-set-mobile'?'alert':'popover'" cancelText="キャンセル"
              class="select-style-ph" [(ngModel)]="selectBuilding"
              (ngModelChange)="itemChange(gamenLable.building, selectBuilding)" mode="md">
              <ion-select-option *ngFor="let item of gamenLable.buildingItems" [value]="item.key">{{item.value}}
              </ion-select-option>
            </ion-select>
            <!-- </ion-item> -->
          </ion-col>
          <ion-col class="select-item-ph">
            <ion-label mode="md" class="select-title-ph" position="stacked">{{gamenLable.floor}}</ion-label>
            <ion-select
              [interfaceOptions]="platformtype==='photobook-view-set-mobile'?{cssClass: 'dkj-alert', header: gamenLable.floor}:{cssClass: 'dkj-alert'}"
              [interface]="platformtype==='photobook-view-set-mobile'?'alert':'popover'" cancelText="キャンセル"
              class="select-style-ph" [(ngModel)]="selectFloor"
              (ngModelChange)="itemChange(gamenLable.floor, selectFloor)" mode="md">
              <ion-select-option *ngFor="let item of gamenLable.floorItems" [value]="item.key">{{item.value}}
              </ion-select-option>
            </ion-select>
          </ion-col>
          <ion-col class="select-item-ph">
            <ion-label mode="md" class="select-title-ph" position="stacked">{{gamenLable.room}}</ion-label>
            <ion-select
              [interfaceOptions]="platformtype==='photobook-view-set-mobile'?{cssClass: 'dkj-alert', header: gamenLable.room}:{cssClass: 'dkj-alert'}"
              [interface]="platformtype==='photobook-view-set-mobile'?'alert':'popover'" cancelText="キャンセル"
              class="select-style-ph" [(ngModel)]="selectRoom" (ngModelChange)="itemChange(gamenLable.room, selectRoom)"
              mode="md">
              <ion-select-option *ngFor="let item of gamenLable.roomItems" [value]="item.key">{{item.value}}
              </ion-select-option>
            </ion-select>
          </ion-col>
          <ion-col class="select-item-ph">
            <ion-label mode="md" class="select-title-ph" position="stacked">{{gamenLable.place}}</ion-label>
            <ion-select
              [interfaceOptions]="platformtype==='photobook-view-set-mobile'?{cssClass: 'dkj-alert', header: gamenLable.place}:{cssClass: 'dkj-alert'}"
              [interface]="platformtype==='photobook-view-set-mobile'?'alert':'popover'" cancelText="キャンセル"
              class="select-style-ph" [(ngModel)]="selectPlace"
              (ngModelChange)="itemChange(gamenLable.place, selectPlace)" mode="md">
              <ion-select-option *ngFor="let item of gamenLable.placeItems" [value]="item.key">{{item.value}}
              </ion-select-option>
            </ion-select>
          </ion-col>
        </ion-row>
        <!-- row 1 end -->
      </ion-grid>
      <!-- grid 1 end -->
      <!-- grid 2 start -->
      <ion-grid class="grid">
        <ion-row class="row-content">
          <ion-item lines="none" class="body-item w-full">
            <div class="edit-icon"><img src="./assets/icon/edit.svg"></div>
            <ion-label class="small-title">{{gamenLable.processInformation}}</ion-label>
          </ion-item>
        </ion-row>
        <!-- row 2 start -->
        <ion-row class="row-content select">
          <ion-col class="select-item-ph">
            <ion-label mode="md" class="select-title-ph" position="stacked">{{gamenLable.largeProcess}}</ion-label>
            <ion-select
              [interfaceOptions]="platformtype==='photobook-view-set-mobile'?{cssClass: 'dkj-alert', header: gamenLable.largeProcess}:{cssClass: 'dkj-alert'}"
              [interface]="platformtype==='photobook-view-set-mobile'?'alert':'popover'" cancelText="キャンセル"
              class="select-style-ph" [(ngModel)]="selectLargeProcess"
              (ngModelChange)="itemChange(gamenLable.largeProcess, selectLargeProcess)" mode="md">
              <ion-select-option *ngFor="let item of gamenLable.largeProcessItems" [value]="item.key">{{item.value}}
              </ion-select-option>
            </ion-select>
          </ion-col>
          <ion-col class="select-item-ph">
            <ion-label mode="md" class="select-title-ph" position="stacked">{{gamenLable.process}}</ion-label>
            <ion-select
              [interfaceOptions]="platformtype==='photobook-view-set-mobile'?{cssClass: 'dkj-alert', header: gamenLable.process}:{cssClass: 'dkj-alert'}"
              [interface]="platformtype==='photobook-view-set-mobile'?'alert':'popover'" cancelText="キャンセル"
              class="select-style-ph" [(ngModel)]="selectProcess"
              (ngModelChange)="itemChange(gamenLable.process, selectProcess)" mode="md">
              <ion-select-option *ngFor="let item of gamenLable.processItems" [value]="item.key">{{item.value}}
              </ion-select-option>
            </ion-select>
          </ion-col>
          <ion-col class="select-item-ph">
            <ion-label mode="md" class="select-title-ph" position="stacked">{{gamenLable.work}}</ion-label>
            <ion-select
              [interfaceOptions]="platformtype==='photobook-view-set-mobile'?{cssClass: 'dkj-alert', header: gamenLable.work}:{cssClass: 'dkj-alert'}"
              [interface]="platformtype==='photobook-view-set-mobile'?'alert':'popover'" cancelText="キャンセル"
              class="select-style-ph" [(ngModel)]="selectWork" (ngModelChange)="itemChange(gamenLable.work, selectWork)"
              mode="md">
              <ion-select-option *ngFor="let item of gamenLable.workItems" [value]="item.key">{{item.value}}
              </ion-select-option>
            </ion-select>
          </ion-col>
          <ion-col class="select-item-ph">
            <ion-label mode="md" class="select-title-ph" position="stacked">{{gamenLable.situation}}</ion-label>
            <ion-select
              [interfaceOptions]="platformtype==='photobook-view-set-mobile'?{cssClass: 'dkj-alert', header: gamenLable.situation}:{cssClass: 'dkj-alert'}"
              [interface]="platformtype==='photobook-view-set-mobile'?'alert':'popover'" cancelText="キャンセル"
              class="select-style-ph" [(ngModel)]="selectSituation"
              (ngModelChange)="itemChange(gamenLable.situation, selectSituation)" mode="md">
              <ion-select-option *ngFor="let item of gamenLable.situationItems" [value]="item.key">{{item.value}}
              </ion-select-option>
            </ion-select>
          </ion-col>
        </ion-row>
        <!-- row 2 end -->
      </ion-grid>
      <!-- grid 2 end -->
      <!-- grid 3 start-->
      <ion-grid class="grid">
        <ion-row class="row-content">
          <ion-item lines="none" class="body-item w-full">
            <div class="edit-icon"><img src="./assets/icon/edit.svg"></div>
            <ion-label class="small-title">{{gamenLable.dateTimeInformation}}</ion-label>
          </ion-item>
        </ion-row>
        <!-- row 3 start-->
        <ion-row class="row-content select row3MarginB">
          <ion-col class="select-item-ph">
            <!-- <ion-label mode="md" class="select-title-ph" position="stacked">{{gamenLable.date}}</ion-label> -->
            <ion-select
              [interfaceOptions]="platformtype==='photobook-view-set-mobile'?{cssClass: 'dkj-alert', header: gamenLable.date}:{cssClass: 'dkj-alert'}"
              [interface]="platformtype==='photobook-view-set-mobile'?'alert':'popover'" cancelText="キャンセル"
              class="select-style-ph" [(ngModel)]="selectDate" (ngModelChange)="itemChange(gamenLable.date, selectDate)"
              mode="md">
              <ion-select-option *ngFor="let item of gamenLable.dateItems" [value]="item.key">{{item.value}}
              </ion-select-option>
            </ion-select>
          </ion-col>
          <ion-col class="select-item-ph">
            <!-- <ion-label mode="md" class="select-title-ph" position="stacked">{{gamenLable.time}}</ion-label> -->
            <ion-select
              [interfaceOptions]="platformtype==='photobook-view-set-mobile'?{cssClass: 'dkj-alert', header: gamenLable.time}:{cssClass: 'dkj-alert'}"
              [interface]="platformtype==='photobook-view-set-mobile'?'alert':'popover'" cancelText="キャンセル"
              class="select-style-ph" [(ngModel)]="selectTime" (ngModelChange)="itemChange(gamenLable.time, selectTime)"
              mode="md">
              <ion-select-option *ngFor="let item of gamenLable.timeItems" [value]="item.key">{{item.value}}
              </ion-select-option>
            </ion-select>
          </ion-col>
          <ion-col class="select-item-ph">
          </ion-col>
          <ion-col class="select-item-ph">
          </ion-col>
        </ion-row>
        <!-- row 3 end -->
      </ion-grid>
      <!-- grid 3 end-->
      <!-- grid 4 start-->
      <ion-grid class="grid">
        <ion-row class="row-content row3MarginB">
          <ion-item lines="none" class="body-item w-full">
            <div class="edit-icon"><img src="./assets/icon/edit.svg"></div>
            <ion-label class="small-title">{{gamenLable.equipmentInformation}}</ion-label>
          </ion-item>
        </ion-row>
        <!-- row 4 start-->
        <ion-row class="row-content select row3MarginB">
          <ion-col class="select-item-ph">
            <!-- <ion-label mode="md" class="select-title-ph" position="stacked">{{gamenLable.unitMarkModelType}}</ion-label> -->
            <ion-select
              [interfaceOptions]="platformtype==='photobook-view-set-mobile'?{cssClass: 'dkj-alert', header: gamenLable.unitMarkModelType}:{cssClass: 'dkj-alert'}"
              [interface]="platformtype==='photobook-view-set-mobile'?'alert':'popover'" cancelText="キャンセル"
              class="select-style-ph" [(ngModel)]="selectUnitMarkModelType"
              (ngModelChange)="itemChange(gamenLable.unitMarkModelType, selectUnitMarkModelType)" mode="md">
              <ion-select-option *ngFor="let item of gamenLable.unitMarkModelTypeItems" [value]="item.key">
                {{item.value}}</ion-select-option>
            </ion-select>
          </ion-col>
          <ion-col class="select-item-ph">
            <!-- <ion-label mode="md" class="select-title-ph" position="stacked">{{gamenLable.machineNumber}}</ion-label> -->
            <ion-select
              [interfaceOptions]="platformtype==='photobook-view-set-mobile'?{cssClass: 'dkj-alert', header: gamenLable.machineNumber}:{cssClass: 'dkj-alert'}"
              [interface]="platformtype==='photobook-view-set-mobile'?'alert':'popover'" cancelText="キャンセル"
              class="select-style-ph" [(ngModel)]="selectMachineNumber"
              (ngModelChange)="itemChange(gamenLable.machineNumber, selectMachineNumber)" mode="md">
              <ion-select-option *ngFor="let item of gamenLable.machineNumberItems" [value]="item.key">{{item.value}}
              </ion-select-option>
            </ion-select>
          </ion-col>
          <ion-col class="select-item-ph">
          </ion-col>
          <ion-col class="select-item-ph">
          </ion-col>
        </ion-row>
        <!-- row 4 end-->
      </ion-grid>
      <!-- grid 4 end-->
      <!-- grid 5 start-->
      <ion-grid class="grid">
        <ion-row class="row-content row3MarginB">
          <ion-item lines="none" class="body-item w-full">
            <div class="edit-icon"><img src="./assets/icon/edit.svg"></div>
            <ion-label class="small-title">{{gamenLable.other}}</ion-label>
          </ion-item>
        </ion-row>
        <!-- row 5 start-->
        <ion-row class="row-content select row3MarginB">
          <ion-col class="select-item-ph">
            <!-- <ion-label mode="md" class="select-title-ph" position="stacked">{{gamenLable.witness}}</ion-label> -->
            <ion-select
              [interfaceOptions]="platformtype==='photobook-view-set-mobile'?{cssClass: 'dkj-alert', header: gamenLable.witness}:{cssClass: 'dkj-alert'}"
              [interface]="platformtype==='photobook-view-set-mobile'?'alert':'popover'" cancelText="キャンセル"
              class="select-style-ph" [(ngModel)]="selectWitness"
              (ngModelChange)="itemChange(gamenLable.witness, selectWitness)" mode="md">
              <ion-select-option *ngFor="let item of gamenLable.witnesslItems" [value]="item.key">{{item.value}}
              </ion-select-option>
            </ion-select>
          </ion-col>
          <ion-col class="select-item-ph">
            <!-- <ion-label mode="md" class="select-title-ph" position="stacked">{{gamenLable.constructionCompany}}</ion-label> -->
            <ion-select
              [interfaceOptions]="platformtype==='photobook-view-set-mobile'?{cssClass: 'dkj-alert', header: gamenLable.constructionCompany}:{cssClass: 'dkj-alert'}"
              [interface]="platformtype==='photobook-view-set-mobile'?'alert':'popover'" cancelText="キャンセル"
              class="select-style-ph" [ngClass]="{'long': selectConstructionCompany == 0}"
              [(ngModel)]="selectConstructionCompany"
              (ngModelChange)="itemChange(gamenLable.constructionCompany, selectConstructionCompany)" mode="md">
              <ion-select-option *ngFor="let item of gamenLable.constructionCompanyItems" [value]="item.key">
                {{item.value}}</ion-select-option>
            </ion-select>
          </ion-col>
          <ion-col class="select-item-ph">
            <!-- <ion-label mode="md" class="select-title-ph" position="stacked">{{gamenLable.freeColumn}}</ion-label> -->
            <ion-select
              [interfaceOptions]="platformtype==='photobook-view-set-mobile'?{cssClass: 'dkj-alert', header: gamenLable.freeColumn}:{cssClass: 'dkj-alert'}"
              [interface]="platformtype==='photobook-view-set-mobile'?'alert':'popover'" cancelText="キャンセル"
              class="select-style-ph" [(ngModel)]="selectFreeColumn"
              (ngModelChange)="itemChange(gamenLable.freeColumn, selectFreeColumn)" mode="md">
              <ion-select-option *ngFor="let item of gamenLable.freeColumnItems" [value]="item.key">{{item.value}}
              </ion-select-option>
            </ion-select>
          </ion-col>
          <ion-col class="select-item-ph">
          </ion-col>
        </ion-row>
        <!-- row 5 end-->
      </ion-grid>
      <!-- grid 5 end-->
    </div>
  </div>
</ion-content>
<!-- <app-footer></app-footer> -->
<ion-footer [ngClass]="platformtype" class="photo-footer">
  <div class="container-footer">
    <div class="prev-btn" (click)="prevPage()"><span class="arrow-left"></span>{{gamenLable.return}}</div>
    <div class="pageing">
      <ion-label class="photo-footer-label"></ion-label>
      <ion-label class="photo-footer-label active"></ion-label>
      <ion-label class="photo-footer-label"></ion-label>
    </div>
    <div class="next-btn" (click)="nextPage()">{{gamenLable.moveOn}}<span class="arrow-right"></span></div>
  </div>
</ion-footer>
