.photobook-view-set-web {
  display: flex;
  flex-direction: column;
  .w-full {
    width: 100%;
  }
  .container {
    width: 1024px;
    height: 300px;
    margin: 0 auto;
    .table-container {
      background-color: #AFAFAF;
      padding: 11px 0;
        .header-div{
          width:457px;
          margin:auto;
         background-color: #ffffff;
         border-left: #707070 1px solid;
         border-top: #707070 1px solid;
         border-right: #707070 1px solid;
         
    }
       .headertitle{
         padding:5px;
        white:100%;
        color: #59595C;
        font-size: 16px;
        font-weight: 400;
        text-align:center;
    }
      table {
        width: 457px;
        margin: 0 auto;
        border-color: #707070;
        background-color: #ffffff;
        font-size: 16px;
        box-shadow: 0px 3px 6px #00000029;
        th {
          font-size: 15px;
        }
        td, th {
          height: 32px;
          color: #59595C;
        }
        .table-photo {
          width: 218px;
          padding: 12px;
          .photo {
            border: 1px dashed #707070;
            height: 100%;
            border-radius: 8px;
            display: flex;
            justify-content: center;
            align-items: center;
          }
        }
        .table-value {
          padding: 0 5px;
          position: relative;
          span {
            position: absolute;
            right: 10px;
            left: 60px;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
          }
        }
      }
    }
    .select-container {
      flex: 1;
      width: 720px;
      margin: 0 auto;
      .body-title {
        font-size: 20px;
        color: #59595C;
        padding: 15px 0;
        text-align: center;
        ion-label {
          margin: 0;
        }
      }
      .grid {
        display: flex;
        padding: 0;
        margin-top: 40px;
        .row-content {
          .body-item {
            color: #000000;
            --padding-start: 0;
            .edit-icon {
              background-color: rgba(0, 0, 0, 0.26);
              width: 24px;
              height: 24px;
              border-radius: 50%;
              display: flex;
              justify-content: center;
              align-items: center;
              top: 3px;
              position: relative;
              img {
                width: 16px;
                height: 16px;
              }
            }
            .small-title {
              margin-top: 0;
              font-size: var(--label-font-size-24-web);
              margin-bottom: 0;
              margin-left: 15px;
            }
          }
          .select-item-ph {
            --padding-start: 16px;
            position: relative;
            --inner-padding-end: 0px;
            --min-height: 30px;
            --inner-padding-top: 0px;
            .select-title-ph {
              text-overflow: inherit;
              overflow: visible;
              position: absolute;
              background: #fff;
              z-index: 999;
              top: -10px;
              display: inline-block;
              width: auto;
              left: 13px;
              padding: 0 5px;
              font-size: var(--label-font-size-18-web);
              transform: translate3d(0,0,0) scale(1);
              color: #59595C;
            }
            .select-style-ph {
              border: 1px solid #707070;
              border-radius: 3px;
              height: var(--selectBox-height-48-web);
              text-align: center;
              --padding-start: 12px;
              font-size: 20px;
              color: #59595C;
              display: flex;
              align-items: center;
              padding-right: 5px;
              .select-icon {
                width: 24px;
                height: 30px;
              }
            }
          }
        }
        .row-content:nth-child(1) {
          width: 160px;
        }
        .row-content:nth-child(2) {
          flex: 1;
        }
      }
      .grid1 {
        margin-top: 10px !important;
      }
    }
  }
  ion-item {
    --min-height: 40px;
  }
}
.photobook-view-set-web.photo-footer {
  height: 50px;
  position: relative;
  font-size: 14px;
  background: #000;
  border: none;
  width: 100%;
  .container-footer {
    width: 1024px;
    margin: 0 auto;
    height: 50px;
    position: relative;
    .pageing {
      position: absolute;
      width: 100px;
      text-align: center;
      top: 12px;
      left: 50%;
      margin-left: -50px;
      .photo-footer-label {
        background-color: rgba(255, 255, 255, .54);
        height: 6px;
        width: 6px;
        border-radius: 50%;
        display: inline-block;
        margin-left: 5px;
      }
      .active {
        background-color: #0097E0;
      }
    }
    .prev-btn {
      position: absolute;
      left: 15px;
      margin-top: 15px;
      color: #fff;
      cursor: pointer;
      width: 80px;
      padding-left: 15px;
      .arrow-left {
        position: absolute;
        border-top: 2px solid #fff;
        display: inline-block;
        width: 10px;
        border-right: 2px solid #fff;
        height: 10px;
        transform: rotate(-135deg);
        top: 6px;
        left: 0;
      }
    }
    .next-btn{
      position: absolute;
      right: 15px;
      margin-top: 15px;
      color: #fff;
      cursor: pointer;
      width: 80px;
      text-align: right;
      padding-right: 15px;
      .arrow-right {
        position: absolute;
        border-top: 2px solid #fff;
        display: inline-block;
        width: 10px;
        border-right: 2px solid #fff;
        height: 10px;
        transform: rotate(45deg);
        top: 5px;
        right: 0;
      }
    }
  }
}