<ion-list>
  <ion-item (click)="movePin()">
    <mat-icon slot="start">location_on</mat-icon>
    <ion-label>{{ gamenLable.pinMove }}</ion-label>
  </ion-item>
  <ion-item (click)="deletePin()" *ngIf="canDelete">
    <mat-icon slot="start">delete</mat-icon>
    <ion-label>{{ gamenLable.pinDelete }}</ion-label>
  </ion-item>
</ion-list>
