
<ion-header>
  <ion-toolbar>
    <ion-title  class="ion-title">向库存添加商品</ion-title>
  </ion-toolbar>
</ion-header>

 <ion-content>
   <ion-item>
    <label>供应商账号:</label> <input type = "text "  maxlength="10" min="1"/>
   </ion-item>

    <ion-item>
     <label>商品类型:</label>
     <select name = "costType" id ="costType" [(ngModel)] = "costInfo.costType">
      <option [value] ="item" *ngFor = "let item of costInfo.costTypeList">{{item}}</option>
     </select>&nbsp;

     <label>运营商:</label>
     <select name = "provideSevice" id ="provideSevice" [(ngModel)] = "costInfo.provideSevice">
      <option [value] ="item1" *ngFor = "let item1 of costInfo.provideSerivceList">{{item1}}</option>
     </select>&nbsp;
    
     <label>号码类型:</label>
     <select name = "teletype" id ="teletype" [(ngModel)] = "costInfo.teletype">
      <option [value] ="item2" *ngFor = "let item2 of costInfo.teletypeList">{{item2}}</option>
     </select>&nbsp;
    
     <label>省份:</label>
     <select name = "province" id ="province" [(ngModel)] = "costInfo.province">
      <option [value] ="item3" *ngFor = "let item3 of costInfo.provinceList">{{item3}}</option>
     </select>&nbsp;

     <label>详细地址：</label> <input type = "text "  maxlength="10" min="1"/>
    </ion-item>
  
    <ion-item>
     <label>商品面值：</label> <input type = "text "  maxlength="10" min="1"/>&nbsp;
     <label>商品代码：</label> <input type = "text "  maxlength="10" min="1"/>&nbsp;
     <label>商品名称：</label> <input type = "text "  maxlength="10" min="1"/>&nbsp;
    </ion-item>

    <ion-item>
      <ion-button class="toroku-button" color="primary" (click)="onSearch()">增加</ion-button>
      <ion-button class="toroku-button" color="primary"  routerLink ='/homepage'>返回</ion-button>
    </ion-item>

  </ion-content>



