<app-head></app-head>
<div class="breadcrumb" [ngClass]="platformtype">
  <div class="strLimmit" (press)="onPressBuilding($event)">
    <ion-label class="whitespace_pre">{{buildingName}}/</ion-label>
    <ion-label class="whitespace_pre">{{projectName}}/</ion-label>
    <ion-label *ngIf="!isPc">{{bigprocessName}}</ion-label>
  </div>
  <div class="bigprocess" *ngIf="isPc">
    <!-- <select [(ngModel)]="gamenDto.selectedBigprocess"
      (change)='comboxChange(gamenDto.selectedBigprocess)'>
      <option value="{{ gamenLable.bigprocess03 }}">{{ gamenLable.bigprocess03Value }}</option>
      <option value="{{ gamenLable.bigprocess04 }}">{{ gamenLable.bigprocess04Value }}</option>
    </select> -->
    <ion-select class="combox" [(ngModel)]="gamenDto.selectedBigprocess" (ionChange)="comboxChange(gamenDto.selectedBigprocess)" 
      interface="popover" [interfaceOptions]="{cssClass: 'dkj-alert'}" mode="md">
      <ion-select-option value="{{ gamenLable.bigprocess03 }}">{{ gamenLable.bigprocess03Value }}</ion-select-option>
      <ion-select-option value="{{ gamenLable.bigprocess04 }}">{{ gamenLable.bigprocess04Value }}</ion-select-option>
    </ion-select>
  </div>
</div>

<ion-content class="process-create-content" [ngClass]="platformtype">
  <div class="ion-list-layout">
    <ng-container *ngFor="let process of gamenDto.processList">
      <div class="under-line" *ngIf="process.isOpen && platformtype !== 'processCreate-mobile'"></div>
      <ion-list class="processDiv" [lines]="process.isOpen || platformtype !== 'processCreate-mobile' ? 'none' : ''">
        <ion-item>
          <div class="processColomn2">{{process.displayOrder}}</div>
          <div class="item-left processColomn3 whitespace_pre_wrap" (press)="onPress($event,process.processName)">{{process.processName}}</div>
          <ion-img src="./assets/icon/arrow-up.svg" class="item-right" slot="end" *ngIf="process.isOpen"
            (click)="expandChange(process)">
          </ion-img>
          <ion-img src="./assets/icon/arrow-down.svg" class="item-right" slot="end" *ngIf="!process.isOpen"
            (click)="expandChange(process)">
          </ion-img>
        </ion-item>
  
        <div *ngIf="process.isOpen">
          <div class="under-line-short" *ngIf="platformtype === 'processCreate-mobile'"></div>
          <ion-list *ngFor="let work of process.workList;" style="margin: 0px;padding: 0px;">
            <ion-item lines="none">
              <div class="item-left workColomn2 whitespace_pre_wrap" (press)="onPress($event,work.workName)">{{ work.workName }}</div>
  
            </ion-item>
          </ion-list>
          <div>
            <ion-item lines="none">
              <ion-img src="./assets/icon/ic_add.svg" class="add-icon"></ion-img>
              <span class="addWork"
                (click)="openAddWorkDialog(process)">{{gamenLable.addWorkLabel}}</span></ion-item>
            <div class="under-line-end" *ngIf="platformtype === 'processCreate-mobile'"></div>
          </div>
        </div>
      </ion-list>
      <!-- <div class="under-line" *ngIf="process.isOpen && platformtype !== 'processCreate-mobile'"></div> -->
    </ng-container>
    <div class="add-progress-line">
      <ion-img src="./assets/icon/ic_add.svg" class="add-bottom-icon"></ion-img>
      <ion-label class="addProcess" (click)="openAddProcessDialog()">{{gamenLable.addProcessLabel}}</ion-label>
    </div>
  </div>
</ion-content>
<!-- <app-footer></app-footer> -->
