.processCreate-web {

  &.breadcrumb {
    color: #ffffff;
    background-color: #27282B;
    height: 40px;
    line-height: 40px;
    display: flex;

    .strLimmit {
      padding-left: 16px;
      font-size: 14px;
      margin-right: 32.5px;
    }

    .bigprocess {
      background: #27282b;
      height: 40px;
      line-height: 40px;
      font-size: 14px;

      .combox {
        --padding-top:10px;
        --padding-start:0;
        --padding-bottom:0;
        line-height: 20px;
      }
      select {
        border: none;
        outline: none;
        padding-right: 34.46px;
        appearance: none;
        -moz-appearance: none;
        -webkit-appearance: none;
        background: url(../../../../../assets/icon/ic_arrow_drop_down.svg) no-repeat scroll right center #27282b;
      }

      option {
        background: #FFFFFF;
        color: black;
      }
    }
  }

  &.process-create-content {
    --background: #EAEBEC;

    .ion-list-layout {
      width: 1024px;
      margin: 0 auto;
      background: #FFFFFF;
      box-shadow: 0px 1px 3px rgba(0,0,0,0.4);
      border-radius: 4px;
      height: 100%;
      padding: 32px 66px;
      overflow: auto;
    }

    ion-item {
      --padding-start: 16px;
      --padding-end: 16px;
      --min-height: 48px !important;
      --inner-padding-end: 0;
    }

    .processColomn2 {
      width: 24px;
      min-width: 24px;
      margin-top: auto;
      margin-bottom: auto;
      text-align: center;
      margin-right: 32px;
      font-size: 16px;
      color: black;
    }

    .processDiv {
      padding: 0;
      margin: 0;
      --ion-border-color:#EAEBEC;
    }

    .processColomn3 {
      margin-top: 0.115rem;
      margin-bottom: auto;
      word-break: break-all;
      font-size: 16px;
      color: black;
    }

    .item-left {
      display: inline-block;
    }
    
    .item-right {
      display: inline-block;
      margin-left: auto;
      width: 24px;
      height: 24px;
      cursor: pointer;
    }

    .under-line {
      height: 1px;
      background: #EAEBEC;
      width: calc(100% - 32px);
      margin-top: 7.85px;
      margin-bottom: 7.91px;
      margin-left: 16px;
      margin-right: 16px;
    }

    .workColomn2 {
      margin-top: 13px;
      margin-bottom: 13px;
      word-break: break-all;
      color: #000000;
      margin-left: 56px;
      margin-right: 24px;
    }

    .addWork {
      color: #0097E0;
      cursor: pointer;
      margin-left: 8px;
      font-size: var(--label-font-size-16-web);
    }
  }

  .add-icon {
    width: 24px;
    height: 24px;
    margin-left: 56px;
  }

  .add-progress-line {
    display: flex;
    flex-direction: row;
    margin-top: 11.54px;
  }

  .add-bottom-icon {
    width: 24px;
    height: 24px;
    margin-left: 17px;
  }

  .addProcess {
    color: #0097E0;
    cursor: pointer;
    margin-left: 8px;
    font-size: var(--label-font-size-16-web);
  }
}
