.processCreate-mobile {
  &.breadcrumb {
    color: #ffffff;
    background-color: #27282B;
    height: 0.4rem;
    line-height: 0.4rem;
    display: flex;

    .strLimmit {
      padding-left: 0.16rem;
      font-size: 0.14rem;
      padding-right: 0.16rem;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }
  }

  &.process-create-content {
    --background: #FFFFFF;

    .ion-list-layout {
      width: 100%;
      padding: 0.17rem 0;
    }

    ion-item {
      --padding-start: 0;
      --padding-end: 0;
      --min-height: 0.48rem !important;
      --inner-padding-end: 0.16rem;
    }

    .processColomn2 {
      width: 0.24rem;
      min-width: 0.24rem;
      margin-top: auto;
      margin-bottom: auto;
      text-align: center;
      margin-right: 0.32rem;
      font-size: 0.16rem;
      color: black;
      margin-left: 0.16rem;
    }

    .processDiv {
      padding: 0;
      margin: 0;
      --ion-border-color:#EAEBEC;
    }

    .processColomn3 {
      margin-top: 0.115rem;
      margin-bottom: 0.115rem;
      word-break: break-all;
      font-size: 0.16rem;
      color: black;
    }

    .item-left {
      display: inline-block;
    }
    
    .item-right {
      display: inline-block;
      margin-left: auto;
      width: 0.24rem;
      height: 0.24rem;
      cursor: pointer;
    }

    .under-line {
      height: 1px;
      background: #EAEBEC;
      width: 100%;
      margin-top: 0.0785rem;
      margin-bottom: 0.0791rem;
    }

    .under-line-short {
      height: 1px;
      background: #EAEBEC;
      width: 100%;
      margin-left: 0.72rem;
    }

    .under-line-end {
      height: 1px;
      background: #EAEBEC;
      width: 100%;
    }

    .workColomn2 {
      margin-top: 0.115rem;
      margin-bottom: auto;
      word-break: break-all;
      color: #000000;
      margin-left: 0.72rem;
      margin-right: 0.30rem;
      font-size: 0.16rem;
    }

    .addWork {
      color: #0097E0;
      cursor: pointer;
      margin-left: 0.08rem;
      font-size: var(--label-font-size-16-mobile);
    }
  }

  .add-icon {
    width: 0.24rem;
    height: 0.24rem;
    margin-left: 0.72rem;
  }

  .add-progress-line {
    display: flex;
    flex-direction: row;
    margin-top: 0.1154rem;
  }

  .add-bottom-icon {
    width: 0.24rem;
    height: 0.24rem;
    margin-left: 0.17rem;
  }

  .addProcess {
    color: #0097E0;
    cursor: pointer;
    margin-left: 0.08rem;
    font-size: var(--label-font-size-16-mobile);
  }
}
