.processCreate-winapp {

  &.breadcrumb {
    color: #ffffff;
    background-color: #27282B;
    height: 62px;
    line-height: 62px;
    display: flex;

    .strLimmit {
      padding-left: 29px;
      font-size: 20px;
    }
  }

  &.process-create-content {
    background: #FFFFFF;

    .ion-list-layout {
      width: 900px;
      height: calc(100% - 8px);
      margin: 0 auto;
    }

    ion-item {
      --padding-start: 16px;
      --padding-end: 16px;
      --min-height: 48px !important;
      --inner-padding-end: 0;
      font-size: 24px;
    }

    .processColomn2 {
      height: 77px;
      line-height: 77px;
      width: 30px;
      min-width: 30px;
      margin-top: auto;
      margin-bottom: auto;
      text-align: center;
      margin-right: 32px;
      color: black;
    }

    .processDiv {
      padding: 0;
      margin: 0;
      --ion-border-color:#EAEBEC;
    }

    .processColomn3 {
      margin-top: auto;
      margin-bottom: auto;
      word-break: break-all;
      color: black;
    }

    .item-left {
      display: inline-block;
    }
    
    .item-right {
      display: inline-block;
      margin-left: auto;
      width: 24px;
      height: 24px;
      cursor: pointer;
    }

    .under-line {
      height: 1px;
      background: #EAEBEC;
      width: calc(100% - 32px);
      margin-top: 7.85px;
      margin-bottom: 7.91px;
      margin-left: 16px;
      margin-right: 16px;
    }

    .workColomn2 {
      margin-top: 17px;
      margin-bottom: 17px;
      word-break: break-all;
      color: #000000;
      margin-left: 62px;
      margin-right: 24px;
    }

    .addWork {
      height: 77px;
      line-height: 77px;
      color: #0097E0;
      cursor: pointer;
      margin: 0 0 0 8px;
    }
  }

  .add-icon {
    width: 24px;
    height: 24px;
    margin-left: 63px;
  }

  .add-progress-line {
    height: 77px;
    line-height: 77px;
    display: flex;
    flex-direction: row;
    margin-top: 13px;
    padding-left: 21px;
    font-size: 24px;
  }

  .add-bottom-icon {
    width: 24px;
    height: 24px;
    margin-top: 25px;
  }

  .addProcess {
    color: #0097E0;
    cursor: pointer;
    margin-left: 8px;
  }
}
