<app-head></app-head>
<ion-content class="padding-center uploadConfrim">

  <ion-grid>
    <ion-row>
      <ion-col class="ion-text-right" size="5">
        {{settingTargetLabel}}:
      </ion-col>
      <ion-col class="ion-text-left" size="7">
        {{settingTargetName}}
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col class="ion-text-right" size="5">
        {{targetBuildingLabel}}:
      </ion-col>
      <ion-col class="ion-text-left whitespace_pre_wrap" size="7">
        {{targetBuildingName}}
      </ion-col>
    </ion-row>
    <!-- <ion-row>
      <ion-col class="ion-text-right" size="5">
        {{targetProjectLabel}}:
      </ion-col>
      <ion-col  class="ion-text-left" size="7">
        {{targetProjectName}}
      </ion-col>
    </ion-row> -->
    <ion-row>
      <ion-col class="ion-text-right" size="5">
        {{inputCsvLabel}}:
      </ion-col>
      <ion-col class="ion-text-left whitespace_pre_wrap" size="7">
        {{inputCsvPath}}
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col class="ion-text-right" size="5">
        {{inputPdfLabel}}:
      </ion-col>
      <ion-col class="ion-text-left whitespace_pre_wrap" size="7">
        {{inputPdfPath}}
      </ion-col>
    </ion-row>


  </ion-grid>

  <ion-label class="naiyoulabel">{{registerDetailLabel}}</ion-label>

  <div class="list-container">
    <div class="list-content">
      <!-- <div [ngClass]="csvKbn==='04' ? 'child-div' : 'child-div'"> -->
      <div class="child-div">
        <ion-list>
          <ng-container *ngIf="csvKbn==='01'">
            <ion-item class="head-title minW2300">
              <ion-col size="1.1">{{userCsvHead[0]}}</ion-col>
              <ion-col size="1.1">{{userCsvHead[1]}}</ion-col>
              <ion-col size="1.1">{{userCsvHead[2]}}</ion-col>
              <ion-col size="1.1">{{userCsvHead[3]}}</ion-col>
              <ion-col size="1.1">{{userCsvHead[4]}}</ion-col>
              <ion-col size="1.1">{{userCsvHead[5]}}</ion-col>
              <ion-col size="1.1">{{userCsvHead[6]}}</ion-col>
              <ion-col size="1.1">{{userCsvHead[7]}}</ion-col>
            </ion-item>
            <!-- <ng-container *ngFor="let userCsv of userCsvDisplayData"> -->
            <ion-item class="minW2300" *ngFor="let userCsv of userCsvDisplayData">
              <ion-col size="1.1">{{userCsv.uesrKbn}}</ion-col>
              <ion-col size="1.1">{{userCsv.uesrId}}</ion-col>
              <ion-col size="1.1" class="whitespace_pre_wrap">{{userCsv.bearersName}}</ion-col>
              <ion-col size="1.1">{{userCsv.mailAdd}}</ion-col>
              <ion-col size="1.1">{{userCsv.password}}</ion-col>
              <ion-col size="1.1" class="whitespace_pre_wrap">{{userCsv.kaishaName}}</ion-col>
              <ion-col size="1.1">{{userCsv.author}}</ion-col>
              <ion-col size="1.1">{{userCsv.message}}</ion-col>
            </ion-item>
            <!-- </ng-container> -->
          </ng-container>
          <ng-container *ngIf="csvKbn==='02'">
            <ion-item class="head-title minW2300">
              <ion-col size="1.1">{{bukenCsvHead[0]}}</ion-col>
              <ion-col size="1.1">{{bukenCsvHead[1]}}</ion-col>
              <ion-col size="1.1">{{bukenCsvHead[2]}}</ion-col>
              <ion-col size="1.1">{{bukenCsvHead[3]}}</ion-col>
              <ion-col size="1.1">{{bukenCsvHead[4]}}</ion-col>
              <ion-col size="1.1">{{bukenCsvHead[5]}}</ion-col>
              <ion-col size="1.1">{{bukenCsvHead[6]}}</ion-col>
              <ion-col size="1.1">{{bukenCsvHead[7]}}</ion-col>
              <ion-col size="1.1">{{bukenCsvHead[8]}}</ion-col>
            </ion-item>
            <ion-item class="minW2300" *ngFor="let bukenCsv of bukenCsvDisplayData">
              <ion-col size="1.1">{{bukenCsv.bukenKbn}}</ion-col>
              <ion-col size="1.1">{{bukenCsv.bukenId}}</ion-col>
              <ion-col size="1.1" class="whitespace_pre_wrap">{{bukenCsv.bukenName}}</ion-col>
              <ion-col size="1.1">{{bukenCsv.bukenPost}}</ion-col>
              <ion-col size="1.1">{{bukenCsv.add1}}</ion-col>
              <ion-col size="1.1">{{bukenCsv.add2}}</ion-col>
              <ion-col size="1.1">{{bukenCsv.add3}}</ion-col>
              <ion-col size="1.1">{{bukenCsv.telephone}}</ion-col>
              <ion-col size="1.1">{{bukenCsv.message}}</ion-col>
            </ion-item>
          </ng-container>
          <ng-container *ngIf="csvKbn==='03'">
            <ion-item class="head-title minW2300">
              <ion-col size="1.0">{{bukenHeyaBasyoCsvHead[0]}}</ion-col>
              <ion-col size="1.0">{{bukenHeyaBasyoCsvHead[1]}}</ion-col>
              <ion-col size="1.0">{{bukenHeyaBasyoCsvHead[2]}}</ion-col>
              <ion-col size="1.0">{{bukenHeyaBasyoCsvHead[3]}}</ion-col>
              <ion-col size="1.0">{{bukenHeyaBasyoCsvHead[4]}}</ion-col>
              <ion-col size="1.0">{{bukenHeyaBasyoCsvHead[5]}}</ion-col>
              <ion-col size="1.0">{{bukenHeyaBasyoCsvHead[6]}}</ion-col>
              <ion-col size="1.0">{{bukenHeyaBasyoCsvHead[7]}}</ion-col>
              <ion-col size="1.0">{{bukenHeyaBasyoCsvHead[8]}}</ion-col>
              <ion-col size="1.0">{{bukenHeyaBasyoCsvHead[9]}}</ion-col>
              <ion-col size="1.0">{{bukenHeyaBasyoCsvHead[10]}}</ion-col>
              <ion-col size="1.0">{{bukenHeyaBasyoCsvHead[11]}}</ion-col>
            </ion-item>
            <ion-item class="minW2300" *ngFor="let bukenHeyaBasyoCsv of bukenHeyaBasyoDisplayCsvData">
              <ion-col size="1.0">{{bukenHeyaBasyoCsv.bukenId}}</ion-col>
              <ion-col size="1.0" class="whitespace_pre_wrap">{{bukenHeyaBasyoCsv.bukenName}}</ion-col>
              <ion-col size="1.0">{{bukenHeyaBasyoCsv.froaKbn}}</ion-col>
              <ion-col size="1.0">{{bukenHeyaBasyoCsv.froaId}}</ion-col>
              <ion-col size="1.0" class="whitespace_pre_wrap">{{bukenHeyaBasyoCsv.froaName}}</ion-col>
              <ion-col size="1.0">{{bukenHeyaBasyoCsv.heyaKbn}}</ion-col>
              <ion-col size="1.0">{{bukenHeyaBasyoCsv.heyaId}}</ion-col>
              <ion-col size="1.0" class="whitespace_pre_wrap">{{bukenHeyaBasyoCsv.heyaName}}</ion-col>
              <ion-col size="1.0">{{bukenHeyaBasyoCsv.basyoKbn}}</ion-col>
              <ion-col size="1.0">{{bukenHeyaBasyoCsv.basyoId}}</ion-col>
              <ion-col size="1.0" class="whitespace_pre_wrap">{{bukenHeyaBasyoCsv.basyoName}}</ion-col>
              <ion-col size="1.0">{{bukenHeyaBasyoCsv.message}}</ion-col>
            </ion-item>
          </ng-container>
          <ng-container *ngIf="csvKbn==='04'">
            <ion-item class="head-title minW2300">
              <ion-col size="0.8">{{ankenCsvHead[0]}}</ion-col>
              <ion-col size="0.8">{{ankenCsvHead[1]}}</ion-col>
              <ion-col size="0.8">{{ankenCsvHead[2]}}</ion-col>
            </ion-item>
            <ion-item class="minW2300" *ngFor="let ankenCsv of ankenDisplayCsvData">
              <ion-col size="0.8">{{ankenCsv.ankenId}}</ion-col>
              <ion-col size="0.8" class="whitespace_pre_wrap">{{ankenCsv.ankenName}}</ion-col>
              <ion-col size="0.8">{{ankenCsv.message}}</ion-col>
            </ion-item>
            <ion-item class="head-title minW2300">
              <ion-col size="0.8">{{userKanliCsvHead[0]}}</ion-col>
              <ion-col size="0.8">{{userKanliCsvHead[1]}}</ion-col>
              <ion-col size="0.8">{{userKanliCsvHead[2]}}</ion-col>
            </ion-item>
            <ion-item class="minW2300" *ngFor="let userKanliCsv of userKanliDisplayCsvData">
              <ion-col size="0.8">{{userKanliCsv.userKbn}}</ion-col>
              <ion-col size="0.8">{{userKanliCsv.userId}}</ion-col>
              <ion-col size="0.8">{{userKanliCsv.message}}</ion-col>
            </ion-item>
            <ion-item class="head-title minW2300">
              <ion-col size="0.8">{{bukenZumenInfoCsvHead[0]}}</ion-col>
              <ion-col size="0.8">{{bukenZumenInfoCsvHead[1]}}</ion-col>
              <ion-col size="0.8">{{bukenZumenInfoCsvHead[2]}}</ion-col>
              <ion-col size="0.8">{{bukenZumenInfoCsvHead[3]}}</ion-col>
              <ion-col size="0.8">{{bukenZumenInfoCsvHead[4]}}</ion-col>
            </ion-item>
            <ion-item class="minW2300" *ngFor="let bukenZumenInfoCsv of bukenZumenInfoDisplayCsvData">
              <ion-col size="0.8">{{bukenZumenInfoCsv.zumenKbn}}</ion-col>
              <ion-col size="0.8" class="whitespace_pre_wrap">{{bukenZumenInfoCsv.froaName}}</ion-col>
              <ion-col size="0.8" class="whitespace_pre_wrap">{{bukenZumenInfoCsv.zumenPath}}</ion-col>
              <ion-col size="0.8" class="whitespace_pre_wrap">{{bukenZumenInfoCsv.zumenName}}</ion-col>
              <ion-col size="0.8">{{bukenZumenInfoCsv.message}}</ion-col>
            </ion-item>
            <ion-item class="head-title minW2300">
              <ion-col size="0.8">{{machineInfoCsvHead[0]}}</ion-col>
              <ion-col size="0.8">{{machineInfoCsvHead[1]}}</ion-col>
              <ion-col size="0.8">{{machineInfoCsvHead[2]}}</ion-col>
              <ion-col size="0.8">{{machineInfoCsvHead[3]}}</ion-col>
              <ion-col size="0.8">{{machineInfoCsvHead[4]}}</ion-col>
              <ion-col size="0.8">{{machineInfoCsvHead[5]}}</ion-col>
              <ion-col size="0.8">{{machineInfoCsvHead[6]}}</ion-col>
              <ion-col size="0.8">{{machineInfoCsvHead[7]}}</ion-col>
              <ion-col size="0.8">{{machineInfoCsvHead[8]}}</ion-col>
            </ion-item>
            <ion-item class="minW2300" *ngFor="let machineInfoCsv of machineInfoDisplayCsvData">
              <ion-col size="0.8">{{machineInfoCsv.machineKbn}}</ion-col>
              <ion-col size="0.8" class="whitespace_pre_wrap">{{machineInfoCsv.sysName}}</ion-col>
              <ion-col size="0.8" class="whitespace_pre_wrap">{{machineInfoCsv.signal}}</ion-col>
              <ion-col size="0.8" class="whitespace_pre_wrap">{{machineInfoCsv.outMachineName}}</ion-col>
              <ion-col size="0.8" class="whitespace_pre_wrap">{{machineInfoCsv.inMachineName}}</ion-col>
              <ion-col size="0.8" class="whitespace_pre_wrap">{{machineInfoCsv.froaName}}</ion-col>
              <ion-col size="0.8" class="whitespace_pre_wrap">{{machineInfoCsv.heyaName}}</ion-col>
              <ion-col size="0.8" class="whitespace_pre_wrap">{{machineInfoCsv.basyoName}}</ion-col>
              <ion-col size="0.8">{{machineInfoCsv.message}}</ion-col>
            </ion-item>
            <ion-item class="head-title minW2300">
              <ion-col size="0.8">{{projInfoCsvHead[0]}}</ion-col>
              <ion-col size="0.8">{{projInfoCsvHead[1]}}</ion-col>
              <ion-col size="0.8">{{projInfoCsvHead[2]}}</ion-col>
              <ion-col size="0.8">{{projInfoCsvHead[3]}}</ion-col>
              <ion-col size="0.8">{{projInfoCsvHead[4]}}</ion-col>
              <ion-col size="0.8">{{projInfoCsvHead[5]}}</ion-col>
              <ion-col size="0.8">{{projInfoCsvHead[6]}}</ion-col>
              <ion-col size="0.8">{{projInfoCsvHead[7]}}</ion-col>
              <ion-col size="0.8">{{projInfoCsvHead[8]}}</ion-col>
            </ion-item>
            <ion-item class="minW2300" *ngFor="let projInfoCsv of projInfoDisplayCsvData">
              <ion-col size="0.8">{{projInfoCsv.bigProj}}</ion-col>
              <ion-col size="0.8">{{projInfoCsv.projId}}</ion-col>
              <ion-col size="0.8" class="whitespace_pre_wrap">{{projInfoCsv.projName}}</ion-col>
              <ion-col size="0.8">{{projInfoCsv.workId}}</ion-col>
              <ion-col size="0.8" class="whitespace_pre_wrap">{{projInfoCsv.workName}}</ion-col>
              <ion-col size="0.8">{{projInfoCsv.doBefore}}</ion-col>
              <ion-col size="0.8">{{projInfoCsv.doing}}</ion-col>
              <ion-col size="0.8">{{projInfoCsv.doafter}}</ion-col>
              <ion-col size="0.8">{{projInfoCsv.message}}</ion-col>
            </ion-item>
            <ion-item class="head-title minW2300">
              <ion-col size="0.8">{{peopleInfoCsvHead[0]}}</ion-col>
              <ion-col size="0.8">{{peopleInfoCsvHead[1]}}</ion-col>
              <ion-col size="0.8">{{peopleInfoCsvHead[2]}}</ion-col>
              <ion-col size="0.8">{{peopleInfoCsvHead[3]}}</ion-col>
              <ion-col size="0.8">{{peopleInfoCsvHead[4]}}</ion-col>
              <ion-col size="0.8">{{peopleInfoCsvHead[5]}}</ion-col>
            </ion-item>
            <ion-item class="minW2300" *ngFor="let peopleInfoCsv of peopleInfoDisplayCsvData">
              <ion-col size="0.8">{{peopleInfoCsv.peopleKbn}}</ion-col>
              <ion-col size="0.8">{{peopleInfoCsv.peopleId}}</ion-col>
              <ion-col size="0.8" class="whitespace_pre_wrap">{{peopleInfoCsv.peopleName}}</ion-col>
              <ion-col size="0.8">{{peopleInfoCsv.doKaishaId}}</ion-col>
              <ion-col size="0.8" class="whitespace_pre_wrap">{{peopleInfoCsv.doKaishaName}}</ion-col>
              <ion-col size="0.8">{{peopleInfoCsv.message}}</ion-col>
            </ion-item>
            <ion-item class="head-title minW2300">
              <ion-col size="0.8">{{blackboardProjInfoCsvHead[0]}}</ion-col>
              <ion-col size="0.8">{{blackboardProjInfoCsvHead[1]}}</ion-col>
              <ion-col size="0.8">{{blackboardProjInfoCsvHead[2]}}</ion-col>
              <ion-col size="0.8">{{blackboardProjInfoCsvHead[3]}}</ion-col>
              <ion-col size="0.8">{{blackboardProjInfoCsvHead[4]}}</ion-col>
              <ion-col size="0.8">{{blackboardProjInfoCsvHead[5]}}</ion-col>
              <ion-col size="0.8">{{blackboardProjInfoCsvHead[6]}}</ion-col>
              <ion-col size="0.8">{{blackboardProjInfoCsvHead[7]}}</ion-col>
              <ion-col size="0.8">{{blackboardProjInfoCsvHead[8]}}</ion-col>
              <ion-col size="0.8">{{blackboardProjInfoCsvHead[9]}}</ion-col>
              <ion-col size="0.8">{{blackboardProjInfoCsvHead[10]}}</ion-col>
              <ion-col size="1.0">{{blackboardProjInfoCsvHead[11]}}</ion-col>
              <ion-col size="0.8">{{blackboardProjInfoCsvHead[12]}}</ion-col>
              <ion-col size="0.8">{{blackboardProjInfoCsvHead[13]}}</ion-col>
              <ion-col size="1.0">{{blackboardProjInfoCsvHead[14]}}</ion-col>
            </ion-item>
            <ion-item class="minW2300" *ngFor="let blackboardProjInfoCsv of blackboardProjInfoDisplayCsvData">
              <ion-col size="0.8">{{blackboardProjInfoCsv.bigProj}}</ion-col>
              <ion-col size="0.8">{{blackboardProjInfoCsv.ankenFlg}}</ion-col>
              <ion-col size="0.8">{{blackboardProjInfoCsv.froaFlg}}</ion-col>
              <ion-col size="0.8">{{blackboardProjInfoCsv.heyaFlg}}</ion-col>
              <ion-col size="0.8">{{blackboardProjInfoCsv.basyoFlg}}</ion-col>
              <ion-col size="0.8">{{blackboardProjInfoCsv.lineFlg}}</ion-col>
              <ion-col size="0.8">{{blackboardProjInfoCsv.machineFlg}}</ion-col>
              <ion-col size="0.8">{{blackboardProjInfoCsv.proFlg}}</ion-col>
              <ion-col size="0.8">{{blackboardProjInfoCsv.workFlg}}</ion-col>
              <ion-col size="0.8">{{blackboardProjInfoCsv.freedomearFlg}}</ion-col>
              <ion-col size="0.8">{{blackboardProjInfoCsv.peopleFlg}}</ion-col>
              <ion-col size="1.0">{{blackboardProjInfoCsv.doKaishaFlg}}</ion-col>
              <ion-col size="0.8">{{blackboardProjInfoCsv.dateFlg}}</ion-col>
              <ion-col size="0.8">{{blackboardProjInfoCsv.timeFlg}}</ion-col>
              <ion-col size="1.0">{{blackboardProjInfoCsv.message}}</ion-col>
            </ion-item>
          </ng-container>
        </ion-list>
      </div>
      <!-- <ion-label class="naiyoulabelmessage">{{message}}</ion-label> -->
      <!-- <div>
        <ion-button class="toroku-button" color="primary" (click)="onRegister()">{{registerButtonLabel}}</ion-button>
      </div> -->
    </div>
    <ion-label [ngClass]="{'naiyou-label-message1':csvKbn!=='04','naiyou-label-message2':csvKbn==='04'}">{{message}}
    </ion-label>
    <div>
      <ion-button class="toroku-button" color="primary" (click)="onRegister()">{{registerButtonLabel}}</ion-button>
    </div>
  </div>
</ion-content>
<!-- <app-footer></app-footer> -->
