.uploadConfrim {
  font-size: 16px;
}

ion-content {
  // --overflow: hidden;

  .breadcrumb {
    color: #ffffff;
    background-color: #000000;
  }


  .button-outline {
    border: solid 1px black;
  }

  .button {
    border-radius: 5px;
    padding: 0px 15px;
    display: block;
    width: 110px;
    height: 35px;

  }

  .list-container {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    width: 100%;
    height: 90%;
    // overflow: auto;

    .list-header {
      flex-shrink: 0;
      text-align: right;
      padding-right: 26px;
    }

    .list-content {
      // flex-grow: 1;
      overflow: auto;
      // min-height: 2rem;
      max-height: 70%;

      .list-title-icon {
        visibility: hidden;
      }
    }

    .list-footer {
      text-align: right;
      padding-right: 32px;
      font-size: 16px;
    }
  }

  .naiyou {
    padding-left: 100px;
    padding-right: 200px;
  }

  .naiyoulabel {
    padding-left: 22px;
  }

  .naiyou-label-message1 {
    // padding-left: 73%;
    text-align: right;
    line-height: 50px;
  }

  .naiyou-label-message2 {
    // padding-left: 68%;
    text-align: right;
    line-height: 50px;
  }

  .col {
    max-width: 40px;
  }

  .toroku-button {
    // background-color: white;
    border-radius: 5px;
    padding-left: 0px 15px;
    display: block;
    width: 110px;
    height: 30px;
    // margin-left: 93%;
    float: right;
  }
}

.padding-center {
  --padding-start: 80px;
  --padding-end: 80px;
}

.child-div {
  // width: 156%;
  width: 2400px;
}



.head-title {
  font-weight: bold;
}

.minW2300 {
  min-width: 2400px;
}
