<div [class]="platformtype">
  <div class="title">{{title}}</div>

  <div class="options">

    <div class="con">
      <div class="opt-title">{{filmingstatus}}</div>

      <div class="sort-con">
        <ion-item lines="none" *ngFor="let name of filmeds">
          <ion-checkbox mode="md" [checked]="changefilmeds.indexOf(name.id)>-1" name="sheying" value="{{name.id}}"
            (ionChange)="photoStatusClick($event)">
          </ion-checkbox>
          <div class="item-t">{{name.value}}</div>
        </ion-item>
      </div>
    </div>

    <div class="con">
      <div class="opt-title">{{processtiming}}</div>


      <div class="sort-con">
        <ion-item lines="none" *ngFor="let name of status">
          <ion-checkbox mode="md" [checked]="changestatus.indexOf(name.id)>-1" name="status" value="{{name.id}}"
            [disabled]="bigProcessId != '03'" (ionChange)="timingClick($event)">
          </ion-checkbox>
          <div class="item-t">{{name.value}}</div>
        </ion-item>
        <div>
        </div>

      </div>


      <div class="buttons">

        <div class="btn" (click)="cancle()">{{cancleTitle}}</div>
        <div class="btn" (click)="commit()">{{ok}}</div>
      </div>
    </div>
