.chatroom-edit-complete-winapp {
  .list-container {
    display: flex;
    height: 100%;
    width: 665px;
    margin: 0 auto;
    flex-direction: column;
    flex-wrap: nowrap;

    .title {
      padding: 29px 0 27px 130px;
      color: #59595C;
      font-size: 24px;
    }

    .input-name {
      color: #333333;
      font-size: 20px;
      padding-left: 130px;
    }

    .input-item {
      --padding-start: 0;
      --min-height: 30px;
      font-size: 24px;
      padding-left: 130px;
      padding-right: 126px;
      --highlight-height: 0;

      .input {
        height: 30px;
        font-size: 24px;
        color: #000000;
        border-bottom: 1px solid black;
      }
    }

    .padding-item {
      color: #59595C;
      margin-top: 47px;
      font-size: 24px;
      text-align: center;
    }

    .list-content {
      flex: 1;
      border: 1px solid #707070;
      border-radius: 2px;
      margin-top: 15px;
      overflow: auto;
      justify-content: center;

      ion-grid {
        padding: 0;
      }

      .list-row {
        height: 64px;
        line-height: 64px;
        padding: 0 24px !important;
        font-size: 14px;

        .list-col {
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
          height: 64px;
          padding: 0;

          .username {
            font-size: var(--label-font-size-24-web);
            color: #000;
            max-width: 50%;
            display: inline-block;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
          }

          .company-name {
            font-size: var(--label-font-size-24-web);
            margin-left: 10px;
            color: rgba(0, 0, 0, 0.5);
            max-width: 250px;
            display: inline-block;
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;
            text-align: center;
          }
        }
      }
    }

    .btns {
      height: 88px;
      display: flex;
      align-items: center;
      justify-content: center;

      .cancle-back {
        --box-shadow: none;
        border: 1px solid #0097E0;
        border-radius: 5px;
        --color-activated: none;
        width: 214px;
        height: 53px;
        margin: 27px 24px 61px 0;
        font-size: var(--button-font-size-24-web);
        letter-spacing: 0.42px;
      }

      .cancle-ok {
        width: 214px;
        height: 53px;
        --border-radius: 5px;
        padding: 0;
        margin: 27px 0 61px 0;
        box-shadow: 0px 2px 2px #0000003D;
        font-size: var(--button-font-size-24-web);
        letter-spacing: 0.42px;
      }
    }
  }
}
