<ion-content [ngClass]="platformtype">
  <ion-label class="messageShow">{{ messageShow }} <ion-img class="icon-arrow" src="./assets/icon/ic_expand_more.svg"
      slot="start"></ion-img>
  </ion-label>
  <ion-list class="machine-list" lines="none">

    <ion-item class="machine-list-item">
      <ion-label>
        <div class="titleInput">{{ gamenLable.productionNumber }}</div>
      </ion-label>
      <ion-input class="inputName" [(ngModel)]="ocrSerialNumber" value="{{ ocrSerialNumber }}"></ion-input>
    </ion-item>

    <ion-item class="machine-list-item">
      <ion-label>
        <div class="titleInput">{{ gamenLable.productionYearMonth }}</div>
      </ion-label>
      <ion-input class="inputName">
        <ion-datetime class="datetime" mode="md" displayFormat="YY/MM" done-text="OK" cancel-text="キャンセル"
          placeholder="{{ ocrManufacturingDate }}" [(ngModel)]="ocrManufacturingDate"></ion-datetime>
      </ion-input>
    </ion-item>

    <ion-item class="machine-list-item productionYearMonth">
      <ion-label>
        <div class="titleMachineName">{{ gamenLable.machineName }}</div>
      </ion-label>
      <ion-input class="inputName" [(ngModel)]="ocrModelName" value="{{ ocrModelName }}"></ion-input>
    </ion-item>

    <div style="height: 1px;width: auto;background-color: #EAEBEC;margin-left: 0.33rem;margin-right: 0.34rem;"></div>

    <ion-item class="machine-list-item-bottom buildingName">
      <ion-label class="flex3">
        <div class="titleDisplay">{{ gamenLable.buildingName }}</div>
      </ion-label>
      <ion-label class="flex7">
        <div class="labelName whitespace_pre">{{ gamenValue.ocrPropertyName }}</div>
      </ion-label>
    </ion-item>

    <ion-item class="machine-list-item-bottom">
      <ion-label class="flex3">
        <div class="titleDisplay">{{ gamenLable.constructionName }}</div>
      </ion-label>
      <ion-label class="flex7">
        <div class="labelName whitespace_pre">{{ gamenValue.ocrConstructionName }}</div>
      </ion-label>
    </ion-item>

    <ion-item class="machine-list-item-bottom">
      <ion-label class="flex3">
        <div class="titleDisplay">{{ gamenLable.floorTitle }}</div>
      </ion-label>
      <ion-label class="flex7">
        <div class="labelName whitespace_pre">{{ gamenValue.ocrFloor }}</div>
      </ion-label>
    </ion-item>

    <ion-item class="machine-list-item-bottom">
      <ion-label class="flex3">
        <div class="titleDisplay">{{ gamenLable.roomName }}</div>
      </ion-label>
      <ion-label class="flex7">
        <div class="labelName whitespace_pre">{{ gamenValue.ocrRoomName }}</div>
      </ion-label>
    </ion-item>

    <ion-item class="machine-list-item-bottom">
      <ion-label class="flex3">
        <div class="titleDisplay">{{ gamenLable.placeTitle }}</div>
      </ion-label>
      <ion-label class="flex7">
        <div class="labelName whitespace_pre">{{ gamenValue.ocrPlace }}</div>
      </ion-label>
    </ion-item>

    <ion-item class="machine-list-item-bottom">
      <ion-label class="flex3">
        <div class="titleDisplay">{{ gamenLable.machineNameTitle }}</div>
      </ion-label>
      <ion-label class="flex7">
        <div class="labelName whitespace_pre">{{ gamenValue.orcUnitMark + "(" + gamenValue.ocrReadingModelName + ")" }}
        </div>
      </ion-label>
    </ion-item>

  </ion-list>
</ion-content>

<ion-footer [ngClass]="platformtype" class="machine-footer ion-no-border">

  <div class="machine-btns">
    <ion-button fill="outline" class="machine-cancel" mat-raised-button (click)="retakePhoto()">
      {{ gamenLable.retakePhoto }}</ion-button>
    <ion-button class="machine-ok" mat-raised-button (click)="regist()">{{ gamenLable.regist }}</ion-button>
  </div>
</ion-footer>
