.machine-number-regist-mobile {
  .registButton {
    margin: 0.05rem auto 0 auto;
    color: #ffffff;
    width: 1.1rem;
  }

  .closeButton {
    margin: 0.05rem auto 0 auto;
    color: #ffffff;
    width: 1.1rem;
  }

  .machine-list {
    margin-top: 0;

    .machine-list-item {
      --padding-start: 0;
      --padding-end: 0;
      font-size: 0.16rem;
      --inner-padding-end: 0;
      line-height: 0.24rem;
      --min-height: 0.24rem;
      margin: 0.124rem 0.33rem 0 0.34rem;
      border:0;
      border-style:none;

      ion-label {
        margin-top: 0;
        margin-bottom: 0;
      }

      ion-input {
        --padding-top: 0;
        --padding-end: 0;
        --padding-bottom: 0;
        --padding-start: 0;
      }
    }

    .machine-list-item-bottom {
      --padding-start: 0;
      --padding-end: 0;
      font-size: 0.16rem;
      --inner-padding-end: 0;
      line-height: 0.22rem;
      --min-height: 0.22rem;
      margin: 0.03rem 0.33rem 0 0.34rem;

      &.buildingName {
        margin-top: 0.2368rem;
      }

      ion-label {
        margin-top: 0;
        margin-bottom: 0;
      }

      ion-input {
        --padding-top: 0;
        --padding-end: 0;
        --padding-bottom: 0;
        --padding-start: 0;
      }
    }
  }

  .messageShow {
    font-size:var(--label-font-size-16-mobile);
    color: black;
    padding-top: 0.1864rem;
    padding-left: 0.29rem;
    padding-bottom: 0.16rem;
    border-bottom: 0.01rem solid #EAEBEC;
    display: block;
    line-height: 0.21rem;
    padding-right: 0.6rem;
  }

  .icon-arrow {
    position: absolute;
    top: 0.17rem;
    right: 0.2rem;
    width: 0.24rem;
    height: 0.24rem;
  }

  .titleInput {
    display: inline-block;
    white-space: pre-wrap;
  }

  .titleDisplay {
    display: inline-block;
    font-size: 0.16rem;
    color: black;
  }

  .titleMachineName {
    display: inline-block;
    padding-right: 0.15rem;
  }

  .productionYearMonth {
    padding-bottom: 0.38rem !important;
    border-bottom: solid 0.01rem rgba(0, 0, 0, 0.2);

    .inputName {
      text-align: right;
      height: 0.23rem;
    }
  }

  .has-focus {
    border-bottom: solid 0.02rem #0097E0 !important;
  }

  ion-item {
    --border-style:none;
    --highlight-height:0;
  }

  .inputName {
    text-align: right;
    border-bottom: solid 0.01rem #EAEBEC;
    height: 0.23rem;
    color: #4B4B4B;
  }

  .labelName {
    color: black;
    width: 100%;
    text-align: right;
    display: inline-block;
    font-size: 0.16rem;
    opacity: 0.6;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }

  .datetime {
    width: 100%;
  }

  .machine-cancel {
    width: 1.24rem;
    height: 0.36rem;
    --border-radius: 0.05rem;
    font-size: var(--button-font-size-14-mobile);
  }

  .machine-ok {
    width: 1.24rem;
    height: 0.36rem;
    --border-radius: 0.05rem;
    font-size: var(--button-font-size-14-mobile);
  }

  &.machine-footer {
    margin-bottom: 0.29rem;
  }

  .machine-btns {
    display: flex;
    flex-direction: row;
    justify-content: center;

    .machine-cancel {
      margin-right: 0.24rem;
    }
  }

  .flex3{
    flex: 3;
  }
  .flex7{
    flex: 7;
  }

}
