
.machine-number-regist-winapp {
  .registButton {
    margin: 5px auto 0px auto;
    color: #ffffff;
    width: 110px;
  }


  .closeButton {
    margin: 5px auto 0px auto;
    color: #ffffff;
    width: 110px;
  }




  .machine-list {
    margin-top: 5px;
    padding-top:2px;
    padding-bottom:0;


    .machine-list-item {
      --padding-start: 0;
      --padding-end: 0;
      font-size: 20px;
      --inner-padding-end: 0;
      line-height: 28px;
      --min-height:28px;
      margin: 24px 34px;
      border:0;
      border-style:none;


      ion-label {
        margin-top: 0;
        margin-bottom: 0;
      }


      ion-input {
        --padding-top: 0;
        --padding-end: 0;
        --padding-bottom: 0;
        --padding-start: 0;
      }
    }


    .machine-list-item-bottom {
      --padding-start: 0;
      --padding-end: 0;
      font-size: 20px;
      --inner-padding-end: 0;
      line-height: 28px;
      --min-height: 28px;
      margin: 4px 34px;


      &.buildingName {
        margin-top: 20px;
      }


      ion-label {
        margin-top: 0;
        margin-bottom: 0;
        height: 28px;
        line-height: 28px;
      }


      ion-input {
        --padding-top: 0;
        --padding-end: 0;
        --padding-bottom: 0;
        --padding-start: 0;
      }
    }
  }


  .messageShow {
    font-size:20px;
    color: black;
    padding-top: 18px;
    padding-left: 30px;
    padding-bottom: 16px;
    border-bottom: 1px solid #EAEBEC;
    display: block;
    line-height: 21px;
    padding-right: 60px;
  }


  .icon-arrow {
    position: absolute;
    top: 17px;
    right: 20px;
    width: 24px;
    height: 24px;
  }


  .titleInput {
    display: inline-block;
    white-space: pre-wrap;
  }


  .titleDisplay {
    display: inline-block;
    font-size: 20px;
    color: black;
  }


  .titleMachineName {
    display: inline-block;
    padding-right: 15px;
  }


  .productionYearMonth {
    padding-bottom: 12px !important;
    border-bottom: solid 1px rgba(0, 0, 0, 0.2) !important;


    .inputName {
      text-align: right;
      height: 28px;
    }
  }

  .has-focus {
    border-bottom: solid 2px #0097E0 !important;
  }


  ion-item {
    --border-style:none;
    --highlight-height:0;
  }

  .inputName {
    text-align: right;
    border-bottom: solid 1px #EAEBEC;
    height: 28px;
    color: #4B4B4B;
    margin-left:213px;
  }


  .labelName {
    color: black;
    width: 100%;
    text-align: right;
    display: inline-block;
    font-size: 20px;
    opacity: 0.6;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }


  .datetime {
    width: 100%;
  }

  .machine-cancel {
    width: 195px;
    height: 58px;
    --border-radius: 5px;
    font-size: 24px;
  }

  .machine-ok {
    width: 195px;
    height: 58px;
    --border-radius: 5px;
    font-size: 24px;
  }

  &.machine-footer {
    height: 105px;
    margin-bottom: 0;
  }

  .machine-btns {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top:25px;

    .machine-cancel {
      margin-right: 32px;
    }
  }


}





