<!-- 日付 -->
<div class="date-div" [ngClass]="platformtype" *ngIf="sortby === cd0007Constants.DATE">

  <ion-content>
    <ion-virtual-scroll [items]="datas" [approxItemHeight]="approxItemHeight" [itemHeight]="myitemHeight">
      <div [ngClass]="{'cell': isPc  || isWinApp}" *virtualItem="let items">

        <div class="grid">
          <app-photo-grid-item *ngFor="let item of items" [isPhotoChange]="isPhotoChange" [selectPhotos]="selectPhotos"
            [photo]="item" [(mulitype)]="mulitype" [isShowCheckBox]="isShowCheckBox" [bigProcess]="bigProcess"
            (selectp)="selectphoto($event)" (goPhotoDetail)="goPhotoDetailpage($event)">
          </app-photo-grid-item>

        </div>


      </div>
    </ion-virtual-scroll>
  </ion-content>
</div>



<div [class]="platformtype" *ngIf="sortby === cd0007Constants.PROCESS">

  <ion-content>
    <ion-virtual-scroll id="virtualscroll" [items]="datas" [approxItemHeight]="approxItemHeight"
      [itemHeight]="myitemHeight">
      <div [ngClass]="{'cell': isPc || isWinApp}" *virtualItem="let items">

        <div class="title whitespace_pre">
          {{(items[0].modeltype === null || items[0].unitMark === null) ? '機種(不明)' : items[0].unitMark + '(' + items[0].modeltype + ')'}}
        </div>

        <div class="grid">
          <app-photo-grid-item *ngFor="let item of items" [isPhotoChange]="isPhotoChange" [selectPhotos]="selectPhotos"
            [photo]="item" [(mulitype)]="mulitype" [isShowCheckBox]="isShowCheckBox" [bigProcess]="bigProcess"
            (selectp)="selectphoto($event)" (goPhotoDetail)="goPhotoDetailpage($event)">
          </app-photo-grid-item>

        </div>
      </div>
    </ion-virtual-scroll>
  </ion-content>

</div>

<div [class]="platformtype" *ngIf="sortby === cd0007Constants.MACHINE">

  <ion-content>
    <ion-virtual-scroll id="virtualscroll" [items]="datas" [approxItemHeight]="approxItemHeight" [itemHeight]="myitemHeight">
      <div [ngClass]="{'cell': isPc || isWinApp}" *virtualItem="let items">

        <div class="title whitespace_pre">
          {{(items[0].processName === null || items[0].processId === null || items[0].workName === null || items[0].workId === null) ? '工程・作業名(不明)' : items[0].processName + ' - ' + items[0].workName}}
        </div>

        <div class="grid">
          <app-photo-grid-item *ngFor="let item of items" [isPhotoChange]="isPhotoChange" [selectPhotos]="selectPhotos"
            [photo]="item" [(mulitype)]="mulitype" [isShowCheckBox]="isShowCheckBox" [bigProcess]="bigProcess"
            (selectp)="selectphoto($event)" (goPhotoDetail)="goPhotoDetailpage($event)">
          </app-photo-grid-item>

        </div>
      </div>
    </ion-virtual-scroll>
  </ion-content>

</div>


<div [class]="platformtype" *ngIf="sortby === cd0007Constants.FLOOR">


  <ion-content>
    <ion-virtual-scroll id="virtualscroll" [items]="datas" [approxItemHeight]="approxItemHeight" [itemHeight]="myitemHeight"
      [headerFn]="myHeaderFn">
      <div class="subtitle whitespace_pre" *virtualHeader="let header">
        {{header}}
      </div>
      <div [ngClass]="{'cell': isPc || isWinApp}" *virtualItem="let items">

        <div class="floor-title whitespace_pre">
          {{(items[0].modeltype === null || items[0].unitMark === null) ? '機種(不明)' : items[0].unitMark + '(' + items[0].modeltype + ')'}}
        </div>


        <div class="grid">
          <app-photo-grid-item *ngFor="let item of items" [isPhotoChange]="isPhotoChange" [selectPhotos]="selectPhotos"
            [photo]="item" [(mulitype)]="mulitype" [isShowCheckBox]="isShowCheckBox" [bigProcess]="bigProcess"
            (selectp)="selectphoto($event)" (goPhotoDetail)="goPhotoDetailpage($event)">
          </app-photo-grid-item>

        </div>

      </div>
    </ion-virtual-scroll>
  </ion-content>


</div>

