.photogrid-mobile {
  width: auto;
  height: 100%;
  // padding-bottom: 0.48rem;
  padding-left: 5px;
  padding-right: 5px;
  overflow: auto;


  .item {
    padding: 0px;
    margin: 0px;
  }

  .title {
    font-size: 0.14rem;
    margin-top: 15px;
    height: 25px;
    margin-left: 0.08rem;
    width: calc(100% - 0.16rem);
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }

  .subtitle {
    font-size: 0.14rem;
    margin-top: 10px;
    height: 25px;
    margin-left: 0.08rem;
    width: calc(100% - 0.16rem);
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;


  }

  .floor-title {
    font-size: 0.12rem;
    margin-top: 20px;
    height: 20px;
    margin-left: 0.08rem;
    width: calc(100% - 0.16rem);
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }

  .grid {
    display: grid;
    // grid-template-columns: repeat(3, calc((100% - 10px) / 3.0));
    grid-template-columns: repeat(3, 1.2rem);
    grid-row-gap: auto;
    grid-column-gap: 5px;
    // margin-bottom: 0.2rem;
  }


}
.date-div{
  margin-top: 0.1rem;
}
