.photogrid-web {
  width: auto;
  height: 100%;
  padding-bottom: 48px;
  padding-left: 65px;
  padding-right: 65px;
  overflow: auto;

  .item {
    padding: 0px;
    margin: 0px;
  }

  .title {
    font-size: 20px;
    margin-top: 40px;
    margin-left: 0px;
    width: 100%;
    height: 30px;
    line-height: 30px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }

  .subtitle {
    font-size: 20px;
    margin-left: 80px;
    width: calc(100% - 160px);
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;


  }

  .floor-title {
    font-size: 18px;
    margin-left: 30px;
    width: calc(100% - 60px);
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }

  .grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, 292px);
    grid-row-gap: 10px;
    grid-column-gap: 10px;
    // margin-bottom: 20px;
  }



}
.date-div{
  padding-top: 10px;
}

.cell{
  padding: 0px 80px;
}
