<ion-row [ngClass]="platformtype">
  <ion-col size="4" (click)="phototake()">
    <div class="draw-foot-row">
      <ion-img class="business" src='./assets/icon/camera_alt-24px.svg'></ion-img>
      <span class="col-span1">撮影</span>
    </div>
  </ion-col>
  <ion-col size="4" (click)="photomanage()">
    <div class="draw-foot-row">
      <ion-img class="business" src='./assets/icon/view_comfy-24px.svg'></ion-img>
      <span class="col-span1">一覧</span>
    </div>
  </ion-col>
  <ion-col size="4" (click)="drawmanage()">
    <div class="draw-foot-row">
      <ion-img class="business" src='./assets/icon/beenhere-24px.svg'></ion-img>
      <span class="col-span1">図面</span>
    </div>
  </ion-col>
</ion-row>