.photoDrawFooter-mobile {
  background: black;
  height: 0.56rem;

  .draw-foot-row{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    font-size: 0.12rem;
    padding-top: 0.04rem;

    .business {
      width: 0.24rem;
      height: 0.24rem;
    }

    .col-span1 {
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      cursor: pointer;
      color: white;
      min-width: 0.60rem;
      text-align: center;
      align-self: center;
    }
  }
}


