.draw-row{
  background: black;

  .draw-foot-row{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    font-size: 12px;

    .col-span1 {
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      cursor: pointer;
      color: white;
      min-width: 60px;
      text-align: center;
      align-self: center;
    }

}

}


