.photoDrawFooter-winapp {
  background: black;
  height: 56px;

  .draw-foot-row{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    font-size: 24px;
    padding-top: 4px;

    .business {
      width: 24px;
      height: 24px;
    }

    .col-span1 {
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      cursor: pointer;
      color: white;
      margin-left: 65px;
      min-width: 60px;
      text-align: center;
      align-self: center;
    }
  }
}


