<ion-app>
  <ng-container *ngIf="runningFlg">
    <div class="warning">
      <img src="../assets/images/warning-24px.svg" alt="" class="warning-pic">
      <div class="running">{{gamenLable.runningMsg}}</div>
    </div>
  </ng-container>
  <ng-container *ngIf="!runningFlg">
    <app-menu contentId="main-content"></app-menu>
    <ion-router-outlet id="main-content"></ion-router-outlet>
  </ng-container>
</ion-app>
<app-loading ></app-loading>