.running{
  color: #000000;
  font-size: 28px;
  margin: auto;
  white-space: pre-line;
  text-align: center;
  width: 730px;
  height: 40px;
  margin-top: 31px;
}

.warning-pic {
  width: 137px;
  height: 137px;
  opacity: 1;
  background-repeat: no-repeat;
}

.warning {
  margin-top: 15%;
  text-align: center;
  text-align: -webkit-center;
}

.head-title {
  font-weight: bold;
}

.minW2300 {
  min-width: 2400px;
}
