/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

@import '~@angular/material/theming';
@include mat-core();

$app-palette-primary: mat-palette($mat-grey, 300, 200, 500);
$app-palette-accent: mat-palette($mat-brown, 300, 200, 500);
$app-palette-warn: mat-palette($mat-red, 300, 200, 500);

$app-light-theme: mat-light-theme($app-palette-primary, $app-palette-accent, $app-palette-warn);
@include angular-material-theme($app-light-theme);

$app-dark-theme: mat-dark-theme($app-palette-primary, $app-palette-accent, $app-palette-warn);

.darkMode {
  @include angular-material-theme($app-dark-theme);
}

@font-face {
  font-family: 'NotoSansJP-Regular';
  src: url('assets/font/NotoSansCJKJP-Regular.otf');
  font-weight: normal;
  font-style: normal;
}

$app-typography: mat-typography-config($font-family: 'NotoSansJP-Regular');
@include angular-material-typography($app-typography);

@import '~material-design-icons/iconfont/material-icons.css';


html,
body {
  height: 100%;
}

body {
  margin: 0;
}

pre {
  font-family: NotoSansJP-Regular;
}

// ダイアログのタイトル
.alert-title.sc-ion-alert-md {
  font-size: 24px;
  text-align: center;
}

// ダイアログの内容
.alert-message.sc-ion-alert-md {
  max-height: 240px;
  font-size: 17px;
  color: black;
  padding-left: 20px;
  padding-right: 20px;
  text-align: center;
  white-space: pre-line;
}

.alert-message.sc-ion-alert-ios {
  white-space: pre-line;
}


// ダイアログボタン
.alert-button-group {
  padding: 0px !important;
  justify-content: center;

  .alert-button {
    margin-left: auto !important;
    margin-right: auto !important;
    width: 50%;

    span {
      text-align: center;
      justify-content: center;
      color: #0097E0;
      font-size: 14px;
      font-weight: bolder;
    }
  }

  border-top: #E3E3E3 1px solid;

  .alert-button:nth-of-type(n + 2) {
    border-left: #E3E3E3 1px solid;
  }
}

.alert-wrapper {
  border-radius: 11px !important;
}

.popover-arrow {
  display: none !important;
}

// pdf 横スクロールバー
.pdfViewer .ng2-pdf-viewer-container {
  overflow-x: visible !important;
}

// 工程名変更ダイアログ
.processRenameModal-web .modal-wrapper,
.processRenameModal-winapp .modal-wrapper {
  width: 299px;
  height: 235px;
}

.processRenameModal-mobile .modal-wrapper {
  width: 2.99rem;
  height: 2.35rem;
}

//  作業名変更ダイアログ
.workRenameModal-web .modal-wrapper,
.workRenameModal-winapp .modal-wrapper {
  width: 299px;
  height: 235px;
}

.workRenameModal-mobile .modal-wrapper {
  width: 2.99rem;
  height: 2.35rem;
}

// 新規工程追加ダイアログ
.processAddPageModal-web .modal-wrapper,
.processAddPageModal-winapp .modal-wrapper {
  width: 299px;
  height: 235px;
}

.processAddPageModal-mobile .modal-wrapper {
  width: 2.99rem;
  height: 2.35rem;
}

// 新規作業追加ダイアログ
.workAddPageModal-web .modal-wrapper,
.workAddPageModal-winapp .modal-wrapper {
  width: 299px;
  height: 235px;
}

.workAddPageModal-mobile .modal-wrapper {
  width: 2.99rem;
  height: 2.35rem;
}

// 写真リスト フィルタ設定ダイアログ
.glanceModal-mobile .modal-wrapper {
  width: 2.99rem;
  height: 4.13rem;
}

.glanceModal-web .modal-wrapper {
  width: 299px;
  height: 413px;
}

.glanceModal-winapp .modal-wrapper {
  width: 299px;
  height: 413px;
}

// 写真撮影の設定編集方法ダイアログ
.cameraModal .modal-wrapper {
  width: 300px;
  height: 360px;
}

// 図面一覧表示ダイアログ
.selectDrawModal-web .modal-wrapper,
.selectDrawModal-winapp .modal-wrapper {
  width: 299px;
  height: 533.6px;
}

.selectDrawModal-mobile .modal-wrapper {
  width: 2.99rem;
  height: 5.336rem;
}

.draw-photo-pc .modal-wrapper {
  margin-bottom: 0px;
  margin-top: 95px;
  width: 1372px;
  height: 770px;
  border-radius: 5px 5px 0 0;
}

.draw-photo .modal-wrapper {
  margin-bottom: 0rem;
  margin-top: 1.16rem;
  width: 3.95rem;
  height: calc(100% - 1.16rem);
  border-radius: 0.1rem 0.1rem 0 0;
}

// ロック解除ダイアログ
.deviceSearchModal .modal-wrapper {
  width: 450px;
  height: 200px;
  font-size:16px;
}

// 物件検索ダイアログ
.buildingSearchModal .modal-wrapper {
  width: 550px;
  height: 450px;
}

// 写真プレビュー
.previewModalPc .modal-wrapper {
  width: 70%;
  height: 600px;
}

.previewModalModel .modal-wrapper {
  width: 2.99rem;
  height: 5.5rem;
}

.downloadConfirmModal .modal-wrapper {
  width: 580px;
  height: 250px;
}

.machineNumberRegistModal .modal-wrapper {
  margin-top: auto;
  height: 4.67rem;
  bottom: 0;
  border-top-left-radius: 0.12rem;
  border-top-right-radius: 0.12rem;
}

.machineNumberRegistModalWinApp .modal-wrapper {
  margin-top: auto;
  width: 720px;
  height: 560px;
  bottom: 0;
  border-top-left-radius:12px;
  border-top-right-radius: 12px;
}

.fundrecorderEditModal .modal-wrapper {
  width: 500px;
  height: 700px;
}

// 写真一覧action-sheet
.action-sheet-container {
  margin: 0 10%;

  .action-sheet-group {
    overflow: auto;
  }

  .action-sheet-button {
    word-break: break-all;
    height: auto;
    contain: none;
  }
}

.cancle-ok {
  width: 110px;
}


.down-photobook .modal-wrapper {
  // padding: 30% 4rem 0px 4rem;
  margin-bottom: 0px;
  margin-top: auto;
  width: 100%;
  height: 400px;
}

.camera-Modal .modal-wrapper {
  width: 2.8rem;
  height: 3rem;
}

// djk-alert select
.dkj-alert {
  .alert-wrapper.sc-ion-alert-md {
    border-radius: 5px !important;
    color: #000000 !important;
    min-width: 300px;
  }
  .popover-content {
    max-width: 360px;
  }

  .alert-head.sc-ion-alert-md {
    padding: 12px 0 !important;

    .alert-title {
      font-size: 18px !important;
    }
  }

  .alert-radio-group.sc-ion-alert-md {
    border-top: 1px solid #eaeaea !important;
    border-bottom: 1px solid #eaeaea !important;
    max-height: 350px !important;
  }

  .alert-button-group {
    border-top: none;
    padding: 2px 0 !important;

    .alert-button.sc-ion-alert-md {
      margin-left: unset !important;
      margin-right: unset !important;
      width: auto !important;

      span {
        color: #0097E0;
        font-weight: 300;
      }

      .alert-button-inner {
        text-transform: none;
      }
    }

    .alert-button:nth-of-type(n + 2) {
      border-left: none !important;
      margin-right: 10px !important;
    }
  }
}

.whitespace_pre{
  white-space: pre !important;
}

.whitespace_pre_wrap{
  white-space: pre-wrap !important;
}

ion-footer {
  position: static;
}

.picker-toolbar {
  font-size: 14px;
}

.popover-content.sc-ion-popover-ios {
  border-radius: 0.02rem;
}

.displaypop{
  --width: 126px;
  --height: 148px;
}

.flashModepop{
  --width: 120px;
}

ion-put{
  --placeholder-color:#999999;
}

ion-button{
  font-size: 14px;
}

