.drawSelectComponent-web,
.drawSelectComponent-winapp {
  .title {
    font-size: 18px;
    line-height: 51px;
    height: 51px;
    text-align: center;
  }

  .under-line-up {
    width: 100%;
    height: 1px;
    background: #EAEBEC;
    margin-bottom: 17px;
  }

  .count {
    max-width: 50%;
    display: inline-block;
    font-size: 14px;
    width: 30px;
  }

  .floor {
    display: inline-block;
    font-size: 14px;
    width: calc(100% - 64px);
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    padding-left: 2px;
  }

  .selectedColor {
    --background: #CCEAF9;
    cursor: default;
  }

  .list-md {
    cursor: pointer;
  }

  .under-line-down {
    width: 100%;
    height: 1px;
    background: #EAEBEC;
    bottom: 57px;
    position: absolute;
  }

  .buttons {
    position: absolute;
    z-index: 99;
    left: 0px;
    bottom: 0px;
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 60px;
    justify-content: flex-end;
    font-size: var(--button-font-size-14-web);
    border-top: solid 1px #EAEBEC;
  }

  .btn {
    height: 100%;
    line-height: 60px;
    padding-right: 25px;
    padding-left: 13px;
    color: #0097E0;
    cursor: pointer;
  }

  .select-list {
    overflow: auto;
    height: 400px;
  }
}
