<div [ngClass]="platformtype">
  <div class="title">{{ gamenLable.title }}</div>
  <div class="under-line-up"></div>
  <ion-list class="select-list">
    <ng-container *ngFor="let item of drawings; let i = index">
      <ion-item *ngIf="item.drawingId !== selectedDrawingId" (click)="selectedDrawing(item.drawingId)" lines="none">
        <div class="count">{{ i + 1 }}</div>
        <div class="floor whitespace_pre_wrap">{{ item.floor ? item.floor.floorName : '' }}{{ item.fileName }}</div>
      </ion-item>
      <ion-item *ngIf="item.drawingId === selectedDrawingId" class="selectedColor" lines="none">
        <div class="count">{{ i + 1 }}</div>
        <div class="floor whitespace_pre_wrap">{{ item.floor ? item.floor.floorName : '' }}{{ item.fileName }}</div>
      </ion-item>
    </ng-container>
  </ion-list>
  <div class="buttons">
    <div class="btn" (click)="closeClick()">{{ gamenLable.cancel }}</div>
    <div class="btn" (click)="commitDrawing()">{{ gamenLable.ok }}</div>
  </div>
</div>
