.drawSelectComponent-mobile {
  .title {
    font-size: 0.18rem;
    line-height: 0.51rem;
    height: 0.51rem;
    text-align: center;
  }

  .under-line-up {
    width: 100%;
    height: 0.01rem;
    background: #EAEBEC;
    // margin-bottom: 24rem;
  }

  .count {
    max-width: 50%;
    display: inline-block;
    font-size: 0.14rem;
    width: 0.30rem;
  }

  .floor {
    display: inline-block;
    font-size: 0.14rem;
    width: calc(100% - 0.64rem);
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    padding-left: 0.02rem;
  }

  .selectedColor {
    --background: #CCEAF9;
  }

  .under-line-down {
    width: 100%;
    height: 0.1rem;
    background: #EAEBEC;
    bottom: 0.57rem;
    position: absolute;
  }

  .buttons {
    position: absolute;
    z-index: 99;
    left: 0;
    bottom: 0;
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 0.60rem;
    justify-content: flex-end;
    font-size: var(--button-font-size-14-web);
    border-top: solid 0.01rem #EAEBEC;
  }

  .btn {
    height: 100%;
    line-height: 0.60rem;
    padding-right: 0.25rem;
    padding-left: 0.13rem;
    color: #0097E0;
  }
  .select-list {
    overflow: auto;
    height: 4rem;
  }
}
