<ion-header>
    <ion-title>{{headerTitle}}</ion-title>

    <ion-item>
        <div class="middle-content-order">
            <div class="middle-order-icon">
                {{title}}
                <ion-icon name="ios-arrow-forward" item-right *ngIf="isShow" (click)="isShow=!isShow"></ion-icon>
                <ion-icon name="ios-arrow-down" item-right *ngIf="!isShow" (click)="isShow=!isShow"></ion-icon>
            </div>
        </div>
    </ion-item>

    <ion-list *ngIf="!isShow">
        <ion-item>
            <label>
                {{manager}}
            </label>
            <select name="manager" id="manager">
                <option [value]="item" *ngFor="let item of managerList">{{item}}</option>
            </select>
            <pre>{{space}}</pre>
            <ion-label position="relative">
                {{selectMoney}}
            </ion-label>
            <span *ngFor="let moneyName of MoneyList; let key-index;">
                <input type="checkbox" [id]="'check' + key" />
                <label class="fontsize">{{moneyName}}</label>
            </span>
            <pre>{{space}}</pre>
        </ion-item>
        <ion-label position="relative">
            {{createTime}}
            <ion-datetime display-format="YYYY-MM-DD HH:mm:ss" picker-format="YYYY MM DD HH mm ss" placeholder="请选择日期"></ion-datetime>
        </ion-label>
    </ion-list>
</ion-header>

<ion-content class="uploadForm">
    <ion-item class="head-title minW2300">
        <ion-col size="2.0">{{agentSummaryTitle[0]}}</ion-col>
        <ion-col size="2.0">{{agentSummaryTitle[1]}}</ion-col>
        <ion-col size="2.0">{{agentSummaryTitle[2]}}</ion-col>
        <ion-col size="2.0">{{agentSummaryTitle[3]}}</ion-col>
        <ion-col size="2.0">{{agentSummaryTitle[4]}}</ion-col>
        <ion-col size="2.0">{{agentSummaryTitle[5]}}</ion-col>
        <ion-col size="2.0">{{agentSummaryTitle[6]}}</ion-col>
        <ion-col size="2.0">{{agentSummaryTitle[7]}}</ion-col>
        <ion-col size="2.0">{{agentSummaryTitle[8]}}</ion-col>
        <ion-col size="2.0">{{agentSummaryTitle[9]}}</ion-col>
        <ion-col size="2.0">{{agentSummaryTitle[10]}}</ion-col>
        <ion-col size="2.0">{{agentSummaryTitle[11]}}</ion-col>
    </ion-item>

    <ion-item class="minW2300" *ngFor="let agentSummary of agentSummaryList">

    </ion-item>
</ion-content>