.photo-simple-grid-web {
  &.com {
    width: 100%;
    height: 100%;
  }

  .title {
    font-size: 28px;
    width: 791px;
    padding-right: 16px;
    word-break: break-all;
  }

  .col-span1 {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    cursor: pointer;
    min-width: 30px;
    width: 100%;
    text-align: left;
    color: #0097E0;
    padding-left: 12.2px;
  }

  .list-com {
    width: 1372px;
    height: calc(100% - 142px);
    margin-top: 30px;
    padding-bottom: 20px;
    overflow-y: auto;
  }

  .process-work {
    margin: 0px 90px 4px 90px;
    font-size: 24px;
  }

  .grid {
    margin: 0px 70px 20px 90px;
    display: grid;
    grid-template-columns: repeat(auto-fill, 292px);
    grid-row-gap: 8px;
    grid-column-gap: 8px;
  }

  .photoBtn {
    width: 156px;
    height: 48px;
    border-radius: 5px;
    margin-right: 32px;
    --border-width: 1px;
    font-size: var(--button-font-size-18-web);
  }

  .selectStyle {
    width: 295px;
    height: 48px;
    font-size: 18px;
    line-height: 16px;
    border-radius: 5px;
    margin-right: 24px;
    text-indent: 38px;
    border: 1px solid #707070;
    --padding-end: 15px;
    --padding-top: 15px;
  }

  .camera {
    top: 509px;
    left: 147px;
    width: 7px;
    height: 14px;
    background: transparent 0% 0% no-repeat padding-box;
    opacity: 1;
  }

  .lineArea {
    border-bottom: 1px solid #EAEBEC;
    display: flex;
    flex-direction: row;
    height: 132px;
    align-items: center;
    padding-left: 24px;
    padding-right: 35px;
  }

  .buttonStyle {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .boxArea {
    margin: auto;
    border-radius: 5px;
    min-width: 335px;
  }

  .arrow-down {
    color: black;
    width: 24px;
    height: 24px;
    margin-top: 8px;
    opacity: 0.54;
    cursor: pointer;
    display: flex;
  }
}
