<div class="com" [ngClass]="platformtype">
  <div class="lineArea">
    <div class="title" (press)="onPress($event,title)">{{title}}</div>
    <div class="buttonStyle">
      <ion-select *ngIf="isPc" class="selectStyle" selectedText='{{bigProcessselectedText}}' [value]="bigProcessId"
        (ionChange)="selectBigprocess($event)" mode="md" interface="popover"
        [interfaceOptions]="{cssClass: 'dkj-alert'}">
        <ion-select-option *ngFor="let item of bigProcesses" [value]="item.id">{{item.value}}</ion-select-option>
      </ion-select>

      <ion-button *ngIf="!isPc" class="photoBtn ioc-row1" fill="outline" (click)="goCamera($event)">
        <span class="col-span1" style="align-items: center;">{{photograph}}</span>
        <img class="camera" src="./assets/images/arrow-forward-outline.svg">
      </ion-button>

      <ion-button class="photoBtn ioc-row1" fill="outline" (click)="gotoPhotoList($event)">
        <span class="col-span1" style="align-items: center;">{{photolist}}</span>
        <img class="camera" src="./assets/images/arrow-forward-outline.svg">
      </ion-button>

      <ion-icon class="arrow-down" name="ios-arrow-down" (click)="dismiss()"></ion-icon>
    </div>
  </div>

  <div class="list-com">
    <div class="boxArea" *ngFor="let datas of datasource">
      <p class="process-work whitespace_pre_wrap">
        {{datas[0].processName && datas[0].workName ? datas[0].processName + '-' + datas[0].workName : '工程・作業名(不明)' }}
      </p>
      <div class="grid">
        <app-photo-simple-grid-item *ngFor="let photo of datas" [photo]="photo" [bigProcessId]="bigProcessId"
          (dismiss)="dismiss($event)">
        </app-photo-simple-grid-item>
      </div>
    </div>
  </div>

</div>
