.photo-simple-grid-mobile {
  &.com {
    width: 100%;
    height: 100%;
  }

  .title {
    font-size: 0.16rem;
    width: 2.95rem;
    word-break: break-all;
  }

  .dismiss {
    text-align: center;
    align-self: center;
  }

  .col-span1 {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    cursor: pointer;
    min-width: 0.30rem;
    width: 100%;
    text-align: left;
    color: #0097E0;
  }

  .list-com {
    width: 100%;
    height: calc(100% - 1.4rem);
    overflow-y: auto;
    margin: auto;
    margin-bottom: 0.16rem;
  }  

  .process-work {
    margin: 0.09rem 0.08rem 0.03rem 0.08rem;
    font-size: 0.14rem;
  }

  .grid {
    margin: 0 0 0 0.04rem;
    display: grid;
    grid-template-columns: repeat(auto-fill, 1.2rem);
    grid-row-gap: 0.04rem;
    grid-column-gap: 0.04rem;

  }

  .photoBtn {
    width: 1.15rem;
    height: 0.36rem;
    border-radius: 0.05rem;
    margin-right: 0.15rem;
    --border-width: 0.01rem;
    font-size: var(--button-font-size-14-mobile);
  }

  .camera {
    top: 5.09rem;
    left: 1.47rem;
    width: 0.07rem;
    height: 0.14rem;
    background: transparent 0% 0% no-repeat padding-box;
    opacity: 1;
  }

  .lineArea {
    border-bottom: 0.01rem solid #EAEBEC;
    display:flex;
    flex-direction: column;
    padding-top: 0.1664rem;
    padding-left: 0.17rem;
  }

  .buttonStyle {
    display: flex;
    margin: 0.16rem auto;
  }

  .boxArea {
    width: 100%;
    margin: auto;
    border-radius: 0.05rem;
    min-width: 3.35rem;
  }

  .arrow-down {
    color: black;
    width: 0.24rem;
    height: 0.24rem;
    right: 0.2rem;
    top: 0.10rem;
    opacity: 0.54;
    position: absolute;
    margin-top: 0.08rem;
    margin-left: 4px;
  }
}