.photo-simple-grid-winapp {
  &.com {
    width: 100%;
    height: 100%;
  }

  .title {
    font-size: 28px;
    width: 878px;
    padding-right: 16px;
    word-break: break-all;
  }

  .col-span1 {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: #0097E0;
  }

  .list-com {
    width: 1372px;
    height: calc(100% - 140px);
    margin-top: 30px;
    padding-bottom: 20px;
    overflow-y: auto;
  }

  .process-work {
    margin: 0px 90px 4px 90px;
    font-size: 24px;
  }

  .grid {
    margin: 0px 70px 20px 90px;
    display: grid;
    grid-template-columns: repeat(auto-fill, 292px);
    grid-row-gap: 8px;
    grid-column-gap: 8px;
  }

  .photoBtn {
    width: 181px;
    height: 48px;
    border-radius: 5px;
    --border-width: 1px;
    font-size: var(--button-font-size-24-web);
    margin-top: -4px;
    margin-right: 28px;
    --padding-start: 8px;
    --padding-end: 8px
  }

  .selectStyle {
    width: 295px;
    height: 48px;
    font-size: 24px;
    border-radius: 5px;
    margin-right: 28px;
    text-indent: 38px;
    margin-top: -4px;
  }

  .camera {
    background: transparent 0% 0% no-repeat padding-box;
    margin-left: 29px;
  }

  .lineArea {
    border-bottom: 1px solid #EAEBEC;
    display: flex;
    flex-direction: row;
    height: 132px;
    padding-top: 47.64px;
    padding-bottom: 43.94px;
    padding-left: 24px;
    padding-right: 24px;
  }

  .buttonStyle {
    display: flex;
    flex-direction: row;
  }

  .boxArea {
    margin: auto;
    border-radius: 5px;
    min-width: 335px;
  }

  .arrow-down {
    color: black;
    width: 25px;
    height: 15px;
    margin-top: 8px;
    opacity: 0.54;
    cursor: pointer;
    font-size: 0px;
  }
}
