<ion-header>
  <ion-toolbar>
    <ion-title class = "ion-title">供应商</ion-title>
  </ion-toolbar>
 </ion-header>

 <ion-content>
   <ion-item>
    <label>供应商简称:</label> <input type = "text "  maxlength="10" min="1" [(ngModel)]="channelbre"/>&nbsp;
    
   </ion-item>

   
<ion-item>
  <ion-button class="toroku-button" color="primary" (click)="onSearch()">查询</ion-button>
  <ion-button class="toroku-button" color="primary"  routerLink ='/homepage'>返回</ion-button>
</ion-item>
   <ion-item class="head-title minW2300">
    <ion-col size="1.0">账号</ion-col>
    <ion-col size="1.0">简称</ion-col>
    <ion-col size="1.0">状态（自动）</ion-col>
    <ion-col size="1.0">余额（自动）</ion-col>
    <ion-col size="1.0">时间（自动）</ion-col>
    <ion-col size="1.0">状态（自动）</ion-col>
    <ion-col size="1.0">延迟（自动）</ion-col>
    <ion-col size="1.0">间隔（自动）</ion-col>
    <ion-col size="1.0">重试次数</ion-col>
    <ion-col size="1.0">网关</ion-col>
    <ion-col size="1.0">卡单笔数</ion-col>
   </ion-item>


    <ion-item class="minW2300" *ngFor="let sysUser of sysChannelInfoList">
      <ion-col size="2.0">{{sysUser.authoryName}}</ion-col>
      <ion-col size="2.0">{{sysUser.abbreviation}}</ion-col>
    </ion-item>



</ion-content>