.message {
  background-color: #232F34;
  text-align: left;
  font-size: 0.12rem;
  color: white;
  border-radius: 0.02rem;
  padding-top: 0.08rem;
  padding-bottom: 0.08rem;
  padding-left: 0.16rem;
  line-height: 0.22rem;
  word-break: break-all;
  max-width: 2.90rem;
}