.container {
  background: white;
  padding: 0.17rem 0.26rem 0.14rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 2.8rem;

  .span-title {
    font-size: 0.16rem;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    line-height: 0.22rem;
  }

  .div-content {
    border: 0.01rem solid #cccccc;
    border-radius: 0.03rem;
    padding: 0.08rem;
    width: 2.28rem;
    height: 0.32rem;
    margin-top: 0.126rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    color: #000000;

    .content-span {
      font-size: 0.15rem;
      color: black;
      margin-top: 0.05rem;
      margin-left: 0.1rem;
    }

    .content-title {
      position: absolute;
      background: white;
      font-size: 0.08rem;
      left: 0.35rem;
      top: 0.43rem;
      color: #333333;
      padding: 0 0.04rem;
    }

    .content-arrow {
      margin-top: 0.05rem;
      width: 0.3rem;
      height: 0.3rem;
    }

  }


  .div-input {
    border: 1px solid #cccccc;
    border-radius: 0.03rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0.13rem 0.08rem;
    width: 2.28rem;
    height: 1.47rem;
    margin-top: 0.14rem;
   

    .input-title {
      position: absolute;
      background: white;
      font-size: 0.08rem;
      left: 0.35rem;
      top: 0.9rem;
      color: #333333;
      z-index: 1;
      padding: 0 0.04rem;
    }

    .input-textarea {
      font-size: 0.12rem;
      color: #000000;
      background: transparent;
      border: none;
      z-index: 2;
      width: 100%;
      height: 100%;
      resize: none;
      caret-color: #0097E0;
      outline: none;
    }
  }


  .div-input.input-focus {
    border: 0.01rem solid #0097E0;
  }

  .div-input .input-title.title-focus {
    color: #0097E0;
  }

  .div-button {
    width: 100%;
    margin-top: 0.21rem;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;

    .button-ok {
      font-size: var(--button-font-size-14-mobile);
      cursor: pointer;
      color: #0097E0;
      line-height: 0.19rem;
      margin-right: 0.04rem;
    }

    .button-cancel {
      font-size: var(--button-font-size-14-mobile);
      cursor: pointer;
      color: #0097E0;
      line-height: 0.19rem;
      margin-right: 0.3rem;
    }
  }
}

.ionSelectbox {
  --padding-bottom: 0;
  --padding-end: 0.02rem;
  --padding-start: 0;
  --padding-top: 0;
  color: black;
  font-size: 0.15rem;
  height: 100%;
  width: 100%;
  align-items: center;
}
