<div class="container">
  <span class="span-title">立会人の選択・備考の記入</span>
  <div class="div-content" (click)="selectWitness($event)">
    <div class="content-title">立会人</div>
    <ion-select class="ionSelectbox" mode="md" [interface]="platformtype === 'camera-modal-edit-mobile'?'alert':'popover'" color="light" [interfaceOptions]="{cssClass: 'dkj-alert'}"
      [value]="cameraStore.currentWitness" cancelText="キャンセル" (ionChange)="selectWitness($event)">
      <ion-select-option [value]="nullcurrentWitness">{{defaultWitnessName}}</ion-select-option>
      <ion-select-option
        *ngFor="let item of cameraStore.witnessList !== null && cameraStore.witnessList.length !== 0 ? cameraStore.witnessList : null"
        [value]="item">{{item.witnessName}}</ion-select-option>
    </ion-select>
  </div>
  <div class="div-input" id="div-input">
    <div class="input-title" id="input-title">備考</div>
    <textarea (focus)="notefocus()" (blur)="noteblur()" class="input-textarea" [(ngModel)]="note" placeholder='備考を入力します。'>
    </textarea>
  </div>

  <div class="div-button">
    <div class="button-cancel" (click)="cancel()">キャンセル
    </div>
    <div class="button-ok" (click)="ok()">OK
    </div>
  </div>

</div>
