.chatroom-create-complete-mobile {

  --overflow: hidden;

  .list-container {
    display: flex;
    height: 100%;
    flex-direction: column;
    flex-wrap: nowrap;
    padding: 0 0.15rem;
    margin: 0 auto;
    width: 3.27rem;
    .title {
      color: #59595C;
      font-size: 0.14rem;
      margin-top: 0.16rem;
      text-align: center;
    }

    .has-focus {
      border-bottom: solid 2px #0097E0 !important;
    }

    .input-name {
      font-size: 0.12rem;
      width: 3.27rem;
      height: 0.17rem;
      margin-top: 0.18rem;
    }
    .input-item {
      --padding-start: 0;
      --min-height: 0.3rem;
      margin-top: 0.04rem;
      --highlight-height: 0;
      .input {
        // height: 0.22rem;
        font-size: 0.16rem;
        border-bottom: 0.01rem solid #999999;
      }
    }

    .padding-item {
      color: #59595C;
      margin-top: 0.24rem;
      font-size: 0.16rem;
      text-align: center;
    }
    .list-content {
      flex: 1;
      border: 0.01rem solid rgba(89, 89, 92, .5);
      border-radius: 0.05rem;
      margin-top: 0.08rem;
      overflow: auto;
      .list-row {
        font-size: var(--label-font-size-16-mobile);
        height: 0.4rem;
        line-height: 0.4rem;
        padding: 0 0.15rem !important;
        .list-col{
          height: 0.4rem;
          line-height: 0.4rem;
          display: flex;
          .username {
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            font-size: var(--label-font-size-16-mobile);
            color: #000;
            width: 1rem;
            flex: 1;
          }
          .company-name {
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            font-size: var(--label-font-size-14-mobile);
            color: rgba(0, 0, 0, 0.5);
            width: 1.5rem;
            padding-left: 0.20rem;
            flex: 1;
          }
        }
      }
    }
    .btns {
      display: flex;
      align-items: center;
      justify-content: center;
      margin-top: 0.38rem;
      height: 0.88rem;
      .cancle-back {
        --box-shadow: none;
        border: 0.01rem solid #0097E0;
        border-radius: 0.05rem;
        --color-activated: none;
        width: 1.24rem;
        height: 0.36rem;
        margin-right: 0.24rem;
        --border-radius: 0.05rem;
      }
      .cancle-ok {
        width: 1.24rem;
        height: 0.36rem;
        --border-radius: 0.05rem;
      }
    }
  }
}
