<app-head></app-head>

<ion-content [ngClass]="platformtype">
  <div class="list-container">
    <div class="title">チャットルーム名を入力してください</div>
    <div class="input-name" id="name">チャットルーム名</div>
    <ion-item class="input-item" lines="none">
      <ion-input [(ngModel)]="chatroomName" (ionFocus)="focusInName()" (ionBlur)="focusOutName()" class="input" placeholder="チャットルーム名を入力してください" maxlength="30">
      </ion-input>
    </ion-item>
    <div class="padding-item">登録済みメンバー</div>
    <div class="list-content">
      <ion-grid>
        <ion-row *ngFor="let user of selectedUserList" class="list-row">
          <ion-col class="list-col" size="12" (click)="clickItem(chatroom)" (press)="onPress($event,user)">
            <ion-label class="username whitespace_pre">{{user.userName}}</ion-label>
            <ion-label class="company-name whitespace_pre">{{user.companyName}}</ion-label>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>
    <ion-row class="btns">
      <ion-button class="cancle-back" color="whitebtn" (click)="cancenButtonClick()">戻る</ion-button>
      <ion-button class="cancle-ok" (click)="commitButtonClick()" [disabled]="isDisabled()">作成</ion-button>
    </ion-row>
  </div>
</ion-content>

<!-- <app-footer></app-footer> -->
