<ion-header>
  <ion-toolbar>
    <ion-title>渠道汇总</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-item>
   
    <label>代理简称:</label> <input type = "text "  maxlength="10" min="1" [(ngModel)]="agencyabbreviation"/>&nbsp;
    <label>面值:</label> <input type = "text "  maxlength="10" min="1" [(ngModel)]="value"/>&nbsp;
    <label>运营商:</label>
    <select name = "provideSevice" id ="provideSevice" [(ngModel)] = "channelSammaryInfo.provideSevice">
     <option [value] ="item1" *ngFor = "let item1 of channelSammaryInfo.provideSerivceList">{{item1}}</option>
    </select>&nbsp;

    <ion-label>
      时间范围:
    </ion-label>
    <ion-input class="inputName">
      <ion-datetime class="datetime" mode="md" displayFormat="YY/MM" done-text="OK" cancel-text="キャンセル"
        placeholder="ocrManufacturingDate" [(ngModel)]="ocrManufacturingDate"></ion-datetime>
    </ion-input>
  </ion-item>


  <ion-item>
    <ion-button class="toroku-button" color="primary" (click)="onSearch()">重置</ion-button>
    <ion-button class="toroku-button" color="primary" (click)="onSearch()">确认</ion-button>
    <ion-button class="toroku-button" color="primary"  routerLink ='/homepage'>返回</ion-button>
   </ion-item>
 
 
  <ion-item class="head-title minW2300">
    <ion-col size="2.0">渠道简称</ion-col>
    <ion-col size="2.0">交易金额</ion-col>
    <ion-col size="2.0">成功金额</ion-col>
    <ion-col size="2.0">总实付金额</ion-col>
    <ion-col size="2.0">总笔数</ion-col>
    <ion-col size="2.0">成功笔数</ion-col>
    <ion-col size="2.0">失败笔数</ion-col>
    <ion-col size="2.0">成功比率</ion-col>
    <ion-col size="2.0">成功平均时长</ion-col>
    <ion-col size="2.0">失败平均时长</ion-col>
    <ion-col size="2.0">三分钟到账率</ion-col>
    <ion-col size="2.0">十分钟到账率</ion-col>
    <ion-col size="2.0">利润</ion-col>
  
</ion-item>


</ion-content>
