<app-head></app-head>
<ion-content [ngClass]="platformtype">
  
  <div class="container">
    <ion-item class="header-content" lines="none">
      <select *ngIf="isPc" [(ngModel)]="selectBigProcess" (ngModelChange)="codeChange(selectBigProcess)" class="big-select">
        <option *ngFor="let bigProcess of bigProcesses" value={{bigProcess.id}}>{{bigProcess.value}}</option>
      </select>
      <ion-label>{{gamenLable.screenGuide}}</ion-label>
    </ion-item>
    <ion-row class="row-container">
      <ion-item class="title-item" lines="none">
        <div class="edit-icon"><img src="./assets/icon/edit.svg"></div>
        <ion-label>{{gamenLable.basicInformation}}</ion-label>
      </ion-item>
      <ion-item class="body-item w-full" lines="none">
        <ion-label class="body-label">{{gamenLable.buildingName}}</ion-label>
        <ion-input class="input-style" type="text" maxlength="100" [(ngModel)]="chooseBuildingName" >
        </ion-input>
      </ion-item>
      <ion-item class="body-item w-full" lines="none">
        <ion-label class="body-label">{{gamenLable.constructionName}}</ion-label>
        <ion-input class="input-style" type="text" maxlength="100" [(ngModel)]="chooseConstructionName" >
        </ion-input>
      </ion-item>
      <ion-item class="body-item w-full" lines="none">
        <ion-label class="body-label">{{gamenLable.largeProcessName}}</ion-label>
        <ion-input class="input-style" type="text" maxlength="60" [(ngModel)]="chooseLargeProcessName" >
        </ion-input>
      </ion-item>
    </ion-row>
    <ion-row class="row-container">
      <ion-item  class="title-item" lines="none">
        <div class="edit-icon"><img src="./assets/icon/edit.svg"></div>
        <ion-label>{{gamenLable.outputProcess}}</ion-label>
      </ion-item>
      <ion-item class="body-item w-full body-item-title marginBottom marginR" lines="none">
        <ion-label class="select-title">{{gamenLable.outputProcessGuide1}}{{gamenLable.outputProcessGuide2}}</ion-label>
      </ion-item>
      <!-- <ion-item class="body-item" lines="none"> -->
        <ion-list class="body-item marginL" lines="none">
          <ion-item class="processWork" lines="inset">
            <ion-checkbox class="body-checkbox selectAll" mode="md" [(ngModel)]="selectedAll" (ngModelChange)="selectedAllClick()"></ion-checkbox>
            <ion-label class="body-item-value selectAllLabel">全て</ion-label>
          </ion-item>
          <ng-container *ngFor="let process of processChks">
            <ion-item class="processWork">
              <div>
                <ion-checkbox [(ngModel)]="process.ischeck" class="item-start" mode="md"
                  (ngModelChange)="processChkClick(process, true)">
                </ion-checkbox>
              </div>
              <ion-label class="body-item-value whitespace_pre_wrap width_350" (click)="processChkClick(process, false)">{{process.processName}}</ion-label>
              <div class="arrow" (click)="expandChange(process)">
                <ion-img slot="end" src="./assets/icon/arrow-up.svg" class="item-right" *ngIf="process.isOpen"></ion-img>
                <ion-img slot="end" src="./assets/icon/arrow-down.svg" class="item-right" *ngIf="!process.isOpen"></ion-img>
              </div>
            </ion-item>
            <div *ngIf="process.isOpen">
              <ion-list lines="none">
                <ion-item *ngFor="let work of process.workList;" class="processWork">
                  <div>
                    <ion-checkbox [(ngModel)]="work.ischeck" mode="md"
                      (ngModelChange)="workChkClick(process)"></ion-checkbox>
                  </div>
                  <ion-label class="body-item-value whitespace_pre_wrap">{{ work.workName }}</ion-label>
                </ion-item>
                <ion-item class="processWork">
                  <div>
                    <ion-checkbox [(ngModel)]="process.unknownWorkOutput" mode="md"
                      (ngModelChange)="workChkClick(process)"></ion-checkbox>
                  </div>
                  <ion-label class="body-item-value whitespace_pre_wrap">不明</ion-label>
                </ion-item>
              </ion-list>
            </div>
          </ng-container>
          <ion-item lines="none" class="processWork">
            <ion-checkbox class="body-checkbox" mode="md" [(ngModel)]="unknownProcessOutput" (ngModelChange)="initSelectedAll()"></ion-checkbox>
            <ion-label class="body-item-value">不明</ion-label>
          </ion-item>
        </ion-list>
      <!-- </ion-item> -->
    </ion-row>
    <ion-row class="row-container">
      <ion-item  class="title-item" lines="none">
        <div class="edit-icon"><img src="./assets/icon/edit.svg"></div>
        <ion-label>{{gamenLable.overallOutputOrder}}</ion-label>
      </ion-item>
      <ion-item class="body-item w-full body-item-title marginR" lines="none">
        <ion-label class="select-title">{{gamenLable.overallOutputOrderGuide1}}{{gamenLable.overallOutputOrderGuide2}}</ion-label>
      </ion-item>
      <ion-item class="body-item marginL" lines="none">
        <ion-radio-group [(ngModel)]="outPutOrder">
          <ion-item lines="none" class="btn-item">
            <ion-radio mode="md" class="body-checkbox body-radio" value="A" checked></ion-radio>
            <ion-label class="body-item-value">{{gamenLable.processPriority}}</ion-label>
          </ion-item>
          <ion-item lines="none" class="btn-item">
            <ion-radio mode="md" class="body-checkbox body-radio" value="B"></ion-radio>
            <ion-label class="body-item-value">{{gamenLable.floorPriority}}</ion-label>
          </ion-item>
        </ion-radio-group>
      </ion-item>
    </ion-row>
    <ion-row class="row-container">
      <ion-item class="title-item w-full" lines="none">
        <div class="edit-icon"><img src="./assets/icon/edit.svg"></div>
        <ion-label class="select-title">{{gamenLable.outputPerPage}}</ion-label>
      </ion-item>
      <ion-item class="body-item marginL" lines="none">
        <ion-label hidden>{{gamenLable.outputPerPage}}</ion-label>
        <!-- <ion-select class="selectCountOption btn-item" interface="action-sheet" mode="ios" cancelText="キャンセル" [(ngModel)]="pageCnt">
          <ion-select-option value="3">3</ion-select-option>
          <ion-select-option value="2">2</ion-select-option>
        </ion-select> -->
        <ion-radio-group [(ngModel)]="pageCnt">
          <ion-item lines="none" class="btn-item">
            <ion-radio mode="md" class="body-checkbox body-radio" value="3" checked></ion-radio>
            <ion-label class="body-item-value">3枚</ion-label>
          </ion-item>
          <ion-item lines="none" class="btn-item">
            <ion-radio mode="md" class="body-checkbox body-radio" value="2"></ion-radio>
            <ion-label class="body-item-value">2枚</ion-label>
          </ion-item>
        </ion-radio-group>
      </ion-item>
    </ion-row>
  </div>
</ion-content>
<!-- <app-footer></app-footer> -->
<ion-footer [ngClass]="platformtype" class="photo-footer">
  <div class="container-footer">
    <div class="pageing">
      <ion-label class="photo-footer-label active"></ion-label>
      <ion-label class="photo-footer-label"></ion-label>
      <ion-label class="photo-footer-label"></ion-label>
    </div>
    <div class="next-btn" (click)="nextPage()">{{gamenLable.moveOn}}<span class="arrow-right"></span></div>
  </div>
</ion-footer>