.photobook-info-set-web {
  
  .w-full {
    width: 100%;
  }
  .container {
    width: 900px;
    margin: 0 auto;
    margin-bottom: 120px;

    .header-content {
      padding: 0;
      font-size: 14px;
      color: #59595C;
      text-align: center;
      margin-top: 17px;

      .big-select {
        font-size: 16px;
        display: block;
        border: 1px solid #707070;
        border-radius: 4px;
        opacity: 1;
        left: 551px;
        top: 149px;
        width: 242px;
        height: 42px;
        font-size: 16px;
        text-indent: 17px;
      }

      ion-label {
        text-align: left;
        margin-left: 51px;
        top: 161px;
        font-size: var(--label-font-size-14-web);
      }
    }

    .row-container::before {
      content: "";
      position: absolute;
      border-left: 1px solid #BDBDBD;
      top: 0;
      left: 26px;
      bottom: -10px;
    }

    .row-container {
      position: relative;
      margin-top: 15px;

      .title-item {
        color: #000000;
        font-size: 16px;
        width: 100%;

        .edit-icon {
          background-color: rgba(0, 0, 0, 0.26);
          width: 24px;
          height: 24px;
          border-radius: 50%;
          display: flex;
          justify-content: center;
          align-items: center;
          margin-right: 10px;
          position: relative;

          img {
            width: 16px;
            height: 16px;
          }
        }
      }

      .marginL {
        margin-left: 38px !important;
      }

      .body-item {
        margin-left: 80px;
        font-size: 14px;
        color: #000000;

        ion-list {
          padding: 0;
          padding-left: 30px;
        }

        .processwork-item{
          --padding-start: 0;
          font-size: 0.14rem;
        }

        .btn-item {
          --min-height: auto;
          margin-top: 15px;
          font-size: 14px;
        }

        .body-label {
          width: 100px;
        }

        .input-style {
          border-bottom: 1px solid rgba(0, 0, 0, 0.2);
          color: #666666;
          font-weight: 300;
          box-sizing: border-box;
          margin-right: 10px;
          --padding-start: 0;
        }

        .select-title {
          text-overflow: inherit;
          white-space: normal;
          overflow: auto;
          margin: 0;
          font-size: var(--label-font-size-14-web);
        }

        .item-start {
          width: 18px;
          height: 18px;
          margin: 0; 
          padding: 0;
          --background-checked: #09f;
          --border-color-checked: #09f;
          --border-color: #757575;
          --color-checked: #09f;
          position: relative;
        }

        .body-item-value {
          margin: 0 0 0 10px;
          font-size: var(--label-font-size-14-web);
          color:#000000;
        }

        .width_350 {
          min-width: 350px;
        }
      }

      .marginBottom {
        margin-top: -7px;
        margin-bottom: 0;
      }

      .marginR {
        margin-right: 20px;
      }

      .selectAll {
        margin-bottom: 16px;
        margin-top: 16px;
      }

      .selectAllLabel {
        margin-bottom: 1px !important;
      }

      .body-item-title {
        margin-left: 35px;
        padding: 0;
        --min-height: auto;
      }

      .btn-item {
        --padding-start: 0;
      }

      .list-md {
        padding-top: 0;
        padding-bottom: 0;
      }
    }

    ion-item {
      --min-height: 40px;
    }
  }
}

.photobook-info-set-web.photo-footer {
  height: 50px;
  position: relative;
  font-size: 14px;
  background: #000;
  border: none;
  width: 100%;

  .container-footer {
    width: 1024px;
    margin: 0 auto;
    height: 50px;
    position: relative;

    .pageing {
      position: absolute;
      width: 100px;
      text-align: center;
      top: 12px;
      left: 50%;
      margin-left: -50px;

      .photo-footer-label {
        background-color: rgba(255, 255, 255, .54);
        height: 6px;
        width: 6px;
        border-radius: 50%;
        display: inline-block;
        margin-left: 5px;
      }

      .active {
        background-color: #0097E0;
      }
    }
    
    .next-btn {
      position: absolute;
      right: 15px;
      margin-top: 15px;
      color: #fff;
      cursor: pointer;
      width: 80px;
      text-align: right;
      padding-right: 15px;
      .arrow-right {
        position: absolute;
        border-top: 2px solid #fff;
        display: inline-block;
        width: 10px;
        border-right: 2px solid #fff;
        height: 10px;
        transform: rotate(45deg);
        top: 5px;
        right: 0;
      }
    }
  }
}
