.photobook-info-set-mobile {

  padding-bottom: 0.5rem;
  .w-full {
    width: 100%;
  }

  .container {
    margin-bottom: 0.6rem;

    .header-content {
      padding: 0;
      font-size: 0.14rem;
      color: #59595C;
      margin-top: 0.05rem;
      margin-bottom: -0.04rem;
    }

    .row-container::before {
      content: "";
      position: absolute;
      border-left: 0.01rem solid #BDBDBD;
      top: 0;
      left: 0.265rem;
      bottom: -0.1rem;
      z-index: 99;
    }

    .row-container {
      position: relative;

      .title-item {
        color: #000000;
        font-size: 0.16rem;
        letter-spacing: 0.0049rem;
        width: 100%;
        z-index: 100;

        .edit-icon {
          background-color: rgba(0, 0, 0, 0.26);
          width: 0.24rem;
          height: 0.24rem;
          border-radius: 50%;
          display: flex;
          justify-content: center;
          align-items: center;
          margin-right: 0.1rem;

          img {
            width: 0.16rem;
            height: 0.16rem;
          }
        }
      }

      .marginL {
        margin-left: 0.2rem !important;
      }

      .body-item {
        margin-left: 0.35rem;
        font-size: 0.14rem;
        color: #000000;

        ion-list {
          padding: 0;
          padding-left: 30px;
        }

        .processwork-item{
          --padding-start: 0;
          font-size: 0.14rem;
        }

        .btn-item {
          --min-height: auto;
          margin-top: 0.15rem;
          font-size: 0.14rem;
        }

        .body-label {
          width: 0.7rem;
        }

        .input-style {
          border-bottom: 0.01rem solid rgba(0, 0, 0, 0.2);
          color: #666666;
          font-weight: 300;
          box-sizing: border-box;
          margin-right: 0.1rem;
          --padding-start: 0;
          padding-left: 0.04rem !important;
        }

        .select-title {
          text-overflow: inherit;
          white-space: normal;
          overflow: auto;
          margin: 0;
          font-size: var(--label-font-size-14-mobile);
          line-height: 0.2rem;
        }

        .item-start {
          width: 0.18rem;
          height: 0.18rem;
          margin: 0; 
          padding: 0;
          --background-checked: #09f;
          --border-color-checked: #09f;
          --border-color: #757575;
          --color-checked: #09f;
          position: relative;
        }

        .body-radio {
          --size: 0.16rem;
          width: 0.16rem;
          height: 0.16rem;
        }

        .body-item-value {
          margin: 0 0 0 0.1rem;
          font-size: var(--label-font-size-14-mobile);
          color:#000000;
        }

        .width_350 {
          min-width: 350px;
        }
      }

      .marginBottom {
        margin-top: 0.02rem;
        margin-bottom: 0.22rem;
        line-height: 0.19rem;
      }

      .marginR {
        margin-right: 0.2rem;
      }

      .selectAll {
        margin-bottom: 0;
        margin-top: 0.02rem;
      }

      .selectAllLabel {
        margin-bottom: 0 !important;
      }

      .list-md {
        padding-top: 0;
        padding-bottom: 0;
      }
    }

    ion-item {
      --min-height: 0.4rem;
    }
  }
}

.photobook-info-set-mobile.photo-footer {
  height: 0.48rem;
  font-size: 0.14rem;
  background: #000;
  border: none;

  .container-footer {
    position: relative;
    height: 0.48rem;

    .pageing {
      position: absolute;
      width: 1rem;
      text-align: center;
      top: 0.11rem;
      left: 50%;
      margin-left: -0.5rem;

      .photo-footer-label {
        background-color: rgba(255, 255, 255, .54);
        height: 0.06rem;
        width: 0.06rem;
        border-radius: 50%;
        display: inline-block;
        margin-left: 0.05rem;
      }

      .active {
        background-color: #0097E0;
      }
    }

    .next-btn {
      position: absolute;
      right: 0.15rem;
      margin-top: 0.15rem;
      color: #fff;
      cursor: pointer;
      width: 0.5rem;
      text-align: right;
      padding-right: 0.15rem;
      
      .arrow-right {
        position: absolute;
        border-top: 0.02rem solid #fff;
        display: inline-block;
        width: 0.1rem;
        border-right: 0.02rem solid #fff;
        height: 0.1rem;
        transform: rotate(45deg);
        top: 0.06rem;
        right: 0;
      }
    }
  }
}
