<ion-header>
    <ion-title>{{headerTitle}}</ion-title>
    <!-- <ion-searchbar (ionInput)="getItems($event)"></ion-searchbar> -->

    <ion-item>
        <div class="middle-content-order">
            <div class="middle-order-icon">
                {{title}}
                <ion-icon name="ios-arrow-forward" item-right *ngIf="isShow" (click)="isShow=!isShow"></ion-icon>
                <ion-icon name="ios-arrow-down" item-right *ngIf="!isShow" (click)="isShow=!isShow"></ion-icon>
            </div>
        </div>
    </ion-item>

    <ion-list *ngIf="!isShow">
        <ion-item>
            <ion-label position="relative">
                {{userIdLabel}}
            </ion-label>
            <ion-input type="text" class="inputBorder" maxlength="10" min="1" [(ngModel)]="employeeId"></ion-input>
            <pre>{{space}}</pre>
            <ion-label position="relative">
                {{userNameLabel}}
            </ion-label>
            <ion-input type="text" class="inputBorder" maxlength="10" min="1" [(ngModel)]="employeeName"></ion-input>
        </ion-item>

        <ion-item>
            <ion-button class="toroku-button" color="primary" (click)="onSearch()">{{search}}</ion-button>
        </ion-item>

 
    </ion-list>
</ion-header>

<ion-content class="uploadForm">
    <ion-item class="head-title minW2300">
        <ion-col size="2.0">{{userListHead[0]}}</ion-col>
        <ion-col size="2.0">{{userListHead[1]}}</ion-col>
        <ion-col size="2.0">{{userListHead[2]}}</ion-col>
        <ion-col size="2.0">{{userListHead[3]}}</ion-col>
        <ion-col size="2.0">{{userListHead[4]}}</ion-col>
        <ion-col size="2.0">{{userListHead[5]}}</ion-col>
    </ion-item>

    <ion-item class="minW2300" *ngFor="let sysUser of sysUserList">
        <ion-col size="2.0">{{sysUser.userId}}</ion-col>
        <ion-col size="2.0">{{sysUser.userName}}</ion-col>
        <ion-col size="2.0">{{sysUser.companyName}}</ion-col>
        <ion-col size="2.0">{{sysUser.authorityId}}</ion-col>
        <ion-col size="2.0">{{sysUser.mailAddress}}</ion-col>
        <ion-col size="2.0">{{sysUser.isLogin}}</ion-col>
    </ion-item>
</ion-content>