<div class="modalDiv" [ngClass]="platformtype">
  <div class="modalTitle">{{gamenLable.addProcessTitle}}</div>
  <ion-grid class="processform">
    <ion-row class="processform-label" align-items-start>
      <ion-col class="ion-row-1" id="sort">{{gamenLable.displayOrder}}</ion-col>
      <ion-col class="ion-row-2"></ion-col>
      <ion-col size="9" id="processName">{{gamenLable.addName}}</ion-col>
    </ion-row>
    <ion-row align-items-start>
      <ion-col class="ion-row-1">
        <ion-input (ionFocus)="focusInSort()" (ionBlur)="focusOutSort()" class="inputBorder" maxlength="2" min="1" max="99" [(ngModel)]="gamenDto.displayOrder" type="number"
          required="true"></ion-input>
      </ion-col>
      <ion-col class="ion-row-2"></ion-col>
      <ion-col size="9">
        <ion-input (ionFocus)="focusInProcessName()" (ionBlur)="focusOutProcessName()" class="inputBorder" maxlength="60" [(ngModel)]="gamenDto.processName" required="true"></ion-input>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-label class="sortLabel">{{gamenLable.message}}</ion-label>
  <div class="div-button">
    <ion-button class="button-cancel" color="whitebtn" (click)=onNoClick()>{{gamenLable.cancel}}</ion-button>
    <ion-button class="button-ok" color="whitebtn" (click)=onAddClick() [disabled]="isUpdated()">{{gamenLable.ok}}
    </ion-button>
  </div>
</div>
