<ion-header>
  <ion-toolbar>
    <ion-title class="title">资金记录</ion-title>
  </ion-toolbar>

  <ion-item>
    <label>代理账户:</label><input type="text" [(ngModel)]="corpId" maxlength="10" min="1" />&nbsp;
    <label>代理名称:</label><input type="text" [(ngModel)]="agentName" maxlength="10" min="1" />&nbsp;
    <label>代理简称:</label><input type="text" [(ngModel)]="agentRecordName" maxlength="10" min="1" />&nbsp;
  </ion-item>

  <ion-item>
    <label>代理流水:</label> <input type="text" [(ngModel)]="reqId" maxlength="10" min="1" />&nbsp;
    <label>交易流水:</label> <input type="text" [(ngModel)]="orderId" maxlength="10" min="1" />&nbsp;
    <label>请求流水:</label> <input type="text" [(ngModel)]="billId" maxlength="10" min="1" />&nbsp;
  </ion-item>

  <ion-item>
    <label>交易方式:</label>
    <select name="bussiness" id="bussiness" [(ngModel)]="orderForm">
      <option [value]="item" *ngFor="let item of bussinessInfo.bussinessInfoList">{{item}}</option>
    </select>&nbsp;

    <label>交易类型:</label>
    <select name="bussiType" id="bussiType" [(ngModel)]="orderType">
      <option [value]="item1" *ngFor="let item1 of bussinessInfo.bussiTypeList">{{item1}}</option>
    </select>&nbsp;

    <ion-label>
      <div class="titleInput">时间范围:</div>
    </ion-label>
    <ion-input class="inputName">
      <ion-datetime class="datetime" mode="md" displayFormat="YY/MM" done-text="OK" cancel-text="キャンセル"
        placeholder="ocrManufacturingDate" [(ngModel)]="ocrManufacturingDate"></ion-datetime>
    </ion-input>&nbsp;
  </ion-item>

  <ion-item>
    <ion-button class="toroku-button" color="primary" (click)="onSearch()">查询</ion-button>
    <ion-button class="toroku-button" color="primary" (click)="onEdit()">编辑</ion-button>
    <ion-button class="toroku-button" color="primary" routerLink='/homepage'>返回</ion-button>
  </ion-item>

  <ion-item class="head-title minW2300">
    <ion-col size="1.7">&#12288;代理商</ion-col>
    <ion-col size="1.7">代理流水</ion-col>
    <ion-col size="1.7">本地流水</ion-col>
    <ion-col size="1.7">渠道流水</ion-col>
    <ion-col size="1.7">账户简称</ion-col>
    <ion-col size="1.7">方式</ion-col>
    <ion-col size="1.7">类型</ion-col>
    <ion-col size="1.7">之前余额</ion-col>
    <ion-col size="1.7">交易金额</ion-col>
    <ion-col size="1.7">状态</ion-col>
    <ion-col size="1.7">支付时间</ion-col>
  </ion-item>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item class="minW2300" *ngFor="let sysFundRecorder of sysFundRecorderList">
      <ion-col size="1.7">
        <input type="checkbox" [(ngModel)]="sysFundRecorder.isChecked" class="item-start"
          (ngModelChange)="sysFundRecorderChkClick(sysFundRecorder, sysFundRecorderList)" />
        {{sysFundRecorder.agentName}}
      </ion-col>
      <ion-col size="1.7">{{sysFundRecorder.reqId}}</ion-col>
      <ion-col size="1.7">{{sysFundRecorder.orderId}}</ion-col>
      <ion-col size="1.7">{{sysFundRecorder.billId}}</ion-col>
      <ion-col size="1.7">{{sysFundRecorder.agentReduceName}}</ion-col>
      <ion-col size="1.7">{{sysFundRecorder.orderForm}}</ion-col>
      <ion-col size="1.7">{{sysFundRecorder.orderType}}</ion-col>
      <ion-col size="1.7">{{sysFundRecorder.capital}}</ion-col>
      <ion-col size="1.7">{{sysFundRecorder.price}}</ion-col>
      <ion-col size="1.7">{{sysFundRecorder.status}}</ion-col>
      <ion-col size="1.7">{{sysFundRecorder.ts}}</ion-col>
    </ion-item>
  </ion-list>
</ion-content>
