.ion-title {
  text-align: center;
}

.title {
  font-size: 50px;
  text-align: center;
}

.people_list {
  width: 1000px;
  margin: 0 auto;

  padding: 0px;
  border: solid none;
}

.uploadForm {
  font-size: 16px;
}

.edit-button {
  float: right;
  right: 50px;
}

.bigprocess {
  margin-left: 50px;
}

.addProcess {
  text-decoration: underline;
  color: blue;
  cursor: pointer;
  margin-left: 30px;
}

.addWork {
  text-decoration: underline;
  color: blue;
  cursor: pointer;
  margin-left: 80px;
}

.padding05 {
  padding: 0 5px;
}

.process {
  margin: 5px;
}

.processDiv {
  padding: 0;
  margin: 0;
}

.workDiv {
  padding-left: 40px;
}

.item-left {
  display: inline-block;
}

.item-right {
  display: inline-block;
  margin-left: auto;
}

.processColomn3 {
  margin-top: auto;
  margin-bottom: auto;
  // color: #0070C0;
}

.workColomn2 {
  margin-top: auto;
  margin-bottom: auto;
  // color: #0070C0;
  margin-left: 80px;
}

.button-outline {
  border: solid 1px black;
}

.button {
  border-radius: 5px;
  padding: 0px 15px;
  display: block;
  width: 110px;
  height: 35px;
}

.processAddPageModal {
  width: 80%;
}

.inputBorder {
  border: 1px solid;
  height: 30px;
  width: 5px;
  line-height: 3px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.inputBorder-search {
  border: 1px solid;
  height: 30px;
  width: 265px;
  line-height: 30px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.inputFile {
  display: none;
}

.btn {
  height: 30px;
  width: 80px;
  line-height: 30px;
  position: absolute;
  left: 360px;
  top: calc(50% - 15px);
  padding: 0 10px;
}

.confirmBtn {
  margin-left: 355px;
  height: 30px;
  width: 80px;
  line-height: 30px;
}

.msgBox {
  width: 510px;
  height: 200px;
  border: 1px solid;
  margin-top: 50px;
  position: relative;
  left: -77px;
}

.selectOption {
  border: 1px solid;
  height: 30px;
  width: 265px;
  line-height: 30px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.selectBg {
  background-color: rgba(0, 0, 0, 0.07);
}

.targetSelect {
  position: absolute;
  left: 5px;
  top: 10px;
}

.selectShow {
  visibility: show;
}

.selectHide {
  visibility: hidden;
}

.btnMargin {
  // margin-left: 265px;
  position: absolute;
  left: 265px;
  top: 0px;
  // padding: 0 10px;
}

.inputlabel {
  // background-color: red;
  // border: 1px dotted green;
  width: 5px;
  // text-align: right;
  position: relative;
  // height: 50px;
  display: inline-block;
}

.label-title {
  width: 10px;
  margin-top: 18px;
  line-height: 16px;
  font-size: var(--label-font-size-16-web);
  outline: none;
  // display: inline-block;
}

.toroku-button {
  // background-color: white;
  border-radius: 5px;
  padding-left: 0px 15px;
  display: block;
  width: 110px;
  height: 30px;
  // margin-left: 93%;
  float: right;
}

.fontsize {
  font-size: 15px;
}

.titleInput {
  display: inline-block;
  white-space: pre-wrap;
}

.inputName {
  text-align: right;
  height: 0.23rem;
}
