ion-content {
  --overflow: hidden;

}

.photolist-mobile {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;

  .list-head {
    width: 100%;
    height: 0.48rem;
    background-color: #1d1e20;
    display: flex;
    flex-direction: row;
  }



  .head-btn {
    color: white;
    font-size: 0.16rem;
    width: 1.64rem;
    height: 0.48rem;
    line-height: 0.48rem;
    border-right: solid #333333 0.01rem;
    text-align: center;
  }

  .head-delete {
    width: 0.48rem;
    height: 0.48rem;
  }

  .delete-image {
    margin-top: 0.14rem;
    margin-left: 0.15rem;
    width: 0.18rem;
    height: 0.2rem;
    display: block;
  }

  .select-title {
    width: 100%;
    padding: 0rem 0.15rem;
    height: var(--selectBox-height-48-mobile);
    color: white;
    font-size: 0.16rem;
    justify-content: center;
    align-items: center;
    margin-right: 0.05rem;
  }

  .qrok {
    margin-top: 0.08rem;
    width: 0.66rem;
    height: 0.32rem;
    border-left: solid #333333 0.01rem;
    background: url("../../../../../assets/images/qr.svg") no-repeat scroll center center;
    background-size: 0.22rem 0.22rem;
  }

  .qrfailure {
    margin-top: 0.08rem;
    width: 0.66rem;
    height: 0.32rem;
    border-left: solid #333333 0.01rem;
    background: url("../../../../../assets/images/qr.svg") no-repeat scroll center center;
    background-size: 0.66rem 0.32rem;
  }

  .qrdefault {
    margin-top: 0.08rem;
    width: 0.66rem;
    height: 0.32rem;
    border-left: solid #333333 0.01rem;
    background: url("../../../../../assets/images/qr.svg") no-repeat scroll center center;
    background-size: 0.66rem 0.32rem;
  }

  .list-con {
    width: 100%;
    height: calc(100% - 0.96rem);
    overflow: hidden;
  }

  .list-div {
    width: 100%;
    height: 100%;
    overflow: hidden;

  }


  .taost {
    position: absolute;
    width: 3.35rem;
    height: 0.48rem;

    z-index: 9999;
    left: 0.2rem;
    bottom: 0.08rem;
    font-size: 0.14rem;
    border-radius: 0.02rem;
    color: white;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .delete {
    background-color: #ff3333;
  }

  .book {
    background-color: #0097E0;
  }

  .message {
    margin-left: 0.08rem;
    height: 0.48rem;
    line-height: 0.48rem;
  }

  .btns {
    display: flex;
    flex-direction: row;
    justify-self: end;
    height: 0.48rem;
  }

  .taost-btn {
    height: 0.48rem;
    line-height: 0.48rem;
    margin-right: 0.2rem;
  }


}
