<app-head></app-head>
<ion-content>

  <div [ngClass]="platformtype">


    <div class="list-head">
      <div class="head-btn" (click)="changeShowType($event)">{{displayMethod}}</div>
      <div class="head-btn" (click)="photoBookSelect()">{{photobookselect}}</div>

      <div *ngIf="platformtype === 'photolist-web'" class="head-btn-bigp" (click)="bigprocessSelect($event)">
        {{bigProcess.value}}</div>
      <div class="select-title" mode="md" *ngIf="titles.length != 0 && platformtype !== 'photolist-mobile'">
        <ion-select class="select" [compareWith]="compareWithId" [value]="title" (ionChange)="selectTitle($event)"
          selectedText="{{title&&title.title}}" interface="popover" [interfaceOptions]="{cssClass: 'dkj-alert'}"
          (press)="onPress($event,title&&title.title)" cancelText="キャンセル">
          <ion-select-option *ngFor="let item of titles" [value]="item">{{item.title}}
          </ion-select-option>
        </ion-select>
      </div>

      <div *ngIf="canDelete" class="head-delete" (click)="deletephotoclick($event)">
        <img class="delete-image" src="./assets/images/trash.svg" />
      </div>
    </div>

    <div *ngIf="platformtype === 'photolist-mobile'" class="list-head">

      <ion-select class="select-title" [compareWith]="compareWithId" mode="md" interface="alert"
        [interfaceOptions]="{cssClass: 'dkj-alert',header:'工程名 - 作業名'}" [value]="title"
        (ionChange)="selectTitle($event)" selectedText="{{title&&title.title}}" cancelText="キャンセル"
        (press)="onPress($event,title&&title.title)">
        <ion-select-option *ngFor="let item of titles" [value]="item">{{item.title}}
        </ion-select-option>
      </ion-select>

      <div *ngIf="sortby === cd0007Constants.MACHINE && machine" (click)="serialNumberPhotograph($event)"
        [ngClass]="qrstate()"></div>

    </div>
    <div class="list-con">
      <div id="photo-div" class="list-div" *ngIf="datasource!=null&&showType === cd0009Constants.GRID_SHOW">
        <app-photo-show-grid [datas]="datasource" [isPhotoChange]="isPhotoChange" [selectPhotos]="selectPhotos"
          [sortby]="sortby" [bigProcess]="bigProcess" [mulitype]="multitypeselect" [isShowCheckBox]="isShowCheckBox"
          (selectp)="selectphoto($event)" (goPhotoDetail)="goPhotoDetail($event)">
        </app-photo-show-grid>
      </div>

      <div id="photo-div" class="list-div" *ngIf="showType === cd0009Constants.LIST_SHOW">
        <app-photo-show-list [datas]="datasource" [isPhotoChange]="isPhotoChange" [selectPhotos]="selectPhotos"
          [sortby]="sortby" [bigProcess]="bigProcess" [mulitype]="multitypeselect" [isShowCheckBox]="isShowCheckBox"
          (selectp)="selectphoto($event)" (goPhotoDetail)="goPhotoDetail($event)">
        </app-photo-show-list>

      </div>

    </div>


    <div *ngIf="isShowCheckBox" class="taost"
      [ngClass]="multitypeselect === cD0005Constants.DELETE ? 'delete' : 'book'">
      <div class="message">{{message}}</div>
      <div class="btns">
        <div class="taost-btn" (click)="cancle()">{{cancleTitle}}</div>
        <div class="taost-btn" (click)="commit()">{{decision}}</div>
      </div>
    </div>


  </div>



</ion-content>

<!-- <app-footer></app-footer> -->
<app-photo-draw-footer *ngIf="!isPc"></app-photo-draw-footer>
