ion-content {
  --overflow: hidden;

}

.photolist-web {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;

  .list-head {
    width: 100%;
    height: 48px;
    background-color: #1d1e20;
    display: flex;
    flex-direction: row;
    position: relative;
  }

  .head-btn {
    color: white;
    font-size: 16px;
    width: 163.5px;
    height: 48px;
    cursor: pointer;
    line-height: 48px;
    border-right: solid #333333 1px;
    text-align: center;
  }

  .head-delete {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    z-index: 99;
    width: 48px;
    height: 24px;
    border-left: solid #333333 1px;
  }

  .delete-image {
    margin-top: 2px;
    margin-left: 15px;
    width: 18px;
    height: 20px;
    display: block;
  }

  .head-btn-bigp {
    color: white;
    cursor: pointer;
    font-size: 16px;
    width: 295px;
    height: 48px;
    line-height: 48px;
    border-right: solid #333333 1px;
    text-align: center;
  }

  .select-title {
    margin-left: 15px;
    background-color: #1d1e20;
    color: white;
    font-size: 16px;
    width: var(--selectBox-width-375-web);
    height: var(--selectBox-height-48-web);
    line-height: var(--selectBox-height-48-web);
    justify-content: center;
    align-items: center;
  }

  .select-title .select {
    background-color: #1d1e20;
    color: white;
    font-size: 16px;
    width: 100%;
    height: 100%;
    line-height: 100%;
    border-width: 0;
    padding-top: 15px;
  }

  select:focus,
  select:active,
  select:hover {
    outline: none;
  }


  .list-con {
    width: 100%;
    height: 100%;
    overflow: hidden;
  }

  .list-div {
    width: 100%;
    height: 100%;
    overflow: hidden;
  }



  .taost {
    position: absolute;
    width: 335PX;
    height: 48PX;

    z-index: 9999;
    left: calc(50% - 167.5px);
    bottom: 8px;
    font-size: 14px;
    border-radius: 2px;
    color: white;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .delete {
    background-color: #ff3333;
  }

  .book {
    background-color: #0097E0;
  }

  .message {
    margin-left: 8px;
    height: 48px;
    line-height: 48px;
  }

  .btns {
    display: flex;
    flex-direction: row;
    justify-self: end;
    height: 48px;
  }

  .taost-btn {
    height: 48px;
    line-height: 48px;
    margin-right: 20px;
  }

}
