<!-- 日付 -->
<div [class]="platformtype" *ngIf="sortby === cd0007Constants.DATE">

  <ion-content scroll-x class="items">
    <div class="itemhead">
      <div class="checkbox"></div>
      <div class="image">{{image}}</div>
      <div class="title whitespace_pre">{{processwork}}</div>
      <div class="sub whitespace_pre">{{machine}}</div>
      <div class="date">{{date}}</div>
      <div *ngIf="bigProcess.id != cd0001Constants.CD0001_04" class="tip">
        {{timing}}</div>
    </div>

    <ion-virtual-scroll [style.width]="isPc ? '100%' : '700px'" [items]="datas" approxItemHeight="140px"
      [itemHeight]="myitemHeight">
      <div [ngClass]="{'cell': isPc}" *virtualItem="let data">


        <div class="list-item" *ngFor="let item of data">
          <app-photo-list-item [isPhotoChange]="isPhotoChange" [selectPhotos]="selectPhotos" [photo]="item"
            [mulitype]="mulitype" [bigProcess]="bigProcess" [isShowCheckBox]="isShowCheckBox"
            (selectp)="selectphoto($event)" (goPhotoDetail)="goPhotoDetailpage($event)">
          </app-photo-list-item>
        </div>
      </div>
    </ion-virtual-scroll>
  </ion-content>
</div>

<div [class]="platformtype" *ngIf="sortby === cd0007Constants.PROCESS">

  <ion-content scroll-x class="items">
    <ion-virtual-scroll [style.width]="isPc ? '100%' : '700px'" id="virtualscroll" [items]="datas"
      approxItemHeight="140px" [itemHeight]="myitemHeight">
      <div [ngClass]="{'cell': isPc}" *virtualItem="let items">

        <div class="headtitle whitespace_pre">
          {{(items[0].modeltype === null || items[0].unitMark === null) ? '機種(不明)' : items[0].unitMark + '(' + items[0].modeltype + ')'}}
        </div>


        <div class="itemhead">
          <div class="checkbox"></div>
          <div class="image">{{image}}</div>
          <div class="title whitespace_pre">{{processwork}}</div>
          <div class="sub whitespace_pre">{{machine}}</div>
          <div class="date">{{date}}</div>
          <div *ngIf="bigProcess.id != cd0001Constants.CD0001_04" class="tip">
            {{timing}}</div>
        </div>
        <div class="list-item" *ngFor="let item of items">
          <app-photo-list-item [isPhotoChange]="isPhotoChange" [selectPhotos]="selectPhotos" [photo]="item"
            [mulitype]="mulitype" [bigProcess]="bigProcess" [isShowCheckBox]="isShowCheckBox"
            (selectp)="selectphoto($event)" (goPhotoDetail)="goPhotoDetailpage($event)">
          </app-photo-list-item>
        </div>

      </div>
    </ion-virtual-scroll>
  </ion-content>

</div>

<div [class]="platformtype" *ngIf="sortby === cd0007Constants.MACHINE">

  <ion-content scroll-x class="items">
    <ion-virtual-scroll [style.width]="isPc ? '100%' : '700px'" id="virtualscroll" [items]="datas"
      approxItemHeight="140px" [itemHeight]="myitemHeight">
      <div [ngClass]="{'cell': isPc}" *virtualItem="let items">

        <div class="headtitle whitespace_pre">
          {{(items[0].modeltype === null || items[0].unitMark === null) ? '機種(不明)' : items[0].unitMark + '(' + items[0].modeltype + ')'}}
        </div>


        <div class="itemhead">
          <div class="checkbox"></div>
          <div class="image">{{image}}</div>
          <div class="title whitespace_pre">{{processwork}}</div>
          <div class="sub whitespace_pre">{{machine}}</div>
          <div class="date">{{date}}</div>
          <div *ngIf="bigProcess.id != cd0001Constants.CD0001_04" class="tip">
            {{timing}}</div>
        </div>
        <div class="list-item" *ngFor="let item of items">
          <app-photo-list-item [isPhotoChange]="isPhotoChange" [selectPhotos]="selectPhotos" [photo]="item"
            [mulitype]="mulitype" [bigProcess]="bigProcess" [isShowCheckBox]="isShowCheckBox"
            (selectp)="selectphoto($event)" (goPhotoDetail)="goPhotoDetailpage($event)">
          </app-photo-list-item>
        </div>

      </div>
    </ion-virtual-scroll>
  </ion-content>

</div>


<div id="scroll-view" [class]="platformtype" *ngIf="sortby === cd0007Constants.FLOOR">


  <ion-content scroll-x [ngClass]="items">
    <ion-virtual-scroll [style.width]="isPc ? '100%' : '700px'" id="virtualscroll" [items]="datas"
      approxItemHeight="140px" [itemHeight]="myitemHeight" [headerFn]="myHeaderFn">
      <div class="headtitle whitespace_pre" *virtualHeader="let header">
        {{header}}
      </div>
      <div [ngClass]="{'cell': isPc}" *virtualItem="let items">



        <div *ngIf="sortby === cd0007Constants.FLOOR" class="subtitle whitespace_pre">
          {{(items[0].modeltype === null || items[0].unitMark === null) ? '機種(不明)' : items[0].unitMark + '(' + items[0].modeltype + ')'}}
        </div>


        <div class="itemhead">
          <div class="checkbox"></div>
          <div class="image">{{image}}</div>
          <div class="title whitespace_pre">{{processwork}}</div>
          <div class="sub whitespace_pre">{{machine}}</div>
          <div class="date">{{date}}</div>
          <div *ngIf="bigProcess.id != cd0001Constants.CD0001_04" class="tip">
            {{timing}}</div>
        </div>
        <div class="list-item" *ngFor="let item of items">
          <app-photo-list-item [isPhotoChange]="isPhotoChange" [selectPhotos]="selectPhotos" [photo]="item"
            [mulitype]="mulitype" [bigProcess]="bigProcess" [isShowCheckBox]="isShowCheckBox"
            (selectp)="selectphoto($event)" (goPhotoDetail)="goPhotoDetailpage($event)">
          </app-photo-list-item>
        </div>



      </div>
    </ion-virtual-scroll>
  </ion-content>

</div>
