.photolist-mobile {



  overflow: auto;
  height: 100%;
  width: 100%;
  padding-bottom: 0.05rem;



  .item {
    padding: 0px;

  }



  .headtitle {
    margin: 0.15rem;
    width: 5.28rem;
    font-size: 0.14rem;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;

  }



  .subtitle {
    font-size: 0.14rem;
    margin-top: 0.15rem;
    margin-left: 0.15rem;
    width: calc(100% - 0.3em);
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;


  }

  .floor-title {
    font-size: 0.12rem;
    margin-top: 0.08rem;
    margin-left: 0.3rem;
    width: calc(100% - 0.6rem);
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }





  .itemhead {
    width: 100%;
    display: flex;
    flex-direction: row;
    font-size: 0.14rem;
    padding-bottom: 0.04rem;
    padding-top: 0.04rem;
  }




  .items {
    margin: 0px;
    width: 5.28rem;
  }



  .checkbox {
    width: 0.4rem;
    height: 100%;
  }

  .image {
    width: 0.5rem;
    height: 100%;
    margin-left: 0.16rem;
    text-align: center;
  }

  .title {
    width: 0.71rem;
    height: 100%;
    margin-left: 0.16rem;
    line-height: 100%;
  }



  .sub {
    width: 1.42rem;
    height: 100%;
    margin-left: 0.16rem;
    line-height: 100%;
  }



  .date {
    width: 0.72rem;
    height: 100%;
    margin-left: 0.16rem;
    line-height: 100%;
  }



  .tip {
    width: 0.42rem;
    height: 100%;
    margin-left: 0.16rem;
    line-height: 100%;
  }


  .list-item {
    padding-bottom: 0.04rem;
  }






}
