.photolist-web {
    overflow: auto;
    height: 100%;
    width: auto;
    padding:20px 0;
  .item {
    padding: 0px;

  }
  
  .list-item {
    width: 1324px;
  }

  ion-virtual-scroll>.virtual-item {
    left: 24px !important;
    right: 0 !important;
  }
  .headtitle {
    color: #000;
    font-size: 20px;
    margin: 0;
    padding: 5px 0;
    line-height: 30px;
    width: 1324px;
    height: 40px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;

  }



  .subtitle {
    // background-color: #FFE7BA;
    color: gray;
    // padding: 10px;
    margin: 0px 25px;
    font-size: 18px;
    width: 650px;
    height: 40px;
    line-height: 40px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;


  }

  .subtitle-pc {
    // background-color: #FFE7BA;
    color: gray;
    // padding: 10px;
    margin: 0px 25px;
    width: 100%;
    height: 40px;
    line-height: 40px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;


  }


  .mb-20 {
    margin-bottom: 20px;
  }

  .itemhead {
    background-color:#fff;
    height: 56px;
    width: 1324px;
    display: flex;
    flex-direction: row;
    color: #000;
    font-size: 16px;
    border: 1px solid #ccc;
  }


  .items {
    margin: 0px;
    width: 100%;
  }

  .checkbox {
    width: 56px;
    height: 56px;
    padding: 0;
  }

  .image {
    width: 66px;
    height: 100%;
    line-height: 30px;
    text-align: center;
  }

  .title {
    flex: 1.7;
    height: 100%;
    line-height: 56px;
    padding: 0px 5px;
  }

  .title-pc {
    flex: 1.7;
    height: 100%;
    line-height: 56px;
    padding: 0px 5px;
  }

  .sub {
    // width: 120px;
    flex: 1.1;
    height: 100%;
    line-height: 56px;
    padding: 0px 5px;
  }

  .sub-pc {
    flex: 1.1;
    height: 100%;
    line-height: 56px;
    padding: 0px 5px;
  }

  .date {
    // width: 100px;
    flex: 0.9;
    height: 100%;
    line-height: 56px;
    padding: 0px 5px;
  }

  .date-pc {
    flex: 0.9;
    height: 100%;
    line-height: 56px;
    padding: 0px 5px;
  }

  .tip {
    // width: 85px;
    flex: 0.8;
    height: 100%;
    line-height: 56px;
    padding: 0px 5px;
  }

  .tip-pc {
    flex: 0.8;
    height: 100%;
    line-height: 56px;
    padding: 0px 5px;
  }



  .list-item:nth-child(odd) {
    background-color: white;
  }

  .list-item:nth-child(even) {
    background-color: rgb(248, 248, 253);
  }
}
