<app-head></app-head>
<div class="breadcrumb" [ngClass]="platformtype">
  <div class="floor-file-name whitespace_pre">{{ gamenDto.selectedDrawing.floor ? gamenDto.selectedDrawing.floor.floorName : '' }}　{{ gamenDto.selectedDrawing ? gamenDto.selectedDrawing.fileName : '' }}</div>

  <div class="floor-file-name-select marginR3" *ngIf="isPc">
    <img src='./assets/icon/ic_expand_less.svg' (click)="goDrawLocation()" class="rotae marginTop">
  </div>

  <div class="floor-file-name-select marginR2" *ngIf="isPc">
    {{ gamenLable.setButton }}
  </div>

  <div class="floor-file-name-select marginR4" *ngIf="isPc">
  </div>

  <div [class]="isPc ? 'floor-file-name-select marginR1' : 'floor-file-name-select marginR3'">
    <img src='./assets/icon/ic_expand_less.svg' (click)="selectDraw()" class="marginTop">
  </div>
</div>

<ion-content [ngClass]="platformtype">
  <div class="contentDiv">
    <mat-drawer-container class="drawerContainer"
      [ngClass]="{'closeHand':matDrawerScroll}" (mousedown)="drawerMousedown($event)">
      <mat-drawer-content>
        <div class="dropPinDiv" [style.width]="pdfviewWidthPx" [style.height]="pdfviewHeightPx"
          (dragover)="pinAllowDrop($event)">
          <!-- <button class="dropPinBotton" *ngFor="let pin of gamenDto.pdfPinInfo" mat-icon-button
            [style.top]="pin.positionYpercent" [style.left]="pin.positionXpercent" (click)="onPinClick($event, pin)"> -->
          <img class="dropPinBotton pinActive" *ngFor="let pin of gamenDto.pdfPinInfo" mat-icon-button
            [style.top]="pin.positionYpercent" [style.left]="pin.positionXpercent" (click)="onPinClick($event, pin)"
            src='./assets/icon/pin_finish.svg'>
          <!-- </button> -->
        </div>
        <pdf-viewer class="pdfViewer" [src]="pdfFileImage" [zoom]="gamenDto.zoomSize" [render-text]="false"
          [original-size]="false" (page-rendered)="pageRendered()">
        </pdf-viewer>
      </mat-drawer-content>
    </mat-drawer-container>
    <div Class="zoomDiv">
      <div (click)="addZoom()">
        <ion-img class="zoom-icon" src="./assets/icon/zoom.svg" slot="start"></ion-img>
      </div>
      <div (click)="removeZoom()">
        <ion-img class="zoom-icon" src="./assets/icon/zoom-out.svg" slot="start"></ion-img>
      </div>
    </div>
  </div>
</ion-content>

<app-photo-draw-footer *ngIf="!isPc"></app-photo-draw-footer>
<!-- <app-footer></app-footer> -->
