.drawDisplay-winapp {
  .contentDiv {
    width: 100%;
    height: 100%;
    position: relative;
  }

  .closeHand {
    cursor: move;
  }

  .drawerContainer {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
  }

  .dropPinDiv {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    z-index: 9;
    transform: translateZ(9px);
  }

  .dropPinBotton {
    position: absolute;
    margin-left: -20px;
    margin-top: -39px;
    text-align: start;
  }

  .pdfViewer {
    display: block;
  }

  .zoomDiv {
    position: absolute;
    text-align: right;
    right: 28px;
    bottom: 25px;
    z-index: 3;
    display: flex;
    flex-direction: column;

    .zoom-icon {
      margin-top: 8px;
      width: 42px;
      height: 42px;
    }
  }

  .pinActive {
    width: 49.5px;
    height: 60.73px;
  }

  &.breadcrumb {
    color: #ffffff;
    background-color: #303030;
    font-size: 24px;
    height: 62px;
  }

  .floor-file-name {
    display: inline-block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    padding-left: 115px;
    height: 62px;
    line-height: 62px;
  }

  .floor-file-name-select {
    float: right;
    line-height: 62px;
  }

  .rotae {
    transform: rotate(270deg);
  }

  .marginTop {
    margin-top: 20px;
    cursor: pointer;
  }

  .marginR1 {
    margin-right: 69px;
  }

  .marginR2 {
    margin-right: 45px;
  }

  .marginR3 {
    margin-right: 16px;
    height: 62px;
  }
}
