.drawDisplay-mobile {
  .contentDiv {
    width: 100%;
    height: 100%;
    position: relative;
  }

  .closeHand {
    cursor: move;
  }

  .drawerContainer {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
  }

  .dropPinDiv {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    z-index: 9;
    transform: translateZ(0.09rem);
  }

  .dropPinBotton {
    position: absolute;
    margin-left: -0.20rem;
    margin-top: -0.39rem;
    text-align: start;
  }

  .pdfViewer {
    display: block;
  }

  .zoomDiv {
    position: absolute;
    text-align: right;
    right: 0.28rem;
    bottom: 0.25rem;
    z-index: 3;
    display: flex;
    flex-direction: column;

    .zoom-icon {
      margin-top: 0.21rem;
      width: 0.42rem;
      height: 0.42rem;
    }
  }

  .pinActive {
    width: 0.495rem;
    height: 0.6073rem;
    max-width: fit-content;
  }

  &.breadcrumb {
    color: #ffffff;
    background-color: #303030;
    font-size: 0.14rem;
    height: 0.48rem;
  }

  .floor-file-name {
    display: inline-block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    padding-left: 0.1935rem;
    height: 0.48rem;
    line-height: 0.48rem;
  }

  .floor-file-name-select {
    float: right;
    line-height: 0.48rem;
  }

  .rotae {
    transform: rotate(270deg);
  }

  .marginTop {
    margin-top: 0.13rem;
  }

  .marginR1 {
    margin-right: 0.69rem;
  }

  .marginR2 {
    margin-right: 0.45rem;
  }

  .marginR3 {
    margin-right: 0.16rem;
  }
}
