<div class="loadWrapper" *ngIf="isLoading">
  <div class="loader-inner line-spin-fade-loader">
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
  </div>
  <div class="title">{{title}}</div>
  <button class="cancel" mat-raised-button routerLink="/" (click)="goBack()">{{cancel}}</button>
  <div *ngIf="outLog.length !== 0" style="position: absolute; z-index: 999999; width: 100%; height: 40%; top: 60%; overflow: scroll; background-color: #FFFFFF;">
    <ng-container *ngFor="let item of outLog">
      <pre *ngIf="item.isError" style="color: red; white-space: pre-line;">{{ item.msg }}</pre>
      <pre *ngIf="!item.isError" style="white-space: pre-line;">{{ item.msg }}</pre>
    </ng-container>
  </div>
</div>
