.workAdd-mobile {
  &.modalDiv {
    display: flex;
    flex-direction: column;
  }

  .modalTitle {
    text-align: center;
    color: #000000;
    font-size: var(--label-font-size-18-mobile);
    line-height: 0.51rem;
    border-bottom: 1px solid #DEDEDE;
  }
  
  .workform {
    margin: 0.26rem 0.16rem 0 0.19rem;
    --ion-grid-column-padding: 0;
    padding: 0;

    .workform-label {
      color: #000000;
      font-size: 0.12rem;
      line-height: 0.17rem;
    }
  }
  
  .has-focus {
    border-bottom: solid 2px #0097E0 !important;
  }

  .inputBorder {
    border-bottom: solid 1px #999999;
    color: #000000;
    font-size: 0.16rem;
    line-height: 0.34rem;
    height: 0.34rem;
    --padding-start: 0;
    caret-color: #0097E0;
    --padding-top: 0;
    --padding-bottom: 0;
  }

  .div-button {
    width: 100%;
    margin-top: 0.42rem;
    display: flex;
    flex-direction: row;
    height: 0.6rem;
    border-top: 1px solid #DEDEDE;
    align-items: center;

    .button-ok {
      font-size: var(--button-font-size-14-mobile);
      cursor: pointer;
      border: none;
      --box-shadow: none;
      --background-hover: none;
      --padding-start: 0.25rem;
      --padding-end: 0;
      --padding-top: 0;
      --padding-bottom: 0;
    }

    .button-cancel {
      font-size: var(--button-font-size-14-mobile);
      cursor: pointer;
      border: none;
      --box-shadow: none;
      --background-hover: none;
      --padding-start: 1.5419rem;
      --padding-end: 0;
      --padding-top: 0;
      --padding-bottom: 0;
    }
  }
  
}
