<div class="modalDiv" [ngClass]="platformtype">
  <ion-label class="modalTitle">{{gamenLable.addWorkTitle}}</ion-label>
  <ion-grid class="workform">
    <ion-row class="workform-label" align-items-start>
      <ion-col id="workName">{{gamenLable.addName}}</ion-col>
    </ion-row>
    <ion-row align-items-start>
      <ion-col>
        <ion-input (ionFocus)="focusInWorkName()" (ionBlur)="focusOutWorkName()" class="inputBorder" maxlength="60" [(ngModel)]="gamenDto.workName" required="true"></ion-input>
      </ion-col>
    </ion-row>
  </ion-grid>
  <div class="div-button">
    <ion-button class="button-cancel" color="whitebtn" (click)="onNoClick()">{{gamenLable.cancel}}</ion-button>
    <ion-button class="button-ok" color="whitebtn" (click)=onAddClick() [disabled]="isUpdated()">{{gamenLable.ok}}
    </ion-button>
  </div>
</div>
