ion-title
{
text-align: center;
}

.people_list
{

    width: 1000px;
    margin:0 auto;
    
    padding :0px;
    border: solid none;
}

.uploadForm 
{
    font-size: 16px;
  }
  
  .edit-button 
  {
    float: right;
    right: 50px;
  }
  
  .bigprocess 
  {
  
    margin-left: 50px;
  }
  
  .addProcess 
  {
    text-decoration: underline;
    color: blue;
    cursor: pointer;
    margin-left: 30px;
  }
  
  .addWork 
  {
    text-decoration: underline;
    color: blue;
    cursor: pointer;
    margin-left: 80px;
  }
  
  .padding05 
  {
    padding: 0 5px;
  }
  
  .process 
  {
    margin: 5px;
  }
  
  .processDiv 
  {
    padding: 0;
    margin: 0;
  }
  
  .workDiv 
  {
    padding-left: 40px;
  }
  
  .item-left 
  {
    display: inline-block;
  }