<ion-header>
  <ion-toolbar>
    <ion-title>financerecorder</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-item>
    <div class="middle-content-order">
        <div class="middle-order-icon">
            {{title}}
            <ion-icon name="ios-arrow-forward" item-right *ngIf="isShow" (click)="isShow=!isShow"></ion-icon>
            <ion-icon name="ios-arrow-down" item-right *ngIf="!isShow" (click)="isShow=!isShow"></ion-icon>
        </div>
    </div>
</ion-item>


  

</ion-content>
