.chatroom-edit-user-select-winapp {

  .list-container {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    width: 900px;
    margin: 0 auto;
    margin-top: 44px;

    .title {
      padding: 15px;
      color: #59595C;
      font-size: 24px;
      margin: 0 auto;
    }

    .list-content {
      flex: 1;
      overflow: auto;
      margin: 0 auto;

      .grid {
        padding: 0;

        .row {
          padding: 0;
          height: 77px;
          width: 900px;

          .pic {
            flex: 0 0 5px;
            align-items: center;
            display: flex;
            padding: 0;

            img {
              width: 48px;
              max-width: none;
            }
          }

          .content {
            flex: 1;
            min-width: 0;

            // padding: 0;
            // display: flex;
            // flex-direction: column;
            // justify-content: center;
            .name-comp {
              color: #000000;
              font-size: var(--label-font-size-24-web);
              overflow: hidden;
              text-overflow: ellipsis;
              white-space: nowrap;
              display: block;
              padding-left: 26.74px;
            }

            .company-name {
              font-size: var(--label-font-size-16-web);
              color: rgba(0, 0, 0, 0.5);
              overflow: hidden;
              text-overflow: ellipsis;
              white-space: nowrap;
              display: block;
              margin-top: 3px;
              padding-left: 26.76px;
            }
          }

          .checkbox {
            flex: 0 0 5px;
            align-items: center;
            display: flex;
            justify-content: center;
          }
        }
      }
    }

    .btn {
      height: 88px;
      display: flex;
      position: fixed;
      bottom: 0;
      align-items: center;
      justify-content: center;

      .cancle-ok {
        font-size: var(--label-font-size-24-web);
        margin-bottom: 17px;
        width: 214px;
        height: 53px;
        margin-left: 378px;
      }
    }
  }

  .under-line {
    width: 100%;
    height: 1px;
    background: #EAEBEC;
    margin-left: 56px;
  }
}
