<div class="modalDiv">
  <ion-buttons class="rightClose" (click)="closeClick()">
  </ion-buttons>
  <ion-label class="modalTitle">{{ordermanagementEditLable.title}}</ion-label>
  <ion-item>
    &nbsp;
  </ion-item>
  <ion-item>
    <label>{{ordermanagementEditLable.agentName}}</label>
    <ion-input class="inputBorder" maxlength="60" [(ngModel)]="sysOrderManagement.agentName" required="true"></ion-input>
    &nbsp;
  </ion-item>
  <ion-item>
    <label>{{ordermanagementEditLable.channelName}}</label>
    <ion-input class="inputBorder" maxlength="60" [(ngModel)]="sysOrderManagement.channelName" required="true"></ion-input>
    &nbsp;
  </ion-item>
  <ion-item>
    <label>{{ordermanagementEditLable.BillID}}</label>
    <ion-input class="inputBorder" maxlength="60" [(ngModel)]="sysOrderManagement.BillID" required="true"></ion-input>
    &nbsp;
  </ion-item>
  <ion-item>
    <label>{{ordermanagementEditLable.orderId}}</label>
    <ion-input class="inputBorder" maxlength="60" [(ngModel)]="sysOrderManagement.orderId" required="true"></ion-input>
    &nbsp;
  </ion-item>
  <ion-item>
    <label>{{ordermanagementEditLable.requestId}}</label>
    <ion-input class="inputBorder" maxlength="60" [(ngModel)]="sysOrderManagement.requestId" required="true"></ion-input>
    &nbsp;
  </ion-item>
  <ion-item>
    <label>{{ordermanagementEditLable.number}}</label>
    <ion-input class="inputBorder" maxlength="60" [(ngModel)]="sysOrderManagement.number" required="true"></ion-input>
    &nbsp;
  </ion-item>
  <ion-item>
    <label>{{ordermanagementEditLable.money}}</label>
    <ion-input class="inputBorder" maxlength="60" [(ngModel)]="sysOrderManagement.money" required="true"></ion-input>
    &nbsp;
  </ion-item>
  <ion-item>
    <label>{{ordermanagementEditLable.time}}</label>
    <ion-input class="inputBorder" maxlength="60" [(ngModel)]="sysOrderManagement.time" required="true"></ion-input>
    &nbsp;
  </ion-item>



  <div class="flexDiv">
    <div class="leftButton">
      <ion-button class="buttonWidth" (click)=updateClick()>{{ordermanagementEditLable.change}}</ion-button>
    </div>
    <div class="rightButton">
      <ion-button class="buttonWidth" (click)=cancelClick()>{{ordermanagementEditLable.cancel}}</ion-button>
    </div>
  </div>
</div>
