<ion-header>
  <ion-toolbar>
    <ion-title  class="title">库存管理</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-item>   
      <label>渠道简称：</label><input type = "text"   maxlength="10" min="1" [(ngModel)]="channelName"/> &nbsp;
      <label>面值:</label> <input type = "text "  maxlength="10" min="1" [(ngModel)]="value"/>&nbsp;
    </ion-item>
  
    <ion-item>  
      <label>商品类型:</label> &nbsp;
      <select  name = "type" id ="type" [(ngModel)] = "peopleInfo.type" >
        <option [value] ="item1" *ngFor = "let item1 of peopleInfo.typesList">{{item1}}</option>
      </select> &nbsp;

      <label>状态:</label> &nbsp;
      <select  name = "status" id ="status" [(ngModel)] = "peopleInfo.status" >
      <option [value] ="item2" *ngFor = "let item2 of peopleInfo.statusList">{{item2}}</option>
      </select>&nbsp;
    </ion-item>
     
    <!--<ion-item>
      <span *ngFor =  "let item of peopleInfo.provinceList; let key-index;">
        <label class = "fontsizecheckbox">{{item.title}} </label> &nbsp;
        <input type ="checkbox"  [id] = "'check' + key"/>  
      </span>&nbsp;
    </ion-item>-->


<ion-item>
  <ion-button class="toroku-button" color="primary" (click)="onSearch()">查询</ion-button>
  <ion-button class="toroku-button" color="primary" (click)="onSearch()">调价*优先级</ion-button>
  <ion-button class="toroku-button" color="primary" (click)="onAgency()">代理商品</ion-button>
  <ion-button class="toroku-button" color="primary" (click)="onSearch()">删除</ion-button>
  <ion-button class="toroku-button" color="primary" routerLink ='/homepage'>返回</ion-button>
</ion-item>




<div  class="uploadForm">
<ion-item class="head-title minW2300">
  <ion-col size="1.0">渠道简称</ion-col>
  <ion-col size="1.0">商品名称</ion-col>
  <ion-col size="1.0">商品类型</ion-col>
  <ion-col size="1.0">面值</ion-col> 
  <ion-col size="1.0">价格</ion-col>
  <ion-col size="1.0">折扣</ion-col>
  <ion-col size="1.0">优先级</ion-col>
  <ion-col size="1.0">状态</ion-col>
</ion-item>

<ion-item class="minW2300" *ngFor="let sysUser of sysstockList">
  <ion-col size="1.0">{{sysUser.abbreviation}}</ion-col>
  <ion-col size="1.0">{{sysUser.productName}}</ion-col>
  <ion-col size="1.0">{{sysUser.productMode}}</ion-col>
  <ion-col size="1.0">{{sysUser.value}}</ion-col>
  <ion-col size="1.0">{{sysUser.price}}</ion-col>
  <ion-col size="1.0">{{sysUser.disaccount}}</ion-col>
  <ion-col size="1.0">{{sysUser.priority}}</ion-col>
  <ion-col size="1.0">{{sysUser.status}}</ion-col>
</ion-item>
</div> 

</ion-content>
