<app-head></app-head>
<ion-content>
  <div class="main">
        <div class="message1" *ngFor="let message of messageArr">
          {{message}}
        </div>
  </div>
</ion-content>
<!-- <app-footer></app-footer> -->
