.main{
  width: 100%;
  height: 100%;
  text-align: center;
  overflow: auto;
  display: flex;
  flex-direction: column;
}

.message1{
  padding: 15px;
  text-align: left;
}

.message2{
  padding-bottom: 50px;
}
