.photobook-preview-web {
  font-size: 12px;
  .t-border {
    border-right: 1px solid #AFAFAF;
    border-bottom: 1px solid #AFAFAF;
    box-sizing: border-box;
  }
  .main {
    display: flex;
    flex-direction: column;
    height: 100%;
    .container {
      width: 1024px;
      margin: 0 auto;
      padding: 10px 40px;
      background-color: #AFAFAF;
      overflow: auto;
      flex: 1;
      .list {
        margin: 0 auto;
        padding: 0;
        background: #AFAFAF;
        width: 884px;
        .building-project-name {
          border: 1px solid #00000029;
          --padding-start: 0;
          color: #59595C;
          font-size: 20px;
          height: 44px;
          padding: 0;
          ion-label {
            padding: 0;
            margin-left: 3px;
            margin-top: 6px;
          }
        }
        .content {
          display: flex;
          flex-direction: row;
          background: #FFFFFF;
          margin-top: 8px;
          .content-image {
            width: 471px;
            align-items: center;
            display: flex;
            background: #727272;
            img{
              width: 100%;
            }
          }
          .content-text {
            flex: 1;
            width: calc(100% - 471px);
            .content-item {
              min-height: 44px;
              position: relative;
              display: flex;
              .item {
                font-size: 20px;
                display: flex;
                flex-direction: row;
                color: #59595C;
                align-items: center;
                width: 100%;
                .title {
                  border-right: 1px solid #AFAFAF;
                  width: 130px;
                  padding: 8px;
                  height: 100%;
                }
                .value {
                  width: calc(100% - 130px);
                  padding: 8px;
                  height: 100%;
                }
              }
            }
          }
        }
      }
    }
    .download-guide {
      color: #59595C;
      font-size: 14px;
      line-height: 48px;
      text-align: center;
      border-top: 2px solid #00000066;
    }
    .button-download {
      text-align: center;
      margin-bottom: 20px;
      ion-button {
        width: 148px;
        height: 36px;
        font-size: var(--button-font-size-16-web);
      }
    }
  }
}
.photobook-preview-web.photo-footer {
  height: 50px;
  position: relative;
  font-size: 14px;
  background: #000;
  border: none;
  width: 100%;
  .container-footer {
    width: 1024px;
    margin: 0 auto;
    height: 50px;
    position: relative;
    .pageing {
      position: absolute;
      width: 100px;
      text-align: center;
      top: 12px;
      left: 50%;
      margin-left: -50px;
      .photo-footer-label {
        background-color: rgba(255, 255, 255, .54);
        height: 6px;
        width: 6px;
        border-radius: 50%;
        display: inline-block;
        margin-left: 5px;
      }
      .active {
        background-color: #0097E0;
      }
    }
    .prev-btn {
      position: absolute;
      left: 15px;
      margin-top: 15px;
      color: #fff;
      cursor: pointer;
      width: 80px;
      padding-left: 15px;
      .arrow-left {
        position: absolute;
        border-top: 2px solid #fff;
        display: inline-block;
        width: 10px;
        border-right: 2px solid #fff;
        height: 10px;
        transform: rotate(-135deg);
        top: 6px;
        left: 0;
      }
    }
  }
}
