<app-head></app-head>
<div [ngClass]="{'pcTop': isPc, 'phoneTop': !isPc}"></div>
<ion-content [ngClass]="platformtype">
  <div class="main">
    <div class="container">
      <ion-list class="list">
        <ion-item lines="none" sticky class="building-project-name">
          <ion-label class="whitespace_pre">{{buildingName}}{{projectName}}</ion-label>
        </ion-item>
        <ng-container *ngFor="let prevBook of prevBooks; let i = index">
          <div *ngIf="i < pageCnt" class="content">
            <div class="content-image">
              <img src="{{ prevBook.photoPath }}" onerror="this.src='./assets/images/noimage.png'">
            </div>
            <div class="content-text">
              <div class="content-item t-border">
                <div class="item">
                  <div class="title">
                    {{ prevBook.item1 && prevBook.item1.length > 0 ? prevBook.item1.join(platformtype === 'photobook-preview-web' || platformtype === 'photobook-preview-winapp' ? '，' : '/') : ''}}
                  </div>
                  <div class="value whitespace_pre_wrap">{{ filterValue(prevBook.value1,prevBook.item1) }}</div>
                </div>
              </div>
              <div class="content-item t-border">
                <div class="item">
                  <div class="title">
                    {{ prevBook.item2 && prevBook.item2.length > 0 ? prevBook.item2.join(platformtype === 'photobook-preview-web' || platformtype === 'photobook-preview-winapp' ? '，' : '/') : ''}}
                  </div>
                  <div class="value whitespace_pre_wrap">
                    {{filterValue(prevBook.value2,prevBook.item2)}}
                  </div>
                </div>
              </div>
              <div class="content-item t-border">
                <div class="item">
                  <div class="title">
                    {{ prevBook.item3 && prevBook.item3.length > 0 ? prevBook.item3.join(platformtype === 'photobook-preview-web' || platformtype === 'photobook-preview-winapp' ? '，' : '/') : ''}}
                  </div>
                  <div class="value whitespace_pre_wrap">
                    {{filterValue(prevBook.value3,prevBook.item3)}}
                  </div>
                </div>
              </div>
              <div class="content-item t-border">
                <div class="item">
                  <div class="title">
                    {{ prevBook.item4 && prevBook.item4.length > 0 ? prevBook.item4.join(platformtype === 'photobook-preview-web' || platformtype === 'photobook-preview-winapp' ? '，' : '/') : ''}}
                  </div>
                  <div class="value whitespace_pre_wrap">
                    {{filterValue(prevBook.value4,prevBook.item4)}}
                  </div>
                </div>
              </div>
              <div class="content-item t-border">
                <div class="item">
                  <div class="title">
                    {{ prevBook.item5 && prevBook.item5.length > 0 ? prevBook.item5.join(platformtype === 'photobook-preview-web' || platformtype === 'photobook-preview-winapp' ? '，' : '/') : ''}}
                  </div>
                  <div class="value whitespace_pre_wrap">
                    {{filterValue(prevBook.value5,prevBook.item5)}}
                  </div>
                </div>
              </div>
              <div class="content-item t-border">
                <div class="item">
                  <div class="title">
                    {{ prevBook.item6 && prevBook.item6.length > 0 ? prevBook.item6.join(platformtype === 'photobook-preview-web' || platformtype === 'photobook-preview-winapp' ? '，' : '/') : ''}}
                  </div>
                  <div class="value whitespace_pre_wrap">
                    {{filterValue(prevBook.value6,prevBook.item6)}}
                  </div>
                </div>
              </div>
              <div class="content-item t-border">
                <div class="item">
                  <div class="title">
                    {{ prevBook.item7 && prevBook.item7.length > 0 ? prevBook.item7.join(platformtype === 'photobook-preview-web' || platformtype === 'photobook-preview-winapp' ? '，' : '/') : ''}}
                  </div>
                  <div class="value whitespace_pre_wrap">
                    {{filterValue(prevBook.value7,prevBook.item7)}}
                  </div>
                </div>
              </div>
              <div class="content-item t-border">
                <div class="item">
                  <div class="title">
                    {{ prevBook.item8 && prevBook.item8.length > 0 ? prevBook.item8.join(platformtype === 'photobook-preview-web' || platformtype === 'photobook-preview-winapp' ? '，' : '/') : ''}}
                  </div>
                  <div class="value whitespace_pre_wrap">
                    {{filterValue(prevBook.value8,prevBook.item8)}}
                  </div>
                </div>
              </div>
            </div>
          </div>
        </ng-container>
      </ion-list>
    </div>
    <div class="download-guide">{{gamenLable.downloadGuide}}</div>
    <div class="button-download" *ngIf="!isDownloaded">
      <ion-button (click)="downloadClick()" color="primary" [disabled]="downloadIsDisabled">{{gamenLable.download}}
      </ion-button>
    </div>
  </div>
</ion-content>

<ion-footer [ngClass]="platformtype" class="photo-footer">
  <div class="container-footer">
    <div class="prev-btn" (click)="prevPage()"><span class="arrow-left"></span>{{gamenLable.return}}</div>
    <div class="pageing">
      <ion-label class="photo-footer-label"></ion-label>
      <ion-label class="photo-footer-label"></ion-label>
      <ion-label class="photo-footer-label active"></ion-label>
    </div>
  </div>
</ion-footer>
