.photobook-preview-mobile {
  font-size: 0.12rem;
  .t-border {
    border-right: 0.01rem solid #AFAFAF;
    border-bottom: 0.01rem solid #AFAFAF;
    box-sizing: border-box;
  }
  .main {
    display: flex;
    flex-direction: column;
    height: 100%;
    .container {
      padding: 0.1rem;
      background-color: #AFAFAF;
      flex: 1;
      overflow: auto;
      .list {
        margin: 0;
        padding: 0;
        flex: 1;
        background: #ccc;
        .building-project-name {
          color: #59595C;
          font-size: 0.12rem;
          height: 0.26rem;
          padding: 0;
          --min-height: auto;
          background: #fff;
          line-height: 0.26rem;
          ion-label {
            width: 100%;
            text-align: center;
            margin: 0;
          }
        }
        .content {
          display: flex;
          flex-direction: row;
          background: #FFFFFF;
          margin-top: 0.02rem;
          .content-image {
            width: 1.8rem;
            padding: 0;
            align-items: flex-start;
            display: flex;
            background: #727272;
            img{
              width: 100%;
            }
          }
          .content-text {
            flex: 1;
            color: #59595C;
            width: calc(100% - 1.8rem);
            .content-item {
              min-height: 0.24rem;
              position: relative;
              display: flex;
              .item {
                display: flex;
                align-items: center;
                flex-direction: row;
                color: #59595C;
                width: 100%;
                .title {
                  border-right: 0.01rem solid #AFAFAF;
                  width: 0.58rem;
                  padding: 0.05rem;
                  font-size: 0.09rem;
                  height: 100%;
                }
                .value {
                  width: calc(100% - 0.58rem);
                  padding: 0.05rem;
                  font-size: 0.1rem;
                  height: 100%;
                }
              }
            }
          }
        }
      }
    }
    .download-guide {
      color: #59595C;
      font-size: 0.14rem;
      line-height: 0.2rem;
      text-align: center;
      margin-top: 0.14rem;
    }
    .button-download {
      text-align: center;
      margin: 0.23rem 0 0.21rem;
      ion-button {
        height: 0.36rem;
        width: 1.48rem;
      }
    }
  }

}
.photobook-preview-mobile.photo-footer {
  height: 0.48rem;
  position: relative;
  font-size: 0.14rem;
  background: #000;
  border: none;
  .container-footer {
    position: relative;
    height: 0.48rem;
    .pageing {
      position: absolute;
      width: 1rem;
      text-align: center;
      top: 0.11rem;
      left: 50%;
      margin-left: -0.5rem;
      .photo-footer-label {
        background-color: rgba(255, 255, 255, .54);
        height: 0.06rem;
        width: 0.06rem;
        border-radius: 50%;
        display: inline-block;
        margin-left: 0.05rem;
      }
      .active {
        background-color: #0097E0;
      }
    }
    .prev-btn {
      position: absolute;
      left: 0.15rem;
      margin-top: 0.15rem;
      color: #fff;
      cursor: pointer;
      width: 0.5rem;
      padding-left: 0.15rem;
      .arrow-left {
        position: absolute;
        border-top: 0.02rem solid #fff;
        display: inline-block;
        width: 0.1rem;
        border-right: 0.02rem solid #fff;
        height: 0.1rem;
        transform: rotate(-135deg);
        top: 0.06rem;
        left: 0;
      }
    }
  }
}
