<app-head id="app-header"></app-head>
<ion-content id="camera-content" class="content" [ngClass]="platformtype">
  <div id="grid-header">
    <ion-grid class="my-ion-grid">
      <ion-row>
        <!-- floor -->
        <ion-col [size]="platformtype === 'camera-mobile' ? 125 : 4">
          <ion-select class="ionSelectbox font14" [interface]="platformtype === 'camera-mobile'?'alert':'popover'" mode="md" color="light" [interfaceOptions]="{cssClass: 'dkj-alert'}"
            [value]="cameraStore.currentFloor" cancelText="キャンセル" (ionChange)="selectFloor($event)"
            (ionBlur)="selectBlur()" (ionFocus)="selectFocus()"
            (press)="onPress($event,(cameraStore.currentFloor && cameraStore.currentFloor.floorName) || defaultFloor)">
            <ion-select-option *ngIf="commonStore.floorsList === null || commonStore.floorsList.length === 0"
              [value]="cameraStore.currentFloor">{{defaultFloor}}</ion-select-option>
            <ion-select-option *ngFor="let item of commonStore.floorsList" [value]="item">{{spaceString(item.floorName)}}
            </ion-select-option>
          </ion-select>
        </ion-col>
        <!-- room -->
        <ion-col [size]="platformtype === 'camera-mobile' ? 125 : 4">
          <ion-select class="ionSelectbox font14" [interface]="platformtype === 'camera-mobile'?'alert':'popover'" mode="md" color="light" [interfaceOptions]="{cssClass: 'dkj-alert'}"
            [value]="cameraStore.currentRoom" cancelText="キャンセル" (ionChange)="selectRoom($event)"
            (ionBlur)="selectBlur()" (ionFocus)="selectFocus()"
            (press)="onPress($event,(cameraStore.currentRoom && cameraStore.currentRoom.roomName) || defaultRoom)">
            <ion-select-option [value]="nullSelectOption">{{defaultRoom}}</ion-select-option>
            <ion-select-option
              *ngFor="let item of cameraStore.currentFloor !== null && cameraStore.currentFloor.rooms !== null && cameraStore.currentFloor.rooms.length !== 0 ? cameraStore.currentFloor.rooms : null"
              [value]="item">{{spaceString(item.roomName)}}</ion-select-option>
          </ion-select>
        </ion-col>
        <!-- 場所 -->
        <ion-col [size]="platformtype === 'camera-mobile' ? 125 : 4">
          <ion-select class="ionSelectbox font14" [interface]="platformtype === 'camera-mobile'?'alert':'popover'" mode="md" color="light" [interfaceOptions]="{cssClass: 'dkj-alert'}"
            [value]="cameraStore.currentPlace" cancelText="キャンセル" (ionChange)="selectPlace($event)"
            (ionBlur)="selectBlur()" (ionFocus)="selectFocus()"
            (press)="onPress($event,(cameraStore.currentPlace && cameraStore.currentPlace.placeName) || defaultPlace)">
            <ion-select-option [value]="nullSelectOption">{{defaultPlace}}</ion-select-option>
            <ion-select-option
              *ngFor="let item of cameraStore.currentRoom !== null && cameraStore.currentRoom.places !== null && cameraStore.currentRoom.places.length !== 0 ? cameraStore.currentRoom.places : null"
              [value]="item">{{spaceString(item.placeName)}}</ion-select-option>
          </ion-select>
        </ion-col>
      </ion-row>
      <ion-row>
        <!-- 記号(機種名) -->
        <ion-col [size]="platformtype === 'camera-mobile' ? 301 : 9.6">
          <ion-select class="ionSelectbox font16" [interface]="platformtype === 'camera-mobile'?'alert':'popover'" mode="md" color="light" [interfaceOptions]="{cssClass: 'dkj-alert'}"
            [value]="cameraStore.currentMachine" cancelText="キャンセル" (ionChange)="selectMachine($event)"
            (press)="onPress($event, cameraStore.currentMachine ? cameraStore.currentMachine.unitMark + '(' + cameraStore.currentMachine.machineModel + ')' : defaultMachine)">
            <ion-select-option [value]="nullSelectOption">{{defaultMachine}}</ion-select-option>
            <ion-select-option
              *ngFor="let item of cameraStore.displayMachinesList !== null && cameraStore.displayMachinesList.length !== 0 ? cameraStore.displayMachinesList : null"
              [value]="item">{{spaceString(item.unitMark + '(' + item.machineModel + ')')}}</ion-select-option>
          </ion-select>
        </ion-col>
        <ion-col [size]="platformtype === 'camera-mobile' ? 24 : 0.55" [ngClass]="{'visibilityHidden': !cameraStore.currentMachine}" >
          <div class="iconBorder">
            <div class="divBorder"></div>
          </div>
        </ion-col>
        <!-- 機番撮影 -->
        <ion-col [size]="platformtype === 'camera-mobile' ? 50 : 1.85" [ngClass]="{'visibilityHidden': !cameraStore.currentMachine}" >
          <div class="iconBtn" (click)="qrScanOpen()">
            <ion-icon color="light" src="./assets/images/crop_free.svg" class="icon22"></ion-icon>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
  <div id="preview-content" class="previewWidth">
    <div class="drag-area" [style.margin-left.px]="dragAreaStyle.marginLeft"
      [ngClass]="{'background-transparent':showCamera}" [style.margin-top.px]="dragAreaStyle.marginTop"
      [style.width.px]="dragAreaStyle.width" [style.height.px]="dragAreaStyle.height">
      <div #blackBoard class="blackBoard" [style.width.px]="dragAreaStyle.blackBoardWidth" cdkDrag
        cdkDragBoundary=".drag-area" [cdkDragFreeDragPosition]="dragPosition" (cdkDragEnded)="dragEnd($event)">
        <camera-blackboard id="blackBoard" *ngIf="cameraStore.isBlackboardDisplay"
          [blackBoardWidth]="dragAreaStyle.blackBoardWidth">
        </camera-blackboard>
      </div>
    </div>
  </div>
</ion-content>
<ion-footer id="camera-footer"  [ngClass]="platformtype">
  <ion-grid class="my-ion-grid">
    <ion-row>
      <!-- 工程 -->
      <ion-col [size]="platformtype === 'camera-mobile' ? '301' : '9.6'">
        <ion-select class="ionSelectbox font16" [interface]="platformtype === 'camera-mobile'?'alert':'popover'" mode="md" color="light" [interfaceOptions]="{cssClass: 'dkj-alert'}"
          [value]="cameraStore.currentProcess" cancelText="キャンセル" (ionChange)="selectProcess($event)"
          (ionBlur)="selectBlur()" (ionFocus)="selectFocus()"
          (press)="onPress($event,(cameraStore.currentProcess && cameraStore.currentProcess.processName) || defaultProcess)">
          <ion-select-option *ngIf="commonStore.processList === null || commonStore.processList.length === 0"
            [value]="cameraStore.currentProcess">{{defaultProcess}}</ion-select-option>
          <ion-select-option
            *ngFor="let item of commonStore.processList !== null && commonStore.processList.length !== 0 ? commonStore.processList : null"
            [value]="item">{{spaceString(item.processName)}}</ion-select-option>
        </ion-select>
      </ion-col>
      <ion-col [size]="platformtype === 'camera-mobile' ? '24' : '0.55'">
        <div class="iconBorder">
          <div class="divBorder"></div>
        </div>
      </ion-col>
      <!-- 黒板表示切替 -->
      <ion-col [size]="platformtype === 'camera-mobile' ? '50' : '1.85'">
        <div class="iconBtn" (click)="eyeModeChange()">
          <ion-icon color="light" [src]="eyeName" class="icon22"></ion-icon>
        </div>
      </ion-col>
    </ion-row>
    <ion-row>
      <!-- 作業 -->
      <ion-col [size]="platformtype === 'camera-mobile' ? '187.5' : '6'">
        <ion-select class="ionSelectbox font16" [interface]="platformtype === 'camera-mobile'?'alert':'popover'" mode="md" color="light" [interfaceOptions]="{cssClass: 'dkj-alert'}"
          [value]="cameraStore.currentWork" cancelText="キャンセル" (ionChange)="selectWork($event)" (ionBlur)="selectBlur()"
          (ionFocus)="selectFocus()"
          (press)="onPress($event,(cameraStore.currentWork && cameraStore.currentWork.workName) || defaultWork)">
          <ion-select-option *ngIf="cameraStore.worksList === null || cameraStore.worksList.length === 0"
            [value]="cameraStore.currentWork">{{defaultWork}}</ion-select-option>
          <ion-select-option
            *ngFor="let item of cameraStore.worksList !== null && cameraStore.worksList.length !== 0 ? cameraStore.worksList : null"
            [value]="item">{{spaceString(item.workName)}}</ion-select-option>
        </ion-select>
      </ion-col>
      <!-- 状況 -->
      <ion-col [size]="platformtype === 'camera-mobile' ? '187.5' : '6'">
        <ion-select class="ionSelectbox font16" [interface]="platformtype === 'camera-mobile'?'alert':'popover'" mode="md" color="light" [interfaceOptions]="{cssClass: 'dkj-alert'}"
          [value]="cameraStore.currentTiming" cancelText="キャンセル" (ionChange)="selectTiming($event)"
          (ionBlur)="selectBlur()" (ionFocus)="selectFocus()"
          (press)="onPress($event,(cameraStore.currentTiming && cameraStore.currentTiming.timingName) || defaultTiming)">
          <ion-select-option *ngIf="cameraStore.timimgsList === null || cameraStore.timimgsList.length === 0"
            [value]="cameraStore.currentWork">{{defaultTiming}}</ion-select-option>
          <ion-select-option
            *ngFor="let item of cameraStore.timimgsList !== null && cameraStore.timimgsList.length !== 0 ? cameraStore.timimgsList : null"
            [value]="item">{{item.timingName}}</ion-select-option>
        </ion-select>
      </ion-col>
    </ion-row>
    <div class="shot-div">
      <ion-row class="shotRow">
        <ion-col [size]="platformtype === 'camera-mobile' ? '70' : '2.5'">
          <div class="ion-foot-col1" (click)="goPhotoDetail()">
            <img [src]="photoPath" class="ion-img"/>
          </div>
        </ion-col>
        <ion-col [size]="platformtype === 'camera-mobile' ? '90' : '2'">
          <div class="ion-foot-col1" (click)="flashModeChange($event)">
            <img [src]="cameraStore.flashImage" class="ion-img1"/>
          </div>
        </ion-col>
        <ion-col [size]="platformtype === 'camera-mobile' ? '56' : '3'">
          <div class="ion-foot-col2" (click)="camera()">
            <img [src]="cameraShoot" class="ion-img-camera"/>
          </div>
        </ion-col>
        <ion-col [size]="platformtype === 'camera-mobile' ? '159' : '4.5'">
          <div class="ion-foot-col3">
            <div class="ion-foot-col3-icon">
              <ion-icon slot="start" class="left" color="light" src="./assets/images/remove-outline.svg"></ion-icon>
              <ion-icon slot="end" class="right" color="light" src="./assets/images/add-outline.svg"></ion-icon>
            </div>
            <ion-range pin mode="md" [min]="zoom.min" [max]="zoom.max" [step]="zoom.step" color="primary"
              [(ngModel)]="zoom.value" (ionChange)="changeZoom()">
            </ion-range>
          </div>
        </ion-col>
      </ion-row>
    </div>
  </ion-grid>
  <app-photo-draw-footer></app-photo-draw-footer>
</ion-footer>
