.content {
  --overflow: hidden;
  flex: 1;
}

.camera-mobile {
  --background: transparent;
  background: transparent;
  width: 100%;

  .previewWidth {
    width: 100%;
    display: flex;
  }

  .font14 {
    font-size: 0.14rem;
  }

  .font16 {
    font-size: 0.16rem;
  }

  .icon22 {
    width: 0.22rem;
    height: 0.22rem;
  }

  .icon20 {
    width: 0.20rem;
    height: 0.20rem;
  }

  .my-ion-grid {
    padding: 0;
    background: #27282b;

    ion-col {
      padding: 0;
      --ion-grid-columns: 375;
    }

    .shotRow {
      height: 1.14rem;
      background-color: #1D1E20;
    }

    .iconBtn {
      width: 0.42rem;
      height: 0.42rem;
      margin-left: 0.04rem;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      flex-wrap: nowrap;
    }
  }

  .blackBoard {
    position: absolute;
    z-index: 10;
    min-width: 1.5rem;
    background: #fff;
    box-sizing: border-box;
    display: inline-flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
  }

  canvas {
    display: none;
  }

  .ion-foot-row1 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
  }

  .ion-foot-col1 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    height: 0.56rem;
    width: 0.56rem;
    margin-top: 0.29rem;
    margin-left: 0.11rem;
  }

  .ion-foot-col2 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    height: 0.56rem;
    width: 0.56rem;
    margin-top: 0.29rem;
  }

  .ion-foot-col3-icon {
    position: absolute;
    left: 0.21rem;
    right: 0.18rem;
    top: 0.28rem;
    display: flex;
    justify-content: space-between;
    ion-icon {
      width: 0.1rem;
      height: 0.1rem;
    }
  }

  .ion-foot-col3 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: auto;
    flex-wrap: nowrap;
    height: 0.45rem;
    margin-right: 0.18rem;
    margin-top: 0.29rem;
  }

  .ion-img {
    width: 0.42rem;
    height: 0.42rem;
  }

  .ion-img1 {
    width: 0.42rem;
    height: 0.42rem;
  }

  .ion-img-camera {
    width: 0.56rem;
    height: 0.56rem;
  }

  ion-range {
    color: white;
    --height: 0.45rem;
    --knob-size: 0.14rem;
    --knob-background:#3880ff;
    padding: 0.15rem 0 0 0;
    --pin-background:white;
    --pin-color:red;
    --bar-background:gray;
    --bar-background-active: white;
    --bar-height: 0.03rem;
    margin-left: 0.21rem;
  }

  .iconBorder {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    flex-wrap: nowrap;
    height: 100%;
    .divBorder{
      border-left: 0.01rem solid #757575;
      width: 0;
      height: 0.34rem;
    }
  }

  .ionSelectbox {
    --padding-bottom: 0;
    --padding-end: 0.14rem;
    --padding-start: 0;
    --padding-top: 0;
    color: white;
    height: var(--selectBox-height-42-mobile);
    align-items: center;
    text-indent: 0.14rem;
  }
}

.background-transparent {
  --background: transparent !important;
}

.visibilityHidden {
  visibility: hidden;
}