.content {
  --overflow: hidden;
  flex: 1;
}

.camera-winapp {
  --background: #27282B;
  background: #27282B;
  width: 100%;

  .previewWidth{
    margin: 0 auto;
    width: 720px;
    display: flex;
  }

  .font14 {
    font-size: 14px;
  }

  .font16 {
    font-size: 16px;
  }

  .icon22 {
    width: 100px;
    height:70px;

    .s-ion-icon {
      position: absolute;
      top:17px;
      left: 32px;
      width: 36px;
      height: 36px;
    }
  }

  .icon20 {
    width: 20px;
    height: 20px;
  }

  .shotGrid {
    height: 114px;
    background-color: #1D1E20;
  }

  .my-ion-grid {
    padding: 0;

    ion-row {
      margin: 0 auto;
      width: 720px;
      height: 70px;
      padding: 0 24px;
    }

    ion-col {
      padding: 0;
      height: 100%;
    }

    .firstCol {
      padding: 0 0 0 5px;
    }

    .shot-div {
      width: 100%;
      background-color: #1D1E20;
    }

    .shotRow {
      height: 192px;
      width: 720px;
      margin: 0 auto;
      padding:0 24px;
    }

    .iconBtn {
      height: 100%;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      flex-wrap: nowrap;
    }
  }

  .blackBoard {
    position: absolute;
    z-index: 10;
    min-width: 150px;
    background: #fff;
    box-sizing: border-box;
    display: inline-flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
  }

  canvas {
    display: none;
  }

  .ion-foot-row1 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
  }

  .ion-foot-col1 {
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    flex-wrap: nowrap;
    height: 100%;
  }

  .ion-foot-col2 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    height: 100%;
  }

  .ion-foot-col3 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    height: 100%;
    padding-left:52px;
    .ion-foot-col3-icon {
      position: relative;
      height: 0;
      width: 200px;

      ion-icon {
        width: 20px;
        height: 20px;
      }

      .left {
        position: absolute;
        left:0;
        top:54px;

        .s-ion-icon {
          position: absolute;
          top:10px;
          left: 0;
        }
      }

      .right {
        position: absolute;
        right:0;
        top:54px;

        .s-ion-icon {
          position: absolute;
          top:5px;
          right: 5px;
        }
      }
    }

    .range-has-pin.sc-ion-range-md-h {
      padding-top:0;
      width: 200px;
    }
  }

  .ion-img {
    width: 70px;
    height: 70px;
  }

  .ion-img-camera {
    width: 94px;
    height: 94px;
  }

  .ion-img1 {
    width: 70px;
    height: 70px;
  }

  ion-range {
    color: white;
    --height: 114px;
    --knob-size: 14px;
    --knob-background:#3880ff;
    padding: 0 0;
    --pin-background:white;
    --pin-color:red;
    --bar-background:gray;
    --bar-background-active: white;
    --bar-height: 3px;
  }

  .iconBorder {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    flex-wrap: nowrap;
    height: 100%;

    .divBorder {
      border-left: 1px solid #757575;
      width: 0;
      margin-top:5px;
      height: 60px;
    }
  }

  .ionSelectbox {
    --padding-bottom: 0;
    --padding-end: 17px;
    --padding-start: 7px;
    --padding-top: 0;
    color: white;
    font-size:24px;
    height: 70px;
    align-items: center;
  }

  .background-transparent {
    --background: transparent !important;
  }

  .visibilityHidden {
    visibility: hidden;
  }
}