.content {

  --overflow: hidden;
  --background: black;
  width: 100%;
  flex: 1;

  .my-ion-grid {
    background: black;

    ion-icon {
      min-width: 28px;
      min-height: 28px;
    }
  }

  .ion-col1 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
    max-height: 30px;
    font-size: 15px;
  }

  .colRight {
    justify-content: flex-end;
  }

  .col-span1 {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    cursor: pointer;
    color: white;
    min-width: 30px;
  }

  .blackBoard {
    position: absolute;
    z-index: 10;
    min-width: 150px;
    background: #fff;
    box-sizing: border-box;
    display: inline-flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
  }

  canvas {
    display: none;
  }
}

.content.background-transparent {

  --background: transparent !important;

}

.footer {

  .my-ion-grid {
    background: black;

    ion-icon {
      min-width: 28px;
      min-height: 28px;
    }
  }

  .colRight {
    justify-content: flex-end !important;
  }

  .ion-foot-row1 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
    font-size: 15px;
    min-height: 35px;
  }

  .col-span1 {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    cursor: pointer;
    color: white;
    min-width: 60px;
  }

  .ion-foot-col1 {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: nowrap;
    height: 50px;
    font-size: 15px;
  }

  .ion-foot-col2 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    height: 50px;
    font-size: 15px;
  }

  .ion-foot-col3-icon {
    position: absolute;
    left: 5px;
    right: 5px;
    top: 0px;
    display: flex;
    justify-content: space-between;

    ion-icon {
      min-width: 20px;
      min-height: 20px;
    }
  }

  .ion-foot-col3 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: auto;
    flex-wrap: nowrap;
    height: 100%;
    font-size: 15px;
  }

  .ion-img {
    width: 40px;
    height: 40px;
  }

  .ion-img-camera {
    width: 65px;
    height: 65px;
  }

  .ion-img1 {
    width: 60px;
    height: 60px;
    margin-top: -10px;
  }

  ion-range {
    color: white;
    --height: 36px;
    --knob-size: 14px;
    --knob-background:#3880ff;
    width: 110px;
    padding: 0px;
    --pin-background:white;
    --pin-color:red;
    --bar-background:gray;
    --bar-background-active: white;
    --bar-height: 5px;
  }

}

.custom-popover {
  .popover-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;

    .popover-content {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 300px;
    }
  }
}

.iconBorder {
  border-left: 1px solid white;
  display: list-item;
  margin-left: auto;
  margin-right: auto;
}

.ionSelectbox {
  --padding-bottom: 0;
  --padding-end: 2px;
  --padding-start: 0;
  --padding-top: 0;
  color: white;
  font-size: 15px;
  height: 100%;
  align-items: center;
}

.visibilityHidden {
  visibility: hidden;
}