<app-head></app-head>
<div class="breadcrumb" [ngClass]="platformtype">
  <div class="strLimmit" (press)="onPressBuilding($event)">
    <ion-label class="whitespace_pre_wrap">{{buildingName}}/</ion-label>
    <ion-label class="whitespace_pre_wrap">{{projectName}}</ion-label>
    <ion-label>/{{bigprocessName}}</ion-label>
  </div>
</div>
<ion-content class="process-edit-content" [ngClass]="platformtype">
  <div class="ion-list-layout">
    <div class="scrollbar">
      <ng-container *ngFor="let process of gamenDto.processList">
        <ion-list class="processDiv" lines="none">
          <div *ngIf="process.isOpen">
              <div class="under-line" *ngIf="process.workList != null && process.workList.length != 0"></div>
          </div>
          <ion-item>
            <div class="processColomn1">
              <ion-checkbox [(ngModel)]="process.isChecked" class="item-start" mode="md" (ngModelChange)="processChkClick(process)">
              </ion-checkbox>
            </div>
            <div class="processColomn3 whitespace_pre_wrap" (click)="updateProcess(process)">{{process.processName}}</div>
            <div class="arrow" (click)="expandChange(process)">
              <ion-img slot="end" src="./assets/icon/arrow-up.svg" class="item-right" *ngIf="process.isOpen"></ion-img>
              <ion-img slot="end" src="./assets/icon/arrow-down.svg" class="item-right" *ngIf="!process.isOpen"></ion-img>
            </div>
          </ion-item>
  
          <div *ngIf="process.isOpen">
            <ion-list class="processDiv" *ngFor="let work of process.workList;">
              <ion-item lines="none">
                <div class="workColomn1">
                  <ion-checkbox class="item-start" [(ngModel)]="work.isChecked" mode="md" (ngModelChange)="workChkClick()"></ion-checkbox>
                </div>
                <div class="workColomn2 whitespace_pre_wrap" (click)="updateWork(work,process.processId)">{{ work.workName }}</div>
              </ion-item>
            </ion-list>
            <!-- <div class="under-line" *ngIf="process.workList != null && process.workList.length != 0"></div> -->
          </div>
        </ion-list>
      </ng-container>
    </div>   
    <div class="headerContent">
      <ion-label class="selectCount">
        {{ gamenDto.selectCnt}}{{platformtype === 'processEdit-mobile' ? '件選択中' : '件　選択中' }}</ion-label>
      <ion-button class="rightDelete" color="emergency" (click)="deleteClick()"
        [disabled]="isDisabledDelete || !canDelete">削除する</ion-button>
    </div>
  </div>
</ion-content>
<!-- <app-footer></app-footer> -->
