.processEdit-winapp {

  &.breadcrumb {
    color: #ffffff;
    background-color: #27282B;
    height: 40px;
    line-height: 40px;
    display: flex;

    .strLimmit {
      font-size: 20px;
      padding-left: 29px;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      max-width: 1380px;
    }
  }

  &.process-edit-content {
    --background: #EAEBEC;

    .ion-list-layout {
      width: 100%;
      margin: 0;
      background: #FFFFFF;
      box-shadow: 0 1px 3px rgba(0, 0, 0, 0.4);
      border-radius: 4px;
      height: calc(100% - 1px);
      position: relative;
    }

    ion-item {
      --padding-start: 19px;
      --padding-end: 16px;
      --min-height: 77px !important;
      --inner-padding-end: 0;
    }

    .list-md {
      padding-top: 0;
      padding-bottom: 0;
    }

    .scrollbar {
      overflow: auto;
      height: calc(100% - 100px);
      width: 900px;
      margin: 0 auto;
    }

    .processDiv {
      padding: 0;
      margin: 0;
    }

    .processColomn3 {
      margin-top: auto;
      margin-bottom: auto;
      word-break: break-all;
      font-size: 24px;
      color: #0097E0;
      text-decoration: underline;
      cursor: pointer;
      width: calc(100% - 90px)
    }

    .item-right {
      display: inline-block;
      margin-left: auto;
      width: 24px;
      height: 24px;
    }

    .arrow {
      width: 0.44rem;
      height: 0.44rem;
      position: absolute;
      right: 0;
      padding: 0.08rem 0.08rem;
      cursor: pointer;
    }

    .under-line {
      height: 1px;
      background: #EAEBEC;
      width: 100%;
      margin-top: 7.85px;
      margin-bottom: 7.91px;
    }

    .workColomn1 {
      width: 18px;
      height: 18px;
      margin-top: auto;
      margin-bottom: auto;
      margin-right: 24px;
      text-align: center;
      position: relative;
      padding-left: 48px;
      position: relative;
    }

    .workColomn2 {
      font-size: 24px;
      margin-top: auto;
      margin-bottom: auto;
      word-break: break-all;
      color: #0097E0;
      text-decoration: underline;
      cursor: pointer;
      padding-left: 32px;
      position: relative;
      width: calc(100% - 110px);
    }
  }

  .processColomn1 {
    width: 18px;
    height: 18px;
    margin-top: auto;
    margin-bottom: auto;
    text-align: center;
    position: relative;
    margin-right: 35px;
  }

  .item-start {
    width: 18px;
    height: 18px;
    margin-top: auto;
    margin-bottom: auto;
    text-align: center;
    --border-color: #999999;
  }

  .headerContent {
    height: 100px;
    position: absolute;
    bottom: 0;
    width: 100%;
    color: #000000;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border: 1px solid #CCCCCC;
    border-bottom-style: none;
    border-right-style: none;
    border-left-style: none;

    .selectCount {
      font-size: var(--label-font-size-24-web);
      color: #000000;
      margin-left: 50%;
      margin-top: 35px;
    }

    .rightDelete {
      height: 60px;
      width: 200px;
      margin-right: 52px;
      margin-top: 20px;
      margin-bottom: 20px;
      font-size: var(--button-font-size-24-web);
      border-radius: 5px;
      opacity: 1;
    }
  }
}
