.processEdit-mobile {

  &.breadcrumb {
    color: #ffffff;
    background-color: #27282B;
    height: 0.4rem;
    line-height: 0.4rem;
    display: flex;

    .strLimmit {
      padding-left: 0.16rem;
      font-size: 0.14rem;
      padding-right: 0.16rem;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      max-width: 3.35rem;
    }
  }

  &.process-edit-content {
    --background: #FFFFFF;

    .ion-list-layout {
      padding: 0.17rem 0 0.6rem;
      width: 100%;
      margin: 0 auto;
      background: #FFFFFF;
      height: 100%;
      position: relative;
    }

    ion-item {
      --padding-start: 0.03rem;
      --padding-end: 0.14rem;
      --min-height: 0.48rem !important;
      --inner-padding-end: 0;
    }

    .scrollbar {
      overflow: auto;
      height: 100%;
    }

    .processDiv {
      padding: 0;
      margin: 0;
    }

    .processColomn3 {
      margin-top: auto;
      margin-bottom: auto;
      word-break: break-all;
      font-size: 0.16rem;
      color: #0097E0;
      text-decoration: underline;
      cursor: pointer;
      width:calc(100% - 0.9rem)
    }

    .item-right {
      width: 0.24rem;
      height: 0.24rem;
      margin: 0;
    }

    .arrow {
      width: 0.44rem;
      height: 0.44rem;
      position: absolute;
      right: 0;
      padding: 0.08rem 0.08rem;
      cursor: pointer;
    }

    .under-line {
      height: 0.01rem;
      background: #EAEBEC;
      width: 100%;
      margin-top: 0.08rem;
      margin-bottom: 0.08rem;
    }

    .workColomn1 {
      padding-left: 0.24rem;
      margin-top: auto 0;
      position: relative;
    }

    .workColomn2 {
      margin-top: auto;
      margin-bottom: auto;
      word-break: break-all;
      color: #0097E0;
      text-decoration:underline;
      cursor: pointer;
      padding-left: 0.22rem;
      position: relative;
      width: calc(100% - 1.1rem);
    }
  }

  .processColomn1 {
    position: relative;
    margin-right: 0.22rem;
  }

  .item-start {
    width: 0.44rem;
    height: 0.44rem;
    margin-top: auto;
    margin-bottom: auto;
    --border-color: #999999;
    margin: 0;
    padding: 0.11rem;
  }

  .headerContent {
    height: 0.6rem;
    position: absolute;
    bottom: 0;
    width: 100%;
    font-size: 0.14rem;
    color: #000000;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border: 0.01rem solid #CCCCCC;
    border-bottom-style: none;
    border-right-style: none;
    border-left-style: none;

    .selectCount {
      font-size: var(--label-font-size-14-mobile);
      color: #000000;
      height: 0.2rem;
      margin-left: 0.16rem;
      margin-top: 0.201rem;
    }

    .rightDelete {
      margin-right: 0.16rem;
      margin-top: 0.12rem;
      margin-bottom: 0.12rem;
      font-size: var(--button-font-size-14-mobile);
      width: 1.24rem;
      height: 0.36rem;
      border-radius: 0.05rem;
      line-height: 0.36rem;
    }
  }
}
