.processEdit-web {

  &.breadcrumb {
    color: #ffffff;
    background-color: #27282B;
    height: 40px;
    line-height: 40px;
    display: flex;

    .strLimmit {
      font-size: 14px;
      margin-right: 32.5px;
      width: 302px;
      height: 20px;
    }
  }

  &.process-edit-content {
    --background: #EAEBEC;

    .ion-list-layout {
      width: 900px;
      margin: 0 auto;
      background: #FFFFFF;
      box-shadow: 0 1px 3px rgba(0,0,0,0.4);
      border-radius: 4px;
      height: 100%;
      padding: 32px 0 72px;
      position: relative;
      overflow: hidden;
    }

    ion-item {
      --padding-start: 81px;
      --padding-end: 68px;
      --min-height: 48px !important;
      --inner-padding-end: 0;
    }

    .scrollbar {
      overflow: auto;
      height: 100%;
    }

    .processDiv {
      padding: 0;
      margin: 0;
    }

    .processColomn3 {
      margin-top: auto;
      margin-bottom: auto;
      word-break: break-all;
      font-size: 16px;
      color: #0097E0;
      text-decoration: underline;
      cursor: pointer;
      width:calc(100% - 90px)
    }

    .item-right {
      width: 24px;
      height: 24px;
      margin: 0;
    }

    .arrow {
      width: 0.44rem;
      height: 0.44rem;
      position: absolute;
      right: 0;
      padding: 0.08rem 0.08rem;
      cursor: pointer;
    }

    .under-line {
      height: 1px;
      background: #EAEBEC;
      width: calc(100%-124px);
      margin-top: 7.85px;
      margin-bottom: 7.91px;
      margin-left: 62px;
      margin-right: 62px;
    }

    .workColomn1 {
      width: 18px;
      height: 18px;
      margin-top: auto;
      margin-bottom: auto;
      margin-right: 24px;
      text-align: center;
      position: relative;
      padding-left: 48px;
      position: relative;
    }

    .workColomn2 {
      margin-top: auto;
      margin-bottom: auto;
      word-break: break-all;
      color: #0097E0;
      text-decoration:underline;
      cursor: pointer;
      padding-left: 32px;
      position: relative;
      width: calc(100% - 110px);
    }
  }

  .processColomn1 {
    width: 18px;
    height: 18px;
    margin-top: auto;
    margin-bottom: auto;
    text-align: center;
    position: relative;
    margin-right: 35px;
  }

  .item-start {
    width: 18px;
    height: 18px;
    margin-top: auto;
    margin-bottom: auto;
    text-align: center;
    --border-color: #999999;
  }

  .headerContent {
    height: 72px;
    position: absolute;
    bottom: 0;
    width: 100%;
    font-size: 14px;
    color: #000000;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border: 1px solid #CCCCCC;
    border-bottom-style: none;
    border-right-style: none;
    border-left-style: none;

    .selectCount {
      font-size: var(--label-font-size-16-web);
      color: #000000;
      height: 24px;
      width: 102.94px;
      margin-left: 78px;
      margin-top: 22px;
    }

    .rightDelete {
      margin-right: 78px;
      margin-top: 18px;
      margin-bottom: 18px;
      font-size: var(--button-font-size-16-web);
      width: 124px;
      height: 36px;
      border-radius: 5px;
      line-height: 36px;
    }
  }
}
