.error-mobile {
    .main {
        width: 4rem;
        height: 100%;
        position: absolute;
        top: 10%;
        left: 50%;
        transform: translate(-50%, 0);
        text-align: center;
    }
    .message1 {
        font-size: 0.2rem;
        margin: 0.1rem 0;
        height: 0.27rem;
        margin-top: 0.4rem;
    }
    .message2 {
        font-size: 0.16rem;
    }
    .loginLinkButton {
        --border-width: 0.01rem;
        width: 2.11rem;
        height: 0.47rem;
        font-size: var(--button-font-size-16-mobile);
        margin-bottom: 0.7rem;
    }
    .preMessage {
        margin: 0.1rem 0;
        height:0.76rem;
        margin-top: 0.3rem;
    }    
    .image {
        width: 1.37rem;
        height: 1.37rem;
        margin-top: 0;
    }
}
