.error-web, .error-winapp {
    .main{
        width: 500px;
        height: 500px;
        position: absolute;
        top: 20%;
        left: 50%;
        transform: translate(-50%, 0);
        text-align: center;
        font-size: 50px;
    }
    .message1 {
        font-size: 28px;
        margin: 10px 0;
    }
    .message2 {
        font-size: 24px;
    }
    .loginLinkButton {
        --border-width: 1px;
        margin-bottom: 50px;
        width: 312px;
        height: 68px;
        font-size: var(--button-font-size-24-web);
    }
    .preMessage {
        margin: 50px 0;
    }    
    .image {
        width: 137px;
        height: 137px;
    }
}
