<app-head></app-head>
<ion-content [ngClass]="platformtype">
  <div class="main">
    <img class="image" src="./assets/images/errorPic.svg">
    <div class="message1">{{message1}}</div>
    <pre class="preMessage"><div class="message2">{{errorStatus}}</div></pre>
    <ion-button [routerLink]="loginLink" fill="outline" class="loginLinkButton">ログイン画面に戻る</ion-button>
    <pre class="message2">{{ systemErrorInfo }}</pre>
  </div>
</ion-content>
<!-- <app-footer></app-footer> -->