.modalDiv {
  display: flex;
  flex-direction: column;
  // width: 600px;
  // min-height: 400px;
  // overflow: auto;
}

.rightClose {
  margin-left: auto;
  height: 25px;
}

.searchBtn {
  height: 34px;
}

.fontSize14 {
  font-size: 14px;
}

.searchInput {
  height: 46px;
}


.modalTitle {
  text-align: center;
  font-size: var(--label-font-size-16-web);
}

.inputBorder {
  border: 1px solid;
  height: 30px;
  font-size: 16px;
}


.buildingSearchPageModal .modal-wrapper {
  width: 550px;
  height: 450px;
}


.ionLabelpreLine{
  white-space: pre-line;
}