<div class="modalDiv">
  <div class="searchBtn ">
    <ion-row justify-content-end>
      <ion-col size=".7" align-self-right>
        <ion-buttons class="rightClose" (click)="onNoClick()">
          <mat-icon>clear</mat-icon>
        </ion-buttons>
      </ion-col>
    </ion-row>
  </div>
  <ion-label class="modalTitle">物件検索</ion-label>

  <div class="searchInput">
    <ion-row justify-content-end>
      <ion-col size="6" align-self-center>
        <ion-input class="inputBorder" maxlength="100" [(ngModel)]="searchValue" required="true"></ion-input>
      </ion-col>
      <ion-col size="2" class="fontSize14" align-self-center>
        <button class="edit-button mat-raised-button mat-button-base btn" (click)="onSearchClick()" [disabled]="isDisabled()">検索</button>
      </ion-col>
    </ion-row>
  </div>
</div>
<ion-content>
  <ion-list>
    <ion-item-divider sticky>
      <ng-container>
        <ion-col size="4">{{buildingNameTitle}}</ion-col>
        <ion-col size="8">{{buildingAddressTitle}}</ion-col>
      </ng-container>
    </ion-item-divider>
    <ion-virtual-scroll [items]="searchBuildingList">
      <ion-item *virtualItem="let item; " (click)="clickItem(item)">
        <ion-col size="4">
          <ion-label class="ionLabelpreLine whitespace_pre_wrap" (click)="clickItem(item)">{{item.buildingName}}</ion-label>
        </ion-col>
        <ion-col size="8">
          <ion-label class="ionLabelpreLine" (click)="clickItem(item)">
            {{item.addressPrefecture}}{{item.addressCity}}{{item.addressNumber}}</ion-label>
        </ion-col>
      </ion-item>
    </ion-virtual-scroll>
  </ion-list>
</ion-content>
