 
  ion-footer.menu {
    .copyright {
      font-size: 12px;
      height: 80px;
      padding:22px 35px;
      color: #999999;
      text-align: center;
      background: #333333;
    }
  }


ion-footer.login {
  .copyright {
    font-size: 12px;
    height: 54px;
    padding-top:19px;
    color: #999999;
    text-align: center;
    background: #ffffff;
  }
}
