<app-head></app-head>
<div class="breadcrumb" [ngClass]="platformtype">
  <div class="strLimmit whitespace_pre" (press)="onPressBuilding($event)">{{buildingName}} / {{projectName}}</div>
  <div class="strLastPart" (press)="onPressBuilding($event)"> / {{title}}</div>
</div>
<ion-content [ngClass]="platformtype">
  <div class="list-container">
    <div class="list-content">
      <ion-list class="ion-list">
        <ion-item class="ion-item-style" button detail="false" *ngFor="let process of processes"
          (click)="clickItem(process.code,process.name)">
          <ion-img class="business" [src]="process.img" slot="start"></ion-img>
          <ion-label>{{process.name}}</ion-label>
        </ion-item>
      </ion-list>
    </div>
  </div>
</ion-content>
<!-- <app-footer></app-footer> -->
