ion-content {
  --overflow: hidden;

  .breadcrumb {
    color: #ffffff;
    background-color: #000000;
  }

  .processes {
    margin: 0 0 2em 0;
    list-style-type: none;
    padding: 0;
    width: 15em;
  }

  .processes.text {
    position: relative;
    top: -3px;
  }

  .processBtn {
    width: 250px;
    text-align: left;
    margin: 5px;
  }

  #prosty {

    margin: 10px;
    padding: 10px;
  }

}

.breadcrumb {
  color: #ffffff;
  background-color: #000000;
}

.strLimmit {
  max-width: 90%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  padding-left: 10px;
  height: 40px;
  line-height: 40px;
}

ion-item {
  --padding-top: 30px;
}

.size20 {
  font-size: 20px;
}
