ion-content {
  --overflow: hidden;
}

.bigProcess-mobile {
  &.breadcrumb {
    color: #ffffff;
    background-color: #27282B;
    font-size: 0.14rem;
    height: 0.4rem;
    width: 100%;
    display: inline-flex;
    flex-wrap: nowrap;
  }
  
  .strLimmit {
    flex: 0 1 content;
    display: inline-block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    padding-left: 0.16rem;
    height: 0.4rem;
    line-height: 0.4rem;
  }

  .strLastPart {
    flex: 1 0 content;
    display: inline-block;
    white-space: nowrap;
    height: 0.4rem;
    line-height: 0.4rem;
  }
  
  .ion-list {
    padding-top: 0.16rem;
  
    .business {
      width: 0.4rem;
      height: 0.4rem;
      // margin-left: 0.16rem;
    }
  
    .ion-item-style {
      --padding-start: 0.16rem;
      --inner-padding-end: 0.1rem;
      --border-color: #EAEBEC;
      margin-top: 0.21rem;
      --inner-border-width: 0 0 0.01rem 0;
  
      ion-label {
        height: 0.56rem;
        line-height: 0.56rem;
        margin: 0;
        font-size: var(--label-font-size-16-mobile);
        color: black;
      }
    }
  }
}

