ion-content {
  --overflow: hidden;
}

.bigProcess-winapp {
  &.breadcrumb {
    color: #ffffff;
    background-color: #27282B;
    font-size: 20px;
    height: 62px;
    width: 100%;
    display: inline-flex;
    flex-wrap: nowrap;
  }
  
  .strLimmit {
    flex: 0 1 content;
    display: inline-block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    padding-left: 24px;
    height: 62px;
    line-height: 62px;
  }

  .strLastPart {
    flex: 1 0 content;
    display: inline-block;
    white-space: nowrap;
    height: 62px;
    line-height: 62px;
  }
  
  .ion-list {
    padding-top: 24.2px;
  
    .business {
      width: 40px;
      height: 40px;
      margin-right: 32px;
    }
  
    .ion-item-style {
      --padding-start: 55px;
      --inner-padding-end: 10px;
      --border-color: #EAEBEC;
      --inner-border-width: 0 0 1px 0;
  
      ion-label {
        height: 77px;
        line-height: 77px;
        margin: 0;
        font-size: var(--label-font-size-24-web);
        color: black;
      }
    }
  }
}

