// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/

/** Ionic CSS Variables **/
:root {
  /** primary **/
  --ion-color-primary: #0097E0;
  --ion-color-primary-rgb: 56, 128, 255;
  --ion-color-primary-contrast: #ffffff;
  --ion-color-primary-contrast-rgb: 255, 255, 255;
  --ion-color-primary-shade: #3171e0;
  --ion-color-primary-tint: #4c8dff;

  /** secondary **/
  --ion-color-secondary: #0cd1e8;
  --ion-color-secondary-rgb: 12, 209, 232;
  --ion-color-secondary-contrast: #ffffff;
  --ion-color-secondary-contrast-rgb: 255, 255, 255;
  --ion-color-secondary-shade: #0bb8cc;
  --ion-color-secondary-tint: #24d6ea;

  /** tertiary **/
  --ion-color-tertiary: #7044ff;
  --ion-color-tertiary-rgb: 112, 68, 255;
  --ion-color-tertiary-contrast: #ffffff;
  --ion-color-tertiary-contrast-rgb: 255, 255, 255;
  --ion-color-tertiary-shade: #633ce0;
  --ion-color-tertiary-tint: #7e57ff;

  /** success **/
  --ion-color-success: #10dc60;
  --ion-color-success-rgb: 16, 220, 96;
  --ion-color-success-contrast: #ffffff;
  --ion-color-success-contrast-rgb: 255, 255, 255;
  --ion-color-success-shade: #0ec254;
  --ion-color-success-tint: #28e070;

  /** warning **/
  --ion-color-warning: #ffce00;
  --ion-color-warning-rgb: 255, 206, 0;
  --ion-color-warning-contrast: #ffffff;
  --ion-color-warning-contrast-rgb: 255, 255, 255;
  --ion-color-warning-shade: #e0b500;
  --ion-color-warning-tint: #ffd31a;

  /** danger **/
  --ion-color-danger: #f04141;
  --ion-color-danger-rgb: 245, 61, 61;
  --ion-color-danger-contrast: #ffffff;
  --ion-color-danger-contrast-rgb: 255, 255, 255;
  --ion-color-danger-shade: #d33939;
  --ion-color-danger-tint: #f25454;

  /** dark **/
  --ion-color-dark: #222428;
  --ion-color-dark-rgb: 34, 34, 34;
  --ion-color-dark-contrast: #ffffff;
  --ion-color-dark-contrast-rgb: 255, 255, 255;
  --ion-color-dark-shade: #1e2023;
  --ion-color-dark-tint: #383a3e;

  /** medium **/
  --ion-color-medium: #989aa2;
  --ion-color-medium-rgb: 152, 154, 162;
  --ion-color-medium-contrast: #ffffff;
  --ion-color-medium-contrast-rgb: 255, 255, 255;
  --ion-color-medium-shade: #86888f;
  --ion-color-medium-tint: #a2a4ab;

  /** light **/
  --ion-color-light: #f4f5f8;
  --ion-color-light-rgb: 244, 244, 244;
  --ion-color-light-contrast: #000000;
  --ion-color-light-contrast-rgb: 0, 0, 0;
  --ion-color-light-shade: #d7d8da;
  --ion-color-light-tint: #f5f6f9;

  /** bluebtn **/
  --ion-color-bluebtn: #0097E0;
  --ion-color-bluebtn-rgb: 0, 151, 224;
  --ion-color-bluebtn-contrast: #ffffff;
  --ion-color-bluebtn-contrast-rgb: 255, 255, 255;
  --ion-color-bluebtn-shade: #0085c5;
  --ion-color-bluebtn-tint: #1aa1e3;

  /** whitebtn **/
  --ion-color-whitebtn: #ffffff;
  --ion-color-whitebtn-rgb: 255, 255, 255;
  --ion-color-whitebtn-contrast: #0097E0;
  --ion-color-whitebtn-contrast-rgb: 56, 128, 255;
  --ion-color-whitebtn-shade: #e0e0e0;
  --ion-color-whitebtn-tint: #ffffff;

  /** emergency **/
  --ion-color-emergency: #FF3333;
  --ion-color-emergency-rgb: 255, 51, 51;
  --ion-color-emergency-contrast: #ffffff;
  --ion-color-emergency-contrast-rgb: 255, 255, 255;
  --ion-color-emergency-shade: #e02d2d;
  --ion-color-emergency-tint: #ff4747;

  --ion-font-family: NotoSansJP-Regular;
}

.ion-color-bluebtn {
  --ion-color-base: var(--ion-color-bluebtn);
  --ion-color-base-rgb: var(--ion-color-bluebtn-rgb);
  --ion-color-contrast: var(--ion-color-bluebtn-contrast);
  --ion-color-contrast-rgb: var(--ion-color-bluebtn-contrast-rgb);
  --ion-color-shade: var(--ion-color-bluebtn-shade);
  --ion-color-tint: var(--ion-color-bluebtn-tint);
}

.ion-color-whitebtn {
  --ion-color-base: var(--ion-color-whitebtn);
  --ion-color-base-rgb: var(--ion-color-whitebtn-rgb);
  --ion-color-contrast: var(--ion-color-whitebtn-contrast);
  --ion-color-contrast-rgb: var(--ion-color-whitebtn-contrast-rgb);
  --ion-color-shade: var(--ion-color-whitebtn-shade);
  --ion-color-tint: var(--ion-color-whitebtn-tint);
}

.ion-color-emergency {
  --ion-color-base: var(--ion-color-emergency);
  --ion-color-base-rgb: var(--ion-color-emergency-rgb);
  --ion-color-contrast: var(--ion-color-emergency-contrast);
  --ion-color-contrast-rgb: var(--ion-color-emergency-contrast-rgb);
  --ion-color-shade: var(--ion-color-emergency-shade);
  --ion-color-tint: var(--ion-color-emergency-tint);
}
