.photo-simple-grid-item-web, .photo-simple-grid-item-winapp {
  &.item {
    position: relative;
    width: 100%;
    height: 292px;
    background-color: #EAEBEC;
  }
  
  &.item ion-img {
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
  }
  
  .tip {
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    padding: 0px;
    margin: 0px;
    position: absolute;
    height: 48px;
    line-height: 48px;
    text-align: center;
    font-size: 20px;
    left: 15px;
    bottom: 0px;
    z-index: 999;
    display: block;
    opacity: 0.6;
  }

  .noimage {
    position: absolute;
    left: 70px;
    top: 70px;
    width: 151px;
    height: 151px;
    background-color: #EAEBEC;
  }
  
  .camera {
    position: absolute;
  }

  .bottom-view {
    position: absolute;
    background-color: #000000;
    opacity: 0.6;
    width: 100%;
    height: 48px;

    z-index: 990;
    left: 0px;
    bottom: 0px;

    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
  }

  .bookphoto {
    margin-right: 15px;
    width: 14px;
    height: 18px;
  }

  .cloud {
    margin-right: 15px;
    width: 24px;
    height: 18px;
  }

  .v-width {
    width: 100%;
  }

  .v-width-30 {
    width: 100%;
  }
}
