.photo-simple-grid-item-mobile {
  &.item {
    position: relative;
    width: 100%;
    height: 1.16rem;
    background-color: #EAEBEC;
  }
  
  &.item ion-img {
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
  }
  
  .tip {
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    padding: 0rem;
    margin: 0rem;
    position: absolute;
    height: 0.30rem;
    line-height: 0.30rem;
    text-align: center;
    font-size: 0.14rem;
    left: 0.15rem;
    bottom: 0rem;
    z-index: 999;
    display: block;
    opacity: 0.6;
  }

  .noimage {
    position: absolute;
    left: 0.29rem;
    top: 0.27rem;
    width: 0.62rem;
    height: 0.62rem;
    background-color: #EAEBEC;
  }
  
  .camera {
    position: absolute;
    width: 100%;
  }

  .bottom-view {
    position: absolute;
    background-color: #000000;
    opacity: 0.6;
    width: 100%;
    height: 0.30rem;

    z-index: 990;
    left: 0rem;
    bottom: 0rem;

    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
  }

  .bookphoto {
    margin-right: 0.15rem;
    width: 0.14rem;
    height: 0.18rem;
  }

  .cloud {
    margin-right: 15rem;
    width: 0.24rem;
    height: 0.18rem;
  }

  .v-width {
    width: 100%;
  }

  .v-width-30 {
    width: 100%;
  }
}
