<div class="item" [ngClass]="platformtype">
  <ion-img *ngIf="isShowPhoto" [src]="photoPath" (click)="imageclick($event)"></ion-img>

  <div *ngIf="isShowNoimageIcon" class="noimage" (click)="gotocamera()">
    <img class="camera" src="./assets/images/add_a_photo-24px.svg" alt="">
  </div>

  <div *ngIf="showBottomview" class="bottom-view"
    [ngClass]="isShowServerPhotoIcon || isShowPhotobookIcon ? 'v-width' : 'v-width-30'">
    <div *ngIf="isShowTiming" class="tip">{{photo.timingAbbreviation}}</div>
    <img class="bookphoto" *ngIf="isShowPhotobookIcon" src="./assets/images/document-outline.svg" />
    <img class="cloud" *ngIf="isShowServerPhotoIcon" src="./assets/images/cloud-outline.svg" />
  </div>
  <!-- <p *ngIf="isShowTiming" class="tip">{{photo.timingAbbreviation}}</p> -->
</div>
