<ion-header>
  <ion-toolbar>
    <ion-title class = "title"></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-item>
    <!--  <label>订单来源：</label>
      <select  name = "agency" id ="agency" [(ngModel)] = "onshelfInfo.agency" >
        <option [value] ="item" *ngFor = "let item of onshelfInfo.agencylist">{{item}}</option>
      </select>&nbsp;-->

     <label>代理简称:</label><input type = "text "  maxlength="10" min="1" [(ngModel)]="agencyname"/>&nbsp;
     <label>面值:</label> <input type = "text "  maxlength="10" min="1" [(ngModel)]="value"/>&nbsp;

    </ion-item>


    <ion-item>
     <label>商品类型：</label>
     <select  name = "producttype" id ="producttype" [(ngModel)] = "onshelfInfo.producttype" >
      <option [value] ="item1" *ngFor = "let item1 of onshelfInfo.producttypelist">{{item1}}</option>
    </select>&nbsp;

    <label>商品状态：</label>
      <!--<select  name = "productStatus" id ="productStatus" [(ngModel)] = "onshelfInfo.productStatus" >
      <option [value] ="item5" *ngFor = "let item5 of onshelfInfo.productStatusList">{{item5}}</option>
     </select>&nbsp;-->
     <select  name = "productstatus" id ="productstatus" [(ngModel)] = "onshelfInfo.productstatus" >
      <option [value] ="item2" *ngFor = "let item2 of onshelfInfo.productstatuslist">{{item2}}</option>
    </select>&nbsp;
    </ion-item>
  
    
    <!--<span *ngFor =  "let item4 of onshelfInfo.provinceList; let key-index;">
    <label class = "fontsize">{{item4.title}}</label> 
    <input type ="checkbox"  [id] = "'check' + key"/>  
    </span>-->
    

    <!--<ion-item>
      <label>运营商：</label>
      <select  name = "provideservice" id ="provideservice" [(ngModel)] = "onshelfInfo.provideservice" >
        <option [value] ="item3" *ngFor = "let item3 of onshelfInfo.provideservicelist">{{item3}}</option>
      </select>&nbsp;


      <label>号码类型:</label>
      <select  name = "numbertype" id ="numbertype" [(ngModel)] = "onshelfInfo.numbertype" >
        <option [value] ="item4" *ngFor = "let item4 of onshelfInfo.numbertypelist">{{item4}}</option>
      </select>&nbsp;
      
      <label>商品名称:</label> <input type = "text "  maxlength="10" min="1"/>&nbsp;

      <label>面值:</label> <input type = "text "  maxlength="10" min="1"/>&nbsp;
    </ion-item>-->

    <ion-item>
      <ion-button class="toroku-button" color="primary" (click)="onSearch()">查询</ion-button>
      <ion-button class="toroku-button" color="primary" (click)="onEdit()">调价</ion-button>
      <ion-button class="toroku-button" color="primary" (click)="onSearch()">上架</ion-button>
      <ion-button class="toroku-button" color="primary" (click)="onSearch()">下架</ion-button>
      <ion-button class="toroku-button" color="primary" (click)="onSearch()">核价格</ion-button>
      <ion-button class="toroku-button" color="primary" (click)="onSearch()">核成本</ion-button>
      <ion-button class="toroku-button" color="primary" routerLink ='/homepage'>返回</ion-button>
     </ion-item>

<ion-item class="head-title minW2300">
  <ion-col size="1.0">代理简称</ion-col>
  <ion-col size="1.0">商品名称</ion-col>
  <ion-col size="1.0">商品类型</ion-col>
  <ion-col size="1.0">运营商</ion-col>
  <ion-col size="1.0">面值</ion-col>
  <ion-col size="1.0">价格</ion-col>
  <ion-col size="1.0">折扣</ion-col>
  <ion-col size="1.0">核价格</ion-col>
  <ion-col size="1.0">核成本</ion-col>
  <ion-col size="1.0">状态</ion-col>
  
</ion-item>

<ion-item class="minW2300" *ngFor="let sysUser of sysOnShelfProductInfoList">
  <ion-col size="1.0">{{sysUser.AgentReduceName}}</ion-col>
  <ion-col size="1.0">{{sysUser.productName}}</ion-col>
  <ion-col size="1.0">{{sysUser.productType}}</ion-col>
  <ion-col size="1.0">{{sysUser.spId}}</ion-col>
  <ion-col size="1.0">{{sysUser.value}}</ion-col>
  <ion-col size="1.0">{{sysUser.price}}</ion-col>
  <ion-col size="1.0">{{sysUser.disaccount}}</ion-col>
  <ion-col size="1.0">{{sysUser.checkPrice}}</ion-col>
  <ion-col size="1.0">{{sysUser.checkCost}}</ion-col>
  <ion-col size="1.0">{{sysUser.status}}</ion-col>
</ion-item>

</ion-content>
