.main {
  flex: 1;
  width: 100%;
  height: 100%;
  flex-direction: column;
  align-items: center;
  display: flex;

  .image {
    width: 318px;
    height: 72px;
    margin-top: 30px;
  }

  .title {
    font-size: 14px;
    margin-top: 60px;
    color: grey;
  }

  .input-user {
    width: 288px;
    margin-top: 40px;
    border-width: 0;
    border-style: none;
    border-bottom: solid 1px gray;
    height: 40px;
    font-size: 16px;
    outline: none;
    caret-color:blue;
    ime-mode: inactive;
  }

  .input-pwd {
    width: 288px;
    margin-top: 20px;
    border-width: 0;
    border-bottom: solid 1px gray;
    height: 40px;
    font-size: 16px;
    outline: none;
    caret-color:blue;
  }

  .input-sc {
    width: 288px;
    margin-top: 20px;
    border-width: 0;
    border-bottom: solid 1px gray;
    height: 40px;
    font-size: 16px;
    outline: none;
    caret-color:blue;
  }

  .forget-pwd {
    width: 288px;
    font-size: 14px;
    margin-top: 15px;
    color: grey;
    text-align: left;

    .forget-pwd-link {
      color: blue;
      text-decoration: underline;
      cursor: pointer;
    }
  }

  .big-btn {
    width: 288px;
    margin-top: 30px;
    border-radius: 22px;
    height: 44px;
  }

}
