<ion-content>
  <div *ngIf="!isConfirmLogin" class="main">
    <img class="image" src="./assets/images/loginTop.png">
    <span class="title" style="color: red;">事前設定情報登録専用ログイン画面</span>
    <span class="title">{{gamenLable.loginMessage}}</span>
    <input class="input-user" type="email" inputmode="email" maxlength="128" placeholder="user name"
      [(ngModel)]="userName">
    <input class="input-pwd" type="password" maxlength="20" placeholder="password" [(ngModel)]="userPwd">
    <div class="forget-pwd">
      <span>{{gamenLable.passwordChangeMessage}}</span>
      <span class="forget-pwd-link" routerLink="/change-pwd">{{gamenLable.passwordChange}}</span>
    </div>
    <ion-button class="big-btn" mat-raised-button (click)="signIn()">{{gamenLable.signIn}}</ion-button>
  </div>
  <div *ngIf="isConfirmLogin" class="main">
    <img class="image" src="./assets/images/loginTop.png">
    <span class="title">{{gamenLable.passcodeInput}}</span>
    <input class="input-sc" type="text" placeholder="コードを入力" [(ngModel)]="secretCode">
    <ion-button class="big-btn" mat-raised-button [disabled]="!secretCode" (click)="confirmSignIn()">
      {{gamenLable.confirmSignIn}}</ion-button>
  </div>
</ion-content>
