.projectPage-mobile {

  ion-content {
    --overflow: hidden;

    .list-container {
      display: flex;
      flex-direction: column;
      flex-wrap: nowrap;
      width: 100%;
      height: 100%;

      .list-content {
        flex-grow: 1;
        overflow: auto;
      }
    }
  }

  &.breadcrumb {
    color: #ffffff;
    background-color: #27282B;
    font-size: 0.14rem;
    height: 0.4rem;
  }

  .strLimmit {
    display: inline-block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    padding-left: 0.16rem;
    height: 0.4rem;
    line-height: 0.4rem;
    width: 100%;
  }

  .ion-list {
    padding-top: 0.04rem;

    .business {
      width: 0.4rem;
      height: 0.4rem;
      margin-right: 0.2rem;
    }

    .ion-item-style {
      --padding-start: 0.16rem;
      --inner-padding-end: 0.1rem;
      --border-color: #EAEBEC;
      --inner-border-width: 0 0 0.01rem 0;

      ion-label {
        height: 0.56rem;
        margin: 0;

        div {

          &:first-child {
            font-size: var(--label-font-size-16-mobile);
            color: #000000;
            line-height: 0.22rem;
            margin-top: 0.10rem;
          }

          &:nth-child(2) {
            font-size: var(--label-font-size-12-mobile);
            color: #666666;
            margin-top: 0.05rem;
            margin-bottom: 0.07rem;
            line-height: 0.12rem;
          }
        }
      }
    }
  }

  ion-col {
    --ion-grid-column-padding: 0;
  }

  .strLimmit-count {
    text-align: right;
    margin-right: 0.18rem;
    margin-top: 0.13rem;
    line-height: 0.2rem;
    color: #1D1E20;
    font-size: 0.14rem;
  }

  .under-line {
    width: 100%;
    height: 0.01rem;
    background: #EAEBEC;
    margin-left: 0.76rem;
  }

  .subtitle{
    font-size: 0.12rem;
    color: #666666;
  }
}
