
.projectPage-winapp {

  ion-content {
    --overflow: hidden;

    .list-container {
      display: flex;
      flex-direction: column;
      flex-wrap: nowrap;
      width: 100%;
      height: 100%;

      .list-content {
        flex-grow: 1;
        overflow: auto;
      }
    }
  }

  &.breadcrumb {
    color: #ffffff;
    background-color: #27282B;
    font-size: 20px;
    height: 62px;
  }

  .ion-list {
    padding-top: 0;

    .ion-item-divider {
      height: 48px;
      line-height: 48px;
      background: #EAEBEC;
      border-bottom: none;
      color: #333333;
      font-size: 20px;
      --padding-start: 55px;
      --inner-padding-end: 10px;

      .empty {
        width: 40px;
        height: 1px;
        margin-right: 32px;
      }
    }

    .business {
      width: 40px;
      height: 40px;
      margin-right: 32px;
    }

    .ion-item-style {
      --padding-start: 55px;
      --inner-padding-end: 10px;
      font-size: 24px;
      color: #000000;
      --border-color: #EAEBEC;
      --inner-border-width: 0;
      height: 77px;

      ion-label {
        line-height: 77px;
      }
    }
  }

  ion-col {
    --ion-grid-column-padding: 0
  }

  .strLimmit {
    display: inline-block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    padding-left: 24px;
    height: 62px;
    line-height: 62px;
    width: calc(100% - 200px);
  }

  .strLimmit-count {
    float: right;
    margin-right: 19px;
    line-height: 62px;
    font-size: 18px;
  }

  .under-line {
    width: 100%;
    height: 1px;
    background: #EAEBEC;
    margin-left: 127px;
  }
}
