<!--ヘッダ部-->
<app-head></app-head>
<div class="breadcrumb" [ngClass]="platformtype">
  <div class="strLimmit whitespace_pre" (press)="onPressBuilding($event)">{{buildingName}} / {{title}} </div>
  <div class="strLimmit-count" *ngIf="platformtype === 'projectPage-web' || platformtype === 'projectPage-winapp'">
    {{projectCountLabel}}{{projectCount}} {{projectUnitLabel}}</div>
</div>
<!--ボディー部-->
<ion-content [ngClass]="platformtype">
  <div class="list-container">
    <div class="strLimmit-count" *ngIf="platformtype === 'projectPage-mobile'">
      {{projectCountLabel}}{{projectCount}} {{projectUnitLabel}}</div>
    <div class="list-content">
      <ion-list class="ion-list">
        <ion-item-divider class="ion-item-divider"
          *ngIf="platformtype === 'projectPage-web' || platformtype === 'projectPage-winapp'" sticky>
          <div class="empty" slot="start"></div>
          <ng-container>
            <ion-col [size]="platformtype === 'projectPage-web'?11.21:11">{{projectNameLabel}}</ion-col>
            <ion-col [size]="platformtype === 'projectPage-web'?0.79:1">{{projectIdLabel}}</ion-col>
          </ng-container>
        </ion-item-divider>
        <ng-container *ngFor="let project of projectList">
          <ion-item class="ion-item-style" button detail="false" (click)="clickItem(project)"
            (press)="onPress($event,project)">
            <ion-img class="business" src="./assets/icon/anken_icon.svg" slot="start"></ion-img>
            <ng-container *ngIf="platformtype === 'projectPage-web' || platformtype === 'projectPage-winapp'">
              <ion-col [size]="platformtype === 'projectPage-web'?11.21:11">
                <ion-label (click)="clickItem(project)" class="whitespace_pre">{{project.projectName}}</ion-label>
              </ion-col>
              <ion-col [size]="platformtype === 'projectPage-web'?0.79:1">
                <ion-label (click)="clickItem(project)">{{project.projectId}}</ion-label>
              </ion-col>
            </ng-container>
            <ng-container *ngIf="platformtype === 'projectPage-mobile'">
              <div style="height: 0.56;width: 100%;" (click)="clickItem(project)">
                <div class="whitespace_pre"
                  style="height: 0.28rem; width: 100%;text-overflow: ellipsis;overflow: hidden;">{{project.projectName}}
                </div>
                <div class="subtitle">{{project.projectId}}</div>
              </div>
            </ng-container>
          </ion-item>
          <div class="under-line"></div>
        </ng-container>
      </ion-list>
    </div>
  </div>
</ion-content>
<!-- <app-footer></app-footer> -->
