<div class="modalDiv">
  <ion-label class="modalTitle">結果CSVダウンロード</ion-label>
  <ion-grid class="processform">
    <ion-row justify-content-end>
      <ion-col size="12" align-self-center class="contentCenter">
        結果CSV：{{fileName}}をダウンロードします。
      </ion-col>
      <ion-col size="12" align-self-center>
        
      </ion-col>
      <ion-col size="12" align-self-center class="contentCenter">
        <ion-button class="toroku-button" color="primary" (click)="onDownLoadClick()">OK</ion-button>
      </ion-col>
    </ion-row>

  </ion-grid>
  
</div>
