.modalDiv {
  display: flex;
  flex-direction: column;
  // width: 600px;
  // min-height: 400px;
  overflow: auto;
  padding-top: 20px;
  font-size: 16px;
}

.rightClose {
  margin-left: auto;
}

.processform {
  margin: 15px 10px;
}


.modalTitle {
  text-align: center;
}

.inputBorder {
  border: 1px solid;
  height: 30px;
}

.displayOrder {
  width: 50px;
}

.flexDiv {
  display: flex;
}

.flexDiv .leftButton {
  display: inline-block;
  margin-left: auto;
  margin-right: 10px;
}
.flexDiv .rightButton {
  display: inline-block;
  margin-left: 10px;
  margin-right: auto;
}

.flexDiv .buttonWidth {
  width: 120px;
  margin: 0;
}
.listItem{
    width: 100%;
    overflow: auto;

}
.contentCenter{
  text-align: center;
}


