.photogriditem-mobile {
  width: 100%;

  .item {
    position: relative;
    width: 100%;
    height: 116px;
    // padding-bottom: 75%;
    overflow: hidden;

  }

  .image{
    width: 100%;
    height: 100%;
    object-fit: fill;
  }

  .item-fail {
    position: relative;
    width: 100%;
    height: 100%;
    border: 0.02rem solid red;
  }

  .clickimage {
    position: absolute;

    width: 100%;
    height: 100%;

    left: 0px;
    top: 0px;
    z-index: 999;
  }



  .checkbox {
    position: absolute;
    width: 15px;
    height: 15px;
    --border-radius: 0;
    top: 8px;
    left: 5px;
    z-index: 998;
  }


  .noimage {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    background-color: #eaebec;
  }


  .camera {
    position: absolute;
    left: calc(50% - 0.31rem);
    top: calc(50% - 0.31rem);
  }

  .bottom-view {
    position: absolute;
    background-color:rgba($color: #000000, $alpha: 0.6);
    // opacity: 0.6;
    width: 100%;
    height: 0.3rem;

    z-index: 990;
    left: 0rem;
    bottom: 0rem;

    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
  }


  .tip {
    position: absolute;
    color: white;
    width: 0.3rem;
    height: 0.3rem;
    line-height: 0.3rem;
    text-align: center;
    font-size: 0.14rem;

    left: 0px;
    bottom: 0px;
    z-index: 990;
  }

  .bookphoto {
    margin-right: 0.06rem;

  }

  .cloud {
    margin-right: 0.06rem;

  }

}


