<div [ngClass]="platformtype">
  <div [ngClass]="uploadFail ? 'item-fail' : 'item'">
    <ion-img class="image" *ngIf="isShowPhoto" [src]="photoPath"></ion-img>


    <ion-checkbox *ngIf="showcheckbox" class="checkbox" [checked]="selectPhotos.indexOf(photo) > -1">
    </ion-checkbox>


    <div *ngIf="isShowPhoto" class="clickimage" (click)="imageclick($event)"></div>

    <div *ngIf="isShowNoimageIcon" class="noimage" (click)="gotocamera()">
      <img class="camera" src="./assets/images/add_a_photo.svg" />
    </div>



    <div *ngIf="showBottomview" class="bottom-view">
      <div *ngIf="isShowTiming" class="tip">
        {{photo.timingAbbreviation}}</div>
      <ion-img class="bookphoto" *ngIf="isShowPhotobookIcon" [src]="photobookimage"></ion-img>
      <ion-img class="cloud" *ngIf="isShowServerPhotoIcon" [src]="photocloudimage"></ion-img>

    </div>


  </div>
</div>
