

.photogriditem-web,.photogriditem-winapp {
  width: 100%;
  .item {
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 75%;
    overflow: hidden;
  }

  .item-fail {
    position: relative;
    width: 100%;
    height: 100%;
    border: 2px solid red;
  }

  .clickimage {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0px;
    top: 0px;
    z-index: 999;
  }

  .checkbox {
    position: absolute;
    width: 25px;
    height: 25px;
    top: 8px;
    left: 8px;
    z-index: 998;
  }

  .noimage {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    background-color: #eaebec;
  }

  .camera {
    position: absolute;
    width: 152px;
    height: 152px;
    left: calc(50% - 76px);
    top: calc(50% - 76px);
  }

  .bottom-view {
    position: absolute;
    background-color: #000000;
    opacity: 0.6;
    width: 100%;
    height: 48px;
    z-index: 990;
    left: 0px;
    bottom: 0px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
  }

  .tip {
    position: absolute;
    color: white;
    width: 48px;
    height: 48px;
    line-height: 48px;
    text-align: center;
    font-size: 18px;
    left: 0px;
    bottom: 0px;
    z-index: 990;
  }

}
