<ion-header>
  <ion-toolbar>
    <ion-title>productsshelf</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div>
  <label>全国</label> <label>辽宁</label>  <label>吉林</label> <label>湖南</label>
  <label>湖北</label> <label>北京</label> <label>天津</label> <label>重庆</label> <label>上海</label>
  <label>江苏</label> <label>浙江</label> <label>安徽</label> <lable>福建</lable>  <label>江西</label>
  <label>河南</label> <label>河北</label> <label>广东</label>  <label>广西</label>  <label>四川</label>
  <label>贵州</label> <label>山西</label> <label>陕西</label>  
  <label>甘肃</label> <label>内蒙古</label> <label>黑龙江</label>
</div>
    
  




</ion-content>
