<ion-header>
  <ion-toolbar>
    <ion-title class = "ion-title">订单管理</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  
 <ion-item>
  <!--<label>订单来源:</label>  
  <select  name = "origin" id ="origin" [(ngModel)] = "ordermanagerInfo.origin" >
    <option [value] ="item" *ngFor = "let item of ordermanagerInfo.orderoriginList">{{item}}</option>
  </select>&nbsp;&nbsp;-->
  <label>本地流水:</label> <input type = "text "  maxlength="10" min="1"  [(ngModel)]="locallimited"/>&nbsp;
  <label>渠道流水:</label> <input type = "text "  maxlength="10" min="1"  [(ngModel)]="agecnylimited"/>&nbsp;
  <label>代理流水:</label> <input type = "text "  maxlength="10" min="1"  [(ngModel)]="agecnylimited"/>&nbsp;
 </ion-item>

 <ion-item>

   <label>渠道简称:</label> <input type = "text "  maxlength="10" min="1" [(ngModel)]="channelname"/>&nbsp;
   <label>代理简称:</label> <input type = "text "  maxlength="10" min="1" [(ngModel)]="agencyname"/>&nbsp;
   <label>充值号码:</label> <input type = "text "  maxlength="10" min="1" [(ngModel)]="telnumber"/>&nbsp;
   <!--<label>商品名称:</label> <input type = "text "  maxlength="10" min="1"/>&nbsp;-->
 </ion-item>

 <ion-item>
  <!--<label>运营商:</label>
  <select  name = "providesevice" id ="providesevice" [(ngModel)] = "ordermanagerInfo.providesevice" >
    <option [value] ="item1" *ngFor = "let item1 of ordermanagerInfo.provideseviceList">{{item1}}</option>
  </select>&nbsp;
  <label>号码类型:</label>
  <select  name = "telphonetype" id ="telphonetype" [(ngModel)] = "ordermanagerInfo.telphonetype" >
    <option [value] ="item2" *ngFor = "let item2 of ordermanagerInfo.telphonetypeList">{{item2}}</option>
  </select>&nbsp;-->
  <label>充值状态:</label>
  <select  name = "status" id ="status" [(ngModel)] = "ordermanagerInfo.status" >
    <option [value] ="item3" *ngFor = "let item3 of ordermanagerInfo.statusList">{{item3}}</option>
  </select>&nbsp;

  <!--<ion-label>
    时间范围:
  </ion-label>
  <ion-input class="inputName">
    <ion-datetime class="datetime" mode="md" displayFormat="YY/MM" done-text="OK" cancel-text="キャンセル"
      placeholder="ocrManufacturingDate" [(ngModel)]="ocrManufacturingDate"></ion-datetime>
  </ion-input>-->
</ion-item>

<!--<ion-item>
  <span *ngFor =  "let item4 of ordermanagerInfo.provinceList; let key-index;">
    <label class = "fontsize">{{item4.title}}</label> 
    <input type ="checkbox"  [id] = "'check' + key"/>  
  </span>
</ion-item>-->

<ion-item>
  <ion-button class="toroku-button" color="primary" (click)="onSearch()">检索</ion-button>
  <ion-button class="toroku-button" color="primary" (click)="onSearch()">置成功</ion-button>
  <ion-button class="toroku-button" color="primary" (click)="onSearch()">置失败</ion-button>
  <ion-button class="toroku-button" color="primary" (click)="onSearch()">重置</ion-button>
  <ion-button class="toroku-button" color="primary" routerLink ='/homepage'>返回</ion-button>
</ion-item>

<ion-item class="head-title minW2300">
  <ion-col size="1.0">代理名字</ion-col>
  <ion-col size="1.0">渠道名字</ion-col>
  <ion-col size="1.0">代理流水</ion-col>
  <ion-col size="1.0">本地流水</ion-col>
  <ion-col size="1.0">渠道流水</ion-col>
  <ion-col size="1.0">电话号码</ion-col>
  <ion-col size="1.0">面值</ion-col>
  <ion-col size="1.0">状态</ion-col>
  <ion-col size="1.0">时间</ion-col>
</ion-item>

<ion-item class="minW2300" *ngFor="let sysUser of sysUserList">
  <ion-col size="1.7">
    <input type="checkbox" [(ngModel)]="sysUser.isChecked" class="item-start"
      (ngModelChange)="sysUserChkClick(sysUser, sysUserList)" />
    {{sysUser.AgentReduceName}}
  </ion-col>
  <ion-col size="1.0">{{sysUser.AgentReduceName}}</ion-col>
  <ion-col size="1.0">{{sysUser.abbreviation}}</ion-col>
  <ion-col size="1.0">{{sysUser.reqId}}</ion-col>
  <ion-col size="1.0">{{sysUser.orderId}}</ion-col>
  <ion-col size="1.0">{{sysUser.billId}}</ion-col>
  <ion-col size="1.0">{{sysUser.number}}</ion-col>
  <ion-col size="1.0">{{sysUser.money}}</ion-col>
  <ion-col size="1.0">{{sysUser.status}}</ion-col>
  <ion-col size="1.0">{{sysUser.ts}}</ion-col>
</ion-item>

</ion-content>
