<app-head></app-head>
<ion-content>
  <div class="contentDiv">
    <mat-drawer-container class="drawerContainer" [ngClass]="{'closeHand':matDrawerScroll}"
      (mousedown)="drawerMousedown($event)">
      <mat-drawer-content class="drawerContent">
        <div class="dropPinDiv" [style.width]="pdfviewWidthPx" [style.height]="pdfviewHeightPx" (drop)="pinDrop($event)"
          (dragover)="pinAllowDrop($event)">
          <div class="tooltip" *ngFor="let pin of gamenDto.pdfPinInfo" [style.top]="pin.positionYpercent"
            [style.left]="pin.positionXpercent">
            <img class="dropPinBotton pinActive" (mouseover)="mouseOverPin(pin,$event)"
              (mouseout)="mouseOutPin(pin,$event)" (contextmenu)="openMenu(pin, $event)" (drop)="stopDrop($event)"
              [draggable]='pin.isMoving' (dragstart)='movePinDrag(pin, $event)' src="./assets/icon/pin_finish.svg" [ngClass]="{setOver : pin.isMoving}">
            <div class="tooltiptext" [id]="pin.pinId" (drop)="stopDrop($event)">
              <div class="lab whitespace_pre_wrap">{{ gamenLable.pinDeleteline }}　{{ pin.machine.lineName }}</div>
              <div class="lab whitespace_pre_wrap">{{ gamenLable.modelType }}　{{ pin.machine.unitMark }}({{ pin.machine.machineModel }})
              </div>
            </div>
          </div>
        </div>
        <pdf-viewer class="pdfViewer" [src]="gamenDto.selectedDrawing.fileImage" [zoom]="gamenDto.zoomSize"
          [render-text]="false" [original-size]="false" (page-rendered)="pageRendered()">
        </pdf-viewer>
      </mat-drawer-content>
    </mat-drawer-container>

    <div class="rightSettingDiv">
      <div class="topDiv">
        <ion-label class="lblDrawingList">{{ gamenLable.drawingList }}</ion-label>
        <ion-radio-group [(ngModel)]="gamenDto.selectedDrawingId" (ionChange)="selectedDrawingChange()">
          <div class="allPdf">
            <div class="imgList">
              <div *ngFor="let item of gamenDto.drawingInfoDto.drawings" class="imgItem">
                <div [ngClass]="{'grayscale': item.drawingId !== gamenDto.selectedDrawingId}"
                  (click)="gamenDto.selectedDrawingId=item.drawingId"></div>
                <ion-radio value="{{item.drawingId}}" class="radioItem"></ion-radio>
                <ion-label class="imgLabelItem whitespace_pre_wrap" (click)="gamenDto.selectedDrawingId=item.drawingId">{{ item.floor.floorName }}-{{ item.fileName }}</ion-label>
                <pdf-viewer class="pdfViewer" [src]="item.fileImage" [zoom]="1" [render-text]="false"
                  [zoom-scale]="page-fit" [original-size]="false">
                </pdf-viewer>
              </div>
            </div>
          </div>
        </ion-radio-group>
        <div class="under-line"></div>
      </div>
      <div class="bottomDiv">
        <ion-label class="lblDrawingList">{{ gamenLable.photographPlacelist }}</ion-label>

        <ion-grid class="grid grid1">
          <ion-row class="row-content select">
            <ion-col>
              <div class="selected">
                <div class="textColor fontsize8 selectedUp">{{ gamenLable.floorSelection }}</div>
                <div class="textColor fontsize12 selectedDown">{{ spaceString(this.gamenDto.selectedDrawing.floor ? this.gamenDto.selectedDrawing.floor.floorName : '')}}</div>
              </div>
            </ion-col>
            <ion-col class="select-item-ph">
              <ion-label mode="md" class="select-title-ph textColor" position="stacked">{{ gamenLable.roomSelection }}</ion-label>
              <ion-select class="select-style-ph textColor" [(ngModel)]="selectedRoomId" (ionChange)="roomChanged()" 
                interface="popover" [interfaceOptions]="{cssClass: 'dkj-alert'}" mode="md">
                <ion-select-option value=""></ion-select-option>
                <ion-select-option *ngFor="let item of optionRoomList" value="{{item.roomId}}">{{ spaceString(item.roomName) }}</ion-select-option>
              </ion-select>
            </ion-col>
            <ion-col class="select-item-ph">
              <ion-label mode="md" class="select-title-ph textColor" position="stacked">{{ gamenLable.placeSelection }}</ion-label>
              <ion-select class="select-style-ph textColor" [(ngModel)]="selectedPlaceId"
                interface="popover" [interfaceOptions]="{cssClass: 'dkj-alert'}" mode="md">
                <ion-select-option value=""></ion-select-option>
                <ion-select-option *ngFor="let item of selectedRoom.places" value="{{item.placeId}}">{{ spaceString(item.placeName) }}</ion-select-option>
              </ion-select>
            </ion-col>
          </ion-row>
        </ion-grid>

        <div class="selectedDrawingPinInfo">
          <ion-list>
            <ng-container *ngFor="let item of selectedDrawingPinInfo">
              <div *ngIf="(selectedRoomId === '' || selectedRoomId === item.machine.roomId + '')  && (selectedPlaceId === '' || selectedPlaceId === item.machine.placeId + '')">
                  <img class="dropPinListBotton pinActiveSmall" [draggable]="item.isInstalled !== gamenLable.setFlag"
                    (dragstart)='newPinDrag(item, $event)' [src]="item.isInstalled === gamenLable.setFlag ? './assets/icon/pin_after.svg' : './assets/icon/pin_before.svg'">
                <div class="dropPinListInfo">
                  <div class="dropPinListInfo-content paddingLeft whitespace_pre_wrap">{{this.gamenDto.selectedDrawing.floor ? this.gamenDto.selectedDrawing.floor.floorName : '' }}{{ item.machine.roomName ?  '・' + item.machine.roomName : ''}}{{ item.machine.placeName ? '・' + item.machine.placeName: '' }}{{ item.machine.unitMark ? '・' + item.machine.unitMark : '' }}{{ item.machine.machineModel ? '(' + item.machine.machineModel + ')': '' }}</div>
                  <ion-label class="fontsize12 textColor paddingLeft" *ngIf="item.isInstalled === gamenLable.setFlag">{{ gamenLable.pacement1 }}</ion-label>
                  <ion-label class="fontsize12 textColor paddingLeft" *ngIf="item.isInstalled !== gamenLable.setFlag">{{ gamenLable.pacement0 }}</ion-label>
                </div>
                <div class="under-line"></div>
              </div>
            </ng-container>
          </ion-list>
        </div>
      </div>
    </div>

    <div Class="zoomDiv">
      <div (click)="addZoom()">
        <ion-img class="zoom-icon" src="./assets/icon/zoom.svg" slot="start"></ion-img>
      </div>
      <div (click)="removeZoom()">
        <ion-img class="zoom-icon" src="./assets/icon/zoom-out.svg" slot="start"></ion-img>
      </div>
    </div>
  </div>
</ion-content>
<!-- <app-footer></app-footer> -->
