.contentDiv {
  overflow-y: hidden;
  width: 100%;
  height: 100%;
  position: relative;
}

.closeHand {
  cursor: move;
}

.drawerContainer {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
}

.drawerContent {
  margin-right: 482px;
}

.dropPinDiv {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
  z-index: 9;
}

.dropPinBotton {
  position: absolute;
  margin-left: -20px;
  margin-top: -39px;
  text-align: start;
}

.dropPinListBotton {
  position: absolute;
  z-index: 1;
  text-align: start;
  width: 41.5px;
  height: 51.72px;
}

.dropPinListInfo {
  margin-left: 39px;
  width: 100%;
  font-size: 12px;
}

ion-item {
  --inner-padding-end: 0px;
}

.list-md {
  background-color: #FAFAFA;
}

.fontsize8 {
  font-size: 8px;
}

.fontsize12 {
  font-size: var(--label-font-size-12-web);
}

.textColor {
  color: #59595C;
}

.paddingLeft {
  padding-left: 14.5px;
}

.selected {
  flex: 1;
  padding-left: 8px;
}

.selectedUp {
  margin-top: -11px;
}

.selectedDown {
  margin-top: -1px;
}

.setOver {
  opacity: 0.5;
}

.dropPinListInfo-content {
  width: calc(100% - 37px);
  line-height: 25px;
  font-size: 16px;
  word-break: break-all;
}

.pdfViewer {
  display: block;
}

.rightSettingDiv {
  overflow-y: hidden;
  padding-left: 15px;
  position: absolute;
  min-width: 482px;
  width: 482px;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 2;
}

.topDiv {
  max-height: 360px;

  .lblDrawingList {
    display: block;
    font-size: var(--label-font-size-18-web);
    height: 25px;
    margin-top: 16px;
    margin-bottom: 16px;
    margin-left: 8px;
  }

  .allPdf {
    max-height: 296px;
    overflow-y: auto;

    .imgList {
      display: flex;
      flex-wrap: wrap;

      .imgItem {
        margin-left: 8px;
        margin-bottom: 8px;
        display: inline-block;
        position: relative;

        pdf-viewer {
          overflow: hidden;
          display: block;
          width: 140px;
          height: 140px;
        }
      }

      .radioItem {
        position: absolute;
        top: 5px;
        left: 5px;
        z-index: 2;
      }

      .imgLabelItem {
        font-size: var(--label-font-size-12-web);
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        margin: 0 auto;
        z-index: 2;
        background-color: #000000;
        color: white;
        height: 42px;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
        opacity: 0.54;
      }

      .grayscale {
        width: 100%;
        height: 100%;
        background-color: #000000;
        opacity: 0.36;
        position: absolute;
        z-index: 1;
      }
    }
  }

  .under-line {
    height: 1px;
    background: black;
    opacity: 0.2;
    margin-left: -16px;
  }
}

.bottomDiv {
  margin-top: 15px;
  height: calc(100% - 392px);

  .lblDrawingList {
    display: block;
    font-size: 18px;
    height: 25px;
    margin-top: 16px;
    margin-bottom: 16px;
    margin-left: 8px;
  }
}

.zoomDiv {
  position: absolute;
  right: 612px;
  bottom: 24px;
  z-index: 3;
  display: flex;
  flex-direction: column;

  .zoom-icon {
    margin-top: 8px;
    width: 42px;
    height: 42px;
  }
}

.tooltip {
  position: absolute;
}

.lab {
  max-width: 482px;
}

.tooltip .tooltiptext {
  font-size: 12px;
  position: absolute;
  visibility: hidden;
  background-color: #232F34;
  border-radius: 2px;
  text-align: left;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 16px;
  line-height: 22px;
  word-break: break-all;
  width: 290px;
  z-index: 100;
  color: white;
}

.tooltiptext:hover {
  visibility: hidden !important;
}

.pinActive {
  width: 49.5px;
  height: 60.73px;
  max-width: fit-content;
}

.pinActiveSmall {
  width: 41.5px;
  height: 51.73px;
  max-width: fit-content;
  margin-left: 8px;
}

.grid {
  display: flex;
  padding: 0;
  margin-top: 40px;

  .row-content {
    flex: 1;

    .select-item-ph {
      --padding-start: 16px;
      position: relative;
      --inner-padding-end: 0px;
      --min-height: 30px;
      --inner-padding-top: 0px;

      .select-title-ph {
        text-overflow: inherit;
        overflow: visible;
        position: absolute;
        background: #fafafa;
        z-index: 999;
        top: -4px;
        display: inline-block;
        width: auto;
        left: 13px;
        padding: 0 5px;
        font-size: var(--label-font-size-8-web);
        transform: translate3d(0, 0, 0) scale(1);
      }

      .select-style-ph {
        border: 1px solid #707070;
        border-radius: 3px;
        height: 32px;
        width: 125px;
        text-align: center;
        --padding-start: 12px;
        font-size: 12px;
        display: flex;
        align-items: center;
        padding-right: 5px;

        .select-icon {
          width: 24px;
          height: 30px;
        }
      }
    }
  }
}

.grid1 {
  margin-top: 10px !important;
}

.selectedDrawingPinInfo {
  overflow-y: auto;
  padding-right: 23px;
  max-height: calc(100% + 87px);

  .under-line {
    height: 1px;
    background: black;
    opacity: 0.2;
    margin-left: 54.5px;
    margin-top: 6px;
  }
}
