:root {
  --label-font-size-8-web:8px;

  --label-font-size-12-web:12px;

  --label-font-size-13-web:13px;

  --label-font-size-14-web:14px;

  --label-font-size-16-web:16px;

  --label-font-size-18-web:18px;

  --label-font-size-20-web:20px;

  --label-font-size-24-web:24px;

  --label-font-size-12-mobile:0.12rem;

  --label-font-size-13-mobile:0.13rem;

  --label-font-size-14-mobile:0.14rem;

  --label-font-size-16-mobile:0.16rem;

  --label-font-size-18-mobile:0.18rem;

  --label-font-size-20-mobile:0.20rem;

  --label-font-size-24-mobile:0.24rem;

  --selectBox-width-375-web:375px;

  --selectBox-height-42-web:42px;

  --selectBox-width-228-web:228px;

  --selectBox-height-32-web:32px;

  --selectBox-height-48-web:48px;

  --selectBox-height-61-web:61px;

  --selectBox-width-375-mobile:3.75rem;

  --selectBox-height-48-mobile:0.48rem;

  --selectBox-height-42-mobile:0.42rem;

  --selectBox-width-228-mobile:2.28rem;

  --selectBox-height-32-mobile:0.32rem;

  --button-font-size-12-web:12px;

  --button-font-size-14-web:14px;

  --button-font-size-16-web:16px;

  --button-font-size-18-web:18px;

  --button-font-size-20-web:20px;

  --button-font-size-24-web:24px;

  --button-font-size-12-mobile:0.12rem;

  --button-font-size-14-mobile:0.14rem;

  --button-font-size-16-mobile:0.16rem;

  --button-font-size-18-mobile:0.18rem;

  --button-font-size-20-mobile:0.20rem;

  --button-font-size-22-mobile:0.22rem;

  --button-font-size-24-mobile:0.24rem;
}
