<ion-content [ngClass]="platformtype">
  <div class="background-white" [class.confirm]="isConfirmLogin"></div>
  <div *ngIf="!isConfirmLogin" class="main">
    <img class="image" src="./assets/images/DaikinLogo_FullColor_RGB@2x.png">
    <div class="form-layout">
      <img class="account-circle" src="./assets/images/account_circle.svg">
      <span class="title">{{gamenLable.loginMessage}}</span>
      <ion-label id="username" class="label-title">{{userName ? "username" : ""}}</ion-label>
      <ion-input class="input-user" type="email" inputmode="email" maxlength="128" [(ngModel)]="userName"
        placeholder="user name" (ionFocus)="usernamefocus()" (ionBlur)="usernameblur()"></ion-input>
      <ion-label id="psw" class="label-title">{{userPwd ? "password" : ""}}</ion-label>
      <ion-input class="input-pwd" type="password" maxlength="20" placeholder="password" [(ngModel)]="userPwd"
        (ionFocus)="pswfocus()" (ionBlur)="pswblur()">
      </ion-input>
      <div class="forget-pwd">
        <span>{{gamenLable.passwordChangeMessage}}</span>
        <span class="forget-pwd-link" routerLink="/change-pwd">{{gamenLable.passwordChange}}</span>
      </div>
      <ion-button class="big-btn" mat-raised-button (click)="signIn()">{{gamenLable.signIn}}</ion-button>
    </div>
  </div>
  <div *ngIf="isConfirmLogin" class="main confirm">
    <img class="image" src="./assets/images/DaikinLogo_FullColor_RGB@2x.png">
    <div class="form-layout">
      <img class="account-circle" src="./assets/images/account_circle.svg">
      <span class="title">{{gamenLable.passcodeInput}}</span>
      <span class="notice">ご登録のメールアドレスに送付された 6桁のコードを入力してください</span>
      <ion-input class="input-sc" type="text" placeholder="コードを入力" [(ngModel)]="secretCode"></ion-input>
      <ion-button class="big-btn" mat-raised-button [disabled]="!secretCode" (click)="confirmSignIn()">
        {{gamenLable.confirmSignIn}}</ion-button>
    </div>
  </div>
</ion-content>
<app-footer class="login"></app-footer>
