.login-winapp{
  --background: #0097E0;
  .background-white {
    position: absolute;
    top: 0;
    height: 247px;
    width: 100%;
    z-index: 1;
    background-color: #FFFFFF;

    &.confirm {
      height: 247px;
    }
  }

  .main {
    flex: 1;
    width: 100%;
    height: 100%;
    flex-direction: column;
    align-items: center;
    display: flex;

    .form-layout {
      position: absolute;
      z-index: 2;
      top: 196px;
      width: 644px;
      background-color: #FFFFFF;
      box-shadow: 0px 2px 2px rgba(0,0,0,0.4);
      padding: 13px 30px 45.17px;
      flex-direction: column;
      align-items: center;
      display: flex;
    }

    .image {
      width: 361.21px;
      height: 100px;
      margin-top: 74px;
      position: absolute;
      z-index: 2;
      opacity: 1;
    }

    .account-circle {
      width: 84px;
      height: 84px;
      opacity: 1;
    }

    .title {
      font-size: 28px;
      margin-top: 9.46px;
      line-height: 40px;
      color: #000000;
      margin-bottom: 8.59px;
      width: 366px;
      text-align: center;
      height: 40px;
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
    }

    .input-user {
      width: 363px;
      border-width: 0;
      border-style: none;
      border-bottom: solid 1px #999999;
      height: 40px;
      font-size: 24px;
      outline: none;
      caret-color: #0097E0;
      ime-mode: inactive;
      --placeholder-color:#999999;
      --padding-start: 0;
      opacity: 1;
    }

    .has-focus {
      border-bottom: solid 2px #0097E0 !important;
    }

    .label-title {
      width: 363px;
      font-size: var(--label-font-size-20-web);
      height: 25px;
      line-height: 25px;
      text-align: left;
      margin-bottom: 6px;
    }

    .input-pwd {
      width: 363px;
      border-width: 0;
      border-style: none;
      border-bottom: solid 1px #999999;
      height: 40px;
      font-size: 24px;
      outline: none;
      caret-color: #0097E0;
      ime-mode: inactive;
      --placeholder-color:#999999;
      --padding-start: 0;
      color: black;
      opacity: 1;
    }

    .input-sc {
      width: 415px;
      border-width: 0;
      border-bottom: solid 1px #999999;
      height: 40px;
      font-size: 24px;
      outline: none;
      caret-color: #0097E0;
      --placeholder-color:#999999;
      --padding-start: 0;
      color: black;
    }

    .forget-pwd {
      width: 340px;
      font-size: 20px;
      margin-top: 32.18px;
      color: black;
      text-align: left;
      line-height: 28px;
      opacity: 0.87;
      letter-spacing: 0.35px;

      .forget-pwd-link {
        color: #007AFF;
        text-decoration: underline;
        cursor: pointer;
        margin-left: 10px;
      }
    }

    .big-btn {
      width: 237px;
      margin-top: 37.49px;
      --border-radius: 5px;
      height: 62px;
      font-size: var(--button-font-size-24-web);
      opacity: 1;
      letter-spacing: 0.42px;
    }

    &.confirm {
      .form-layout {
        padding: 30px 32px 81px !important;
      }

      .account-circle {
        display: none;
      }

      .title {
        font-size: 28px;
        line-height: 40px;
        margin-top: 0;
        margin-bottom: 83px;
        text-align: center;
        opacity: 0.87;
        letter-spacing: 0.49px;
        height: 40px;
        width: 314px;
      }

      .big-btn {
        margin-top: 70px;
      }
    }

    .notice {
      display: block;
      font-size: 24px;
      color: #000000;
      width: 416px;
      line-height: 32px;
      margin-bottom: 36px;
      text-align: center;
      opacity: 0.87;
    }
  }
}
