.login-web{
  --background: #0097E0;

  .background-white {
    position: absolute;
    top: 0;
    height: 198.66px;
    width: 100%;
    z-index: 1;
    background-color: #FFFFFF;

    &.confirm {
      height: 174.6px;
    }
  }
  
  .main {
    flex: 1;
    width: 100%;
    height: 100%;
    flex-direction: column;
    align-items: center;
    display: flex;

    .form-layout {
      position: absolute;
      z-index: 2;
      top: 124px;
      width: 644px;
      background-color: #FFFFFF;
      box-shadow: 0px 2px 2px rgba(0,0,0,0.4);
      padding: 63px 30px 79px;
      flex-direction: column;
      align-items: center;
      display: flex;
    }

    .image {
      width: 181.5px;
      height: 50px;
      margin-top: 56px;
      position: absolute;
      z-index: 2;
    }

    .account-circle {
      width: 56px;
      height: 56px;
      opacity: 1;
    }

    .title {
      font-size: 14px;
      margin-top: 9.46px;
      line-height: 24px;
      color: #000000;
      margin-bottom: 8.59px;
      width: 237px;
      text-align: center;
      opacity: 0.87;
      height: 24px;
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
    }

    .input-user {
      width: 237px;
      border-width: 0;
      border-style: none;
      border-bottom: solid 1px #999999;
      height: 31.5px;
      font-size: 16px;
      outline: none;
      caret-color: #0097E0;
      ime-mode: inactive;
      --placeholder-color:#999999;
      --padding-start: 0;
    }

    .has-focus {
      border-bottom: solid 2px #0097E0 !important;
    }

    .label-title {
      width: 237px;
      font-size: var(--label-font-size-13-web);
      height: 21px;
      line-height: 21px;
      text-align: left;
    }

    .input-pwd {
      width: 237px;
      border-width: 0;
      border-style: none;
      border-bottom: solid 1px #999999;
      height: 31.5px;
      font-size: 16px;
      outline: none;
      caret-color: #0097E0;
      ime-mode: inactive;
      --placeholder-color:#999999;
      --padding-start: 0;
      color: black;
    }

    .input-sc {
      width: 277px;
      border-width: 0;
      border-bottom: solid 1px #999999;
      height: 28.5px;
      font-size: 14px;
      outline: none;
      caret-color: #0097E0;
      --placeholder-color:#999999;
      --padding-start: 0;
      color: black;
    }

    .forget-pwd {
      width: 237px;
      font-size: 14px;
      margin-top: 24.18px;
      color: black;
      text-align: left;
      line-height: 24px;
      opacity: 0.87;
      letter-spacing: 0.24px;

      .forget-pwd-link {
        color: #007AFF;
        text-decoration: underline;
        cursor: pointer;
        margin-left: 10px;
      }
    }


    .big-btn {
      width: 237px;
      margin-top: 73.49px;
      --border-radius: 5px;
      height: 36px;
      font-size: var(--button-font-size-16-web);
      letter-spacing: 0.28px;
    }

    &.confirm {

      .form-layout {
        padding: 36px 30px 78px !important;
      }
      
      .account-circle {
        display: none;
      }
      
      .title {
        font-size: 20px;
        line-height: 28px;
        margin-top: 0;
        margin-bottom: 109px;
        text-align: center;
        letter-spacing: 0.24px;
        opacity: 0.87;
      }
      
      .big-btn {
        margin-top: 116px;
      }
    }

    .notice {
      display: block;
      font-size: 16px;
      color: #000000;
      width: 276px;
      line-height: 20px;
      margin-bottom: 36px;
      text-align: center;
      height: 40px;
    }
  }
}
