.buildingList-winapp {
  ion-content {
    --overflow: hidden;
  
    .list-container {
      display: flex;
      flex-direction: column;
      flex-wrap: nowrap;
      width: 100%;
      height: 100%;
  
      .list-header-pc {
        flex-shrink: 0;
        text-align: right;
        padding-top: 10px;
      }
  
      .list-header-mobile {
        flex-shrink: 0;
        text-align: right;
        padding-right: 10px;
        padding-top: 10px;
      }
  
      .list-content {
        flex-grow: 1;
        overflow: auto;
      }
    }
  }
  
  &.breadcrumb {
    color: #ffffff;
    background-color: #27282B;
    font-size: 20px;
    height: 62px;
  }

  .ion-list {
    padding-top: 0;

    .ion-item-divider {
      height: 48px;
      line-height: 48px;
      background: #EAEBEC;
      border-bottom: none;
      color: #333333;
      font-size: 20px;
      --padding-start: 16px;
      --inner-padding-end: 15px;
    }

    .business {
      width: 40px;
      height: 40px;
    }

    .ion-item-style {
      --padding-start: 16px;
      --inner-padding-end: 15px;
      --border-color: #EAEBEC;
      --inner-border-width: 0;
      font-size: 24px;
      color: #000000;

      ion-label {
        line-height: 76px;
      }
    }
  }

  ion-col {
    --ion-grid-column-padding: 0;
  }

  .col1Style {
    min-width: 79px;
    padding-left: 39px;
  }

  .minWidth {
    min-width: 111px;
  }
  
  .strLimmit {
    display: inline-block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    padding-left: 24px;
    height: 62px;
    line-height: 62px;
    font-size: 20px;
  }

  .strLimmit-count {
    float: right;
    margin-right: 15px;
    line-height: 62px;
    font-size: 18px;
  }

  .under-line {
    width: 100%;
    height: 1px;
    background: #EAEBEC;
    margin-left: 72px;
  }
}
