<!--ヘッダ部-->
<app-head></app-head>
<div class="breadcrumb" [ngClass]="platformtype">
  <div class="strLimmit">{{title}}</div>
  <div class="strLimmit-count" *ngIf="isPc || isWinApp">
    {{buildingCountLabel}}{{buildingCount}} {{buildingUnitLabel}}</div>
</div>
<!--ボディー部-->
<ion-content [ngClass]="platformtype">
  <div class="list-container">
    <div class="strLimmit-count" *ngIf="!isPc && !isWinApp">
      {{buildingCountLabel}}{{buildingCount}} {{buildingUnitLabel}}</div>
    <div class="list-content">
      <ion-list class="ion-list">
        <ion-item-divider class="ion-item-divider" *ngIf="isPc || isWinApp" sticky>
          <ng-container>
            <ion-col size="0.7052" class="col1Style"></ion-col>
            <ion-col size="2.3759">{{buildingNameTitle}}</ion-col>
            <ion-col [size]="isPc?8.2309:8.03">{{buildingAddressTitle}}</ion-col>
            <ion-col [size]="isPc?0.6880:0.889" class="minWidth">{{buildingIdTitle}}</ion-col>
          </ng-container>
        </ion-item-divider>
        <ng-container *ngFor="let building of buildingList">
          <ion-item class="ion-item-style" button detail="false" (tap)="clickItem(building)"
            (press)="onPress($event,building)">
            <ng-container *ngIf="isPc || isWinApp">
              <ion-col size="0.7052" class="col1Style">
                <ion-img class="business" src="./assets/icon/business-icon.svg"></ion-img>
              </ion-col>
              <ion-col size="2.3759">
                <ion-label class="whitespace_pre">{{building.buildingName}}</ion-label>
              </ion-col>
              <ion-col [size]="isPc?8.2309:8.03">
                <ion-label>{{building.buildingAddress}}</ion-label>
              </ion-col>
              <ion-col [size]="isPc?0.6880:0.889" class="minWidth">
                <ion-label>{{building.buildingId}}</ion-label>
              </ion-col>
            </ng-container>
            <ng-container *ngIf="!isPc && !isWinApp">
              <ion-img class="business" src="./assets/icon/business-icon.svg" slot="start"></ion-img>
              <div style="height: 0.77rem;width: 100%;">
                <div class="whitespace_pre"
                  style="height: 0.26rem; width: 100%;text-overflow: ellipsis;overflow: hidden;">
                  {{building.buildingName}}
                </div>
                <div class="subtitle">{{building.buildingAddress}}</div>
                <div class="subtitle">{{building.buildingId}}</div>
              </div>
            </ng-container>
          </ion-item>
          <div class="under-line"></div>
        </ng-container>
      </ion-list>
    </div>
  </div>
</ion-content>
<!-- <app-footer></app-footer> -->
