.viewset-mobile {
  position: relative;
  width: 100%;
  height: 100%;
  box-shadow: 0 0.05rem 0.05rem -0.03rem rgba(0, 0, 0, 0.2), 0 0.08rem 0.1rem 0.01rem rgba(0, 0, 0, 0.14), 0 0.03rem 0.14rem 0.02rem rgba(0, 0, 0, 0.12);

  .title {
    width: 100%;
    text-align: center;
    font-size: 0.18rem;
    padding-top: 0.13rem;
    padding-bottom: 0.125rem;
    border-bottom: solid 0.01rem #EAEBEC;
  }

  .options {

    margin-left: 0.24rem;
  }

  ion-radio {
    margin: 0px;
  }

  ion-item {
    margin-top: 0.14rem;
    --padding-start: 0px;
    --inner-padding-end: 0px;
    --min-height: 0.20rem;

  }

  .item-t {
    margin-left: 0.16rem;
    font-size: 0.16rem;
  }

  .subtitle {
    margin-left: 0.36rem;
    margin-right: 0.1rem;
    font-size: 0.14rem;
    color: #999999;
  }
  .subtitle2 {
    margin-left: 0.36rem;
    margin-right: 0.2rem;
    font-size: 0.14rem;
    color: #999999;
  }

  .image-grid {
    margin-top: 0.08rem;
    margin-left: 0.84rem;
    width: 1.18rem;
    height: 0.76rem;
    display: block;
  }

  .image-list {
    margin-top: 0.00rem;
    margin-left: 0.84rem;
    width: 1.18rem;
    height: 0.58rem;
    display: block;
  }


  .buttons {
    position: absolute;
    z-index: 99;
    left: 0rem;
    bottom: 0rem;

    display: flex;
    flex-direction: row;
    width: 100%;
    height: 0.6rem;
    justify-content: flex-end;
    font-size: var(--button-font-size-14-mobile);
    border-top: solid 0.01rem #EAEBEC;
  }

  .btn {
    height: 100%;
    line-height: 0.6rem;
    padding-right: 0.25rem;
    padding-left: 0.13rem;
    color: #0097E0;
  }
}
