<div [class]="platformtype">
  <div class="title">{{title}}</div>


  <div class="options">

    <ion-radio-group value="{{formart}}" (ionChange)="select($event)">
      <ion-item mode="md" slot="start" detail="false" lines="none">
        <ion-radio mode="md" name="show" value="1" ionChange="select1()"></ion-radio>
        <div class="item-t">{{grid}}</div>
      </ion-item>
      <div class="subtitle">写真の縮小版を格子状に表示します</div>
      <img class="image-grid" src="./assets/images/grid.svg" />

      <ion-item mode="md" slot="start" detail="false" lines="none">
        <ion-radio mode="md" name="show" value="2" ionChange="select2()"></ion-radio>
        <div class="item-t">{{list}}</div>
      </ion-item>
      <div class="subtitle2">写真と写真情報をリスト状に表示します</div>
      <img class="image-list" src="./assets/images/list.svg" />
    </ion-radio-group>

  </div>

  <div class="buttons">

    <div class="btn" (click)="cancle()">{{cancleTitle}}</div>
    <div class="btn" (click)="commit()">{{ok}}</div>
  </div>
</div>
