.viewset-winapp {
  position: relative;
  width: 100%;
  height: 100%;
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2), 0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12);

  .title {
    width: 100%;
    text-align: center;
    font-size: 18px;
    padding-top: 13px;
    padding-bottom: 12.5px;
    border-bottom: solid 1px #EAEBEC;
  }

  .options {

    margin-left: 24px;
  }

  ion-radio {
    margin: 0px;
  }

  ion-item {
    margin-top: 14px;
    --padding-start: 0px;
    --inner-padding-end: 0px;
    --min-height: 20px;

  }

  .item-t {
    margin-left: 16px;
    font-size: 16px;
  }

  .subtitle {
    margin-left: 36px;
    margin-right: 10px;
    font-size: 14px;
    color: #999999;
  }

  .subtitle2 {
    margin-left: 36px;
    margin-right: 20px;
    font-size: 14px;
    color: #999999;
  }

  .image-grid {
    margin-top: 8px;
    margin-left: 84px;
    width: 118px;
    height: 76px;
    display: block;
  }
  .image-list {
    margin-top: 0px;
    margin-left: 84px;
    width: 118px;
    height: 58px;
    display: block;
  }

  .buttons {
    position: absolute;
    z-index: 99;
    left: 0rem;
    bottom: 0rem;

    display: flex;
    flex-direction: row;
    width: 100%;
    height: 60px;
    justify-content: flex-end;
    font-size: var(--button-font-size-14-web);
    border-top: solid 1px #EAEBEC;
  }

  .btn {
    height: 100%;
    line-height: 60px;
    padding-right: 25px;
    padding-left: 13px;
    color: #0097E0;
  }
}
