.header-web {
  .header-toolbar {
    --background: #000;
    color: #fff;

    .icon {
      font-size: 36px;
    }

    .header-menu {
      width: 24px;
      height: 24px;
      line-height: 24px;
      margin-left: 15px;

      .header-menu-btn {
        width: 24px;
      }
    }

    .back-menu-btn {
      height: 18px;
      width: 18px;
    }

    .title {
      font-size: 16px;
      text-align: left;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      margin-left: 15px;
      line-height: 22px;
    }

    .close-menu {
      width: 24px;
      height: 24px;
    }

    .setting-menu {
      width: 24px;
      height: 24px;
    }

    .edit-menu {
      width: 24px;
      height: 24px;
    }

    .more-menu-button {
      margin-right: 3px;
      margin-left: 15px;

      .more-menu {
        width: auto;
        height: 18px;
      }
    }
  }
}
