.header-mobile{
  .header-toolbar{
    --background: #000;
    color: #fff;
    --min-height: .56rem;
    padding: 0 .1rem;
    --padding-top: 0;
    --padding-bottom: 0;
    --padding-start: 0;
    --padding-end: 0;
    button{
      width: .24rem;
      height: .24rem;
      line-height: .24rem;
    }
    .header-menu{
      .header-menu-btn{
        width: .24rem;
      }
    }
    .back-menu-btn{
      height: .18rem;
      width: .18rem;
    }
    .icon{
      font-size: .36rem;
    }
    .title{
      font-size: 0.16rem !important;
      text-align: left;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      margin-left: 0.1rem;
      margin-right: .1rem;
      line-height: 0.28rem;
      height: 0.26rem;
    }
    .end-btns{
      button{
        width: .24rem;
        height: .24rem;
        line-height: .24rem;
        .add-menu{
          width: .18rem;
          height: .18rem;
        }
      }
    }
    .close-menu{
      width: .24rem;
      height: .24rem;
    }
    .setting-menu{
      width: .20rem;
      height: .20rem;
    }
    .edit-menu{
      width: .24rem;
      height: .24rem;
    }

    .setting-load{
      width: .16rem;
      height: .16rem;
    }
    .more-menu-button{
      margin-left: .15rem;
      .more-menu{
        width: auto;
        height: .18rem;
      }
    }
  }
}
