<ion-header [ngClass]="platformtype">
  <ion-toolbar class="header-toolbar">
    <ion-buttons slot="start">
      <button *ngIf="headState.isMenu" class="header-menu" mat-icon-button slot="end"
        (click)="headState.menuFunction()">
        <img class="header-menu-btn" src="./assets/icon/menu.svg">
      </button>
      <button *ngIf="headState.isCloseMenu" class="header-menu" mat-icon-button slot="end" (click)="backFunction()">
        <img class="close-menu" src="./assets/icon/close-menu.png">
      </button>
      <button *ngIf="headState.isBack" class="header-menu" mat-icon-button slot="end" (click)="backFunction()">
        <img class="back-menu-btn" src="./assets/icon/back.svg">
      </button>
      <button class="header-menu" *ngIf="!headState.isBack && !headState.isMenu && !headState.isCloseMenu"
        mat-icon-button slot="end">
      </button>
    </ion-buttons>
    <!-- <ion-title class="ion-text-center" (press)="onPress($event,headState.title)">{{headState.title}}</ion-title> -->
    <div #headTitile class="title" (press)="onPress($event,headState.title)">{{headState.title}}</div>
    <ion-buttons slot="end" class="end-btns">
      <button *ngIf="headState.isAddMenu" mat-icon-button slot="start" (click)="headState.editFunction($event)">
        <img class="add-menu" src="./assets/icon/add-menu.png">
      </button>
      <button class="settingbtn" *ngIf="headState.isSettingMenu" mat-icon-button slot="end"
        (click)="headState.editFunction($event)">
        <img class="setting-menu" src="./assets/icon/settings.svg">
      </button>
      <button *ngIf="headState.isEditMenu" mat-icon-button slot="start" (click)="headState.editFunction($event)">
        <img class="edit-menu"
          src="{{routingService.getUrl() === '/camera' ? './assets/icon/comment-filled.svg' : './assets/icon/edit.svg'}}">
      </button>

      <button *ngIf="headState.isLoad" mat-icon-button slot="start" (click)="headState.editFunction($event)">
        <img class="setting-load" src="./assets/images/reload-outline.svg">
      </button>

      <button *ngIf="headState.isMoreMenu" name="moreMenuButton" class="more-menu-button" mat-icon-button slot="end"
        (keyup)="moreMenuBlur($event)" (click)="headState.moreFunction($event)">
        <!-- <ion-icon size="large" name="more"></ion-icon> -->
        <img class="more-menu" src="./assets/icon/more.svg">
      </button>
      <!-- <button *ngIf="!headState.isEditMenu&&!headState.isMoreMenu" mat-icon-button slot="end"> -->
      <!-- </button> -->
    </ion-buttons>
  </ion-toolbar>
</ion-header>
