.header-winapp {
  .header-toolbar {
    --background: #000;
    color: #fff;

    .icon {
      font-size: 36px;
    }

    .header-menu {
      width: 48px;
      height: 48px;
      line-height: 48px;
      margin-left: 24px;

      .header-menu-btn {
        width: 48px;
      }
    }

    .back-menu-btn {
      height: 39px;
      width: 39px;
    }

    .settingbtn {
      margin-right: 80px;
    }

    .title {
      font-size: 28px;
      text-align: left;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      margin-left: 24px;
      line-height: 96px;
    }

    .close-menu {
      width: 32px;
      height: 32px;
    }

    .setting-load {
      width: 34.5px;
      height: 34.5px;
    }

    .setting-menu {
      margin-right: 80px;
      width: 40px;
      height: 40px;
    }

    .edit-menu {
      width: 42px;
      height: 42px;
    }

    .more-menu-button {
      margin-right: 15px;
      margin-left: 15px;

      .more-menu {
        width: auto;
        height: 32px;
      }
    }

    .add-menu {
      width: 32px;
      height: 32px;
    }
  }
}
