<app-head></app-head>
<div [ngClass]="platformtype">
  <div class="footer">
    <p class="text">{{ gamenLable.manipulationDescription }}</p>
  </div>
</div>
<ion-footer [ngClass]="platformtype">
  <div class="regist">
    <ion-button class="button" color="primary" (click)="mabualImport()">{{ gamenLable.manualImport }}</ion-button>
  </div>
</ion-footer>
