.barcode-scan-mobile {
  .wrapper {
    background: gray;
    width: 100%;
    height: 100%;
  }

  .regist {
    text-align: center;
  }

  .button {
    border-radius: 0.05rem;
    width: 2.65rem;
    height: 0.36rem;
    margin-bottom: 0.16rem;
    box-shadow: none;
    font-size: 0.14rem;
  }

  .footer {
    background: black;
    color: white;
    width: 100%;
    height: 0.42rem;
    position: absolute;
    top:0.5rem;
    font-size: 0.12rem;
    text-align: center;

    .text {
      display: inline-block;
      height: 100%;
      line-height: 100%;
      text-align: center;
    }
  }
}

