.barcode-scan-winapp {
  .wrapper {
    background: gray;
    width: 100%;
    height: 100%;
  }

  .regist {
    text-align: center;
  }

  .button {
    border-radius: 5px;
    width: 343px;
    height: 62px;
    line-height: 62px;
    margin-bottom: 16px;
    font-size: 24px;
  }

  .footer {
    background: black;
    color: white;
    width: 100%;
    height: 56px;
    position: absolute;
    top: 96px;
    font-size: 24px;
    text-align: center;

    .text {
      display: inline-block;
      height: 100%;
      line-height: 100%;
      text-align: center;
      margin: 0 auto;
    }
  }
}
