.photodetail-mobile {
  overflow-y: auto;
  font-size: 0.16rem;
  margin-bottom: 0.10rem;
  height: 100%;

  .image {
    margin: 0.1rem;
  }

  .image img {
    width: 100%;
    display: block;
  }

  .title {
    margin-left: 0.2rem;
  }

  .content {
    margin: 0.1rem;
    border: solid 0.01rem #eaebec;
    border-bottom: solid 0rem white;
  }

  .content-row {
    display: flex;
    flex-direction: row;
    flex: 1;
    border-bottom: solid 0.01rem #eaebec;
  }

  .left-lab {
    width: 0.75rem;
    height: 0.45rem;
    line-height: 0.45rem;
    margin-left: 0.1rem;
    border-right: solid 0.01rem #eaebec;
  }
  .right-lab {
    width: calc(100% - 0.75rem);
    height: 0.45rem;
    line-height: 0.45rem;
    margin-right: 0.1rem;
    text-align: right;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

}


.footer {
  height: 0.88rem;
  background-color: black;

  .ion-row2-div {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    width: 100%;
    height: 100%;

    .icon {
      width: 0.68rem;
      height: 100%;
      display: flex;
      align-items: center;
    }

    .image-btn{
      width: 100%;
      background: black;
    }

    .left-image {
      width: 0.12rem;
      height: 0.24rem;
      background: transparent;
    }

    .right-image {
      width: 0.12rem;
      height: 0.24rem;
      background: transparent;
    }

    .scroll {
      width: calc(100% - 1.36rem);

      ion-slides {
        margin: auto;
      }

      ion-slide {
        width: calc((100% - 0.1rem) / 3.0);
        height: 0.75rem;
      }

      .img {
        border: solid 1px;
        width: 100%;
        height: 100%;
        object-fit: cover;
        display: block;
      }

      .img.selected {
        border: #0097e0 solid 0.02rem;
      }

    }

  }

}
