.photodetail-web {
  min-width: 900px;
  width: 100%;
  height: 100%;

  .detail-div {
    margin: 0 auto;
    width: 100%;
    height: 100%;
    padding: 0px 10px;
    box-shadow: 0px 1px 3px rgba($color: #000000, $alpha: 66/255.0);
    overflow: auto;
  }

  .content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    width: 100%;
    height: 100%;
    padding: 45px 0px 45px;
    background: #ffffff;
    margin: 0 auto;
  }

  .icon {
    width: 77px;
    height: 77px;
    line-height: 50px;
  }

  button {
    padding: 0px;
    margin: 0px;
    width: 100%;
    height: 100%;
    background-color: #ffffff;
  }

  ion-button {
    padding: 0px;
    margin: 0px;
    width: 100%;
    height: 100%;
    background-color: #ffffff;
    --box-shadow: none;
  }

  .left-image {
    width: 20px;
    height: 40px;
  }

  .right-image {
    width: 20px;
    height: 40px;
  }

  .scroll {
    width: calc(100% - 100px);
    height: 100%;
  }

  ion-slides {
    width: 100%;
    height: 100%;
  }

  ion-slide {
    width: 100% !important;
  }

  .select-photo {
    width: calc(100% - 114px);
    height: 100%;
    overflow: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 16px;
  }

  .select-photo-content {
    width: 100%;
    height: 100%;
    display: flex;
  }

  .image {
    width: 1068px;
    height: 802px;
  }

  .left-content {
    margin-left: 50px;
    width: 560px;
  }

  .image img {
    width: 1068px;
    height: 802px;
    display: block;
  }

  .title {
    text-align: left;
    font-size: 24px;
  }

  .photo-content {
    width: 100%;
    margin-top: 10px;
    border: solid 1px #eaebec;
    border-bottom: solid 0px white;
  }


  .content-row {
    display: flex;
    flex-direction: row;
    flex: 1;
    border-bottom: solid 1px #eaebec;
  }

  .left-lab {
    width: 130px;
    height: 70px;
    line-height: 70px;
    padding-left: 10px;
    border-right: solid 1px #eaebec;
    background: #eaebec;
    text-align: left;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    font-size: 20px;
  }

  .right-lab {
    width: calc(100% - 116px);
    font-size: 20px;
    height: 70px;
    line-height: 70px;
    padding-left: 10px;
    text-align: left;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
  }

}
