<app-head></app-head>
<ion-content *ngIf="platformtype === 'photodetail-mobile'" [ngClass]="platformtype">

  <div class="image">
    <img [src]="photoPath" />
  </div>
  <div class="title whitespace_pre_wrap">{{bdTitle}}</div>

  <div class="content">

    <div class="content-row">
      <div class="left-lab">{{bdBuilingTitle}}</div>
      <div class="right-lab whitespace_pre" (press)="onPress($event,buildingName)">{{buildingName}}</div>
    </div>
    <div class="content-row">
      <div class="left-lab">{{bdProjectTitle}}</div>
      <div class="right-lab whitespace_pre" (press)="onPress($event,projectName)">{{projectName}}</div>
    </div>
    <div class="content-row">
      <div class="left-lab">{{bdFloorTitle}}</div>
      <div class="right-lab whitespace_pre" (press)="onPress($event,selectPhoto.floorName)">{{selectPhoto.floorName}}
      </div>
    </div>

    <div class="content-row">
      <div class="left-lab">{{bdRoomTitle}}</div>
      <div class="right-lab whitespace_pre" (press)="onPress($event,selectPhoto.roomName)">{{selectPhoto.roomName}}
      </div>
    </div>

    <div class="content-row">
      <div class="left-lab">{{bdPlaceTitle}}</div>
      <div class="right-lab whitespace_pre" (press)="onPress($event,selectPhoto.placeName)">{{selectPhoto.placeName}}
      </div>
    </div>
    <div class="content-row">
      <div class="left-lab">{{bdBigProcessTitle}}</div>
      <div class="right-lab" (press)="onPress($event,bigProcessName)">{{bigProcessName}}</div>
    </div>

    <div class="content-row">
      <div class="left-lab">{{bdMachineTitle}}</div>
      <div class="right-lab whitespace_pre"
        (press)="onPress($event,selectPhoto.unitMark && selectPhoto.unitMark + '(' + selectPhoto.modeltype + ')')">
        {{selectPhoto.unitMark && selectPhoto.unitMark + "(" + selectPhoto.modeltype + ")"}}</div>
    </div>
    <div class="content-row">
      <div class="left-lab">{{bdProcessTitle}}</div>
      <div class="right-lab" (press)="onPress($event,selectPhoto.processName)">{{selectPhoto.processName}}</div>
    </div>

    <div class="content-row">
      <div class="left-lab">{{bdWorkTitle}}</div>
      <div class="right-lab whitespace_pre" (press)="onPress($event,selectPhoto.workName)">{{selectPhoto.workName}}
      </div>
    </div>

    <div class="content-row">
      <div class="left-lab">{{bdTimingTitle}}</div>
      <div class="right-lab" (press)="onPress($event,selectPhoto.timingName)">{{selectPhoto.timingName}}</div>
    </div>

  </div>
</ion-content>

<ion-footer *ngIf="platformtype === 'photodetail-mobile'" class="footer">

  <div class="ion-row2-div">

    <div class="icon">
      <button class="image-btn" (click)="selectPrevious()" [disabled]="selectedIndex === 0">
        <img class="left-image" src="./assets/images/chevron-back-outline.svg" />
      </button>
    </div>

    <div class="scroll">
      <ion-slides #swiperSlide [options]="sliderConfig">
        <ion-slide *ngFor="let photo of photoList let i=index">
          <img class="img" [ngClass]="{'selected': i === selectedIndex}"
            [src]="photo.photoPathLocal ? convertFileSrc(photo.photoPathLocal) : photo.photoPath"
            (click)="onSelectPhoto(photo,i)" />
        </ion-slide>
      </ion-slides>
    </div>

    <div class="icon">
      <button class="image-btn" (click)="selectNext()" [disabled]="selectedIndex === photoList.length -1">
        <img class="right-image" src="./assets/images/chevron-forward-outline.svg" />
      </button>
    </div>

  </div>

</ion-footer>

<ion-content *ngIf="platformtype === 'photodetail-winapp'" [ngClass]="platformtype">
  <div class="detail-div">

    <div class="content">

      <div class="icon">
        <ion-button color="whitebtn" (click)="selectPrevious()" [disabled]="selectedIndex === 0">
          <img class="left-image" src="./assets/images/chevron-back-outline.svg" />
        </ion-button>
      </div>

      <div class="scroll">
        <ion-slides #swiperSlide [options]="sliderConfig">
          <ion-slide *ngFor="let photo of photoList let i=index">
            <div class="select-photo">
              <div class="select-photo-content">
                <div class="image">
                  <img [src]="photoPath" />
                </div>
                <div class="left-content">
                  <div class="title">{{bdTitle}}</div>
                  <div class="photo-content">

                    <div class="content-row">
                      <div class="left-lab">{{bdBuilingTitle}}</div>
                      <div class="right-lab whitespace_pre" (press)="onPress($event,buildingName)">{{buildingName}}
                      </div>
                    </div>
                    <div class="content-row">
                      <div class="left-lab">{{bdProjectTitle}}</div>
                      <div class="right-lab whitespace_pre" (press)="onPress($event,projectName)">{{projectName}}</div>
                    </div>
                    <div class="content-row">
                      <div class="left-lab">{{bdFloorTitle}}</div>
                      <div class="right-lab whitespace_pre" (press)="onPress($event,selectPhoto.floorName)">
                        {{selectPhoto.floorName}}
                      </div>
                    </div>

                    <div class="content-row">
                      <div class="left-lab">{{bdRoomTitle}}</div>
                      <div class="right-lab whitespace_pre" (press)="onPress($event,selectPhoto.roomName)">
                        {{selectPhoto.roomName}}</div>
                    </div>

                    <div class="content-row">
                      <div class="left-lab">{{bdPlaceTitle}}</div>
                      <div class="right-lab whitespace_pre" (press)="onPress($event,selectPhoto.placeName)">
                        {{selectPhoto.placeName}}
                      </div>
                    </div>
                    <div class="content-row">
                      <div class="left-lab">{{bdBigProcessTitle}}</div>
                      <div class="right-lab" (press)="onPress($event,bigProcessName)">{{bigProcessName}}</div>
                    </div>

                    <div class="content-row">
                      <div class="left-lab">{{bdMachineTitle}}</div>
                      <div class="right-lab whitespace_pre"
                        (press)="onPress($event,selectPhoto.unitMark && selectPhoto.unitMark + '(' + selectPhoto.modeltype + ')')">
                        {{selectPhoto.unitMark && selectPhoto.unitMark + "(" + selectPhoto.modeltype + ")"}}</div>
                    </div>
                    <div class="content-row">
                      <div class="left-lab">{{bdProcessTitle}}</div>
                      <div class="right-lab whitespace_pre" (press)="onPress($event,selectPhoto.processName)">
                        {{selectPhoto.processName}}
                      </div>
                    </div>

                    <div class="content-row">
                      <div class="left-lab">{{bdWorkTitle}}</div>
                      <div class="right-lab whitespace_pre" (press)="onPress($event,selectPhoto.workName)">
                        {{selectPhoto.workName}}</div>
                    </div>

                    <div class="content-row">
                      <div class="left-lab">{{bdTimingTitle}}</div>
                      <div class="right-lab" (press)="onPress($event,selectPhoto.timingName)">{{selectPhoto.timingName}}
                      </div>
                    </div>

                  </div>
                </div>


              </div>
            </div>
          </ion-slide>
        </ion-slides>
      </div>

      <div class="icon">
        <ion-button color="whitebtn" (click)="selectNext()" [disabled]="selectedIndex === photoList.length -1">
          <img class="right-image" src="./assets/images/chevron-forward-outline.svg" />
        </ion-button>
      </div>

    </div>

  </div>
</ion-content>
<ion-footer *ngIf="platformtype === 'photodetail-winapp'" class="footer">
</ion-footer>

<ion-content *ngIf="platformtype === 'photodetail-web'" [ngClass]="platformtype">
  <div class="detail-div">

    <div class="content">

      <div class="icon">
        <ion-button color="whitebtn" (click)="selectPrevious()" [disabled]="selectedIndex === 0">
          <img class="left-image" src="./assets/images/chevron-back-outline.svg" />
        </ion-button>
      </div>

      <div class="scroll">
        <ion-slides #swiperSlide [options]="sliderConfig">
          <ion-slide *ngFor="let photo of photoList let i=index">
            <div class="select-photo">
              <div class="select-photo-content">
                <div class="image">
                  <img [src]="photoPath" />
                </div>
                <div class="left-content">
                  <div class="title">{{bdTitle}}</div>
                  <div class="photo-content">

                    <div class="content-row">
                      <div class="left-lab">{{bdBuilingTitle}}</div>
                      <div class="right-lab whitespace_pre" (press)="onPress($event,buildingName)">{{buildingName}}
                      </div>
                    </div>
                    <div class="content-row">
                      <div class="left-lab">{{bdProjectTitle}}</div>
                      <div class="right-lab whitespace_pre" (press)="onPress($event,projectName)">{{projectName}}</div>
                    </div>
                    <div class="content-row">
                      <div class="left-lab">{{bdFloorTitle}}</div>
                      <div class="right-lab whitespace_pre" (press)="onPress($event,selectPhoto.floorName)">
                        {{selectPhoto.floorName}}
                      </div>
                    </div>

                    <div class="content-row">
                      <div class="left-lab">{{bdRoomTitle}}</div>
                      <div class="right-lab whitespace_pre" (press)="onPress($event,selectPhoto.roomName)">
                        {{selectPhoto.roomName}}</div>
                    </div>

                    <div class="content-row">
                      <div class="left-lab">{{bdPlaceTitle}}</div>
                      <div class="right-lab whitespace_pre" (press)="onPress($event,selectPhoto.placeName)">
                        {{selectPhoto.placeName}}
                      </div>
                    </div>
                    <div class="content-row">
                      <div class="left-lab">{{bdBigProcessTitle}}</div>
                      <div class="right-lab" (press)="onPress($event,bigProcessName)">{{bigProcessName}}</div>
                    </div>

                    <div class="content-row">
                      <div class="left-lab">{{bdMachineTitle}}</div>
                      <div class="right-lab whitespace_pre"
                        (press)="onPress($event,selectPhoto.unitMark && selectPhoto.unitMark + '(' + selectPhoto.modeltype + ')')">
                        {{selectPhoto.unitMark && selectPhoto.unitMark + "(" + selectPhoto.modeltype + ")"}}</div>
                    </div>
                    <div class="content-row">
                      <div class="left-lab">{{bdProcessTitle}}</div>
                      <div class="right-lab whitespace_pre" (press)="onPress($event,selectPhoto.processName)">
                        {{selectPhoto.processName}}
                      </div>
                    </div>

                    <div class="content-row">
                      <div class="left-lab">{{bdWorkTitle}}</div>
                      <div class="right-lab whitespace_pre" (press)="onPress($event,selectPhoto.workName)">
                        {{selectPhoto.workName}}</div>
                    </div>

                    <div class="content-row">
                      <div class="left-lab">{{bdTimingTitle}}</div>
                      <div class="right-lab" (press)="onPress($event,selectPhoto.timingName)">{{selectPhoto.timingName}}
                      </div>
                    </div>

                  </div>
                </div>


              </div>
            </div>
          </ion-slide>
        </ion-slides>
      </div>

      <div class="icon">
        <ion-button color="whitebtn" (click)="selectNext()" [disabled]="selectedIndex === photoList.length -1">
          <img class="right-image" src="./assets/images/chevron-forward-outline.svg" />
        </ion-button>
      </div>

    </div>

  </div>
</ion-content>
<!-- <ion-footer *ngIf="platformtype === 'photodetail-web'" class="footer"></ion-footer> -->
<!-- <app-footer></app-footer> -->
