<app-head></app-head>

<ion-content>
  <div class="list-container">
    <div class="list-content">
      <div class="title">チャットルーム名を入力してください</div>
      <div class="input-name">チャットルーム名</div>
      <ion-item class="input-item" lines="none">
        <ion-input [(ngModel)]="chatroomName" readonly class="input whitespace_pre" placeholder="チャットルーム名を入力してください" maxlength="30">
        </ion-input>
      </ion-item>

      <ion-grid class="padding-title">
        <ion-row>
          <ion-col size="6" class="padding-title-left">チャットルームに参加するユーザを選択してください</ion-col>
          <ion-col size="6" class="padding-title-right paddingLeft12">登録済みメンバー</ion-col>
        </ion-row>
      </ion-grid>

      <ion-grid class="fontSize16">
        <ion-row class="list-content">
          <!-- left area -->
          <ion-col size="6">
            <ion-grid class="left-list">
              <ion-row no-padding *ngFor="let user of userList">
                <ion-col class="cell-class">
                  <img class="profile-pic left" src="./assets/icon/user-new-gray.png">
                </ion-col>
                <ion-col class="cell-class3">
                  <ion-label class="user-name whitespace_pre">{{user.userName}}</ion-label>
                  <ion-label class="company-name whitespace_pre">{{user.companyName}}</ion-label>
                </ion-col>
                <ion-col class="cell-class2">
                  <ion-button *ngIf="user.isChecked == true" fill="outline" class="customBtn" disabled="true">参加中</ion-button>
                  <ion-button *ngIf="user.isChecked == false" fill="outline" class="addBtn" (click)="appendHandle(user)">追加</ion-button>
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-col>
          <!-- right area -->
          <ion-col size="6" class="paddingLeft12">
            <ion-grid class="right-list">
              <ion-row no-padding *ngFor="let user of selectedUserList">
                <ion-col class="cell-class">
                  <img class="profile-pic left" src="./assets/icon/user-new-gray.png">
                </ion-col>
                <ion-col class="cell-class4">
                  <ion-label class="user-name whitespace_pre">{{user.userName}}</ion-label>
                  <ion-label class="company-name whitespace_pre">{{user.companyName}}</ion-label>
                </ion-col>
                <ion-col class="cell-class2">
                  <ion-button *ngIf="!user.disabled" disabled="false" fill="outline" color="danger customBtn"
                    (click)="deleteHandle(user)">削除</ion-button>
                  <ion-button *ngIf="user.disabled" disabled="true" fill="outline" color="danger customBtn">削除</ion-button>
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-col>
        </ion-row>

        <ion-row class="footercontent">
          <ion-col>
            <ion-button class="cancelBtn" color="whitebtn" (click)="cancenButtonClick()">キャンセル</ion-button>
            </ion-col>
          <ion-col>
            <ion-button class="finishBtn" color="primary" (click)="completeButtonClick()">作成</ion-button>
          </ion-col>
        </ion-row>

      </ion-grid>
    </div>
  </div>
</ion-content>

<!-- <app-footer></app-footer> -->
