<ion-list lines="none">
  <ion-item button detail="false" color="dark" *ngFor="let data of datas" (click)="click(data,type)">
    <ion-icon src="assets/images/{{selected === data.name ? 'active_' : ''}}{{data.icon}}" style="margin-right: 20px;">
    </ion-icon>
    <ion-label class="font14" [ngClass]="{'selected': selected === data.name}">{{data.name}}</ion-label>
  </ion-item>
</ion-list>
