<app-head></app-head>
<ion-content class="uploadForm">
  <ion-row>
    <ion-col class="ion-text-right" size="5" style='padding-right: 34px;'>
      {{settingTargetLabel}}:
    </ion-col>
    <ion-col class="ion-text-left" size="7">
      <select [(ngModel)]="settingTarget" (change)='settingTargetChange()'>
        <option *ngFor="let settingTargetItem of settingTargetList" value="{{settingTargetItem.code}}"
          class="selectOption">{{settingTargetItem.name}}</option>
      </select>
    </ion-col>
  </ion-row>
  <!-- 対象物件 -->
  <ion-row>
    <ion-col class="ion-text-right" size="5" align-self-center style='padding-right: 34px;'>
      {{targetBuildingLabel}}:
    </ion-col>
    <ion-col class="ion-text-left fileWrap" size="7" align-self-center>
      <!-- <select [(ngModel)]="targetBuilding" class="selectOption targetSelect" name='targetBuilding'
        [ngClass]="{'selectShow':settingTarget=='3','selectHide':settingTarget!=='3'}">
        <option *ngFor="let targetBuildingItem of targetBuildingList" value="{{targetBuildingItem.code}}"
          class="selectOption">{{targetBuildingItem.name}}</option>
      </select>
      <select class="selectOption selectBg " *ngIf="settingTarget!=='3'" [disabled]="settingTarget!=='3'">

      </select> -->

      <!-- <ion-row> -->
      <!-- <ion-input *ngIf="settingTarget ==='3'" type="text" class="inputBorder-search" maxlength="0" min="0"
        [(ngModel)]="targetBuilding&&targetBuilding.buildingName"></ion-input> -->
      <div class="selectOption whitespace_pre" *ngIf="settingTarget ==='3'"
        (press)="onPress($event, targetBuilding&&targetBuilding.buildingName)">
        {{targetBuilding&&targetBuilding.buildingName}}
      </div>
      <div class="selectOption selectBg " *ngIf="settingTarget!=='3'"
        (press)="onPress($event, targetBuilding&&targetBuilding.buildingName)">
        {{targetBuilding&&targetBuilding.buildingName}}
      </div>

      <ion-button mat-icon-button (click)="openAddProcessDialog()" [disabled]="settingTarget!=='3'" class="btnMargin">
        <mat-icon>search</mat-icon>
      </ion-button>
      <!-- </ion-row> -->
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col class="ion-text-right" size="5" align-self-center style='padding-right: 34px;'>
      {{inputCsvLabel}}:
    </ion-col>
    <ion-col class="ion-text-left fileWrap" size="7" align-self-center>
      <!-- <div class="inputBorder" (press)="onPress($event, readText)">{{readText}}</div> -->
      <ion-input type="text" class="inputBorder" maxlength="0" min="0" [(ngModel)]="readText"></ion-input>
      <ion-button color="primary" class="edit-button mat-raised-button mat-button-base btn" (click)="myInputClick()">参照</ion-button>
      <input type="file" class="inputFile" id='myInput' accept=".csv" #csvFile (change)="onChangeInput($event.target.files)"
        *ngIf="csvInputFlag" #myInput>
      <input type="file" class="inputFile" id='myInput1' accept=".csv" #csvFile (change)="onChangeInput($event.target.files)"
        *ngIf="!csvInputFlag" #myInput1>
    </ion-col>
    <!-- <ion-col  class="ion-text-left fileWrap"  size="3">
        <button class="edit-button mat-raised-button mat-button-base btn">参照</button>
      <input type="file"  class="inputFile" [(ngModel)]="inputCsvPath" (change)="onChangeInputPdf($event)">
    </ion-col> -->
  </ion-row>
  <ion-row>
    <ion-col class="ion-text-right" size="5" align-self-center>
      {{inputPdfLabel}}:
    </ion-col>
    <ion-col class="ion-text-left fileWrap" size="7" align-self-center>
      <!-- <div class="inputBorder" (press)="onPress($event, pdfNames)">{{pdfNames}}</div> -->
      <ion-input type="text" class="inputBorder" maxlength="0" min="0" [(ngModel)]="pdfNames"></ion-input>
      <ion-button color="primary" class="edit-button mat-raised-button mat-button-base btn" [disabled]="settingTarget!=='3'"
        (click)="myPdfInputClick()">参照</ion-button>
      <input type="file" class="inputFile test" id='myPdfInput' accept=".pdf" multiple
        *ngIf="settingTarget=='3' && pdfInputFlag" (change)="onChangeInputPdf($event.target.files)" #myPdfInput>
      <input type="file" class="inputFile test1" id='myPdfInput1' accept=".pdf" multiple
        *ngIf="settingTarget=='3' && !pdfInputFlag" (change)="onChangeInputPdf($event.target.files)" #myPdfInput1>
    </ion-col>
  </ion-row>
  <!-- 入力CSV -->
  <ion-row>
    <ion-col class="ion-text-right" size="5">
    </ion-col>
    <ion-col class="ion-text-left " size="7">
      <ion-button color="primary" class=" confirmBtn mat-raised-button mat-button-base" (click)="onRead()">読み込み</ion-button>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col class="ion-text-right" size="5">
    </ion-col>
    <ion-col class="ion-text-left " size="7">
      <div class="msgBox">
        {{errorMsg}}
      </div>
    </ion-col>
  </ion-row>


</ion-content>
<!-- <app-footer></app-footer> -->
