<app-head></app-head>

<ion-content [ngClass]="platformtype">
  <div class="list-container">
    <div class="list-content">
      <ion-list class="list" *ngFor="let conversation of conversations">
        <ion-item class="item" lines="none" button detail="false" (click)="clickItem(conversation)" 
          (press)="onPress($event,conversation)">
          <img class="profile-pic" src="./assets/icon/user-new-gray.png">
          <div class="detail">
            <div class="name whitespace_pre_wrap">{{conversation.conversationName}}</div>
            <div text-right class="date">{{dateFormat(conversation.updatedAt)}}</div>
          </div>
        </ion-item>
        <div *ngIf="platformtype === 'chatroom-list-winapp'" class="under-line"></div>
      </ion-list>
    </div>
  </div>
</ion-content>

<!-- <app-footer></app-footer> -->
