.chatroom-list-web { 
  --overflow: hidden;

  .list-container {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    width: 100%;
    height: 100%;
    padding-top: 8px;

    .list-content {
      flex-grow: 1;
      overflow: auto;
      width: 100%;

      .list {
        width: 100%;
        padding-top: 0;
        padding-bottom: 0;

        .item {
          width: 100%;
          height: 56px;
          display: flex;
          --padding-start: 16px;
          --padding-end: 8px;

          .profile-pic {
            width: 40px;
            height: 40px;
          }

          .detail {
            display: flex;
            width: calc(100% - 40px);

            .name {
              font-size: 16px;
              color: #000000;
              margin-left: 16px;
              text-overflow: ellipsis;
              overflow: hidden;
              white-space: nowrap !important;
              width: calc(100% - 86px);
            }

            .date {
              position: absolute;
              right: 10px;
              font-size: 12px;
              color: #000000;
              width: 64px;
            }
          }
        }
      }
    }
  }
}
