.chatroom-list-mobile {
  --overflow: hidden;

  .list-container {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    width: 100%;
    height: 100%;
    padding-top: 0.16rem;
    
    .list-content {
      flex-grow: 1;
      overflow: auto;

      .list {
        margin-bottom: 0;
        height: 0.56rem;
        padding: 0;

        .item {
          height: 0.56rem;
          display: flex;
          --padding-start: 0.24rem;
          --padding-end: 0.15rem;

          .profile-pic {
            width: .4rem;
            height: .4rem;
          }

          .detail {
            display: flex;
            flex: 1;
            align-items: flex-end;

            .name {
              font-size: .16rem;
              color: #000000;
              margin-left: 0.16rem;
              flex: 1;
              width: 1.98rem;
              text-overflow: ellipsis;
              overflow: hidden;
              white-space: nowrap !important;
            }

            .date {
              font-size: .12rem;
              color: #000000;
              text-align-last: left;
            }
          }
        }
      }
    }
  }
}