.chatroom-list-winapp {
  --overflow: hidden;

  .list-container {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    width: 100%;
    height: 100%;

    .list-content {
      flex-grow: 1;
      overflow: auto;
      width: 100%;

      .list-md {
        padding-top: 0;
        padding-bottom: 0;
      }

      .list {

        .item {
          height: 77px;
          display: flex;
          --padding-start: 24px;
          --padding-end: 8px;

          .item-inner {
            padding-right: 0;
          }

          .profile-pic {
            width: 40px;
            height: 40px;
          }

          .detail {
            display: flex;
            width: calc(100% - 40px);

            .name {
              font-size: 24px;
              color: #000000;
              margin-left: 32px;
              text-overflow: ellipsis;
              white-space: nowrap !important;
              width: calc(100% - 159px);
            }

            .date {
              position: absolute;
              right: 10px;
              font-size: 24px;
              color: #000000;
              width: 127px;
            }
          }
        }
      }
    }
  }
}

.under-line {
  width: 100%;
  height: 1px;
  background: #EAEBEC;
  margin-left: 96px;
}
