<div class="modalDiv">
  <ion-buttons class="rightClose" (click)="closeClick()">
  </ion-buttons>
  <ion-label class="modalTitle">{{onshelfEditLable.title}}</ion-label>
  <ion-item>
    &nbsp;
  </ion-item>
  <ion-item>
    <label>{{onshelfEditLable.agentName}}</label>
    <ion-input class="inputBorder" maxlength="60" [(ngModel)]="sysOnShelfProductInfo.AgentReduceName" required="true"></ion-input>
    &nbsp;
  </ion-item>
  <ion-item>
    <label>{{onshelfEditLable.channelName}}</label>
    <ion-input class="inputBorder" maxlength="60" [(ngModel)]="sysOnShelfProductInfo.productName" required="true"></ion-input>
    &nbsp;
  </ion-item>
  <ion-item>
    <label>{{onshelfEditLable.productType}}</label>
    <ion-input class="inputBorder" maxlength="60" [(ngModel)]="sysOnShelfProductInfo.productType" required="true"></ion-input>
    &nbsp;
  </ion-item>
  <ion-item>
    <label>{{onshelfEditLable.spId}}</label>
    <ion-input class="inputBorder" maxlength="60" [(ngModel)]="sysOnShelfProductInfo.spId" required="true"></ion-input>
    &nbsp;
  </ion-item>
  <ion-item>
    <label>{{onshelfEditLable.value}}</label>
    <ion-input class="inputBorder" maxlength="60" [(ngModel)]="sysOnShelfProductInfo.value" required="true"></ion-input>
    &nbsp;
  </ion-item>
  <ion-item>
    <label>{{onshelfEditLable.price}}</label>
    <ion-input class="inputBorder" maxlength="60" [(ngModel)]="sysOnShelfProductInfo.price" required="true"></ion-input>
    &nbsp;
  </ion-item>
  <ion-item>
    <label>{{onshelfEditLable.monedisaccounty}}</label>
    <ion-input class="inputBorder" maxlength="60" [(ngModel)]="sysOnShelfProductInfo.disaccount" required="true"></ion-input>
    &nbsp;
  </ion-item>
  <ion-item>
    <label>{{onshelfEditLable.checkPrice}}</label>
    <ion-input class="inputBorder" maxlength="60" [(ngModel)]="sysOnShelfProductInfo.checkPrice" required="true"></ion-input>
    &nbsp;
  </ion-item>
  <ion-item>
    <label>{{onshelfEditLable.checkCost}}</label>
    <ion-input class="inputBorder" maxlength="60" [(ngModel)]="sysOnShelfProductInfo.checkCost" required="true"></ion-input>
    &nbsp;
  </ion-item>
  <ion-item>
    <label>{{onshelfEditLable.status}}</label>
    <ion-input class="inputBorder" maxlength="60" [(ngModel)]="sysOnShelfProductInfo.status" required="true"></ion-input>
    &nbsp;
  </ion-item>



  <div class="flexDiv">
    <div class="leftButton">
      <ion-button class="buttonWidth" (click)=updateClick()>{{onshelfEditLable.change}}</ion-button>
    </div>
    <div class="rightButton">
      <ion-button class="buttonWidth" (click)=cancelClick()>{{onshelfEditLable.cancel}}</ion-button>
    </div>
  </div>
</div>
