<div class="modalDiv">
  <ion-buttons class="rightClose" (click)="onNoClick()">
    <mat-icon>clear</mat-icon>
  </ion-buttons>
  <ion-label class="title">{{ gamenLable.title }}</ion-label>
  <ion-grid class="processform">
    <ion-row align-items-start>
      <ion-col size="6">
        {{ gamenLable.userId }}
      </ion-col>
    </ion-row>
    <ion-row align-items-start>
      <ion-col size="9">
        <ion-input class="inputBorder" maxlength="128" type="text" required="true" [(ngModel)]="userId"></ion-input>
      </ion-col>
      <ion-col size="3">
        {{ gamenLable.dialogLabel }}
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-button class="search" (click)="searchClick()" [disabled]="isDisabled()">{{ gamenLable.search }}</ion-button>
</div>
