<app-head></app-head>
<ion-content class="padding-center">
  <div class="list-container">
    <ion-list class="list-header">
      <ion-button (click)="openSearchDialog()">{{gamenLable.search}}</ion-button>
      <ion-button (click)="updateClick()">{{gamenLable.update}}</ion-button>
    </ion-list>
    <!-- <div class="list-content"> -->
    <ion-list class="list-content">
      <ion-item lines="none">{{gamenLable.updateMessage}}</ion-item>
      <ion-item>
        <ion-col class="ion-align-self-center" size="1.5">{{gamenLable.effectiveNess}}</ion-col>
        <ion-col class="ion-align-self-center" size="1.5">{{gamenLable.invalid}}</ion-col>
        <ion-col size="3">{{gamenLable.userId}}</ion-col>
        <ion-col size="3">{{gamenLable.deviceCodeLabel}}</ion-col>
        <ion-col size="3">{{gamenLable.dateMomentLabel}}</ion-col>
      </ion-item>
      <ng-container *ngFor="let device of gamenDto.deviceList">
        <ion-radio-group [(ngModel)]="device.isAccessApproval">
          <ion-item>
            <ion-col class="ion-align-self-center" size="1.5">
              <ion-radio value="{{ validFlag }}"></ion-radio>
            </ion-col>
            <ion-col class="ion-align-self-center" size="1.5">
              <ion-radio value="{{ invalidFlag }}"></ion-radio>
            </ion-col>
            <ion-col size="3">{{device.userId}}</ion-col>
            <ion-col size="3">{{device.deviceCode}}</ion-col>
            <ion-col size="3">{{device.dateMoment}}</ion-col>
          </ion-item>
        </ion-radio-group>
      </ng-container>
    </ion-list>
    <!-- </div> -->
    <div *ngIf="gamenDto.outnumber" class="list-footer">{{gamenLable.outnumber}}</div>

  </div>
</ion-content>
<!-- <app-footer></app-footer> -->
