ion-content {
  --overflow: hidden;

  .breadcrumb {
    color: #ffffff;
    background-color: #000000;
  }

  .updateMessage {
    padding-left: 80px;
  }

  .list-container {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    width: 100%;
    height: 100%;

    .list-header {
      flex-shrink: 0;
      text-align: right;
      // padding-right: 2rem;
    }

    .list-content {
      // flex-grow: 1;
      overflow: auto;
      // min-height: 2rem;
    }

    .list-footer {
      text-align: right;
      padding-right: 32px;
      font-size: 16px;
      margin: 20px 0;
    }
  }
}

.padding-center {
  --padding-start: 80px;
  --padding-end: 80px;
}


  .ion-align-self-center, [align-self-center] {
  text-align: center;
  text-align: -webkit-center;
}
