.photolistitem-mobile {
  .item {
    // border: solid 1px black;
    display: flex;
    flex-direction: row;
    flex: 1;

    width: 100%;
    height: 0.48rem;
    align-items: center;

    font-size: 0.12rem;
  }

  .item-fail {

    display: flex;
    flex-direction: row;
    flex: 1;

    width: 100%;
    height: 0.48rem;
    align-items: center;

    font-size: 0.12rem;

    border: 0.02rem solid red;
  }



  .checkbox-div {
    width: 0.4rem;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
  }

  .checkbox {
    width: 0.2rem;
    height: 0.2rem;
    --border-radius: 0;
  }

  .checkbox-none {
    display: none;
  }


  .image {
    width: 0.5rem;
    height: 0.375rem;
    margin-left: 0.16rem;
    display: block;
    position: relative;
  }



  .upload {
    color: white;
    position: absolute;
    width: 10px;
    height: 10px;

    top: 5px;
    right: 15px;
    z-index: 999;
  }


  .select {
    position: absolute;
    width: 10px;
    height: 10px;
    color: white;
    top: 20px;
    right: 15px;
    z-index: 999;
  }

  .content {
    display: flex;
    flex-direction: row;
    flex: 1;
    width: calc(100% - 0.5rem);
  }

  .title {
    width: 0.71rem;
    height: 100%;
    line-height: 0.48rem;
    margin-left: 0.16rem;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }



  .sub {
    width: 1.42rem;
    height: 100%;
    line-height: 0.48rem;
    margin-left: 0.16rem;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;

  }



  .date {
    width: 0.72rem;
    height: 100%;
    line-height: 0.48rem;
    margin-left: 0.16rem;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;

  }



  .tip {
    width: 0.42rem;
    height: 100%;
    line-height: 0.48rem;
    margin-left: 0.16rem;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;

  }




  .noimage {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    background-color: #eaebec;
  }

  .camera {
    width: 0.2rem;
    height: 0.2rem;
    position: absolute;
    left: calc(50% - 0.1rem);
    top: calc(50% - 0.1rem);
  }
}
