.photolistitem-winapp {

    .item {
      // border: solid 1px black;
      display: flex;
      flex-direction: row;
      flex: 1;
      width: 1324px;
      height: 52px;
      align-items: center;
      background-color: #fff;
      padding:3px 0px;
      font-size: 16px;
      color: #000;
      border: 1px solid #ccc;
      border-top:0;
    }
  
    .item-fail {
  
      display: flex;
      flex-direction: row;
      flex: 1;
  
      width: 100%;
      height: 52px;
      align-items: center;
  
      padding: 10px 0px;
      font-size: 14px;
      color: gray;
  
      border: 2px solid red;
    }
  
    .item-pc {
      display: flex;
      flex-direction: row;
      flex: 1;
  
      width: 100%;
      height: 70px;
      align-items: center;
      padding: 10px 0px;
      color: gray;
    }
  
    .lab {
      width: 20px;
    }
  
    .lab-pc {
      width: 30px;
    }
  
  
  
    .checkbox-div {
      width: 56px;
      height: 100%;
      padding: 13px 18px;
    }
  
    .checkbox {
      width: 20px;
      height: 20px;
      padding: 0px;
      margin: 0px;
    }
  
    .checkbox-none {
      display: none;
    }
  
    .image {
      width: 66px;
      height: 100%;
      display: block;
      position: relative;
    }
  
    .image ion-img {
      width: 50px;
      height: 45px;
      display: block;
      object-fit: cover;
    }
  
    .upload {
      color: white;
      position: absolute;
      width: 10px;
      height: 10px;
  
      top: 5px;
      right: 15px;
      z-index: 999;
    }
  
  
    .select {
      position: absolute;
      width: 10px;
      height: 10px;
      color: white;
      top: 20px;
      right: 15px;
      z-index: 999;
    }
  
    .content {
      display: flex;
      flex-direction: row;
      flex: 1;
      width: calc(100% - 80px);
    }
  
    .title {
      flex: 1.7;
      height: 100%;
      line-height: 50px;
      padding: 0px 5px;
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
    }
  
    .title-pc {
      flex: 1.7;
      height: 100%;
      line-height: 50px;
      padding: 0px 5px;
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
    }
  
    .sub {
      flex: 1.1;
      height: 100%;
      line-height: 50px;
      padding: 0px 5px;
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
  
    }
  
    .sub-pc {
      flex: 1.1;
      height: 100%;
      line-height: 50px;
      padding: 0px 5px;
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
  
    }
  
    .date {
      flex: 0.9;
      height: 100%;
      line-height: 50px;
      padding: 0px 5px;
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
  
    }
  
    .date-pc {
      flex: 0.9;
      height: 100%;
      line-height: 50px;
      padding: 0px 5px;
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
  
    }
  
    .tip {
      flex: 0.8;
      height: 100%;
      line-height: 50px;
      padding: 0px 5px;
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
  
    }
  
    .tip-pc {
      flex: 0.8;
      height: 100%;
      line-height: 50px;
      padding: 0px 5px;
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
  
    }
  
  
    .noimage {
      position: absolute;
      width: 50px;
      height: 45px;
    }
  
    .camera {
      width: 100%;
      height: 100%;
      color: gray;
    }
  
  }
  