<div [ngClass]="platformtype">


  <div [class]="uploadFail ? 'item-fail' : 'item'">
    <div class="checkbox-div">
      <ion-checkbox *ngIf="isShowCheckBox"  [class]="disable ? 'checkbox-none' : 'checkbox'" [(checked)]="isSelect"
        (ionChange)="selectphoto($event)">
      </ion-checkbox>
    </div>


    <div class="image">
      <ion-img *ngIf="isShowPhoto" [src]="photoPath" (click)="imageclick($event)"></ion-img>


      <div *ngIf="isShowNoimageIcon" class="noimage" (click)="gotocamera()">
        <img class="camera" src="./assets/images/add_a_photo.svg" />
      </div>

    </div>

    <div class="content" (press)="onPress($event)">
      <div class="title whitespace_pre_wrap">{{photo.processName}}{{" - "}}{{photo.workName}}</div>

      <div class="sub whitespace_pre">{{  photo.unitMark ? photo.unitMark + "(" + photo.modeltype + ")" : ''}}
      </div>

      <div class="date">{{dateform()}}</div>

      <div *ngIf="bigProcess.id != cd0001Constants.CD0001_04" class="tip">
        {{photo.timingName !== notiming ? photo.timingName : ''}}</div>
    </div>



  </div>



</div>
