.modal{
  display: flex;
  height: 100%;
  flex-direction: column;
  .header{
    font-size: .18rem;
    color: #000000;
    height: .57rem;
    line-height: .57rem;
    border-bottom: 1px solid rgba(222, 222, 222, .5);
    text-align: center;
  }
  .item{
    flex: 1;
    align-items: center;
    display: flex;
    padding: 0 .05rem;
    ion-img{
      width: 2.88rem;
      height: 2.16rem;
    }
  }
  .footer{
    border-top: 1px solid rgba(222, 222, 222, .5);
    font-size: .18rem;
    color: #000000;
    height: .57rem;
    line-height: .57rem;
    text-align: right;
    padding: 0 .15rem;
    .close-btn{
      color: #0097E0;
      display: inline-block;
      font-size: var(--button-font-size-14-mobile);
    }
  }
}

// .modal {
//   border: solid 1px black;
// }

// .buttons {
//   width: 100%;
//   text-align: center;
// }

// .button {
//   // background-color: white;
//   width: calc((100% - 80px)/2);
//   height: 40px;
//   // text-align: center;
//   // line-height: 40px;
//   // border: solid 1px black;
//   // border-radius: 5px;
//   margin-bottom: 40px;
//   margin-left: 20px;
//   margin-right: 20px;
//   // font-size: 11px;
// }

// .item {
//   margin: 10px;
// }

// .previewPC {
//   height: 498px;
// }

// .previewSP {
//   height: 448px;
// }
