<div class="modal">
  <div class="header"></div>
  <div class="item">
    <ion-img [class]="isPc ? 'previewPC' : 'previewSP'" [src]="photoPath"></ion-img>
  </div>
  <div class="footer">
    <!-- <<ion-button class="button" (click)="close()"></ion-button>> -->
    <span class="close-btn" (click)="close()">閉じる</span>
  </div>
</div>
