<app-head></app-head>
<ion-content [ngClass]="platformtype">
  <div *ngFor="let message of messages let i=index" class="message-wrapper">
    <section>

      <!-- 時間戳 -->
      <div *ngIf="i === 0" class="message-title-date">
        <span>{{dateformat(message.createdAt)}}</span>
      </div>

      <!-- 左 -->
      <div *ngIf="message.chatTalkFlg === 'L'" class="message-left">
        <img class="profile-pic" src="./assets/icon/user-new-gray.png">
        <!-- <ion-icon class="profile-pic left" name="person"></ion-icon> -->
        <div class="slide-left">
          <div class="message" [innerHTML]="message.chatTalkName"> </div>
          <div class="message-detail">
            <div *ngIf="message.chatTalkContent !== 'NONE'">
              <pre class="talk">{{message.chatTalkContent}}</pre>
            </div>
            <div *ngIf="message.chatTalkPictures && message.chatTalkPictures.length > 0" class="picture-views">
              <span class="picture-view" *ngFor="let picture of message.chatTalkPictures">
                <img [src]="picture" (click)="onPreview(picture)" />
              </span>
            </div>
          </div>
        </div>
        <div class="message-date">
          <div>
            <span *ngIf="message.readUsers && message.readUsers.length > 0">既読{{message.readUsers.length}}</span>
            <span *ngIf="!message.readUsers || message.readUsers.length === 0">未読</span>
            <br />{{timeformat(message.createdAt)}}
          </div>
        </div>
      </div>

      <!-- 右 -->
      <div *ngIf="message.chatTalkFlg === 'R'" class="message-right">
        <div class="message-date">
          <div>
            <span *ngIf="message.readUsers && message.readUsers.length > 0">既読{{message.readUsers.length}}</span>
            <span *ngIf="!message.readUsers || message.readUsers.length === 0">未読</span>
            <br />{{timeformat(message.createdAt)}}
          </div>
        </div>
        <div class="message-detail">
          <div *ngIf="message.chatTalkContent !== 'NONE'">
            <pre class="talk">{{message.chatTalkContent}}</pre>
          </div>
          <div *ngIf="message.chatTalkPictures && message.chatTalkPictures.length > 0" class="picture-views">
            <span class="picture-view" *ngFor="let picture of message.chatTalkPictures">
              <img [src]="picture" (click)="onPreview(picture)" />
            </span>
          </div>
        </div>
        <!-- <img class="profile-pic" src="./assets/icon/user-new-gray.png"> -->
      </div>
      <div class="cf"></div>

      <!-- 時間戳 -->
      <div *ngIf="showDay(messages,message,i)" class="message-title-date">
        <span>{{dateformat(messages[i+1].createdAt)}}</span>
      </div>

    </section>
  </div>
  <div #chatbottom id="chatbottom"></div>
</ion-content>
<ion-footer [ngClass]="platformtype" class="ion-footer">
  <div class="ion-input">
    <div class="pictrue-btn" (click)="getPicture()">
      <img src="./assets/icon/add_a_photo.svg" />
      <!-- <ion-icon ios="ios-images" md="md-images" size="large"></ion-icon> -->
    </div>
    <div #myInput id="myInput" class="textarea">
      <textarea class="ion-text" (focus)="textareafocus()" row="0" contenteditable="true" maxlength="400"
        [(ngModel)]="chatBox" (ngModelChange)="chatChange(chatBox)" placeholder="メッセージを入力..."></textarea>
    </div>
    <div *ngIf="!sendCheck()" class="send-btn" disabled>
      <img src="./assets/icon/send.svg" />
    </div>
    <div *ngIf="sendCheck()" class="send-btn" (click)="send()">
      <img src="./assets/icon/send.svg" />
    </div>
  </div>

  <!-- show photo -->
  <div class="picture" *ngIf="isShowPicture">
    <div class="grid">
      <app-photo-grid-item *ngFor="let item of photoList" [photo]="item" [selectp]="selectphoto" [showp]="showPhoto"
        class="photo-comp">
      </app-photo-grid-item>
    </div>
  </div>
</ion-footer>
