.chattalk-mobile {
  .message-wrapper:last-child {
    padding-bottom: 0.1rem;
  }

  .message-title-date {
    color: #ffffff;
    margin-top: 0.15rem;
    text-align: center;
    font-size: 0.12rem;

    span {
      background-color: rgba(0, 0, 0, 0.54);
      padding: 0.04rem 0.2rem;
      border-radius: 0.15rem;
      display: inline-block;
    }
  }

  .message-left {
    margin-top: 0.15rem;
    margin-left: 0.18rem;
    display: flex;
    font-size: 0.12rem;

    .profile-pic {
      margin-top: 0.02rem;
      width: 0.4rem;
      height: 0.4rem;
    }

    .slide-left {

      .message {
        color: #000;
      }

      .message-detail {
        background-color: #E6E7E8;
        border-top-left-radius: 0;
        border-top-right-radius: 0.2rem;
        border-bottom-left-radius: 0.2rem;
        border-bottom-right-radius: 0.2rem;
        padding: 0.08rem;
        max-width: 2.05rem;
        box-shadow: 0 0.02rem 0.04rem #00000029;

        pre {
          color: #000000;
        }

        .picture-views {
          flex-wrap: wrap;
          display: flex;

          .picture-view {
            margin-right: 0.05rem;
            display: inline-block;

            img {
              width: 0.74rem;
              height: 0.71rem;
            }
          }
          .picture-view:last-child {
            margin-right: 0;
          }
        }
      }
    }

    .message-date {
      align-items: flex-end;
      display: flex;
      color: #BDBDBD;
      margin-left: 0.08rem;
    }
  }

  .message-right {
    display: flex;
    margin-top: 0.15rem;
    margin-left: 0.17rem;
    margin-right: 0.17rem;
    justify-content: flex-end;
    font-size: 0.12rem;

    .message-detail {
      background-color: #0097E0;
      border-radius: 0.2rem;
      border-bottom-right-radius: 0;
      padding: 0.08rem;
      color: #ffffff;
      text-align: left;
      max-width: 2.55rem;
      box-shadow: 0 0.02rem 0.04rem #00000029;

      pre {
        // white-space: normal;
      }

      .picture-views {
        flex-wrap: wrap;
        display: flex;
        .picture-view {

          margin-right: 0.05rem;
          display: inline-block;

          img {
            width: 0.74rem;
            height: 0.71rem;
          }
        }

        .picture-view:last-child {
          margin-right: 0;
        }
      }
    }

    .message-date {
      align-items: flex-end;
      display: flex;
      color: #BDBDBD;
      margin-right: 0.07rem;
    }
  }

  .talk {
    margin: 0;
    padding: 0;
  }
}

.chattalk-mobile.ion-footer::before {
  background-image: none !important
}

.chattalk-mobile.ion-footer {
  font-size: 0.14rem;

  .ion-input {
    background: white;
    display: flex;
    align-items: center;
    padding: 0 0.17rem 0 0.18rem;

    .pictrue-btn {
      padding: 0.08rem 0 0.08rem;

      img {
        width: 0.24rem;
        height: 0.24rem;
      }
    }

    .textarea {
      flex: 1;
      padding: 0 0.08rem;
      box-sizing: border-box;

      .ion-text {
        resize: none;
        width: 100%;
        height: 0.4rem;
        border-radius: 0.2rem;
        border-bottom-right-radius: 0;
        outline: none;
        margin-left: auto;
        margin-right: auto;
        line-height: 0.3rem;
        word-wrap: break-word;
        overflow-x: hidden;
        overflow-y: auto;
        background: #fff!important;
        border: 0.01rem solid #707070;
      }
    }

    textarea::-webkit-input-placeholder {
      color: #37474F;
    }

    .send-btn {
      width: 0.4rem;
      height: 0.4rem;
      background: #0097E0;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    .send-btn[disabled] {
      background:#E6E7E8
    }
  }

  .picture {
    border-top: 0.01rem solid #BFBFBF;
    padding: 0 0 0 0.04rem;
    height: 2.4rem;
    overflow: auto;

    .grid {
      display: flex;
      flex-wrap: wrap;

      .photo-comp {
        margin: 0.04rem 0.04rem 0 0;
      }
    }
  }
}
