.chattalk-winapp {
  .message-wrapper:last-child {
    padding-bottom: 10px;
  }

  .message-title-date {
    color: #ffffff;
    margin-top: 25px;
    text-align: center;
    font-size: 20px;

    span {
      background-color: rgba(0, 0, 0, 0.54);
      padding: 7px 41px 6px 36px;
      border-radius: 20px;
      display: inline-block;
    }
  }

  .message-left {
    margin-top: 25px;
    margin-left: 32px;
    display: flex;
    font-size: 20px;

    .profile-pic {
      margin-top: 4px;
      width: 64px;
      height: 64px;
    }

    .slide-left {
      .message {
        color: #000;
      }

      .message-detail {
        background-color: #E6E7E8;
        border-top-left-radius: 0;
        border-top-right-radius: 20px;
        border-bottom-left-radius: 20px;
        border-bottom-right-radius: 20px;
        padding: 27px 22px 24px 24px;
        max-width: 382px;
        box-shadow: 0 2px 4px #00000029;

        pre {
          font-size: 24px;
          color: #000000;
        }

        .picture-views {
          flex-wrap: wrap;
          display: flex;

          .picture-view {
            margin-right: 5px;
            display: inline-block;

            img {
              width: 189px;
              height: 189px;
            }
          }

          .picture-view:last-child {
            margin-right: 0;
          }
        }
      }
    }

    .message-date {
      align-items: flex-end;
      display: flex;
      color: #BDBDBD;
      margin-left: 16px;
    }
  }

  .message-right {
    display: flex;
    margin-top: 25px;
    margin-right: 32px;
    justify-content: flex-end;
    font-size: 24px;

    .message-detail {
      background-color: #0097E0;
      border-radius: 20px;
      border-bottom-right-radius: 0;
      padding: 27px 22px 24px 24px;
      color: #ffffff;
      text-align: left;
      max-width: 724px;
      box-shadow: 0 2px 4px #00000029;

      pre {
        // white-space: normal;
      }

      .picture-views {
        flex-wrap: wrap;
        display: flex;

        .picture-view {
          margin-right: 5px;
          display: inline-block;

          img {
            width: 189px;
            height: 189px;
          }
        }

        .picture-view:last-child {
          margin-right: 0;
        }
      }
    }

    .message-date {
      align-items: flex-end;
      display: flex;
      font-size: 20px;
      color: #BDBDBD;
      margin-right: 17px;
    }
  }

  .talk {
    margin: 0;
    padding: 0;
  }
}

.chattalk-winapp.ion-footer::before {
  background-image: none !important
}

.chattalk-winapp.ion-footer {
  font-size: 24px;

  .ion-input {
    border-top: solid 1px #e0e0e0;
    display: flex;
    align-items: center;
    padding: 22px 16px 16px 16px;

    .pictrue-btn {
      padding: 8px 0 8px;

      img {
        width: 32px;
        height: 32px;
      }
    }

    .textarea {
      flex: 1;
      padding: 0 8px;
      box-sizing: border-box;
      resize: none;

      .ion-text {
        resize: none;
        width: 100%;
        height: 40px;
        border-radius: 20px;
        border-bottom-right-radius: 0;
        outline: none;
        margin-left: auto;
        margin-right: auto;
        line-height: 30px;
        word-wrap: break-word;
        overflow-x: hidden;
        overflow-y: auto;
        background: #fff !important;
        border: 1px solid #707070;
      }
    }

    textarea::-webkit-input-placeholder {
      color: #37474F;
    }

    .send-btn {
      width: 40px;
      height: 40px;
      background: #0097E0;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .send-btn[disabled] {
      background: #E6E7E8
    }
  }

  .picture {
    border-top: 1px solid #BFBFBF;
    padding: 0 39px 0 64px;
    height: 308px;
    overflow: auto;

    .grid {
      display: flex;
      flex-wrap: wrap;

      .photo-comp {
        margin: 8px 8px 0 0;
      }
    }
  }
}
