<ion-header>
  <ion-toolbar>
    <ion-title  class = "ion-title" >加款减额</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

<ion-item>
    
    <!--<label>代理账户:</label> <input type = "text "  maxlength="10" min="1" [(ngModel)]="billId"/>&nbsp;-->
    <label>代理简称:</label> <input type = "text "  maxlength="10" min="1" [(ngModel)]="agencyname"/>&nbsp;
     <!-- <label>申请类型:</label>
    <select  name = "cush" id ="cush" [(ngModel)] = "cushInfo.cush" >
      <option [value] ="item" *ngFor = "let item of cushInfo.cushInfoList">{{item}}</option>
    </select>&nbsp;-->
    <!--<label>状态:</label>
    <select  name = "status" id ="status" [(ngModel)] = "cushInfo.status" >
     <option [value] ="item1" *ngFor = "let item1 of cushInfo.statusList">{{item1}}</option>
    </select>&nbsp;-->
   <!-- <ion-label>
     时间范围:
    </ion-label>
    <ion-input class="inputName">
    <ion-datetime class="datetime" mode="md" displayFormat="YY/MM" done-text="OK" cancel-text="キャンセル"
      placeholder="ocrManufacturingDate" [(ngModel)]="ocrManufacturingDate"></ion-datetime>
    </ion-input>-->

</ion-item>

  <ion-item>
    <ion-button class="toroku-button" color="primary" (click)="onSearch()">查询</ion-button>
    <ion-button class="toroku-button" color="primary" (click)="onSearch()">加款</ion-button>
    <ion-button class="toroku-button" color="primary"  routerLink ='/homepage'>返回</ion-button>
  </ion-item>

  <ion-item class="head-title minW2300">
   <!--<ion-col size="2.0">申请类型</ion-col>-->
    <ion-col size="2.0">代理名称</ion-col>
   <!--<ion-col size="2.0">收款信息</ion-col>-->
    <ion-col size="2.0">加款金额</ion-col>
    <ion-col size="2.0">创建时间</ion-col>
    <ion-col size="2.0">当前余额</ion-col>
    <!--<ion-col size="2.0">状态</ion-col>-->
    <!-- <ion-col size="2.0">申请人</ion-col> -->
 </ion-item>

 <ion-item class="minW2300" *ngFor="let sysUser of sysAddfundDtoList">
    <ion-col size="2.0">{{sysUser.AgentReduceName}}</ion-col>
    <ion-col size="2.0">{{sysUser.plusCapital}}</ion-col>
    <ion-col size="2.0">{{sysUser.createdDatetime}}</ion-col>
    <ion-col size="2.0">{{sysUser.capital}}</ion-col>
 </ion-item>

 </ion-content>
